pkgbase = cachyos-kofuku
	pkgdesc = Kofuku settings
	pkgver = 1.0.1
	pkgrel = 3
	url = https://github.com/cachyos/cachyos-kofuku
	install = cachyos-kofuku.install
	arch = any
	license = MIT
	makedepends = coreutils
	depends = cachyos-zsh-config
	depends = ttf-fantasque-nerd
	depends = rofi
	depends = feh
	depends = rxvt-unicode
	depends = lightdm-webkit2-greeter
	depends = cachyos-picom-config
	depends = polybar
	depends = sxhkd
	depends = deadd-notification-center
	depends = ttf-fira-sans
	provides = cachyos-desktop-settings
	conflicts = cachyos-desktop-settings
	conflicts = lightdm-webkit2-theme-glorious
	source = cachyos-kofuku-1.0.1.tar.gz::https://github.com/cachyos/cachyos-kofuku/archive/1.0.1.tar.gz
	sha512sums = b65848a1d6c3565d1750fa7c58bb37361bb94b41aa303e7c98ff4e3186330e8822305367cdfda8f312f7b78dfab26aafe4e040160e002f347f20a6d795fa06d3

pkgname = cachyos-kofuku
