pkgbase = cachyos-hello-git
	pkgdesc = Welcome screen for CachyOS
	pkgver = 122.5fa5371
	pkgrel = 1
	url = https://github.com/cachyos/cachyos-welcome
	arch = x86_64
	arch = x86_64_v3
	license = GPLv3
	makedepends = meson
	makedepends = git
	makedepends = mold
	makedepends = rustup
	makedepends = clang
	depends = gtk3
	depends = glib2
	provides = cachyos-hello
	conflicts = cachyos-hello
	options = strip
	source = cachyos-hello-git::git+https://github.com/cachyos/cachyos-welcome.git
	sha512sums = SKIP

pkgname = cachyos-hello-git
