pkgbase = cachyos-hello
	pkgdesc = Welcome screen for CachyOS
	pkgver = 0.18.3
	pkgrel = 1
	url = https://github.com/cachyos/cachyos-welcome
	arch = x86_64
	groups = cachyos
	license = GPL-3.0-or-later
	makedepends = cargo
	makedepends = clang
	makedepends = git
	makedepends = lld
	makedepends = llvm
	makedepends = meson
	depends = glib2
	depends = gtk3
	depends = pciutils
	depends = procps-ng
	source = cachyos-hello::git+https://github.com/cachyos/cachyos-welcome.git#tag=v0.18.3?signed
	validpgpkeys = B1B70BB1CD56047DEF31DE2EB62C3D10C54D5DA9
	sha512sums = ec60ad90240d76c06a0db52405ef5e88f3eea933266222a779e8ff4d428d77c53b6b1a494e1156358509387357dfe42560226770d8400acd19711f3b1bd381c6

pkgname = cachyos-hello
