pkgbase = cachyos-hello
	pkgdesc = Welcome screen for CachyOS
	pkgver = 0.10.0
	pkgrel = 1
	url = https://github.com/cachyos/cachyos-welcome
	arch = x86_64
	arch = x86_64_v3
	groups = cachyos
	license = GPLv3
	makedepends = meson
	makedepends = git
	makedepends = mold
	makedepends = rustup
	makedepends = clang
	depends = gtk3
	depends = glib2
	provides = cachyos-hello
	conflicts = cachyos-hello
	options = strip
	source = cachyos-hello-0.10.0.tar.gz::https://github.com/cachyos/cachyos-welcome/archive/v0.10.0.tar.gz
	sha512sums = bc5e1160f5038f1c1c5a528c86463f66f79dbbf376cac4fe47546f7e336c7b82198de41acee7b7cec52dba3c9761de692a9e0cb3d33bf2d5e2981e6b5240198b

pkgname = cachyos-hello
