pkgbase = cachyos-hello
	pkgdesc = Welcome screen for CachyOS
	pkgver = 0.22.1
	pkgrel = 1
	url = https://github.com/cachyos/cachyos-welcome
	arch = x86_64
	groups = cachyos
	license = GPL-3.0-or-later
	makedepends = cargo
	makedepends = clang
	makedepends = git
	makedepends = lld
	makedepends = llvm
	makedepends = meson
	depends = glib2
	depends = gtk3
	depends = pciutils
	depends = procps-ng
	source = cachyos-hello::git+https://github.com/cachyos/cachyos-welcome.git#tag=v0.22.1?signed
	validpgpkeys = B1B70BB1CD56047DEF31DE2EB62C3D10C54D5DA9
	sha512sums = d3c3ae601ba2a267ef3384b964f8afd16f7b5243eb88837f5c46cfc53482d1631397a60fe85a7d1ae6560be0b93c04d7c2db14af5d7de6f21a1fb2161ab665f6

pkgname = cachyos-hello
