pkgbase = llvm
	pkgver = 21.1.5
	pkgrel = 2
	url = https://llvm.org/
	arch = x86_64
	license = Apache-2.0 WITH LLVM-exception
	makedepends = cmake
	makedepends = ninja
	makedepends = zlib
	makedepends = zstd
	makedepends = curl
	makedepends = libffi
	makedepends = libedit
	makedepends = libxml2
	makedepends = python-setuptools
	makedepends = python-psutil
	makedepends = python-sphinx
	makedepends = python-myst-parser
	makedepends = clang
	makedepends = lld
	makedepends = llvm
	options = staticlibs
	options = !lto
	source = https://github.com/llvm/llvm-project/releases/download/llvmorg-21.1.5/llvm-21.1.5.src.tar.xz
	source = https://github.com/llvm/llvm-project/releases/download/llvmorg-21.1.5/llvm-21.1.5.src.tar.xz.sig
	source = https://github.com/llvm/llvm-project/releases/download/llvmorg-21.1.5/cmake-21.1.5.src.tar.xz
	source = https://github.com/llvm/llvm-project/releases/download/llvmorg-21.1.5/cmake-21.1.5.src.tar.xz.sig
	source = https://github.com/llvm/llvm-project/releases/download/llvmorg-21.1.5/third-party-21.1.5.src.tar.xz
	source = https://github.com/llvm/llvm-project/releases/download/llvmorg-21.1.5/third-party-21.1.5.src.tar.xz.sig
	validpgpkeys = 474E22316ABF4785A88C6E8EA2C794A986419D8A
	validpgpkeys = D574BD5D1D0E98895E3BF90044F2485E45D59042
	sha256sums = c9d6ca5073255192850471a276b3a00a6555c6dd09df6cb3eab77801f0a1cae0
	sha256sums = SKIP
	sha256sums = 48013d5714a96419bf993a2e5e4c5827377e8cf9c565070731fb2305d50d9511
	sha256sums = SKIP
	sha256sums = 4ccc00ec2e7bd0cc121eaa34fa25a0480bfb8a5722faf1694720e0be99b753e6
	sha256sums = SKIP

pkgname = llvm
	pkgdesc = Compiler infrastructure
	depends = llvm-libs
	depends = curl
	depends = perl

pkgname = llvm-libs
	pkgdesc = LLVM runtime libraries
	depends = gcc-libs
	depends = zlib
	depends = zstd
	depends = libffi
	depends = libedit
	depends = libxml2
	provides = libLLVM.so
	provides = libLTO.so
	provides = libRemarks.so
