pkgbase = llvm
	pkgver = 20.1.8
	pkgrel = 2
	url = https://llvm.org/
	arch = x86_64
	license = Apache-2.0 WITH LLVM-exception
	makedepends = cmake
	makedepends = ninja
	makedepends = zlib
	makedepends = zstd
	makedepends = curl
	makedepends = libffi
	makedepends = libedit
	makedepends = libxml2
	makedepends = python-setuptools
	makedepends = python-psutil
	makedepends = python-sphinx
	makedepends = python-myst-parser
	makedepends = clang
	makedepends = lld
	makedepends = llvm
	options = staticlibs
	options = !lto
	source = https://github.com/llvm/llvm-project/releases/download/llvmorg-20.1.8/llvm-20.1.8.src.tar.xz
	source = https://github.com/llvm/llvm-project/releases/download/llvmorg-20.1.8/llvm-20.1.8.src.tar.xz.sig
	source = https://github.com/llvm/llvm-project/releases/download/llvmorg-20.1.8/cmake-20.1.8.src.tar.xz
	source = https://github.com/llvm/llvm-project/releases/download/llvmorg-20.1.8/cmake-20.1.8.src.tar.xz.sig
	source = https://github.com/llvm/llvm-project/releases/download/llvmorg-20.1.8/third-party-20.1.8.src.tar.xz
	source = https://github.com/llvm/llvm-project/releases/download/llvmorg-20.1.8/third-party-20.1.8.src.tar.xz.sig
	validpgpkeys = 474E22316ABF4785A88C6E8EA2C794A986419D8A
	validpgpkeys = D574BD5D1D0E98895E3BF90044F2485E45D59042
	sha256sums = e1363888216b455184dbb8a74a347bf5612f56a3f982369e1cba6c7e0726cde1
	sha256sums = SKIP
	sha256sums = 3319203cfd1172bbac50f06fa68e318af84dcb5d65353310c0586354069d6634
	sha256sums = SKIP
	sha256sums = 9a4e452a8163732d417db067a89190fcda823cb3aa33199e834ac7c028923f4b
	sha256sums = SKIP

pkgname = llvm
	pkgdesc = Compiler infrastructure
	depends = llvm-libs
	depends = curl
	depends = perl

pkgname = llvm-libs
	pkgdesc = LLVM runtime libraries
	depends = gcc-libs
	depends = zlib
	depends = zstd
	depends = libffi
	depends = libedit
	depends = libxml2
	provides = libLLVM.so
	provides = libLTO.so
	provides = libRemarks.so
