pkgbase = steamos-powerbuttond
	pkgdesc = Power button daemon
	pkgver = 3.5
	pkgrel = 1
	url = https://gitlab.steamos.cloud/jupiter/powerbuttond
	arch = x86_64
	license = BSD-2-Clause
	makedepends = git
	depends = glibc
	depends = libevdev
	depends = systemd-libs
	provides = powerbuttond
	conflicts = powerbuttond
	replaces = powerbuttond
	source = git+https://gitlab.steamos.cloud/holo/powerbuttond.git#tag=v3.5
	source = support-gamescope-session-plus.patch
	sha512sums = f2f272696fa97ff3da969bef8c5c04e053393b50e014fa888d5b72285196bd32e2319d97bfc1df758d291933c81dc87fb1bf0874dd0fda4516025aaed4e0afe6
	sha512sums = cefc1a0270b0a5aede1091726274cd739cc17c3a6ae5a7ff74981985298b538dc1aae475ca374169ed2afd3d7c3e8d4bae5f002df950afe50a41b5ba3b8fe69f

pkgname = steamos-powerbuttond
