pkgbase = cachyos-deckify
	pkgdesc = CachyOS - Deckify!
	pkgver = 1
	pkgrel = 12
	install = cachyos-deckify.install
	arch = any
	license = GPL-3.0-later
	depends = gamescope-session-git
	depends = mangohud
	depends = cachyos-gaming-meta
	depends = jq
	depends = dmidecode
	depends = glew
	depends = glfw
	depends = glxinfo
	depends = curl
	depends = tar
	depends = scx-scheds
	depends = qt5-tools
	depends = hhd
	depends = hhd-ui
	depends = adjustor
	depends = gamescope-session-steam-git
	depends = jupiter-hw-support
	depends = jupiter-fw-control
	options = !strip
	options = !debug
	source = git+https://github.com/CachyOS/CachyOS-Deckify#commit=4e4d157fb6d468b6bf96f51e40c5ef2dcf0b7085
	sha256sums = 1e740807513510d9576c0f7b3c39a8b7ae8515d70cad65498270404f3fd7470a

pkgname = cachyos-deckify
