pkgbase = cachyos-deckify
	pkgdesc = CachyOS - Deckify!
	pkgver = 1
	pkgrel = 12
	install = cachyos-deckify.install
	arch = any
	license = GPL-3.0-later
	depends = gamescope-session-git
	depends = mangohud
	depends = cachyos-gaming-meta
	depends = jq
	depends = dmidecode
	depends = glew
	depends = glfw
	depends = glxinfo
	depends = curl
	depends = tar
	depends = scx-scheds
	depends = qt5-tools
	depends = hhd
	depends = hhd-ui
	depends = adjustor
	depends = gamescope-session-steam-git
	depends = jupiter-hw-support
	depends = jupiter-fw-control
	options = !strip
	options = !debug
	source = git+https://github.com/CachyOS/CachyOS-Deckify#commit=25f03b78b7ca9be1e9578e6eee6ebfd50237b13e
	sha256sums = d152396ee4ff80ab9aa41ca7d53f30b91ab199fa066fdeb2d4d0ca8938ac5b44

pkgname = cachyos-deckify
