pkgbase = cachyos-deckify
	pkgdesc = CachyOS - Deckify!
	pkgver = 1
	pkgrel = 22
	install = cachyos-deckify.install
	arch = any
	license = GPL-3.0-later
	depends = gamescope-session-git
	depends = mangohud
	depends = jq
	depends = dmidecode
	depends = glew
	depends = glfw
	depends = glxinfo
	depends = curl
	depends = tar
	depends = scx-scheds
	depends = qt5-tools
	depends = hhd
	depends = hhd-ui
	depends = adjustor
	depends = gamescope-session-steam-git
	depends = jupiter-hw-support
	depends = jupiter-fan-control
	depends = gamescope-plus
	depends = wine-staging
	depends = giflib
	depends = lib32-giflib
	depends = libpng
	depends = lib32-libpng
	depends = libldap
	depends = lib32-libldap
	depends = gnutls
	depends = lib32-gnutls
	depends = mpg123
	depends = lib32-mpg123
	depends = openal
	depends = lib32-openal
	depends = v4l-utils
	depends = lib32-v4l-utils
	depends = libpulse
	depends = lib32-libpulse
	depends = libgpg-error
	depends = lib32-libgpg-error
	depends = alsa-plugins
	depends = lib32-alsa-plugins
	depends = alsa-lib
	depends = lib32-alsa-lib
	depends = libjpeg-turbo
	depends = lib32-libjpeg-turbo
	depends = sqlite
	depends = lib32-sqlite
	depends = libxcomposite
	depends = lib32-libxcomposite
	depends = libxinerama
	depends = lib32-libgcrypt
	depends = libgcrypt
	depends = lib32-libxinerama
	depends = ncurses
	depends = lib32-ncurses
	depends = ocl-icd
	depends = lib32-ocl-icd
	depends = libxslt
	depends = lib32-libxslt
	depends = libva
	depends = lib32-libva
	depends = gtk3
	depends = lib32-gtk3
	depends = gst-plugins-base-libs
	depends = lib32-gst-plugins-base-libs
	depends = vulkan-icd-loader
	depends = lib32-vulkan-icd-loader
	depends = bottles
	depends = cups
	depends = dosbox
	depends = glfw
	depends = lib32-opencl-icd-loader
	depends = lib32-vkd3d
	depends = lutris
	depends = opencl-icd-loader
	depends = samba
	depends = steam
	depends = steam-native-runtime
	depends = vkd3d
	depends = wine-gecko
	depends = wine-mono
	depends = winetricks
	depends = goverlay
	depends = mangohud
	depends = lib32-mangohud
	depends = ttf-liberation
	depends = lib32-fontconfig
	depends = wqy-zenhei
	options = !strip
	options = !debug
	source = git+https://github.com/CachyOS/CachyOS-Deckify#commit=ca592ad86211404277d4ba266522a7363463d1d8
	sha256sums = c4e70131d4c145f278d121fe995826951f550adfd1449b8588046e4cd67c7e47

pkgname = cachyos-deckify
