pkgbase = egl-wayland
	pkgdesc = EGLStream-based Wayland external platform
	pkgver = 1.1.17
	pkgrel = 1
	epoch = 4
	url = https://github.com/NVIDIA/egl-wayland
	arch = x86_64
	license = MIT
	makedepends = git
	makedepends = libglvnd>=1.3.4
	makedepends = meson
	makedepends = wayland-protocols
	depends = eglexternalplatform
	depends = glibc
	depends = libdrm
	depends = wayland
	provides = libnvidia-egl-wayland.so
	source = git+https://github.com/NVIDIA/egl-wayland#tag=1.1.17
	b2sums = 5c44c6ad89b8e725b46e8edbc1477743006ffcf98601a7177f7e51f439fcbe4fab75258b980d0f20f5d9e2a4dbf551fa9f3722a42da6971ef574462b425ae33c

pkgname = egl-wayland
