pkgbase = ananicy-cpp-cpuset-git
	pkgdesc = Ananicy Cpp is a full rewrite of Ananicy in C++, featuring lower CPU and RAM usage.
	pkgver = 1.1.1.r24.g3a33f5d
	pkgrel = 1
	url = https://gitlab.com/ananicy-cpp/ananicy-cpp
	arch = x86_64
	license = GPL-3.0-or-later
	makedepends = bpf
	makedepends = clang
	makedepends = cmake
	makedepends = git
	makedepends = ninja
	makedepends = nlohmann-json
	depends = gcc-libs
	depends = glibc
	depends = libbpf
	depends = libelf
	depends = libfmt.so
	depends = libspdlog.so
	depends = systemd
	depends = systemd-libs
	depends = zlib
	depends = pcre2
	optdepends = cachyos-ananicy-rules-git: community rules
	optdepends = cachyos-ananicy-rules: Rules based for ananicy-cpp
	provides = ananicy-cpp
	conflicts = ananicy-cpp
	source = ananicy-cpp::git+https://gitlab.com/ananicy-cpp/ananicy-cpp.git
	source = https://gitlab.com/ananicy-cpp/ananicy-cpp/-/merge_requests/40.patch
	sha512sums = SKIP
	sha512sums = bb11cbe5443ee1e0c9a166d7f7241431852dbb62769cbf514d5e19dea8573977c00acc1709130fa353fca95f68a72bba2d1a033d180bbcad107144b303b53c42

pkgname = ananicy-cpp-cpuset-git
