pkgbase = ananicy-cpp-cpuset-git
	pkgdesc = Ananicy Cpp is a full rewrite of Ananicy in C++, featuring lower CPU and RAM usage.
	pkgver = 1.1.1.r24.g3a33f5d
	pkgrel = 1
	url = https://gitlab.com/ananicy-cpp/ananicy-cpp
	arch = x86_64
	license = GPL-3.0-or-later
	makedepends = bpf
	makedepends = clang
	makedepends = cmake
	makedepends = git
	makedepends = ninja
	makedepends = nlohmann-json
	depends = gcc-libs
	depends = glibc
	depends = libbpf
	depends = libelf
	depends = libfmt.so
	depends = libspdlog.so
	depends = systemd
	depends = systemd-libs
	depends = zlib
	depends = pcre2
	optdepends = cachyos-ananicy-rules-git: community rules
	optdepends = cachyos-ananicy-rules: Rules based for ananicy-cpp
	provides = ananicy-cpp
	conflicts = ananicy-cpp
	source = ananicy-cpp::git+https://gitlab.com/ananicy-cpp/ananicy-cpp.git
	source = https://gitlab.com/ananicy-cpp/ananicy-cpp/-/merge_requests/39.patch
	sha512sums = SKIP
	sha512sums = edcda9c7d3745ddc39cb2ab74ccbb13d6d9fd053f73f6ebfc6c1fb6aa096dd4e655bba63d583be9b1d3cb409085c8201040e72f5abb7bfe34b5041a018392999

pkgname = ananicy-cpp-cpuset-git
