pkgbase = llvm-propeller
	pkgdesc = Profile-guided, relinking optimizer for warehouse-scale applications built on LLVM
	pkgver = 20250715.d487a23b42b
	pkgrel = 1
	url = https://github.com/google/llvm-propeller
	arch = x86_64
	license = Apache-2.0
	makedepends = git
	makedepends = cmake
	makedepends = ninja
	makedepends = clang>=19.0.0
	makedepends = llvm>=19.0.0
	makedepends = python
	depends = libelf
	depends = openssl
	depends = zstd
	depends = gcc-libs
	depends = glibc
	options = !lto
	source = llvm-propeller::git+https://github.com/google/llvm-propeller.git#commit=d487a23
	sha256sums = 20fc7d735b143f4bc4fb8146022f99a7e34c26ca8772d5054f9db6bf1524308d

pkgname = llvm-propeller
