pkgbase = zlib-ng
	pkgdesc = zlib replacement with optimizations for next generation systems
	pkgver = 2.2.3
	pkgrel = 1
	url = https://github.com/zlib-ng/zlib-ng
	arch = x86_64
	license = custom:zlib
	makedepends = cmake
	makedepends = ninja
	makedepends = git
	depends = glibc
	source = git+https://github.com/zlib-ng/zlib-ng#tag=2.2.3
	sha256sums = 6867f8f1e57d3e8e4158292a839fa29967c58849aabeba2199e3d95b346d675f
	b2sums = 5011d94bff127ffbd009fea15b4aea036e18fc241d37972856f68ed474a72bd0e7f75cff74e1a6c9e6c0132ca436ad7a7aa246dcc29747bd7dcedb5f8e35cbca

pkgname = zlib-ng
	provides = libz-ng.so

pkgname = zlib-ng-compat
	pkgdesc = zlib replacement with optimizations for next generation systems (zlib compat)
	depends = zlib-ng
	provides = zlib
	provides = libz.so
	provides = zlib=1:1.3.1
	conflicts = zlib
	replaces = zlib
	options = staticlibs
