pkgbase = zlib-ng
	pkgdesc = zlib replacement with optimizations for next generation systems
	pkgver = 2.2.4
	pkgrel = 1
	url = https://github.com/zlib-ng/zlib-ng
	arch = x86_64
	license = custom:zlib
	makedepends = cmake
	makedepends = ninja
	makedepends = git
	depends = glibc
	source = git+https://github.com/zlib-ng/zlib-ng#tag=2.2.4
	sha256sums = 6cd6ba3b99790fda03df7b41d7f99ec010ca1b72abb62d03d2fcf5b015a74c9a
	b2sums = 51a58a4e5960fe111b2f58ed64aa3bf0b645e50cfb11a06ac53e320d7cc492e1707f607efe6fb8c6b1805fbd22f68a7ceb53e53863deebe9cf81e1270edb98a7

pkgname = zlib-ng
	provides = libz-ng.so

pkgname = zlib-ng-compat
	pkgdesc = zlib replacement with optimizations for next generation systems (zlib compat)
	depends = zlib-ng
	provides = zlib
	provides = libz.so
	conflicts = zlib
	replaces = zlib
	options = staticlibs
