pkgbase = cachyos-sysctl-manager
	pkgdesc = Manage linux kernel sysctl options
	pkgver = 1.0.0
	pkgrel = 1
	url = https://github.com/cachyos/sysctl-manager
	arch = aarch64
	arch = x86_64
	arch = x86_64_v3
	groups = cachyos
	license = GPLv3
	makedepends = cmake
	makedepends = ninja
	makedepends = git
	depends = qt5-base
	depends = polkit-qt5
	provides = cachyos-sysctl-manager
	conflicts = cachyos-sysctl-manager
	options = strip
	source = sysctl-manager-1.0.0.tar.gz::https://github.com/cachyos/sysctl-manager/archive/v1.0.0.tar.gz
	sha256sums = e298cc4cd1099855c9c17d5cbdb415b088382e196f960af3160fbcbae17b0c27

pkgname = cachyos-sysctl-manager
