pkgbase = cachyos-qtile-settings
	pkgdesc = CachyOS Qtile settings
	pkgver = 1.9
	pkgrel = 1
	url = https://github.com/cachyos/cachyos-qtile-settings
	install = cachyos-qtile-settings.install
	arch = any
	license = GPL-1.0-only
	makedepends = coreutils
	makedepends = git
	depends = picom
	depends = wired
	depends = rofi
	depends = thunar
	depends = alacritty
	depends = python-psutil
	depends = python-setuptools
	depends = polkit-gnome
	depends = gnome-keyring
	depends = feh
	depends = qt5ct
	depends = noto-fonts
	depends = ttf-fira-sans
	depends = ttf-font-awesome
	depends = ttf-ibm-plex
	depends = ttf-roboto
	depends = char-white
	depends = capitaine-cursors
	depends = flameshot
	depends = gnome-themes-extra
	depends = cachyos-wallpapers
	depends = gtk-engines
	depends = gtk-engine-murrine
	depends = thunar-archive-plugin
	depends = file-roller
	depends = p7zip
	depends = python-pulsectl-asyncio
	depends = python-setproctitle
	depends = playerctl
	depends = xf86-video-amdgpu
	depends = network-manager-applet
	provides = cachyos-desktop-settings
	conflicts = cachyos-desktop-settings
	source = git+https://github.com/CachyOS/cachyos-qtile-settings.git#commit=01df7c63d3d3cdd60df7b71c624e5d98cb44b41f
	sha512sums = 151efa7bea7079edb045d38f4095b24e9a71858525008bbea7ce78ac826b78664edf50a787133f1c13cb8a07cf63581e23d95b9e1f6924d1b9b469c1f9c10335

pkgname = cachyos-qtile-settings
