pkgbase = cachyos-qtile-settings
	pkgdesc = CachyOS Qtile settings
	pkgver = 1.8
	pkgrel = 14
	url = https://github.com/cachyos/cachyos-qtile-settings
	install = cachyos-qtile-settings.install
	arch = any
	license = GPL
	makedepends = coreutils
	depends = picom
	depends = wired
	depends = rofi
	depends = thunar
	depends = alacritty
	depends = python-psutil
	depends = python-setuptools
	depends = polkit-gnome
	depends = gnome-keyring
	depends = feh
	depends = qt5ct
	depends = noto-fonts
	depends = ttf-fira-sans
	depends = ttf-font-awesome
	depends = ttf-ibm-plex
	depends = char-white
	depends = capitaine-cursors
	depends = flameshot
	depends = gnome-themes-extra
	depends = cachyos-wallpapers
	depends = gtk-engines
	depends = gtk-engine-murrine
	depends = thunar-archive-plugin
	depends = file-roller
	depends = p7zip
	depends = python-pulsectl-asyncio
	depends = playerctl
	depends = network-manager-applet
	provides = cachyos-desktop-settings
	conflicts = cachyos-desktop-settings
	source = git+https://github.com/CachyOS/cachyos-qtile-settings.git#commit=72bb95875cb9e040fb361dd1359054f06a8229e4
	sha512sums = 3fe6a9bed0ddca3e0c4c44cb17da334afd78afae45cb8180dbc219d4ab40694708fb84c66c98cc75d1bf1df925778327053a338296a2738c010046c487599fb6

pkgname = cachyos-qtile-settings
