pkgbase = cachyos-qtile-settings
	pkgdesc = CachyOS Qtile settings
	pkgver = 1.8
	pkgrel = 10
	url = https://github.com/cachyos/cachyos-qtile-settings
	install = cachyos-qtile-settings.install
	arch = any
	license = GPL
	makedepends = coreutils
	depends = picom
	depends = wired
	depends = rofi
	depends = thunar
	depends = alacritty
	depends = python-psutil
	depends = python-setuptools
	depends = polkit-gnome
	depends = gnome-keyring
	depends = feh
	depends = qt5ct
	depends = noto-fonts
	depends = ttf-fira-sans
	depends = ttf-font-awesome
	depends = ttf-ibm-plex
	depends = char-white
	depends = capitaine-cursors
	depends = flameshot
	depends = gnome-themes-extra
	depends = cachyos-wallpapers
	depends = gtk-engines
	depends = gtk-engine-murrine
	depends = thunar-archive-plugin
	depends = file-roller
	depends = p7zip
	depends = python-pulsectl-asyncio
	depends = network-manager-applet
	provides = cachyos-desktop-settings
	conflicts = cachyos-desktop-settings
	source = git+https://github.com/CachyOS/cachyos-qtile-settings.git#commit=aa8bedd722172c856130a228c30908baf342555a
	sha512sums = 793a85ed5ab7bace83f70f99d230dc47ab49ff011f43666fea16071af3a7205e778155839cd586d3d43c10aadb4a5142f997ccffdd4e80a69743effedb6bf086

pkgname = cachyos-qtile-settings
