pkgbase = nvidia-utils
	pkgver = 575.51.02
	pkgrel = 2
	url = http://www.nvidia.com/
	arch = x86_64
	license = custom
	makedepends = patchelf
	options = !strip
	source = nvidia-drm-outputclass.conf
	source = nvidia-utils.sysusers
	source = nvidia.rules
	source = systemd-homed-override.conf
	source = systemd-suspend-override.conf
	source = nvidia-sleep.conf
	source = https://us.download.nvidia.com/XFree86/Linux-x86_64/575.51.02/NVIDIA-Linux-x86_64-575.51.02.run
	source = https://download.nvidia.com/XFree86/NVIDIA-kernel-module-source/NVIDIA-kernel-module-source-575.51.02.tar.xz
	source = 0001-Enable-atomic-kernel-modesetting-by-default.patch
	source = 0002-Add-IBT-support.patch
	source = 0003-Kbuild-Convert-EXTRA_CFLAGS-to-ccflags-y.patch
	source = 0004-kernel-open-nvidia-Use-new-timer-functions-for-6.15.patch
	source = 0005-nvidia-uvm-Use-__iowrite64_hi_lo.patch
	source = 0006-nvidia-uvm-Use-page_pgmap.patch
	source = 0007-nvidia-uvm-Convert-make_device_exclusive_range-to-ma.patch
	source = 0008-kbuild-Add-workaround-for-GCC-15-Compilation.patch
	sha256sums = be99ff3def641bb900c2486cce96530394c5dc60548fc4642f19d3a4c784134d
	sha256sums = f77a5247a3ba63e9fad3a3b2822d0fcfa51e0f79b5a90bd79bf08ea34b64ab07
	sha256sums = 0e54249a7754b668b436f0f7aa7e95fff68edbb12a93dbee4660e09a8c695f84
	sha256sums = c5aa7b8abe69e72bfdc6b9ee8afbfd350bcc557e894558f2e6e4087fa9aa0dd8
	sha256sums = 1d053c5078387021338cfc3a732bed61be1a20a549775573788e9134775c8149
	sha256sums = 12d31a5425aba66be9e9129012cde82755ad4d5b7ce9933df8fc398c4fa8d631
	sha256sums = 5d9d0df084a6a000bca76f03ac61e4fd8375ac9b089c9d9d64d2fc3be4ee69ad
	sha256sums = b5a9bedcb3bcfa597ce259e7d1a5f0af2ab5f10bc6157c7e1f4f4af867736ae6
	sha256sums = d1114c53f1765d71fcd23ab67113a604fd6ad5b3dfae91c4507d2f66501e3ed9
	sha256sums = 1189d81c7307b94c9106631334a4c387621e0f689256d8b533383b64325ded88
	sha256sums = 9e44bca005ee458279b080f398f92e03e7972e273330c7762bbd80fbe0f8b723
	sha256sums = c58dceccad1ceec06bc5adc68e24bca7e4058dc81365f73551ed13802ed3e365
	sha256sums = be2c372f6137fc67ec06bbdb5e6b5558ef91f48e7fe5f2a87a4a46f9b0245188
	sha256sums = 210ac12a33a571d7970f4c9037faccf533b4619a6433a0012ad56e4a418f3259
	sha256sums = f00b97cc19fcf4b231cfc57dc676819869cca0e3c555b6708c38116f0d4e0ee4
	sha256sums = 2fe386ef1d006aa0089ab7e362126e5ecefaa01be934d2da66e08c9ffd192172

pkgname = nvidia-utils
	pkgdesc = NVIDIA drivers utilities
	install = nvidia-utils.install
	depends = libglvnd
	depends = egl-wayland
	depends = egl-gbm
	depends = egl-x11
	optdepends = nvidia-settings: configuration tool
	optdepends = xorg-server: Xorg support
	optdepends = xorg-server-devel: nvidia-xconfig
	optdepends = opencl-nvidia: OpenCL support
	provides = vulkan-driver
	provides = opengl-driver
	provides = nvidia-libgl
	conflicts = nvidia-libgl
	replaces = nvidia-libgl

pkgname = opencl-nvidia
	pkgdesc = OpenCL implemention for NVIDIA
	depends = zlib
	optdepends = opencl-headers: headers necessary for OpenCL development
	provides = opencl-driver

pkgname = nvidia-dkms
	pkgdesc = NVIDIA kernel modules - module sources
	depends = dkms
	depends = nvidia-utils=575.51.02
	depends = libglvnd
	provides = NVIDIA-MODULE
	provides = nvidia
	conflicts = NVIDIA-MODULE
	conflicts = nvidia

pkgname = nvidia-open-dkms
	pkgdesc = NVIDIA open kernel modules - module sources
	license = MIT AND GPL-2.0-only
	depends = dkms
	provides = nvidia-open
	provides = NVIDIA-MODULE
	conflicts = nvidia-open
	conflicts = NVIDIA-MODULE
