pkgbase = nvidia-utils
	pkgver = 595.58.03
	pkgrel = 1
	url = http://www.nvidia.com/
	arch = x86_64
	license = custom
	makedepends = patchelf
	options = !strip
	source = nvidia-drm-outputclass.conf
	source = nvidia-utils.sysusers
	source = nvidia.rules
	source = systemd-homed-override.conf
	source = systemd-suspend-override.conf
	source = nvidia-sleep.conf
	source = 50-nvidia-cuda-disable-perf-boost.conf
	source = https://us.download.nvidia.com/XFree86/Linux-x86_64/595.58.03/NVIDIA-Linux-x86_64-595.58.03.run
	source = https://download.nvidia.com/XFree86/NVIDIA-kernel-module-source/NVIDIA-kernel-module-source-595.58.03.tar.xz
	source = kernel-7.0.patch
	source = 0002-Add-IBT-support.patch
	source = limit-vram-usage
	source = cuda-no-stable-perf-limit
	sha256sums = be99ff3def641bb900c2486cce96530394c5dc60548fc4642f19d3a4c784134d
	sha256sums = f77a5247a3ba63e9fad3a3b2822d0fcfa51e0f79b5a90bd79bf08ea34b64ab07
	sha256sums = 0e54249a7754b668b436f0f7aa7e95fff68edbb12a93dbee4660e09a8c695f84
	sha256sums = c5aa7b8abe69e72bfdc6b9ee8afbfd350bcc557e894558f2e6e4087fa9aa0dd8
	sha256sums = 1d053c5078387021338cfc3a732bed61be1a20a549775573788e9134775c8149
	sha256sums = 8ef63570d2d48cf96979c32fb46827a1ef0ec432512cdaebc5116bab1f2a461f
	sha256sums = d9251519fcd5570525b04dbea40278abbe16b35eb958c8f5cf251dacb6b52ed7
	sha256sums = 8c0d4f967b7932c4ab5714272aee8103392b0a702c92afa555176d36205829f9
	sha256sums = 4eb7e85d4ace3699e98e583191744c9bac3cd3637f0a48e12e114d0b3daec0ca
	sha256sums = 54f765d28020cee170d18229e58c46966a19efd4f0bb2053efaf88ba5204d281
	sha256sums = a0088d49d46b699d1727e5944fd9aca5ede93ea3678dd5e91ca58084bc2fa0ee
	sha256sums = b14f7a65359c05c373ddfc750cd4cf086a48e815489d93ad5cbe1dbf84bf8f5a
	sha256sums = 6264d279bbae8eae6554ed78dd6e562da00cf71ffa5601ce5208099a98cd2c4d

pkgname = nvidia-utils
	pkgdesc = NVIDIA drivers utilities
	install = nvidia-utils.install
	depends = libglvnd
	depends = egl-wayland
	depends = egl-wayland2
	depends = egl-gbm
	depends = egl-x11
	optdepends = nvidia-settings: configuration tool
	optdepends = xorg-server: Xorg support
	optdepends = xorg-server-devel: nvidia-xconfig
	optdepends = opencl-nvidia: OpenCL support
	provides = vulkan-driver
	provides = opengl-driver
	provides = nvidia-libgl
	conflicts = nvidia-libgl
	replaces = nvidia-libgl

pkgname = opencl-nvidia
	pkgdesc = OpenCL implemention for NVIDIA
	depends = zlib
	optdepends = opencl-headers: headers necessary for OpenCL development
	provides = opencl-driver

pkgname = nvidia-open-dkms
	pkgdesc = NVIDIA open kernel modules - module sources
	license = MIT AND GPL-2.0-only
	depends = dkms
	provides = nvidia-open
	provides = NVIDIA-MODULE
	conflicts = nvidia-open
	conflicts = NVIDIA-MODULE
	conflicts = nvidia-dkms
