pkgbase = clang
	pkgdesc = C language family frontend for LLVM
	pkgver = 18.1.8
	pkgrel = 4
	url = https://clang.llvm.org/
	arch = x86_64
	license = Apache-2.0 WITH LLVM-exception
	makedepends = llvm
	makedepends = cmake
	makedepends = ninja
	makedepends = python-sphinx
	makedepends = python-myst-parser
	makedepends = lld
	makedepends = clang
	makedepends = llvm-libs
	depends = llvm-libs
	depends = gcc
	depends = compiler-rt
	optdepends = openmp: OpenMP support in clang with -fopenmp
	optdepends = python: for scan-view and git-clang-format
	optdepends = llvm: referenced by some clang headers
	provides = clang-analyzer=18.1.8
	provides = clang-tools-extra=18.1.8
	conflicts = clang-analyzer
	conflicts = clang-tools-extra
	replaces = clang-analyzer
	replaces = clang-tools-extra
	options = !lto
	source = https://github.com/llvm/llvm-project/releases/download/llvmorg-18.1.8/clang-18.1.8.src.tar.xz
	source = https://github.com/llvm/llvm-project/releases/download/llvmorg-18.1.8/clang-18.1.8.src.tar.xz.sig
	source = https://github.com/llvm/llvm-project/releases/download/llvmorg-18.1.8/clang-tools-extra-18.1.8.src.tar.xz
	source = https://github.com/llvm/llvm-project/releases/download/llvmorg-18.1.8/clang-tools-extra-18.1.8.src.tar.xz.sig
	source = https://github.com/llvm/llvm-project/releases/download/llvmorg-18.1.8/llvm-18.1.8.src.tar.xz
	source = https://github.com/llvm/llvm-project/releases/download/llvmorg-18.1.8/llvm-18.1.8.src.tar.xz.sig
	source = https://github.com/llvm/llvm-project/releases/download/llvmorg-18.1.8/cmake-18.1.8.src.tar.xz
	source = https://github.com/llvm/llvm-project/releases/download/llvmorg-18.1.8/cmake-18.1.8.src.tar.xz.sig
	source = https://github.com/llvm/llvm-project/releases/download/llvmorg-18.1.8/third-party-18.1.8.src.tar.xz
	source = https://github.com/llvm/llvm-project/releases/download/llvmorg-18.1.8/third-party-18.1.8.src.tar.xz.sig
	source = clangd-handle-missing-ending-brace.patch::https://github.com/llvm/llvm-project/commit/9d1dada57741.patch
	source = enable-fstack-protector-strong-by-default.patch
	source = 0001-Enable-TuningSlowDivide64-on-Barcelona-Bobcat-Bulldo.patch
	source = 0002-Reduce-znver3-4-LoopMicroOpBufferSize-to-practical-l.patch
	validpgpkeys = 474E22316ABF4785A88C6E8EA2C794A986419D8A
	sha256sums = 5724fe0a13087d5579104cedd2f8b3bc10a212fb79a0fcdac98f4880e19f4519
	sha256sums = SKIP
	sha256sums = e58877fcd95ed106824bd1a31276dd17ed0c53adcd60ca75289eac0654f0a7f1
	sha256sums = SKIP
	sha256sums = f68cf90f369bc7d0158ba70d860b0cb34dbc163d6ff0ebc6cfa5e515b9b2e28d
	sha256sums = SKIP
	sha256sums = 59badef592dd34893cd319d42b323aaa990b452d05c7180ff20f23ab1b41e837
	sha256sums = SKIP
	sha256sums = b76b810f3d3dc5d08e83c4236cb6e395aa9bd5e3ea861e8c319b216d093db074
	sha256sums = SKIP
	sha256sums = c102e8a6a2adb0e8729865ffb8799b22bb8a9bdf0f421991880fa4393378370a
	sha256sums = ef319e65f927718e1d3b1a23c480d686b1d292e2a0bf27229540964f9734117a
	sha256sums = 7d4b76f753618752aaed64bb496ed3cd443faf1d3124b540c643abcca5a9756e
	sha256sums = bac174d1958fa3134ce530cf2eed8abdbf910697e87cee6e4a23a5a3a1098b2d

pkgname = clang
