pkgbase = clang
	pkgdesc = C language family frontend for LLVM
	pkgver = 19.1.6
	pkgrel = 2
	url = https://clang.llvm.org/
	arch = x86_64
	license = Apache-2.0 WITH LLVM-exception
	makedepends = llvm
	makedepends = cmake
	makedepends = ninja
	makedepends = python-sphinx
	makedepends = python-myst-parser
	makedepends = lld
	makedepends = clang
	makedepends = llvm-libs
	depends = llvm-libs
	depends = gcc
	depends = compiler-rt
	optdepends = openmp: OpenMP support in clang with -fopenmp
	optdepends = python: for scan-view and git-clang-format
	optdepends = llvm: referenced by some clang headers
	provides = clang-analyzer=19.1.6
	provides = clang-tools-extra=19.1.6
	conflicts = clang-analyzer
	conflicts = clang-tools-extra
	replaces = clang-analyzer
	replaces = clang-tools-extra
	options = !lto
	source = https://github.com/llvm/llvm-project/releases/download/llvmorg-19.1.6/clang-19.1.6.src.tar.xz
	source = https://github.com/llvm/llvm-project/releases/download/llvmorg-19.1.6/clang-19.1.6.src.tar.xz.sig
	source = https://github.com/llvm/llvm-project/releases/download/llvmorg-19.1.6/clang-tools-extra-19.1.6.src.tar.xz
	source = https://github.com/llvm/llvm-project/releases/download/llvmorg-19.1.6/clang-tools-extra-19.1.6.src.tar.xz.sig
	source = https://github.com/llvm/llvm-project/releases/download/llvmorg-19.1.6/llvm-19.1.6.src.tar.xz
	source = https://github.com/llvm/llvm-project/releases/download/llvmorg-19.1.6/llvm-19.1.6.src.tar.xz.sig
	source = https://github.com/llvm/llvm-project/releases/download/llvmorg-19.1.6/cmake-19.1.6.src.tar.xz
	source = https://github.com/llvm/llvm-project/releases/download/llvmorg-19.1.6/cmake-19.1.6.src.tar.xz.sig
	source = https://github.com/llvm/llvm-project/releases/download/llvmorg-19.1.6/third-party-19.1.6.src.tar.xz
	source = https://github.com/llvm/llvm-project/releases/download/llvmorg-19.1.6/third-party-19.1.6.src.tar.xz.sig
	source = clang-disable-float128-diagnostics-for-device-compilation.patch::https://github.com/llvm/llvm-project/commit/318bff6811e7.patch
	source = support-__GCC_-CON-DE-STRUCTIVE_SIZE.patch
	source = enable-fstack-protector-strong-by-default.patch
	validpgpkeys = 474E22316ABF4785A88C6E8EA2C794A986419D8A
	validpgpkeys = D574BD5D1D0E98895E3BF90044F2485E45D59042
	sha256sums = 6358cbb3e14687ca2f3465c61cffc65589b448aaa912ec2c163ef9fc046e8a89
	sha256sums = SKIP
	sha256sums = 417a7d0048d8eb62dbaa8461f1fd474eb6493b09e14d050b39cc1f051e8b71d1
	sha256sums = SKIP
	sha256sums = ad1a3b125ff014ded290094088de40efb9193ce81a24278184230b7d401f8a3e
	sha256sums = SKIP
	sha256sums = 9c7ec82d9a240dc2287b8de89d6881bb64ceea0dcd6ce133c34ef65bda22d99e
	sha256sums = SKIP
	sha256sums = 0e8048333bab2ba3607910e5d074259f08dccf00615778d03a2a55416718eb45
	sha256sums = SKIP
	sha256sums = 94a3d4df2443f9dc9e256e6c0c661ff4a4ca4f34a5ca351f065511b9694faf2a
	sha256sums = 8832b4ee02fe8a0e57fca608288242f80e348ee9b60be3eb0069c8b91a42fbf4
	sha256sums = ef319e65f927718e1d3b1a23c480d686b1d292e2a0bf27229540964f9734117a

pkgname = clang
