pkgbase = clang
	pkgdesc = C language family frontend for LLVM
	pkgver = 20.1.8
	pkgrel = 2
	url = https://clang.llvm.org/
	arch = x86_64
	license = Apache-2.0 WITH LLVM-exception
	makedepends = llvm
	makedepends = cmake
	makedepends = ninja
	makedepends = python-sphinx
	makedepends = python-myst-parser
	makedepends = lld
	makedepends = clang
	makedepends = llvm-libs
	depends = llvm-libs
	depends = gcc
	depends = compiler-rt
	optdepends = openmp: OpenMP support in clang with -fopenmp
	optdepends = python: for scan-view and git-clang-format
	optdepends = llvm: referenced by some clang headers
	provides = clang-analyzer=20.1.8
	provides = clang-tools-extra=20.1.8
	conflicts = clang-analyzer
	conflicts = clang-tools-extra
	replaces = clang-analyzer
	replaces = clang-tools-extra
	options = !lto
	source = https://github.com/llvm/llvm-project/releases/download/llvmorg-20.1.8/clang-20.1.8.src.tar.xz
	source = https://github.com/llvm/llvm-project/releases/download/llvmorg-20.1.8/clang-20.1.8.src.tar.xz.sig
	source = https://github.com/llvm/llvm-project/releases/download/llvmorg-20.1.8/clang-tools-extra-20.1.8.src.tar.xz
	source = https://github.com/llvm/llvm-project/releases/download/llvmorg-20.1.8/clang-tools-extra-20.1.8.src.tar.xz.sig
	source = https://github.com/llvm/llvm-project/releases/download/llvmorg-20.1.8/llvm-20.1.8.src.tar.xz
	source = https://github.com/llvm/llvm-project/releases/download/llvmorg-20.1.8/llvm-20.1.8.src.tar.xz.sig
	source = https://github.com/llvm/llvm-project/releases/download/llvmorg-20.1.8/cmake-20.1.8.src.tar.xz
	source = https://github.com/llvm/llvm-project/releases/download/llvmorg-20.1.8/cmake-20.1.8.src.tar.xz.sig
	source = https://github.com/llvm/llvm-project/releases/download/llvmorg-20.1.8/third-party-20.1.8.src.tar.xz
	source = https://github.com/llvm/llvm-project/releases/download/llvmorg-20.1.8/third-party-20.1.8.src.tar.xz.sig
	source = 0001-Revert-clang-driver-When-fveclib-ArmPL-flag-is-in-us.patch
	source = enable-fstack-protector-strong-by-default.patch
	validpgpkeys = 474E22316ABF4785A88C6E8EA2C794A986419D8A
	validpgpkeys = D574BD5D1D0E98895E3BF90044F2485E45D59042
	sha256sums = b7a1b7b0af7b9c7596af6bd46e36d11321926eaa66a7a7dc957ab0a1375ee4b0
	sha256sums = SKIP
	sha256sums = 7d5ce15f84a098d79b5369d3c03857065abc3cb2f3435f08b1e4bc2a829aa2fc
	sha256sums = SKIP
	sha256sums = e1363888216b455184dbb8a74a347bf5612f56a3f982369e1cba6c7e0726cde1
	sha256sums = SKIP
	sha256sums = 3319203cfd1172bbac50f06fa68e318af84dcb5d65353310c0586354069d6634
	sha256sums = SKIP
	sha256sums = 9a4e452a8163732d417db067a89190fcda823cb3aa33199e834ac7c028923f4b
	sha256sums = SKIP
	sha256sums = e88768730a7a46e7952758ec80f831997e30e7dbab53077decae3f71f4fc315e
	sha256sums = ef319e65f927718e1d3b1a23c480d686b1d292e2a0bf27229540964f9734117a

pkgname = clang
