pkgbase = cachyos-nord-gtk-theme-git
	pkgdesc = Nord-derived themes for GTK and other platforms
	pkgver = r10.18b1535
	pkgrel = 1
	url = https://github.com/CachyOS/CachyOS-Nord-KDE
	arch = any
	groups = cachyos
	license = GPL-3.0-or-later
	makedepends = git
	source = cachyos-nord-gtk-theme-git::git+https://github.com/CachyOS/CachyOS-Nord-KDE
	sha256sums = SKIP

pkgname = cachyos-nord-gtk-theme-git
