pkgbase = cachyos-grub-theme
	pkgdesc = CachyOS - GRUB-THEME
	pkgver = 1
	pkgrel = 2
	install = cachyos-grub-theme.install
	arch = any
	groups = cachyos
	license = GPL-1.0-only
	makedepends = git
	depends = grub
	provides = cachyos-grub-theme=1
	conflicts = cachyos-grub-theme
	source = git+https://gitlab.com/cachyos/themes-and-settings/theme/cachyos-grub-theme.git
	sha256sums = SKIP

pkgname = cachyos-grub-theme
