pkgbase = stacer
	pkgdesc = Linux System Optimizer and Monitoring
	pkgver = 1.5.0
	pkgrel = 2
	url = https://github.com/QuentiumYT/Stacer
	arch = x86_64
	license = GPL-3.0-or-later
	makedepends = cmake
	makedepends = qt6-tools
	depends = qt6-base
	depends = qt6-charts
	depends = qt6-svg
	provides = stacer
	conflicts = stacer-git
	conflicts = stacer-bin
	source = https://github.com/QuentiumYT/Stacer/archive/refs/tags/v1.5.0.tar.gz
	sha256sums = 35f92898dd605b81307b3fd2be8999ed8b72c63e60706dd07f0f247964ea8b26

pkgname = stacer
