pkgbase = stacer
	pkgdesc = Linux System Optimizer and Monitoring
	pkgver = 1.4.0
	pkgrel = 1
	url = https://github.com/QuentiumYT/Stacer
	arch = x86_64
	license = GPL-3.0-or-later
	makedepends = cmake
	makedepends = qt6-tools
	depends = qt6-base
	depends = qt6-charts
	depends = qt6-svg
	provides = stacer
	conflicts = stacer-git
	source = https://github.com/QuentiumYT/Stacer/archive/refs/tags/v1.4.0.tar.gz
	sha256sums = 773975aa203cfcc708fc5c48e1aab44c9d500914e12a5e8f6d10fe9bc770c770

pkgname = stacer
