pkgbase = void
	pkgdesc = Void is the open-source Cursor alternative.
	pkgver = 1.94.0
	pkgrel = 1
	url = https://voideditor.com/
	arch = x86_64
	license = MIT
	makedepends = nodejs
	makedepends = npm
	makedepends = pkg-config
	makedepends = python
	depends = libx11
	depends = libxkbfile
	depends = libsecret
	depends = gnupg
	depends = gtk3
	depends = nss
	depends = gcc-libs
	depends = libnotify
	depends = libxss
	depends = glibc
	depends = lsof
	depends = shared-mime-info
	depends = xdg-utils
	depends = alsa-lib
	optdepends = glib2: Needed for move to trash functionality
	optdepends = gvfs: For move to trash functionality
	optdepends = libdbusmenu-glib: For KDE global menu
	optdepends = org.freedesktop.secrets: Needed for settings sync
	optdepends = icu69: Needed for live share
	options = !debug
	source = git+https://github.com/voideditor/void.git#commit=85c2c80db071b183592d5463d33ac97c5e1c39eb
	sha256sums = 70345de6d083542fdddada5a58b9e3adf64ad197b2b4053c05385faf298bf50f

pkgname = void
