pkgbase = jupiter-fan-control
	pkgdesc = CachyOS - Deckify Steam Deck Fan Control
	pkgver = 20240523.3
	pkgrel = 1
	arch = any
	license = GPL-3.0-later
	makedepends = git
	makedepends = rsync
	makedepends = openssh
	depends = python3
	depends = python-pyaml
	options = !strip
	options = !debug
	source = git+https://gitlab.com/evlaV/jupiter-fan-control.git#tag=20240523.3
	sha256sums = df190272cf39b096b53dddbd715c14b4c9457a280f3f9dfe1c04a3ed2d3f81e0
	sha512sums = 84eac432b3384f3876e0039fa7ed151700dc50fd8f299f21d013e3cf0bbb6db0c39b16d2afc857462208f8efcf8a96f1dc3b7a7f29ad57a3dc660460a6ec7bb4

pkgname = jupiter-fan-control
