pkgbase = jupiter-fan-control
	pkgdesc = CachyOS - Deckify Steam Deck Fan Control
	pkgver = 20260902.1
	pkgrel = 1
	arch = any
	license = GPL-3.0-later
	makedepends = git
	makedepends = rsync
	makedepends = openssh
	depends = python3
	depends = python-pyaml
	options = !strip
	options = !debug
	source = git+https://github.com/evlaV/jupiter-fan-control.git#tag=20260902.1
	sha256sums = d5a3e579b6a4b05a06155bb3175fb249859dfc610572a813b29c0271d939b471
	sha512sums = 60bcdd9d1b53fa43b97b952f0732bdd8d0459d0057b98f0d24233a4d48ba29b7acfee7494f0a9488284d91af648e00ada4fdc5aeeacc9cb35c62c70966c27319

pkgname = jupiter-fan-control
