pkgbase = jupiter-fan-control
	pkgdesc = CachyOS - Deckify Steam Deck Fan Control
	pkgver = 20240523.1
	pkgrel = 1
	arch = any
	license = GPL-3.0-later
	makedepends = git
	makedepends = rsync
	makedepends = openssh
	depends = python3
	depends = python-pyaml
	options = !strip
	options = !debug
	source = git+https://gitlab.com/evlaV/jupiter-fan-control.git#tag=20240523.1
	sha256sums = 57524cf7e1a4ef43c07a0178a29bb2c045c39b189df76c17241a030adf59c1b5
	sha512sums = 0c0da678a16d9b64475a0dfffb59650f3d409683f40db1c3b15762b0452e10fed06cf6d50fd61c177c1ab678ed87a324efaa8ab72556c3d70c39753b148067b0

pkgname = jupiter-fan-control
