pkgbase = cachyos-benchmarker
	pkgdesc = A simple benchmarking script using stress-ng, perf, blender etc. (CachyOS Version)
	pkgver = 0.3.1
	pkgrel = 1
	url = https://github.com/cachyos/cachyos-benchmarker
	arch = x86_64
	depends = gcc
	depends = make
	depends = cmake
	depends = time
	depends = perf
	depends = unzip
	depends = bc
	depends = nasm
	depends = inxi
	depends = argon2
	depends = wget
	depends = x265
	depends = xz
	depends = blender
	depends = zlib
	depends = libdrm
	depends = git
	depends = python
	depends = primesieve
	depends = p7zip
	depends = stress-ng
	depends = geekbench
	source = git+https://github.com/cachyos/cachyos-benchmarker.git#tag=0.3.1
	sha512sums = bfff1e66552fdae8f43053a8eca821a804d87060e3228bdf191c973858b34599ee54b5fe42f649b941491d9abf655ea12b2b2ed1d5a94e3f85d9895ed7b254f2

pkgname = cachyos-benchmarker
