pkgbase = cachyos-benchmarker
	pkgdesc = A simple benchmarking script using stress-ng, perf, blender etc. (CachyOS Version)
	pkgver = 0.1.r0.g316f487
	pkgrel = 1
	url = https://github.com/cachyos/cachyos-benchmarker
	arch = x86_64
	depends = gcc
	depends = make
	depends = cmake
	depends = time
	depends = perf
	depends = unzip
	depends = bc
	depends = nasm
	depends = inxi
	depends = argon2
	depends = wget
	depends = x265
	depends = xz
	depends = blender
	depends = zlib
	depends = libdrm
	depends = git
	depends = python
	depends = primesieve
	depends = p7zip
	depends = stress-ng
	depends = schbench
	depends = geekbench
	source = git+https://github.com/cachyos/cachyos-benchmarker.git
	sha512sums = SKIP

pkgname = cachyos-benchmarker
