pkgbase = cachyos-benchmarker
	pkgdesc = A simple benchmarking script using stress-ng, perf, blender etc. (CachyOS Version)
	pkgver = 0.5.1
	pkgrel = 1
	url = https://github.com/cachyos/cachyos-benchmarker
	arch = x86_64
	makedepends = git
	depends = argon2
	depends = bc
	depends = blender
	depends = cmake
	depends = gcc
	depends = geekbench
	depends = git
	depends = inxi
	depends = libdrm
	depends = make
	depends = nasm
	depends = p7zip
	depends = perf
	depends = primesieve
	depends = python
	depends = python-matplotlib
	depends = stress-ng
	depends = time
	depends = unzip
	depends = wget
	depends = x265
	depends = xz
	depends = zlib
	source = git+https://github.com/cachyos/cachyos-benchmarker.git#tag=0.5.1
	sha512sums = 7e995e3779e4dd8badfbd32402ea11973716f6af38d99d412e989e1f25a0350a14b2ef585cf793b570837ca3e08b16abca57d3900d90656b7909d35d5ce9961f

pkgname = cachyos-benchmarker
