pkgbase = proton-cachyos
	pkgdesc = A compatibility tool for Steam Play based on Wine and additional components, experimental branch with extra CachyOS flavour
	pkgver = 9.0.20250307
	pkgrel = 4
	epoch = 1
	url = https://github.com/cachyos/proton-cachyos
	install = proton-cachyos.install
	arch = x86_64
	arch = x86_64_v3
	license = custom
	makedepends = autoconf
	makedepends = bison
	makedepends = perl
	makedepends = flex
	makedepends = mingw-w64-gcc
	makedepends = git
	makedepends = afdko
	makedepends = alsa-lib
	makedepends = lib32-alsa-lib
	makedepends = clang
	makedepends = cmake
	makedepends = ffmpeg
	makedepends = fontforge
	makedepends = giflib
	makedepends = lib32-giflib
	makedepends = glib2-devel
	makedepends = glslang
	makedepends = gnutls
	makedepends = lib32-gnutls
	makedepends = gst-plugins-base-libs
	makedepends = lib32-gst-plugins-base-libs
	makedepends = gtk3
	makedepends = lib32-gtk3
	makedepends = libgphoto2
	makedepends = libpulse
	makedepends = lib32-libpulse
	makedepends = libva
	makedepends = lib32-libva
	makedepends = libxcomposite
	makedepends = lib32-libxcomposite
	makedepends = libxinerama
	makedepends = lib32-libxinerama
	makedepends = libxxf86vm
	makedepends = lib32-libxxf86vm
	makedepends = lld
	makedepends = mesa
	makedepends = lib32-mesa
	makedepends = mesa-libgl
	makedepends = lib32-mesa-libgl
	makedepends = meson
	makedepends = mingw-w64-tools
	makedepends = nasm
	makedepends = opencl-headers
	makedepends = opencl-icd-loader
	makedepends = lib32-opencl-icd-loader
	makedepends = rsync
	makedepends = rust
	makedepends = lib32-rust-libs
	makedepends = python
	makedepends = python-pefile
	makedepends = sdl2
	makedepends = lib32-sdl2
	makedepends = unzip
	makedepends = v4l-utils
	makedepends = lib32-v4l-utils
	makedepends = vulkan-headers
	makedepends = vulkan-icd-loader
	makedepends = lib32-vulkan-icd-loader
	makedepends = wget
	makedepends = wayland-protocols
	depends = attr
	depends = lib32-attr
	depends = blas
	depends = lib32-blas
	depends = cabextract
	depends = desktop-file-utils
	depends = fontconfig
	depends = lib32-fontconfig
	depends = freetype2
	depends = lib32-freetype2
	depends = gcc-libs
	depends = lib32-gcc-libs
	depends = gettext
	depends = lib32-gettext
	depends = lapack
	depends = lib32-lapack
	depends = libgudev
	depends = lib32-libgudev
	depends = libpcap
	depends = lib32-libpcap
	depends = libsoup
	depends = lib32-libsoup
	depends = libvpx
	depends = lib32-libvpx
	depends = libxcursor
	depends = lib32-libxcursor
	depends = libxkbcommon
	depends = lib32-libxkbcommon
	depends = libxi
	depends = lib32-libxi
	depends = libxrandr
	depends = lib32-libxrandr
	depends = lzo
	depends = lib32-lzo
	depends = python
	depends = sdl2
	depends = lib32-sdl2
	depends = speex
	depends = lib32-speex
	depends = steam-native-runtime
	depends = wayland
	depends = lib32-wayland
	optdepends = alsa-lib
	optdepends = lib32-alsa-lib
	optdepends = alsa-plugins
	optdepends = lib32-alsa-plugins
	optdepends = giflib
	optdepends = lib32-giflib
	optdepends = gnutls
	optdepends = lib32-gnutls
	optdepends = gst-plugins-base-libs
	optdepends = lib32-gst-plugins-base-libs
	optdepends = gtk3
	optdepends = lib32-gtk3
	optdepends = libgphoto2
	optdepends = libpulse
	optdepends = lib32-libpulse
	optdepends = libva
	optdepends = lib32-libva
	optdepends = libxcomposite
	optdepends = lib32-libxcomposite
	optdepends = libxinerama
	optdepends = lib32-libxinerama
	optdepends = opencl-icd-loader
	optdepends = lib32-opencl-icd-loader
	optdepends = sdl2
	optdepends = lib32-sdl2
	optdepends = v4l-utils
	optdepends = lib32-v4l-utils
	optdepends = vulkan-icd-loader
	optdepends = lib32-vulkan-icd-loader
	provides = proton
	noextract = wine-gecko-2.47.4-x86.tar.xz
	noextract = wine-gecko-2.47.4-x86_64.tar.xz
	noextract = wine-mono-9.3.1-x86.tar.xz
	noextract = xalia-0.4.5-net48-mono.zip
	options = !staticlibs
	options = !lto
	options = !debug
	options = emptydirs
	source = proton-cachyos::git+https://github.com/CachyOS/proton-cachyos.git#tag=cachyos-9.0-20250307
	source = https://dl.winehq.org/wine/wine-gecko/2.47.4/wine-gecko-2.47.4-x86.tar.xz
	source = https://dl.winehq.org/wine/wine-gecko/2.47.4/wine-gecko-2.47.4-x86_64.tar.xz
	source = https://github.com/madewokherd/wine-mono/releases/download/wine-mono-9.3.1/wine-mono-9.3.1-x86.tar.xz
	source = https://github.com/madewokherd/xalia/releases/download/xalia-0.4.5/xalia-0.4.5-net48-mono.zip
	source = 0001-proton-fix-logic-error-that-caused-proton-to-hang-on.patch
	source = 0002-proton-replace-junk-wayland-enablement-code-with-ups.patch
	source = 0001-Revert-proton-wait-for-process-to-exit-when-run-thro.patch
	source = 0001-build-disable-wine-display-drivers-when-building.patch
	source = 0001-explorer-Enable-the-Wayland-driver.patch
	source = 0001-Revert-HACK-winegstreamer-Set-GST_GL_WINDOW-environm.patch
	b2sums = 18c40da4d5405b9d11ad0391e30b5395a83962e1aca5c2b4ed669de9453ae2119e3a120d6cadbed6ca2f408fc2e73429bad7d28ecb4564d77638d9308394b415
	b2sums = 2a73c12585b502ae11188482cbc9fb1f45f95bfe4383a7615011104b132f4845f9813d01fb40277e1934fab5f1b35ab40b4f4a66a9967463dd1d666a666904e9
	b2sums = 62856a88266b4757602c0646e024f832974a93f03b9df253fd4895d4f11a41b435840ad8f7003ec85a0d8087dec15f2e096dbfb4b01ebe4d365521e48fd0c5c0
	b2sums = 5f4c2a07355a3d394086467f1b0c45698cd83731a4137b59975abdeda2d564f44922a67b1bec111e4209c4fe74247486076e95dffc84d88b5b7a02774efd070b
	b2sums = 5c3985080995a62c1c765244d430cea86cca82d187874a95d89b3fd9303c89a6944613ae5de7d31354053e5c91d2fc39842e57ee7866a87c529e9becc458ec49
	b2sums = 783cd2a1dd7ca96b431d084924a4a77579ab70731da1ad0cf32491158ee85ec78e43429b6334dd1976a511910e64fb28792e38166735e2b8a5fdebc5614c0cce
	b2sums = 65c69c53a54794aa67e3c469710d8271114f250646fa580dbb3398b669b70b1bfe8ca33ecb5219e97a17449e4c10c19f61b39db453646ad52e822b162657c180
	b2sums = 270c6fe54f3f988b7a5477bf2affb9364d3900eb50f58aea5c688f32c1a66b6c957c6f7578582c78afaa8ef74b92aa980ad1fcc67be6687c45d52ce6b2eaa69b
	b2sums = 375bdb818649b5e8f5e35362419869710d74f371e76f70a972b6127104930ca05c0d9660bc423d722bdc3425594b25f78d0c2d7e475b554243e44dc0f9edc9a7
	b2sums = cf36bf091c607b8d08d89462bc5a4f10bd0293258ca4ebd15ecbb433df33e8bb787018a164dfaf52e20c64fb5e8a150343e789b566b40c1205f69652d27ee60d
	b2sums = 094007808c97c97008b4be4d2e3c24afe636d4af189e22e3e4fbc86e06ef280d580d696940d9356f03c7813c9238e7ef70ee512b9c7df2a6dcaa29bc1f6c2ff3

pkgname = proton-cachyos
