pkgbase = dms-shell
	pkgdesc = A Quickshell-based desktop shell with Material 3 design principles
	pkgver = 1.5.1
	pkgrel = 2
	url = https://github.com/AvengeMedia/DankMaterialShell
	arch = x86_64
	license = MIT
	makedepends = go
	depends = dgop
	depends = accountsservice
	depends = hicolor-icon-theme
	depends = python
	depends = qt6-declarative
	depends = quickshell
	optdepends = cava: Audio visualizer
	optdepends = cups-pk-helper: Printer Management
	optdepends = i2c-tools: External monitor brightness control
	optdepends = iwd: Required for network managementa via iwd
	optdepends = matugen: Dynamic wallpaper-based theming
	optdepends = networkmanager: Required for network managementa via networkmanager
	optdepends = power-profiles-daemon: Set power profile
	optdepends = qt6-multimedia: Sound effect support
	optdepends = qt6ct: Qt6 application theming
	optdepends = systemd: Required for network managementa via systemd-networkd
	optdepends = wtype: Paste from clipboard history and plugins
	source = https://github.com/AvengeMedia/DankMaterialShell/archive/v1.5.1/DankMaterialShell-1.5.1.tar.gz
	sha256sums = cdd35cb5cb120e74772bdd66ae6dc646c3cc59dbe5f6ffc6b263892f33ad5fdf

pkgname = dms-shell
