pkgbase = dms-shell
	pkgdesc = A Quickshell-based desktop shell with Material 3 design principles
	pkgver = 1.4.6
	pkgrel = 1
	url = https://github.com/AvengeMedia/DankMaterialShell
	arch = x86_64
	license = MIT
	makedepends = go
	depends = dgop
	depends = accountsservice
	depends = hicolor-icon-theme
	depends = python
	depends = qt6-declarative
	depends = quickshell
	optdepends = cava: Audio visualizer
	optdepends = cups-pk-helper: Printer Management
	optdepends = i2c-tools: External monitor brightness control
	optdepends = iwd: Required for network managementa via iwd
	optdepends = matugen: Dynamic wallpaper-based theming
	optdepends = networkmanager: Required for network managementa via networkmanager
	optdepends = power-profiles-daemon: Set power profile
	optdepends = qt6-multimedia: Sound effect support
	optdepends = qt6ct: Qt6 application theming
	optdepends = systemd: Required for network managementa via systemd-networkd
	optdepends = wtype: Paste from clipboard history and plugins
	source = https://github.com/AvengeMedia/DankMaterialShell/archive/v1.4.6/DankMaterialShell-1.4.6.tar.gz
	sha256sums = f54601e522c883fa9cce02bec070e4321e47389a1cf453e7ad0bb7379ad91b61

pkgname = dms-shell
