pkgbase = singularity-desktop-git
	pkgdesc = The Singularity Desktop Environment
	pkgver = 0.1.0.r204.gce6326c
	pkgrel = 1
	url = https://github.com/singularityos-lab/singularity-desktop
	arch = x86_64
	arch = aarch64
	license = GPL-3.0-or-later
	makedepends = gettext
	makedepends = git
	makedepends = go
	makedepends = gobject-introspection
	makedepends = meson
	makedepends = ninja
	makedepends = python
	makedepends = sassc
	makedepends = vala
	makedepends = wayland-protocols
	depends = at-spi2-core
	depends = cairo
	depends = fontconfig
	depends = gdk-pixbuf2
	depends = glib2
	depends = gnome-online-accounts
	depends = gstreamer
	depends = gst-plugins-base-libs
	depends = gtk4
	depends = gtk4-layer-shell
	depends = gtksourceview5
	depends = json-glib
	depends = labwc
	depends = libadwaita
	depends = libdbusmenu-glib
	depends = libgcrypt
	depends = libgee
	depends = libgudev
	depends = libnm
	depends = libpeas-2
	depends = libpng
	depends = libpulse
	depends = libsecret
	depends = libsodium
	depends = libsoup3
	depends = libxcb
	depends = libxkbcommon
	depends = pango
	depends = polkit
	depends = poppler-glib
	depends = tinysparql
	depends = upower
	depends = vte4
	depends = wayland
	depends = webkitgtk-6.0
	provides = singularity-desktop=0.1.0.r204.gce6326c
	conflicts = singularity-desktop
	source = singularity-desktop::git+https://github.com/singularityos-lab/singularity-desktop.git
	source = vetro::git+https://github.com/singularityos-lab/vetro.git#commit=0a7bd367676f67e1c15a304ba135fe6fecdbc604
	sha256sums = SKIP
	sha256sums = SKIP

pkgname = singularity-desktop-git
