pkgbase = pacman
	pkgdesc = A library-based package manager with dependency support
	pkgver = 6.0.2
	pkgrel = 7
	url = https://www.archlinux.org/pacman/
	arch = x86_64
	groups = base-devel
	license = GPL
	checkdepends = python
	checkdepends = fakechroot
	makedepends = meson
	makedepends = asciidoc
	makedepends = doxygen
	depends = bash
	depends = glibc
	depends = libarchive
	depends = curl
	depends = gpgme
	depends = pacman-mirrorlist
	depends = gettext
	depends = gawk
	depends = coreutils
	depends = gnupg
	depends = grep
	depends = debugedit
	optdepends = perl-locale-gettext: translation support in makepkg-template
	provides = libalpm.so
	options = strip
	options = debug
	backup = etc/pacman.conf
	backup = etc/makepkg.conf
	source = https://sources.archlinux.org/other/pacman/pacman-6.0.2.tar.xz
	source = https://sources.archlinux.org/other/pacman/pacman-6.0.2.tar.xz.sig
	source = pacman.conf
	source = makepkg.conf
	source = fix-wkd-lookup.patch::https://gitlab.archlinux.org/pacman/pacman/-/commit/e1246baddd14ec6f4b6270b59bea0e1b639472a7.patch
	source = patch-updatedb.patch::https://gitlab.archlinux.org/pacman/pacman/-/commit/58d678fa289034f1fe2a56adbb5e496b774755fc.patch
	source = add-flto-to-LDFLAGS-for-clang.patch
	source = makepkg-use-ffile-prefix-map-instead-of-fdebug-prefi.patch
	source = libmakepkg-add-extra-buildflags-only-when-buildflags.patch
	source = make-link-time-optimization-flags-configurable.patch
	source = x8664v3.patch
	source = fix-source-path.patch
	source = pacman-fix.patch
	source = 0001-Revert-pacman-key-Don-t-check-gpg-s-trustdb-after-ea.patch
	validpgpkeys = 6645B0A8C7005E78DB1D7864F99FFE0FEAE999BD
	validpgpkeys = B8151B117037781095514CA7BBDFFC92306B1121
	sha256sums = 7d8e3e8c5121aec0965df71f59bedf46052c6cf14f96365c4411ec3de0a4c1a5
	sha256sums = SKIP
	sha256sums = 606e55f06c297d2b508bc4438890b229a1abaa68b0374a2d7f94c8e7be6792d7
	sha256sums = 95154d1c82c8f8bc07458401836b6c37155a77c6ed75f54d6ae0d6e9ebb32aff
	sha256sums = 8ab5b1338874d7d58e11c5d1185ea3454fcc89755f9c18faf87ff348ad1ed16c
	sha256sums = 988acbb76a0bbd866ab76121191ba4a968bf12970d581fb81b47504c4d998e96
	sha256sums = 82ff91b85f4c6ceba19f9330437e2a22aabc966c2b9e2a20a53857f98a42c223
	sha256sums = b940e6c0c05a185dce1dbb9da0dcbebf742fca7a63f3e3308d49205afe5a6582
	sha256sums = 7d0aee976c9c71fcf7c96ef1d99aa76efe47d8c1f4451842d6d159ec7deb4278
	sha256sums = 5b43e26a76be3ed10a69d4bfb2be48db8cce359baf46583411c7f124737ebe6a
	sha256sums = a088200e67223d7cbb2b8558bbd20f909207b95132475c15e1c72d8a8fbd3a79
	sha256sums = fec94ba412510bb91386b9b433ddbe76e30027d50a44d9298965311b8dc82937
	sha256sums = 1e62ee2639120c5b2da3a56b0174107c8d5844b8250068f1f9c2dad99e425aa5
	sha256sums = a9159166b8cf5eadebde78eeae0175493140645bc533816191d4935bba58c6d4

pkgname = pacman
