# Created by https://www.toptal.com/developers/gitignore/api/cmake,archlinuxpackages
# Edit at https://www.toptal.com/developers/gitignore?templates=cmake,archlinuxpackages

### ArchLinuxPackages ###
*.tar
*.tar.*
*.jar
*.exe
*.msi
*.zip
*.tgz
*.log
*.log.*
*.sig

pkg/
src/

### CMake ###
CMakeLists.txt.user
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
_deps

### CMake Patch ###
# External projects
*-prefix/
glibc/glibc
llvm-project
# End of https://www.toptal.com/developers/gitignore/api/cmake,archlinuxpackages
