pkgbase = xdg-desktop-portal-cosmic
	pkgdesc = A backend implementation for xdg-desktop-portal for the COSMIC desktop environment
	pkgver = 1.0.0.alpha.1
	pkgrel = 3
	url = https://github.com/pop-os/xdg-desktop-portal-cosmic
	arch = x86_64
	groups = cosmic
	license = GPL-3.0-only
	makedepends = cargo
	makedepends = clang
	makedepends = git
	makedepends = just
	makedepends = lld
	depends = cosmic-icon-theme
	depends = gcc-libs
	depends = glibc
	depends = libpipewire
	depends = libxkbcommon
	depends = mesa
	depends = wayland
	depends = xdg-desktop-portal
	source = git+https://github.com/pop-os/xdg-desktop-portal-cosmic.git#tag=41c1e7cfd0779db6005fc64798ac75b630332678
	b2sums = 307865d8515425b1b77eaf2b6a73f2ddf056992bc55c4bbc7c55265ab00cdeda97088f57924c314b5bee865235f5470694933b644b5d7af2c4660f8699e15c59

pkgname = xdg-desktop-portal-cosmic
