pkgbase = xdg-desktop-portal-cosmic
	pkgdesc = A backend implementation for xdg-desktop-portal for the COSMIC desktop environment
	pkgver = 1.0.0.alpha.2
	pkgrel = 1
	url = https://github.com/pop-os/xdg-desktop-portal-cosmic
	arch = x86_64
	groups = cosmic
	license = GPL-3.0-only
	makedepends = cargo
	makedepends = clang
	makedepends = git
	makedepends = just
	makedepends = lld
	depends = cosmic-icon-theme
	depends = gcc-libs
	depends = glibc
	depends = libpipewire
	depends = libxkbcommon
	depends = mesa
	depends = wayland
	depends = xdg-desktop-portal
	source = git+https://github.com/pop-os/xdg-desktop-portal-cosmic.git#tag=dcbdd9974b570633ae3b47cb1d427771e4b8e276
	b2sums = 9913f89855be0c446a3b795200c207c75103dc799d0ecbe5361a2befb0d48e6a96dd6bf15fad578d4a065f49dec79864d071b31244d32a0c853486792d185d8c

pkgname = xdg-desktop-portal-cosmic
