pkgbase = power-profiles-daemon
	pkgdesc = Makes power profiles handling available over D-Bus
	pkgver = 0.23
	pkgrel = 2
	url = https://gitlab.freedesktop.org/upower/power-profiles-daemon
	arch = x86_64
	license = GPL-3.0-only
	checkdepends = python-dbusmock
	checkdepends = python-isort
	checkdepends = python-mccabe
	checkdepends = umockdev
	makedepends = git
	makedepends = glib2-devel
	makedepends = meson
	depends = gcc-libs
	depends = glib2
	depends = glibc
	depends = libgudev
	depends = polkit
	depends = upower
	optdepends = python-gobject: for powerprofilesctl
	source = git+https://gitlab.freedesktop.org/upower/power-profiles-daemon#tag=0.23
	sha256sums = ffa0951d6c008239539c2a51150ad454b283c4b4b0e1910920b6afed3d143a3f

pkgname = power-profiles-daemon
