pkgbase = power-profiles-daemon
	pkgdesc = Makes power profiles handling available over D-Bus
	pkgver = 0.30
	pkgrel = 1
	url = https://gitlab.freedesktop.org/upower/power-profiles-daemon
	arch = x86_64
	license = GPL-3.0-only
	checkdepends = python-dbusmock
	checkdepends = python-isort
	checkdepends = python-mccabe
	checkdepends = umockdev
	makedepends = git
	makedepends = glib2-devel
	makedepends = meson
	depends = gcc-libs
	depends = glib2
	depends = glibc
	depends = libgudev
	depends = polkit
	depends = upower
	optdepends = python-gobject: for powerprofilesctl
	source = git+https://gitlab.freedesktop.org/upower/power-profiles-daemon#tag=0.30
	sha256sums = e955e833b01cbff9b5b00349592239e58c559d717eb49f3371f42932676e7a40

pkgname = power-profiles-daemon
