pkgbase = chatbox
	pkgdesc = A desktop client for multiple cutting-edge AI models
	pkgver = 1.15.4
	pkgrel = 1
	url = https://chatboxai.app/en
	arch = x86_64
	license = GPL-3.0-or-later
	makedepends = nodejs-lts-iron
	makedepends = npm
	makedepends = bun
	makedepends = sed
	depends = libxkbfile
	depends = gnupg
	depends = gtk3
	depends = libsecret
	depends = nss
	depends = gcc-libs
	depends = libnotify
	depends = libxss
	depends = glibc
	source = https://github.com/Bin-Huang/chatbox/archive/refs/tags/v1.15.4.tar.gz
	source = chatbox.desktop
	b2sums = ce4ae77d8b89e1ff4832b5b6e11d4fe41088ab524d8f61a9bb8acc206d6a30850d57f69fafdaae2fe377d519b207a60a409af734d71d659cfd87e67d9cc4d788
	b2sums = b6fa0e3a7d16711f4f47527f7c556275167ef4875f1062b87d6a216579e040b7557287c99d0f70b7141bc822c63957685f145252d82b5039ce4ed96f4bfbdf6f

pkgname = chatbox
