pkgbase = chatbox
	pkgdesc = A desktop client for multiple cutting-edge AI models
	pkgver = 1.17.0
	pkgrel = 1
	url = https://chatboxai.app/en
	arch = x86_64
	license = GPL-3.0-or-later
	makedepends = nodejs-lts-iron
	makedepends = npm
	makedepends = bun
	makedepends = sed
	depends = libxkbfile
	depends = gnupg
	depends = gtk3
	depends = libsecret
	depends = nss
	depends = gcc-libs
	depends = libnotify
	depends = libxss
	depends = glibc
	source = https://github.com/Bin-Huang/chatbox/archive/refs/tags/v1.17.0.tar.gz
	source = chatbox.desktop
	b2sums = f163d7c35c8ae4a1f3be9c4f8f6ac89e3d4a01cd88c9d2ba5fc63f90db02f130ceda3198ade0be6f314375491d5795ed2685b20f536d378b350da90b7412b246
	b2sums = b6fa0e3a7d16711f4f47527f7c556275167ef4875f1062b87d6a216579e040b7557287c99d0f70b7141bc822c63957685f145252d82b5039ce4ed96f4bfbdf6f

pkgname = chatbox
