[Desktop Entry]
Name=Chatbox CE
Exec="/opt/chatbox/xyz.chatboxapp.ce" %U
Terminal=false
Type=Application
Icon=chatbox
StartupWMClass=Chatbox CE
Comment=A desktop client for multiple cutting-edge AI models
Categories=Development;
