[Desktop Entry]
Exec=cachyos-refresh all
Name=cachyos-refresh
NoDisplay=true
StartupNotify=false
Type=Application
X-KDE-GlobalAccel-CommandShortcut=true
