[Desktop Entry]
Type=Service
X-KDE-ServiceTypes=KonqPopupMenu/Plugin
MimeType=inode/directory;
Actions=RefreshFolder;

[Desktop Action RefreshFolder]
Exec=cachyos-refresh dolphin
Icon=view-refresh

Name=Refresh Folder
