pkgbase = lib32-mesa
	pkgdesc = Open-source OpenGL drivers - 32-bit
	pkgver = 25.1.5
	pkgrel = 3
	epoch = 1
	url = https://www.mesa3d.org/
	arch = x86_64
	license = MIT AND BSD-3-Clause AND SGI-B-2.0
	makedepends = lib32-clang
	makedepends = lib32-directx-headers
	makedepends = lib32-expat
	makedepends = lib32-gcc-libs
	makedepends = lib32-glibc
	makedepends = lib32-libdrm
	makedepends = lib32-libelf
	makedepends = lib32-libglvnd
	makedepends = lib32-libpng
	makedepends = lib32-libva
	makedepends = lib32-libvdpau
	makedepends = lib32-libx11
	makedepends = lib32-libxcb
	makedepends = lib32-libxext
	makedepends = lib32-libxml2
	makedepends = lib32-libxrandr
	makedepends = lib32-libxshmfence
	makedepends = lib32-libxxf86vm
	makedepends = lib32-llvm
	makedepends = lib32-llvm-libs
	makedepends = lib32-lm_sensors
	makedepends = lib32-rust-libs
	makedepends = lib32-spirv-llvm-translator
	makedepends = lib32-spirv-tools
	makedepends = lib32-systemd
	makedepends = lib32-vulkan-icd-loader
	makedepends = lib32-wayland
	makedepends = lib32-xcb-util-keysyms
	makedepends = lib32-zlib
	makedepends = lib32-zstd
	makedepends = cbindgen
	makedepends = clang
	makedepends = cmake
	makedepends = elfutils
	makedepends = glslang
	makedepends = libclc
	makedepends = meson
	makedepends = python-mako
	makedepends = python-packaging
	makedepends = python-ply
	makedepends = python-yaml
	makedepends = rust-bindgen
	makedepends = wayland-protocols
	makedepends = xorgproto
	options = !lto
	source = https://archive.mesa3d.org/mesa-25.1.5.tar.xz
	source = https://archive.mesa3d.org/mesa-25.1.5.tar.xz.sig
	source = valve.patch
	source = ucd-trie-0.1.6.tar.gz::https://crates.io/api/v1/crates/ucd-trie/0.1.6/download
	source = pest_meta-2.8.0.tar.gz::https://crates.io/api/v1/crates/pest_meta/2.8.0/download
	source = indexmap-2.2.6.tar.gz::https://crates.io/api/v1/crates/indexmap/2.2.6/download
	source = hashbrown-0.14.1.tar.gz::https://crates.io/api/v1/crates/hashbrown/0.14.1/download
	source = proc-macro2-1.0.86.tar.gz::https://crates.io/api/v1/crates/proc-macro2/1.0.86/download
	source = pest_derive-2.8.0.tar.gz::https://crates.io/api/v1/crates/pest_derive/2.8.0/download
	source = unicode-ident-1.0.12.tar.gz::https://crates.io/api/v1/crates/unicode-ident/1.0.12/download
	source = quote-1.0.33.tar.gz::https://crates.io/api/v1/crates/quote/1.0.33/download
	source = roxmltree-0.20.0.tar.gz::https://crates.io/api/v1/crates/roxmltree/0.20.0/download
	source = paste-1.0.14.tar.gz::https://crates.io/api/v1/crates/paste/1.0.14/download
	source = pest-2.8.0.tar.gz::https://crates.io/api/v1/crates/pest/2.8.0/download
	source = equivalent-1.0.1.tar.gz::https://crates.io/api/v1/crates/equivalent/1.0.1/download
	source = pest_generator-2.8.0.tar.gz::https://crates.io/api/v1/crates/pest_generator/2.8.0/download
	source = once_cell-1.8.0.tar.gz::https://crates.io/api/v1/crates/once_cell/1.8.0/download
	source = syn-2.0.68.tar.gz::https://crates.io/api/v1/crates/syn/2.0.68/download
	validpgpkeys = 946D09B5E4C9845E63075FF1D961C596A7203456
	validpgpkeys = 71C4B75620BC75708B4BDB254C95FAAB3EB073EC
	validpgpkeys = 8703B6700E7EE06D7A39B8D6EDAE37B02CEB490D
	validpgpkeys = 57551DE15B968F6341C248F68D8E31AFC32428A6
	validpgpkeys = A5CC9FEC93F2F837CB044912336909B6B25FADFA
	validpgpkeys = E3E8F480C52ADD73B278EE78E1ECBE07D7D70895
	sha256sums = 3c4f6b10ff6ee950d0ec6ea733cc6e6d34c569454e3d39a9b276de9115a3b363
	sha256sums = SKIP
	sha256sums = 4fdeef58d0b469de3a51ca7a361900d5258209da12b517961cf5550010e49623
	sha256sums = ed646292ffc8188ef8ea4d1e0e0150fb15a5c2e12ad9b8fc191ae7a8a7f3c4b9
	sha256sums = 7f9f832470494906d1fca5329f8ab5791cc60beb230c74815dff541cbd2b5ca0
	sha256sums = 168fb715dda47215e360912c096649d23d58bf392ac62f73919e831745e40f26
	sha256sums = 7dfda62a12f55daeae5015f81b0baea145391cb4520f86c248fc615d72640d12
	sha256sums = 5e719e8df665df0d1c8fbfd238015744736151d4445ec0836b8e628aae103b77
	sha256sums = d725d9cfd79e87dccc9341a2ef39d1b6f6353d68c4b33c177febbe1a402c97c5
	sha256sums = 3354b9ac3fae1ff6755cb6db53683adb661634f67557942dea4facebec0fee4b
	sha256sums = 5267fca4496028628a95160fc423a33e8b2e6af8a5302579e322e4b520293cae
	sha256sums = 6c20b6793b5c2fa6553b250154b78d6d0db37e72700ae35fad9387a46f487c97
	sha256sums = de3145af08024dea9fa9914f381a17b8fc6034dfb00f3a84013f7ff43f29ed4c
	sha256sums = 198db74531d58c70a361c42201efde7e2591e976d518caf7662a47dc5720e7b6
	sha256sums = 5443807d6dff69373d433ab9ef5378ad8df50ca6298caf15de6e52e24aaf54d5
	sha256sums = db7d01726be8ab66ab32f9df467ae8b1148906685bbe75c82d1e65d7f5b3f841
	sha256sums = 692fcb63b64b1758029e0a96ee63e049ce8c5948587f2f7208df04625e5f6b56
	sha256sums = 901fa70d88b9d6c98022e23b4136f9f3e54e4662c3bc1bd1d84a42a9a0f0c1e9
