pkgbase = pop-launcher
	pkgdesc = Modular IPC-based desktop launcher service
	pkgver = 1.2.1.r65.c994240
	pkgrel = 1
	url = https://github.com/pop-os/launcher
	arch = x86_64
	license = MPL-2.0
	makedepends = cargo
	makedepends = git
	makedepends = just
	makedepends = lld
	depends = dbus
	depends = fd
	depends = gcc-libs
	depends = glibc
	depends = libegl
	depends = libqalculate
	depends = libxkbcommon
	depends = pop-icon-theme
	depends = sh
	depends = xdg-utils
	options = !lto
	source = git+https://github.com/pop-os/launcher.git#commit=c994240676e8fe20aaf631f657545e456725d924
	source = pop-launcher-symlinks.patch
	b2sums = fa8cf60eeca70fa574737d7c0d1e7a5e93dce2ec8702c946ebc0c5c9de02e47e3137962fea7ca3edca849bedb21a14ea21f22b1a09d388787a1cf7f07ecfd69d
	b2sums = a4d39a4116df864556a960faeaf6f9c1a9847fdc4a9c32b051bc3e8dfbfb6114b9d6e47666900df17f4bbdd23434069afddd52556e68c206c9590f08d013536d

pkgname = pop-launcher
