pkgbase = xz
	pkgdesc = Library and command line tools for XZ and LZMA compressed files
	pkgver = 5.6.2
	pkgrel = 2
	url = https://xz.tukaani.org/xz-utils/
	arch = x86_64
	license = GPL
	license = LGPL
	license = custom
	makedepends = git
	makedepends = po4a
	makedepends = doxygen
	depends = sh
	provides = liblzma.so
	source = git+https://git.tukaani.org/xz.git#tag=v5.6.2
	validpgpkeys = 3690C240CE51B4670D30AD1C38EE757D69184620
	sha256sums = a71fcf56faa1f7d9e9708ca8d6a97906b929307d6a98d220018852eef37853c8
	sha512sums = f369f126dd3d538ef27ecce62e8ae01a2c9056eeb22c6b21d9a1d5e456f35330bc7f2bb0df525ad4a4f95ba84c0196c7c79ad768359786d3a73f876aa043f164

pkgname = xz
