pkgbase = nvidia-settings
	pkgdesc = Tool for configuring the NVIDIA graphics driver
	pkgver = 580.82.09
	pkgrel = 2
	url = https://github.com/NVIDIA/nvidia-settings
	arch = x86_64
	license = GPL-2.0-or-later
	makedepends = inetutils
	makedepends = jansson
	makedepends = gtk3
	makedepends = libxv
	makedepends = libvdpau
	makedepends = nvidia-utils
	makedepends = libxext
	makedepends = vulkan-headers
	options = staticlibs
	source = nvidia-settings-580.82.09.tar.gz::https://github.com/NVIDIA/nvidia-settings/archive/580.82.09.tar.gz
	source = nvidia-settings-libxnvctrl_so.patch
	sha512sums = eb00826f843c76e3745022f72675aedbf1734c6604809598b001b7f450d445279e8bd93964b7740bfb91cd9456e50acdbca0860be17dbd3c769edda3ea1a3f2a
	sha512sums = 0303fe615d6ef4e14112998c531a17613b94776f9a6a027ddb81e400fddd5f2ff15583da8b8631c2306aca854edf2f54a8007eb36f1732b4c064c857aaf268ae

pkgname = nvidia-settings
	depends = jansson
	depends = gtk3
	depends = libxv
	depends = libvdpau
	depends = nvidia-utils
	depends = libxnvctrl

pkgname = libxnvctrl
	pkgdesc = NVIDIA NV-CONTROL X extension
	depends = libxext
	provides = libXNVCtrl.so
