pkgbase = nvidia-settings
	pkgdesc = Tool for configuring the NVIDIA graphics driver
	pkgver = 580.95.05
	pkgrel = 1
	url = https://github.com/NVIDIA/nvidia-settings
	arch = x86_64
	license = GPL-2.0-only
	makedepends = jansson
	makedepends = gtk3
	makedepends = libxv
	makedepends = libvdpau
	makedepends = nvidia-utils
	makedepends = libxext
	makedepends = vulkan-headers
	options = staticlibs
	source = nvidia-settings-580.95.05.tar.gz::https://github.com/NVIDIA/nvidia-settings/archive/580.95.05.tar.gz
	source = nvidia-settings-libxnvctrl_so.patch
	sha512sums = d8b0937a844c9e74970e9be3aa58c2be01566835b82f8d8ca713d61b2287ff36d45e4dd65162fcca778dd77e68c168077893a8ae27e4dfa2a2e4e0aa777e9109
	sha512sums = 0303fe615d6ef4e14112998c531a17613b94776f9a6a027ddb81e400fddd5f2ff15583da8b8631c2306aca854edf2f54a8007eb36f1732b4c064c857aaf268ae

pkgname = nvidia-settings
	depends = jansson
	depends = gtk3
	depends = libxv
	depends = libvdpau
	depends = nvidia-utils
	depends = libxnvctrl

pkgname = libxnvctrl
	pkgdesc = NVIDIA NV-CONTROL X extension
	depends = libxext
	provides = libXNVCtrl.so
