pkgbase = nvidia-settings
	pkgdesc = Tool for configuring the NVIDIA graphics driver
	pkgver = 590.44.01
	pkgrel = 1
	url = https://github.com/NVIDIA/nvidia-settings
	arch = x86_64
	license = GPL-2.0-only
	makedepends = jansson
	makedepends = gtk3
	makedepends = libxv
	makedepends = libvdpau
	makedepends = nvidia-utils
	makedepends = libxext
	makedepends = vulkan-headers
	options = staticlibs
	source = nvidia-settings-590.44.01.tar.gz::https://github.com/NVIDIA/nvidia-settings/archive/590.44.01.tar.gz
	source = nvidia-settings-libxnvctrl_so.patch
	sha512sums = 698deb04b3869a965913bbe146f52b2f02a84d80c0b8187c199f7cfc29da1d52fd7c087b21f6832821ca3ce181b3ef56e51b9094398a50b3a99b0a7f545fcc0b
	sha512sums = 0303fe615d6ef4e14112998c531a17613b94776f9a6a027ddb81e400fddd5f2ff15583da8b8631c2306aca854edf2f54a8007eb36f1732b4c064c857aaf268ae

pkgname = nvidia-settings
	depends = jansson
	depends = gtk3
	depends = libxv
	depends = libvdpau
	depends = nvidia-utils
	depends = libxnvctrl

pkgname = libxnvctrl
	pkgdesc = NVIDIA NV-CONTROL X extension
	depends = libxext
	provides = libXNVCtrl.so
