pkgbase = linux-api-headers
	pkgdesc = Kernel headers sanitized for use in userspace
	pkgver = 6.7
	pkgrel = 2
	url = https://www.gnu.org/software/libc
	arch = any
	license = GPL-2.0-only
	makedepends = rsync
	source = https://www.kernel.org/pub/linux/kernel/v6.x/linux-6.7.tar.xz
	source = https://www.kernel.org/pub/linux/kernel/v6.x/linux-6.7.tar.sign
	source = ntsync.patch
	validpgpkeys = ABAF11C65A2970B130ABE3C479BE3E4300411886
	validpgpkeys = 647F28654894E3BD457199BE38DBBDC86092693E
	sha256sums = ef31144a2576d080d8c31698e83ec9f66bf97c677fa2aaf0d5bbb9f3345b1069
	sha256sums = SKIP
	sha256sums = 22290e03201d12e579f113f879448cc2d0f89dbefe3800cc1fb38596c120128b

pkgname = linux-api-headers
