pkgbase = linux-api-headers
	pkgdesc = Kernel headers sanitized for use in userspace
	pkgver = 6.11
	pkgrel = 2
	url = https://www.gnu.org/software/libc
	arch = x86_64
	license = GPL-2.0-only
	makedepends = rsync
	source = https://www.kernel.org/pub/linux/kernel/v6.x/linux-6.11.tar.xz
	source = https://www.kernel.org/pub/linux/kernel/v6.x/linux-6.11.tar.sign
	source = ntsync.patch
	validpgpkeys = ABAF11C65A2970B130ABE3C479BE3E4300411886
	validpgpkeys = 647F28654894E3BD457199BE38DBBDC86092693E
	sha256sums = 55d2c6c025ebc27810c748d66325dd5bc601e8d32f8581d9e77673529bdacb2e
	sha256sums = SKIP
	sha256sums = e9e9c1f2b66241839423594cc68449c1db99d720aa2309195f571843e6892c35

pkgname = linux-api-headers
