pkgbase = linux-api-headers
	pkgdesc = Kernel headers sanitized for use in userspace
	pkgver = 6.13
	pkgrel = 2
	epoch = 1
	url = https://www.gnu.org/software/libc
	arch = x86_64
	license = GPL-2.0-only
	makedepends = rsync
	source = https://www.kernel.org/pub/linux/kernel/v6.x/linux-6.13.tar.xz
	source = https://www.kernel.org/pub/linux/kernel/v6.x/linux-6.13.tar.sign
	source = ntsync.patch
	validpgpkeys = ABAF11C65A2970B130ABE3C479BE3E4300411886
	validpgpkeys = 647F28654894E3BD457199BE38DBBDC86092693E
	sha256sums = e79dcc6eb86695c6babfb07c2861912b635d5075c6cd1cd0567d1ea155f80d6e
	sha256sums = SKIP
	sha256sums = a208b8303d23d9b46e561a1be09498067e10f965c5d7814fac4c3b88c07e034f

pkgname = linux-api-headers
