pkgbase = pkg-manage-util
	pkgdesc = A command-line utility for managing pacman package builds
	pkgver = 0.1.0
	pkgrel = 1
	url = https://github.com/cachyos/pkg-manage-util
	arch = x86_64
	license = GPL-3.0-or-later
	makedepends = git
	makedepends = cargo
	makedepends = lld
	makedepends = clang
	makedepends = llvm
	depends = gcc-libs
	depends = pacman
	depends = devtools
	source = pkg-manage-util::git+https://github.com/cachyos/pkg-manage-util.git#tag=v0.1.0?signed
	validpgpkeys = B1B70BB1CD56047DEF31DE2EB62C3D10C54D5DA9
	sha256sums = 2757d91d92c9c5700b759dfe62850a83de4145a3d1bf8714fd0d8526b45b3422

pkgname = pkg-manage-util
