pkgbase = scx-scheds
	pkgdesc = sched_ext schedulers and tools
	pkgver = 1.1.1
	pkgrel = 2
	url = https://github.com/sched-ext/scx
	arch = x86_64
	arch = aarch64
	license = GPL-2.0-only
	makedepends = cargo
	makedepends = clang
	makedepends = git
	makedepends = llvm
	makedepends = llvm-libs
	depends = libelf
	depends = libseccomp
	depends = protobuf
	depends = scx-tools
	depends = zlib
	options = !lto
	backup = etc/default/scx
	source = git+https://github.com/sched-ext/scx?signed#tag=v1.1.1
	validpgpkeys = 697C63013E65270255EBC2608744DC1EB26B5A9A
	validpgpkeys = F5504C7B7B8107B40EF9E97AA1148BB3207BCC33
	validpgpkeys = A8775C60262EEF2AA34A864F5DAD005C4BFEA770
	validpgpkeys = EE2B8DAB1F6D1AA9DD1A4475AD851C1B71DF8FBF
	validpgpkeys = 49F2D1CB86447DFD1F14B27A8B61A0894BDB3A92
	sha256sums = 200c3245c08ced6d2d37300216f6d85ca1f9a516011d3d24e9cedabc31225ab8

pkgname = scx-scheds
