pkgbase = pango
	pkgdesc = A library for layout and rendering of text
	pkgver = 1.54.0
	pkgrel = 2
	epoch = 1
	url = https://www.pango.org/
	arch = x86_64
	license = LGPL-2.1-or-later
	makedepends = gi-docgen
	makedepends = git
	makedepends = glib2-devel
	makedepends = gobject-introspection
	makedepends = help2man
	makedepends = meson
	depends = cairo
	depends = fontconfig
	depends = freetype2
	depends = fribidi
	depends = glib2
	depends = glibc
	depends = harfbuzz
	depends = libsysprof-capture
	depends = libthai
	depends = libx11
	depends = libxft
	depends = libxrender
	source = git+https://gitlab.gnome.org/GNOME/pango.git#tag=1.54.0
	b2sums = 365a31b09d9e11eda15f79339fde4cd635cd4f24c7b80f883020c95ee27f7d4074495e74531c727ea1b4d4f89e32641003758e388c54a5473be00527526645e5

pkgname = pango
	provides = libpango-1.0.so
	provides = libpangocairo-1.0.so
	provides = libpangoft2-1.0.so
	provides = libpangoxft-1.0.so

pkgname = pango-docs
	pkgdesc = A library for layout and rendering of text (documentation)
	depends =
