pkgbase = cachyos-jay-noctalia
	pkgdesc = CachyOS Jay (+Noctalia) settings
	pkgver = 1.0.0
	pkgrel = 1
	url = https://github.com/cachyos/cachyos-jay-noctalia
	install = cachyos-jay-noctalia.install
	arch = any
	license = GPL-3.0-only
	makedepends = coreutils
	makedepends = git
	depends = adw-gtk-theme
	depends = cachyos-alacritty-config
	depends = capitaine-cursors
	depends = dolphin
	depends = gnome-keyring
	depends = jay
	depends = noctalia
	depends = noto-fonts
	depends = noto-fonts-emoji
	depends = qt6ct
	depends = wl-clipboard
	depends = xdg-desktop-portal-gtk
	provides = cachyos-desktop-settings
	conflicts = cachyos-desktop-settings
	source = git+https://github.com/cachyos/cachyos-jay-noctalia#tag=1.0.0
	sha512sums = 94307451378a7ca516b4329c8be674a686e96ce83d89314969723db3e84f71cc8c901f889cd4a2f0b11fd1a679b8c949d2aba0d084f2f9288f6a0a8e68a1fb7f

pkgname = cachyos-jay-noctalia
