pkgbase = cachyos-hypr-noctalia
	pkgdesc = CachyOS Hyprland Noctalia settings
	pkgver = 1.0
	pkgrel = 2
	url = https://github.com/cachyos/cachyos-hypr-noctalia
	arch = any
	license = GPL-1.0-only
	makedepends = coreutils
	depends = adw-gtk-theme
	depends = awesome-terminal-fonts
	depends = brightnessctl
	depends = cachyos-alacritty-config
	depends = cachyos-wallpapers
	depends = curl
	depends = dolphin
	depends = ffmpeg
	depends = gnome-calculator
	depends = gnome-text-editor
	depends = grim
	depends = hyprland
	depends = hyprpicker
	depends = imagemagick
	depends = jq
	depends = kde-cli-tools
	depends = kitty
	depends = network-manager-applet
	depends = noctalia-shell
	depends = noto-fonts
	depends = noto-fonts-emoji
	depends = python3
	depends = qt6ct
	depends = sddm
	depends = slurp
	depends = tesseract
	depends = tesseract-data-eng
	depends = uwsm
	depends = wf-recorder
	depends = wl-clipboard
	depends = xdg-desktop-portal
	depends = xdg-desktop-portal-hyprland
	depends = xorg-xhost
	depends = xorg-xwayland
	depends = zbar
	provides = cachyos-desktop-settings
	conflicts = cachyos-desktop-settings
	source = cachyos-hypr-noctalia-1.0.tar.gz::https://github.com/cachyos/cachyos-hypr-noctalia/archive/1.0.tar.gz
	sha512sums = 3b5cb9cd7f097c54437943429a8182807ca1adde3b54f9ce7f13c94c1e7262aba3611eb0c9feac85a416a144b29ece57184f9895dcdc90e961d290a24feae106

pkgname = cachyos-hypr-noctalia
