pkgbase = cachyos-hypr-noctalia
	pkgdesc = CachyOS Hyprland Noctalia settings
	pkgver = 1.2.4
	pkgrel = 2
	url = https://github.com/cachyos/cachyos-hypr-noctalia
	install = cachyos-hypr-noctalia.install
	arch = any
	license = GPL-1.0-only
	makedepends = coreutils
	depends = adw-gtk-theme
	depends = awesome-terminal-fonts
	depends = brightnessctl
	depends = cachyos-alacritty-config
	depends = curl
	depends = dolphin
	depends = gnome-calculator
	depends = gnome-text-editor
	depends = grim
	depends = hyprland
	depends = hyprpicker
	depends = kde-cli-tools
	depends = kitty
	depends = noctalia
	depends = noto-fonts
	depends = noto-fonts-emoji
	depends = nwg-look
	depends = python3
	depends = qt6ct
	depends = satty
	depends = slurp
	depends = uwsm
	depends = wl-clipboard
	depends = xdg-desktop-portal-hyprland
	depends = xorg-xhost
	provides = cachyos-desktop-settings
	conflicts = cachyos-desktop-settings
	source = cachyos-hypr-noctalia-1.2.4.tar.gz::https://github.com/cachyos/cachyos-hypr-noctalia/archive/1.2.4.tar.gz
	sha256sums = e019262f43c12612aaf63e5a1ed9973d8c8d250d7bd6542d7801713646476013

pkgname = cachyos-hypr-noctalia
