pkgbase = cachyos-hypr-noctalia
	pkgdesc = CachyOS Hyprland Noctalia settings
	pkgver = 1.1
	pkgrel = 1
	url = https://github.com/cachyos/cachyos-hypr-noctalia
	arch = any
	license = GPL-1.0-only
	makedepends = coreutils
	depends = adw-gtk-theme
	depends = awesome-terminal-fonts
	depends = brightnessctl
	depends = cachyos-alacritty-config
	depends = curl
	depends = dolphin
	depends = gnome-calculator
	depends = gnome-text-editor
	depends = grim
	depends = hyprland
	depends = hyprpicker
	depends = kde-cli-tools
	depends = kitty
	depends = noctalia
	depends = noto-fonts
	depends = noto-fonts-emoji
	depends = nwg-look
	depends = python3
	depends = qt6ct
	depends = satty
	depends = slurp
	depends = uwsm
	depends = wf-recorder
	depends = wl-clipboard
	depends = xdg-desktop-portal-hyprland
	depends = xorg-xhost
	provides = cachyos-desktop-settings
	conflicts = cachyos-desktop-settings
	source = cachyos-hypr-noctalia-1.1.tar.gz::https://github.com/cachyos/cachyos-hypr-noctalia/archive/1.1.tar.gz
	sha256sums = 50f9ef25b65051c48a8df4f69e8329cf2c056800dba0a8c4b62acc2379e70689

pkgname = cachyos-hypr-noctalia
