pkgbase = cosmic-text-editor
	pkgdesc = Text editor for the COSMIC desktop
	pkgver = 1.0.0.alpha.1
	pkgrel = 4
	url = https://github.com/pop-os/cosmic-edit
	arch = x86_64
	groups = cosmic
	license = GPL-3.0-only
	makedepends = cargo
	makedepends = git
	makedepends = just
	makedepends = lld
	depends = cosmic-icon-theme
	depends = gcc-libs
	depends = glibc
	depends = libxkbcommon
	depends = oniguruma
	depends = wayland
	provides = cosmic-edit
	replaces = cosmic-edit
	source = git+https://github.com/pop-os/cosmic-edit.git#tag=df5d10936c5a1cc16e231b92221eae7c73ed9da4
	b2sums = a35f11774d9c2a796e6f23bd1d7cb31886251f3cbb1b0852b710d65798f0fb96b9e8a1693b396ea3fab014f0559e8cd28cce800345e86f986a53a9814a3d819c

pkgname = cosmic-text-editor
