pkgbase = cosmic-test-editor
	pkgdesc = Text editor for the COSMIC desktop
	pkgver = 1.0.0.alpha.1
	pkgrel = 2
	url = https://github.com/pop-os/cosmic-edit
	arch = x86_64
	license = GPL-3.0-or-later
	makedepends = cargo
	makedepends = git
	makedepends = git-lfs
	makedepends = just
	makedepends = lld
	depends = cosmic-icon-theme
	depends = libxkbcommon
	depends = wayland
	options = !lto
	source = git+https://github.com/pop-os/cosmic-edit.git#tag=epoch-1.0.0-alpha.1
	sha256sums = 08fd3c008dea08db0eb326690b97395b33bdc868657a0738647ddb6f3355fe8c

pkgname = cosmic-test-editor
