pkgbase = adaptivemm
	pkgdesc = A userspace daemon for proactive free memory management
	pkgver = 1.0.1
	pkgrel = 1
	url = https://github.com/oracle/adaptivemm
	arch = x86_64
	license = GPL-2.0-or-later
	makedepends = git
	makedepends = gcc
	makedepends = make
	depends = glibc
	source = git+https://github.com/oracle/adaptivemm#tag=adaptived-v1.0.1
	b2sums = eadf240fde5a2961c5c929783dda1c4a873b39eea5c0beb95807a0160ef5ade3a9b35ce0739ff8e50f968d7fa460a3537eff5bffed9960f95285a41faf868e9a

pkgname = adaptivemm
