pkgbase = intel-lpmd
	pkgdesc = Intel Low Power Mode Daemon
	pkgver = 0.1.0
	pkgrel = 2
	url = https://github.com/cachyos/intel-lpmd
	arch = x86_64
	license = GPL-2.0-or-later
	makedepends = git
	makedepends = automake
	makedepends = autoconf-archive
	makedepends = gtk-doc
	makedepends = glib2-devel
	makedepends = systemd
	depends = libxml2-legacy
	depends = libnl
	depends = systemd-libs
	depends = polkit
	depends = upower
	source = git+https://github.com/cachyos/intel-lpmd.git#commit=95f95597fe3f2dfd6fd3f33886cea2eb27104221
	sha256sums = 204146e5eee9e9502b39698f88ab6588760be82f51269339dc4adee90107a934

pkgname = intel-lpmd
