pkgbase = intel-lpmd
	pkgdesc = Intel Low Power Mode Daemon
	pkgver = 0.1.0
	pkgrel = 7
	url = https://github.com/cachyos/intel-lpmd
	arch = x86_64
	license = GPL-2.0-or-later
	makedepends = git
	makedepends = automake
	makedepends = autoconf-archive
	makedepends = gtk-doc
	makedepends = glib2-devel
	makedepends = systemd
	depends = glib2
	depends = glibc
	depends = libnl
	depends = libxml2
	depends = polkit
	depends = systemd-libs
	depends = upower
	source = git+https://github.com/cachyos/intel-lpmd.git#commit=7fbe6dfac9d9148cd0fbeb9fb29f5c686ae9c226
	sha256sums = fc9162d51972fc1913f4722f11af3ec9067311126c7de4d4c7c59645dac386c0

pkgname = intel-lpmd
