pkgbase = lib32-mesa
	pkgdesc = Open-source OpenGL drivers - 32-bit
	pkgver = 24.1.0
	pkgrel = 1
	epoch = 1
	url = https://www.mesa3d.org/
	arch = x86_64
	license = MIT AND BSD-3-Clause AND SGI-B-2.0
	makedepends = lib32-clang
	makedepends = lib32-expat
	makedepends = lib32-gcc-libs
	makedepends = lib32-glibc
	makedepends = lib32-libdrm
	makedepends = lib32-libelf
	makedepends = lib32-libglvnd
	makedepends = lib32-libva
	makedepends = lib32-libvdpau
	makedepends = lib32-libx11
	makedepends = lib32-libxcb
	makedepends = lib32-libxext
	makedepends = lib32-libxfixes
	makedepends = lib32-libxml2
	makedepends = lib32-libxrandr
	makedepends = lib32-libxshmfence
	makedepends = lib32-libxxf86vm
	makedepends = lib32-llvm
	makedepends = lib32-llvm-libs
	makedepends = lib32-lm_sensors
	makedepends = lib32-rust-libs
	makedepends = lib32-spirv-llvm-translator
	makedepends = lib32-spirv-tools
	makedepends = lib32-systemd
	makedepends = lib32-vulkan-icd-loader
	makedepends = lib32-wayland
	makedepends = lib32-xcb-util-keysyms
	makedepends = lib32-zlib
	makedepends = lib32-zstd
	makedepends = cbindgen
	makedepends = clang
	makedepends = cmake
	makedepends = elfutils
	makedepends = glslang
	makedepends = libclc
	makedepends = meson
	makedepends = python-mako
	makedepends = python-packaging
	makedepends = python-ply
	makedepends = rust-bindgen
	makedepends = wayland-protocols
	makedepends = xorgproto
	options = !lto
	source = https://mesa.freedesktop.org/archive/mesa-24.1.0.tar.xz
	source = https://mesa.freedesktop.org/archive/mesa-24.1.0.tar.xz.sig
	source = proc-macro2-1.0.70.tar.gz::https://crates.io/api/v1/crates/proc-macro2/1.0.70/download
	source = unicode-ident-1.0.12.tar.gz::https://crates.io/api/v1/crates/unicode-ident/1.0.12/download
	source = quote-1.0.33.tar.gz::https://crates.io/api/v1/crates/quote/1.0.33/download
	source = paste-1.0.14.tar.gz::https://crates.io/api/v1/crates/paste/1.0.14/download
	source = syn-2.0.39.tar.gz::https://crates.io/api/v1/crates/syn/2.0.39/download
	validpgpkeys = 8703B6700E7EE06D7A39B8D6EDAE37B02CEB490D
	validpgpkeys = 946D09B5E4C9845E63075FF1D961C596A7203456
	validpgpkeys = E3E8F480C52ADD73B278EE78E1ECBE07D7D70895
	validpgpkeys = A5CC9FEC93F2F837CB044912336909B6B25FADFA
	validpgpkeys = 71C4B75620BC75708B4BDB254C95FAAB3EB073EC
	validpgpkeys = 57551DE15B968F6341C248F68D8E31AFC32428A6
	sha256sums = b7eac8c79244806b1c276eeeacc329e4a5b31a370804c4b0c7cd16837783f78b
	sha256sums = SKIP
	sha256sums = 39278fbbf5fb4f646ce651690877f89d1c5811a3d4acb27700c1cb3cdb78fd3b
	sha256sums = 3354b9ac3fae1ff6755cb6db53683adb661634f67557942dea4facebec0fee4b
	sha256sums = 5267fca4496028628a95160fc423a33e8b2e6af8a5302579e322e4b520293cae
	sha256sums = de3145af08024dea9fa9914f381a17b8fc6034dfb00f3a84013f7ff43f29ed4c
	sha256sums = 23e78b90f2fcf45d3e842032ce32e3f2d1545ba6636271dcbf24fa306d87be7a
	b2sums = 1558d20d426162bfe8cccf96107ddbf1373c8322f87f48daec73e23b283e00f95d6efd073cad9b92065928af4b9b4a339ff2d204412070eca903f77ca366e619
	b2sums = SKIP
	b2sums = fff0dec06b21e391783cc136790238acb783780eaedcf14875a350e7ceb46fdc100c8b9e3f09fb7f4c2196c25d4c6b61e574c0dad762d94533b628faab68cf5c
	b2sums = 4cede03c08758ccd6bf53a0d0057d7542dfdd0c93d342e89f3b90460be85518a9fd24958d8b1da2b5a09b5ddbee8a4263982194158e171c2bba3e394d88d6dac
	b2sums = 77c4b166f1200e1ee2ab94a5014acd334c1fe4b7d72851d73768d491c56c6779a0882a304c1f30c88732a6168351f0f786b10516ae537cff993892a749175848
	b2sums = 35e8548611c51ee75f4d04926149e5e54870d7073d9b635d550a6fa0f85891f57f326bdbcff3dd8618cf40f8e08cf903ef87d9c034d5921d8b91e1db842cdd7c
	b2sums = 2cff6626624d03f70f1662af45a8644c28a9f92e2dfe38999bef3ba4a4c1ce825ae598277e9cb7abd5585eebfb17b239effc8d0bbf1c6ac196499f0d288e5e01

pkgname = lib32-vulkan-mesa-layers
	pkgdesc = Mesa's Vulkan layers - 32-bit
	depends = lib32-gcc-libs
	depends = lib32-glibc
	depends = lib32-libdrm
	depends = lib32-libxcb
	depends = lib32-wayland
	depends = vulkan-mesa-layers
	conflicts = lib32-vulkan-mesa-layer
	replaces = lib32-vulkan-mesa-layer

pkgname = lib32-opencl-clover-mesa
	pkgdesc = Open-source OpenCL drivers - Clover variant - 32-bit
	depends = lib32-clang
	depends = lib32-expat
	depends = lib32-gcc-libs
	depends = lib32-glibc
	depends = lib32-libdrm
	depends = lib32-libelf
	depends = lib32-llvm-libs
	depends = lib32-spirv-llvm-translator
	depends = lib32-spirv-tools
	depends = lib32-zlib
	depends = lib32-zstd
	depends = opencl-clover-mesa
	optdepends = opencl-headers: headers necessary for OpenCL development
	provides = lib32-opencl-driver
	conflicts = lib32-opencl-mesa
	replaces = lib32-opencl-mesa<=23.1.4-1

pkgname = lib32-opencl-rusticl-mesa
	pkgdesc = Open-source OpenCL drivers - RustICL variant - 32-bit
	depends = lib32-clang
	depends = lib32-expat
	depends = lib32-gcc-libs
	depends = lib32-glibc
	depends = lib32-libdrm
	depends = lib32-libelf
	depends = lib32-llvm-libs
	depends = lib32-spirv-llvm-translator
	depends = lib32-spirv-tools
	depends = lib32-zlib
	depends = lib32-zstd
	depends = opencl-rusticl-mesa
	optdepends = opencl-headers: headers necessary for OpenCL development
	provides = lib32-opencl-driver
	conflicts = lib32-opencl-mesa
	replaces = lib32-opencl-mesa<=23.1.4-1

pkgname = lib32-vulkan-intel
	pkgdesc = Open-source Vulkan driver for Intel GPUs - 32-bit
	depends = lib32-expat
	depends = lib32-gcc-libs
	depends = lib32-glibc
	depends = lib32-libdrm
	depends = lib32-libx11
	depends = lib32-libxcb
	depends = lib32-libxshmfence
	depends = lib32-systemd
	depends = lib32-vulkan-icd-loader
	depends = lib32-wayland
	depends = lib32-xcb-util-keysyms
	depends = lib32-zlib
	depends = lib32-zstd
	depends = vulkan-intel
	optdepends = lib32-vulkan-mesa-layers: additional vulkan layers
	provides = lib32-vulkan-driver

pkgname = lib32-vulkan-nouveau
	pkgdesc = Open-source Vulkan driver for Nvidia GPUs - 32-bit
	depends = lib32-expat
	depends = lib32-gcc-libs
	depends = lib32-glibc
	depends = lib32-libdrm
	depends = lib32-libx11
	depends = lib32-libxcb
	depends = lib32-libxshmfence
	depends = lib32-systemd
	depends = lib32-vulkan-icd-loader
	depends = lib32-wayland
	depends = lib32-xcb-util-keysyms
	depends = lib32-zlib
	depends = lib32-zstd
	depends = vulkan-nouveau
	optdepends = lib32-vulkan-mesa-layers: additional vulkan layers
	provides = lib32-vulkan-driver

pkgname = lib32-vulkan-radeon
	pkgdesc = Open-source Vulkan driver for AMD GPUs - 32-bit
	depends = lib32-expat
	depends = lib32-gcc-libs
	depends = lib32-glibc
	depends = lib32-libdrm
	depends = lib32-libelf
	depends = lib32-libx11
	depends = lib32-libxcb
	depends = lib32-libxshmfence
	depends = lib32-llvm-libs
	depends = lib32-systemd
	depends = lib32-vulkan-icd-loader
	depends = lib32-wayland
	depends = lib32-xcb-util-keysyms
	depends = lib32-zlib
	depends = lib32-zstd
	depends = vulkan-radeon
	optdepends = lib32-vulkan-mesa-layers: additional vulkan layers
	provides = lib32-vulkan-driver

pkgname = lib32-vulkan-swrast
	pkgdesc = Open-source Vulkan driver for CPUs (Software Rasterizer) - 32-bit
	depends = lib32-expat
	depends = lib32-gcc-libs
	depends = lib32-glibc
	depends = lib32-libdrm
	depends = lib32-libx11
	depends = lib32-libxcb
	depends = lib32-libxshmfence
	depends = lib32-llvm-libs
	depends = lib32-systemd
	depends = lib32-vulkan-icd-loader
	depends = lib32-wayland
	depends = lib32-xcb-util-keysyms
	depends = lib32-zlib
	depends = lib32-zstd
	depends = vulkan-swrast
	optdepends = lib32-vulkan-mesa-layers: additional vulkan layers
	provides = lib32-vulkan-driver
	conflicts = lib32-vulkan-mesa
	replaces = lib32-vulkan-mesa

pkgname = lib32-vulkan-virtio
	pkgdesc = Open-source Vulkan driver for Virtio-GPU (Venus) - 32-bit
	depends = lib32-expat
	depends = lib32-gcc-libs
	depends = lib32-glibc
	depends = lib32-libdrm
	depends = lib32-libx11
	depends = lib32-libxcb
	depends = lib32-libxshmfence
	depends = lib32-systemd
	depends = lib32-vulkan-icd-loader
	depends = lib32-wayland
	depends = lib32-xcb-util-keysyms
	depends = lib32-zlib
	depends = lib32-zstd
	depends = vulkan-virtio
	optdepends = lib32-vulkan-mesa-layers: additional vulkan layers
	provides = lib32-vulkan-driver

pkgname = lib32-libva-mesa-driver
	pkgdesc = Open-source VA-API drivers - 32-bit
	depends = lib32-expat
	depends = lib32-gcc-libs
	depends = lib32-glibc
	depends = lib32-libdrm
	depends = lib32-libelf
	depends = lib32-libx11
	depends = lib32-libxcb
	depends = lib32-libxshmfence
	depends = lib32-llvm-libs
	depends = lib32-zlib
	depends = lib32-zstd
	depends = libva-mesa-driver
	provides = lib32-libva-driver

pkgname = lib32-mesa-vdpau
	pkgdesc = Open-source VDPAU drivers - 32-bit
	depends = lib32-expat
	depends = lib32-gcc-libs
	depends = lib32-glibc
	depends = lib32-libdrm
	depends = lib32-libelf
	depends = lib32-libx11
	depends = lib32-libxcb
	depends = lib32-libxshmfence
	depends = lib32-llvm-libs
	depends = lib32-zlib
	depends = lib32-zstd
	depends = mesa-vdpau
	provides = lib32-vdpau-driver

pkgname = lib32-mesa
	depends = lib32-expat
	depends = lib32-gcc-libs
	depends = lib32-glibc
	depends = lib32-libdrm
	depends = lib32-libelf
	depends = lib32-libglvnd
	depends = lib32-libx11
	depends = lib32-libxcb
	depends = lib32-libxext
	depends = lib32-libxfixes
	depends = lib32-libxshmfence
	depends = lib32-libxxf86vm
	depends = lib32-llvm-libs
	depends = lib32-lm_sensors
	depends = lib32-wayland
	depends = lib32-zlib
	depends = lib32-zstd
	depends = mesa
	optdepends = opengl-man-pages: for the OpenGL API man pages
	provides = lib32-mesa-libgl
	provides = lib32-opengl-driver
	conflicts = lib32-mesa-libgl
	replaces = lib32-mesa-libgl
