pkgbase = cachyos-handheld
	pkgdesc = CachyOS - Handheld!
	pkgver = 1.2.3
	pkgrel = 2
	url = https://github.com/CachyOS/CachyOS-Handheld
	install = cachyos-handheld.install
	arch = any
	license = GPL-3.0-later
	makedepends = git
	depends = gamescope-session-git
	depends = mangohud
	depends = jq
	depends = dmidecode
	depends = glew
	depends = glfw
	depends = glxinfo
	depends = curl
	depends = tar
	depends = scx-scheds
	depends = qt5-tools
	depends = gamescope-session-steam-git
	depends = jupiter-hw-support
	depends = gamescope
	depends = lib32-gamescope
	depends = cachyos-vapor
	depends = cachyos-alacritty-config
	depends = steam
	depends = steam-native-runtime
	provides = cachyos-deckify
	replaces = cachyos-deckify
	options = !strip
	options = !debug
	source = git+https://github.com/CachyOS/CachyOS-Handheld?signed#tag=1.2.3
	source = controller-fix.patch
	validpgpkeys = E8B9AA39F054E30E8290D492C3C4820857F654FE
	validpgpkeys = B1B70BB1CD56047DEF31DE2EB62C3D10C54D5DA9
	sha256sums = 0f426b24e93a381926737f81b10df535c85fd8c1bb50886d968bd15b1dee783e
	sha256sums = 0d07ea5cb0ea0bf55abd3b5392d5ab38852638b5b306e5c247311a56a6c56763

pkgname = cachyos-handheld
