pkgbase = cachyos-handheld
	pkgdesc = CachyOS - Handheld!
	pkgver = 1.4.0
	pkgrel = 1
	url = https://github.com/CachyOS/CachyOS-Handheld
	install = cachyos-handheld.install
	arch = any
	license = GPL-3.0-later
	makedepends = git
	depends = cachyos-alacritty-config
	depends = cachyos-vapor
	depends = gamescope-session-cachyos
	depends = jupiter-hw-support
	depends = lib32-gamescope
	depends = mangohud
	depends = mesa-utils
	depends = plasma-login-manager
	depends = scx-scheds
	depends = steamos-jupiter-stable
	provides = cachyos-deckify
	replaces = cachyos-deckify
	options = !strip
	options = !debug
	source = git+https://github.com/CachyOS/CachyOS-Handheld?signed#tag=1.4.0
	validpgpkeys = E8B9AA39F054E30E8290D492C3C4820857F654FE
	validpgpkeys = B1B70BB1CD56047DEF31DE2EB62C3D10C54D5DA9
	validpgpkeys = E18447AC260021D31F3FF6C4C8A2A4774B8B63C4
	sha256sums = a9855b4567db7a313431412e5253f68eb1412f58a9c70fd5ad53e006185363f9

pkgname = cachyos-handheld
