pkgbase = cachyos-handheld
	pkgdesc = CachyOS - Handheld!
	pkgver = 1.3.0
	pkgrel = 1
	url = https://github.com/CachyOS/CachyOS-Handheld
	install = cachyos-handheld.install
	arch = any
	license = GPL-3.0-later
	makedepends = git
	depends = gamescope-session-cachyos
	depends = mangohud
	depends = jq
	depends = dmidecode
	depends = glew
	depends = glfw
	depends = glxinfo
	depends = curl
	depends = tar
	depends = scx-scheds
	depends = scx-tools
	depends = qt6-tools
	depends = jupiter-hw-support
	depends = lib32-gamescope
	depends = cachyos-vapor
	depends = cachyos-alacritty-config
	depends = steam
	depends = plasma-login-manager
	provides = cachyos-deckify
	replaces = cachyos-deckify
	options = !strip
	options = !debug
	source = git+https://github.com/CachyOS/CachyOS-Handheld?signed#tag=1.3.0
	validpgpkeys = E8B9AA39F054E30E8290D492C3C4820857F654FE
	validpgpkeys = B1B70BB1CD56047DEF31DE2EB62C3D10C54D5DA9
	sha256sums = b0da4ff04cf09b1b70c6f023c7fbb666c50efb0534e576a487634fb728494a88

pkgname = cachyos-handheld
