pkgbase = chromium-bolt
	pkgdesc = A web browser built for speed, simplicity, and security
	pkgver = 123.0.6312.58
	pkgrel = 1
	url = https://www.chromium.org/Home
	arch = x86_64
	license = BSD-3-Clause
	makedepends = python
	makedepends = gn
	makedepends = ninja
	makedepends = clang
	makedepends = lld
	makedepends = gperf
	makedepends = nodejs
	makedepends = pipewire
	makedepends = rust
	makedepends = qt5-base
	makedepends = java-runtime-headless
	makedepends = git
	makedepends = xorg-server-xvfb
	makedepends = perf
	makedepends = llvm-bolt
	depends = gtk3
	depends = nss
	depends = alsa-lib
	depends = xdg-utils
	depends = libxss
	depends = libcups
	depends = libgcrypt
	depends = ttf-liberation
	depends = systemd
	depends = dbus
	depends = libpulse
	depends = pciutils
	depends = libva
	depends = libffi
	depends = desktop-file-utils
	depends = hicolor-icon-theme
	depends = fontconfig
	depends = brotli
	depends = libjpeg
	depends = icu
	depends = dav1d
	depends = flac
	depends = libxml2
	depends = libwebp
	depends = minizip
	depends = opus
	depends = harfbuzz
	depends = libxslt
	depends = libpng
	depends = freetype2
	optdepends = pipewire: WebRTC desktop sharing under Wayland
	optdepends = kdialog: support for native dialogs in Plasma
	optdepends = qt5-base: enable Qt5 with --enable-features=AllowQt
	optdepends = gtk4: for --gtk-version=4 (GTK4 IME might work better on Wayland)
	optdepends = org.freedesktop.secrets: password storage backend on GNOME / Xfce
	optdepends = kwallet: support for storing passwords in KWallet on Plasma
	conflicts = chromium
	options = !strip
	options = !lto
	source = https://commondatastorage.googleapis.com/chromium-browser-official/chromium-123.0.6312.58.tar.xz
	source = https://github.com/foutrelis/chromium-launcher/archive/v8/chromium-launcher-8.tar.gz
	source = https://gitlab.com/Matt.Jolly/chromium-patches/-/archive/123/chromium-patches-123.tar.bz2
	source = drop-flag-unsupported-by-clang17.patch
	source = compiler-rt-adjust-paths.patch
	source = use-oauth2-client-switches-as-default.patch
	source = relocs.patch
	source = relocs2.patch
	source = profiler.py
	source = 0001-vaapi-flag-ozone-wayland.patch
	source = 0001-adjust-buffer-format-order.patch
	source = 0001-enable-linux-unstable-deb-target.patch
	source = 0001-ozone-wayland-implement-text_input_manager_v3.patch
	source = 0001-ozone-wayland-implement-text_input_manager-fixes.patch
	sha256sums = f8dae4a2ff7b00bb44fa136c2101638fea4f232e4819be3f73381ddc0d3bf718
	sha256sums = 213e50f48b67feb4441078d50b0fd431df34323be15be97c55302d3fdac4483a
	sha256sums = 488f02af92b148eaa91ad5015b3bf383dfc8618ebafe9c3c250cd4c7f4e27b19
	sha256sums = 3bd35dab1ded5d9e1befa10d5c6c4555fe0a76d909fb724ac57d0bf10cb666c1
	sha256sums = b3de01b7df227478687d7517f61a777450dca765756002c80c4915f271e2d961
	sha256sums = e393174d7695d0bafed69e868c5fbfecf07aa6969f3b64596d0bae8b067e1711
	sha256sums = 5ed8adfca50f753ce1ad26f106b2ffa33dec70ea65040726a01b717a8b02736c
	sha256sums = 8ae352875a1f01191eb5d4889f93d75999a6310aff91e2f4f337d5b2729fad4b
	sha256sums = 272ea2273efd0ed89d655fd84f4e78f02f90801509e8a32311669b2648950809
	sha256sums = 9a5594293616e1390462af1f50276ee29fd6075ffab0e3f944f6346cb2eb8aec
	sha256sums = 8ba5c67b7eb6cacd2dbbc29e6766169f0fca3bbb07779b1a0a76c913f17d343f
	sha256sums = 2a44756404e13c97d000cc0d859604d6848163998ea2f838b3b9bb2c840967e3
	sha256sums = d9974ddb50777be428fd0fa1e01ffe4b587065ba6adefea33678e1b3e25d1285
	sha256sums = a2da75d0c20529f2d635050e0662941c0820264ea9371eb900b9d90b5968fa6a

pkgname = chromium-bolt
