pkgbase = cachyos-kdump-tools
	pkgdesc = Utility for easy creation of kernel dumps after panics
	pkgver = 1.0.5
	pkgrel = 1
	url = https://github.com/CachyOS/cachyos-kdump-tools
	install = cachyos-kdump-tools.install
	arch = any
	license = GPL-3.0-or-later
	depends = kexec-tools
	depends = makedumpfile
	depends = mkinitcpio
	depends = systemd
	optdepends = linux-cachyos-dbg: For analyzing dumps
	optdepends = crash: For analyzing dumps
	source = git+https://github.com/CachyOS/cachyos-kdump-tools#tag=1.0.5
	sha256sums = 977f21c1561df42d58c975f5519f8dcee603d3f19f669b4af038a81d12ad33d4

pkgname = cachyos-kdump-tools
