pkgbase = cachyos-kdump-tools
	pkgdesc = Utility for easy creation of kernel dumps after panics
	pkgver = 1.1.1
	pkgrel = 1
	url = https://github.com/CachyOS/cachyos-kdump-tools
	install = cachyos-kdump-tools.install
	arch = any
	license = GPL-3.0-or-later
	depends = kexec-tools
	depends = makedumpfile
	depends = systemd
	optdepends = linux-cachyos-dbg: For analyzing dumps
	optdepends = crash: For analyzing dumps
	optdepends = drgn: For analyzing dumps
	source = git+https://github.com/CachyOS/cachyos-kdump-tools#tag=1.1.1
	sha256sums = 3481e0f7458b2f488ab82db9d1a4fb27e5475cea6e81b0226895398b88a23ae3

pkgname = cachyos-kdump-tools
