pkgbase = cachyos-kdump-tools
	pkgdesc = Utility for easy creation of kernel dumps after panics
	pkgver = 1.0.6
	pkgrel = 1
	url = https://github.com/CachyOS/cachyos-kdump-tools
	install = cachyos-kdump-tools.install
	arch = any
	license = GPL-3.0-or-later
	depends = kexec-tools
	depends = makedumpfile
	depends = mkinitcpio
	depends = systemd
	optdepends = linux-cachyos-dbg: For analyzing dumps
	optdepends = crash: For analyzing dumps
	source = git+https://github.com/CachyOS/cachyos-kdump-tools#tag=1.0.6
	sha256sums = f00b73784d7293dcbec081d1f1588dfa20ef7c7bb860b1683e86f7686b6cd36c

pkgname = cachyos-kdump-tools
