pkgbase = netbird
	install = netbird.install
	pkgdesc = WireGuard-based overlay network: client
	pkgver = 0.79.0
	pkgrel = 1
	url = https://netbird.io
	arch = i686
	arch = pentium4
	arch = x86_64
	arch = arm
	arch = armv7h
	arch = armv6h
	arch = aarch64
	arch = riscv64
	license = BSD-3-Clause
	makedepends = go
	depends = glibc
	optdepends = resolvconf: Private DNS
	replaces = wiretrustee
	backup = etc/default/netbird
	source = netbird-0.79.0.tar.gz::https://github.com/netbirdio/netbird/archive/refs/tags/v0.79.0.tar.gz
	sha256sums = a74f9c260ef48cdf8332ffd5379114550f8ed3fe5cf8457449af80b1b9f17dc6

pkgname = netbird
