pkgbase = llvm-git
	pkgdesc = LLVM Toolchain with clang, clang-tools-extra, compiler-rt, openmp, polly, lldb, lld
	pkgver = 16.0.0_r436660.525a400c7ca5
	pkgrel = 1
	url = https://llvm.org/
	arch = x86_64
	license = custom:Apache 2.0 with LLVM Exception
	makedepends = git
	makedepends = ninja
	makedepends = cmake
	makedepends = ocaml>=4.13.1
	makedepends = ocaml-ctypes
	makedepends = ocaml-findlib
	makedepends = python-setuptools
	makedepends = python-psutil
	makedepends = python-sphinx
	makedepends = python-recommonmark
	makedepends = clang
	makedepends = lld
	makedepends = llvm-libs
	makedepends = llvm
	makedepends = mold
	depends = libelf
	depends = libffi
	depends = libedit
	depends = libxml2
	depends = ncurses
	provides = aur-llvm-git
	provides = compiler-rt-git
	provides = clang-git
	provides = lldb-git
	provides = lld-git
	provides = polly-git
	provides = aur-llvm-libs-git
	provides = llvm-libs
	provides = polly-git
	provides = openmp-git
	provides = mlir-git
	provides = pstl-git
	provides = llvm
	provides = compiler-rt
	provides = clang
	provides = lldb
	provides = polly
	provides = lld
	provides = openmp
	provides = pstl
	provides = mlir
	provides = libc++
	provides = libc++abi
	provides = libc++experimental
	conflicts = llvm
	conflicts = compiler-rt
	conflicts = clang
	conflicts = lldb
	conflicts = polly
	conflicts = lld
	conflicts = llvm-libs
	conflicts = openmp
	conflicts = pstl
	conflicts = mlir
	conflicts = libc++abi
	conflicts = libc++experimental
	conflicts = libc++
	options = staticlibs
	source = llvm-project::git+https://github.com/llvm/llvm-project.git
	source = llvm-config.h
	source = improve-kernel-compile.patch
	sha256sums = SKIP
	sha256sums = 597dc5968c695bbdbb0eac9e8eb5117fcd2773bc91edf5ec103ecffffab8bc48
	sha256sums = 593ed385298623711070dffce9225cb448dfc29f30c9d950887882b19bd124fb
	makedepends_x86_64 = lib32-gcc-libs

pkgname = llvm-git
