pkgbase = tuned-cachy
	pkgdesc = Daemon that performs monitoring and adaptive configuration of devices in the system
	pkgver = 2.27.0
	pkgrel = 1
	url = https://github.com/redhat-performance/tuned
	arch = any
	license = GPL-2.0-or-later
	makedepends = desktop-file-utils
	depends = ethtool
	depends = gawk
	depends = hdparm
	depends = polkit
	depends = perf
	depends = python-configobj
	depends = python-dbus
	depends = python-gobject
	depends = python-linux-procfs
	depends = python-pyudev
	source = git+https://github.com/cachyos/tuned#commit=1aafbc3519a25fb3ef12744eaac25ea304019a71
	sha512sums = c3e2bb6cac5b3612e6ca3707b24ddc972fba8e2a358c9f0f0ca161c6c6bf9bfcf3006ecc9e5c532e3c868a81d518b1555048571a215c6b214e812991b011d4dd

pkgname = tuned-cachy
	optdepends = virt-what: Virtual machine detection
	optdepends = systemtap: Detailed system monitoring
	optdepends = tuned-cachy-ppd: power-profiles-daemon api translation
	optdepends = wireless_tools: Wireless device power management
	optdepends = x86_energy_perf_policy: Energy Performance Bias (EPB) support
	provides = tuned
	conflicts = tuned
	backup = etc/tuned/active_profile
	backup = etc/tuned/bootcmdline
	backup = etc/tuned/cpu-partitioning-powersave-variables.conf
	backup = etc/tuned/cpu-partitioning-variables.conf
	backup = etc/tuned/post_loaded_profile
	backup = etc/tuned/profile_mode
	backup = etc/tuned/realtime-variables.conf
	backup = etc/tuned/realtime-virtual-guest-variables.conf
	backup = etc/tuned/realtime-virtual-host-variables.conf
	backup = etc/tuned/tuned-main.conf

pkgname = tuned-cachy-ppd
	pkgdesc = Daemon that allows applications to easily transition to TuneD from power-profiles-daemon (PPD)
	depends = tuned-cachy
	depends = python-pyinotify
	provides = tuned-ppd
	provides = power-profiles-daemon
	conflicts = tuned-ppd
	conflicts = power-profiles-daemon
	backup = etc/tuned/ppd.conf
