pkgbase = tuned-cachy
	pkgdesc = Daemon that performs monitoring and adaptive configuration of devices in the system
	pkgver = 2.28.0
	pkgrel = 2
	url = https://github.com/redhat-performance/tuned
	arch = any
	license = GPL-2.0-or-later
	makedepends = desktop-file-utils
	makedepends = git
	makedepends = python-pyinotify
	depends = ethtool
	depends = gawk
	depends = hdparm
	depends = polkit
	depends = perf
	depends = python-configobj
	depends = python-dbus
	depends = python-gobject
	depends = python-linux-procfs
	depends = python-pyudev
	source = git+https://github.com/cachyos/tuned#commit=71854de54954a33e6787aa9578d8f4d6298d6bca
	sha512sums = fe2ad49085a5229aa252bb678be295cc7e51cf132ec30cd364803ddb6ae1ad31d4d47269e29840fed97c29bf82a2c4635b6bd3be220bbf730bef720ce48ddb0e

pkgname = tuned-cachy
	optdepends = virt-what: Virtual machine detection
	optdepends = systemtap: Detailed system monitoring
	optdepends = tuned-cachy-ppd: power-profiles-daemon api translation
	optdepends = wireless_tools: Wireless device power management
	optdepends = x86_energy_perf_policy: Energy Performance Bias (EPB) support
	provides = tuned
	conflicts = tuned
	backup = etc/tuned/active_profile
	backup = etc/tuned/bootcmdline
	backup = etc/tuned/cpu-partitioning-powersave-variables.conf
	backup = etc/tuned/cpu-partitioning-variables.conf
	backup = etc/tuned/post_loaded_profile
	backup = etc/tuned/profile_mode
	backup = etc/tuned/realtime-variables.conf
	backup = etc/tuned/realtime-virtual-guest-variables.conf
	backup = etc/tuned/realtime-virtual-host-variables.conf
	backup = etc/tuned/tuned-main.conf

pkgname = tuned-cachy-ppd
	pkgdesc = Daemon that allows applications to easily transition to TuneD from power-profiles-daemon (PPD)
	depends = tuned-cachy
	depends = python-pyinotify
	provides = tuned-ppd
	provides = power-profiles-daemon
	conflicts = tuned-ppd
	conflicts = power-profiles-daemon
	backup = etc/tuned/ppd.conf
