pkgbase = gamescope-plus
	pkgdesc = SteamOS session compositing window manager with added patches
	pkgver = 3.14.18.plus1
	pkgrel = 2
	url = https://github.com/ChimeraOS/gamescope
	arch = x86_64
	license = BSD
	makedepends = benchmark
	makedepends = git
	makedepends = glslang
	makedepends = meson
	makedepends = ninja
	makedepends = vulkan-headers
	makedepends = wayland-protocols
	depends = gcc-libs
	depends = glibc
	depends = glm
	depends = libavif
	depends = libcap.so
	depends = libdisplay-info.so
	depends = libglvnd
	depends = libdecor
	depends = libdrm
	depends = libinput
	depends = libpipewire-0.3.so
	depends = libpixman-1.so
	depends = libseat.so
	depends = libudev.so
	depends = libvulkan.so
	depends = libx11
	depends = libxcb
	depends = libxcomposite
	depends = libxdamage
	depends = libxext
	depends = libxfixes
	depends = libxkbcommon.so
	depends = libxmu
	depends = libxrender
	depends = libxres
	depends = libxtst
	depends = libxxf86vm
	depends = opengl-driver
	depends = openvr
	depends = sdl2
	depends = vulkan-icd-loader
	depends = wayland
	depends = xcb-util-errors
	depends = xcb-util-renderutil
	depends = xcb-util-wm
	depends = xorg-server-xwayland
	provides = gamescope
	conflicts = gamescope
	source = git+https://github.com/ChimeraOS/gamescope.git#commit=680e3a3675f7bc10472f79eafc6fffa6a8695c04
	source = git+https://github.com/nothings/stb.git#commit=af1a5bc352164740c1cc1354942b1c6b72eacb8a
	source = git+https://github.com/Joshua-Ashton/GamescopeShaders.git#tag=v0.1
	source = git+https://github.com/Joshua-Ashton/reshade.git
	source = git+https://github.com/KhronosGroup/SPIRV-Headers.git
	source = 0001-explicit-sync.patch
	b2sums = 4291b52c1d7ee39f80a071f68ac2673b44cc5c150232ba588b30067530e359b37a2b3879a82cdad093525a3518e1d849e4b3a33975cafa584b61e736a8e07e52
	b2sums = db31478999287cc5b08cc7d98d1daa43a27b339b3ad975269710bd719d30e9f1cf5ee240ee7e2a8d8551f20fa46da14acd669cb207b26a18d79b360e718ff55b
	b2sums = ca268553bc3dacb5bd19553702cd454ea78ed97ab39d4397c5abf9a27d32633b63e0f7f7bf567b56066e6ecd979275330e629ba202a6d7721f0cd8166cd110dd
	b2sums = SKIP
	b2sums = SKIP
	b2sums = 7f5bcb715a5a7ee634692156610c5b03c650aaf881b88f81057443d361a8b0d4bfec7165274c67ab66e81a159923d27fbc9b72430d90c5be9badc6d7108c092d

pkgname = gamescope-plus
