pkgbase = bazaar
	pkgdesc = A new app store for GNOME with focus on flatpaks, particularly Flathub
	pkgver = 0.9.4
	pkgrel = 2
	url = https://github.com/kolunmi/bazaar
	arch = x86_64
	license = GPL-3.0-only
	makedepends = meson
	makedepends = ninja
	makedepends = gcc
	makedepends = pkgconf
	makedepends = git
	makedepends = glib2-devel
	makedepends = python-babel
	makedepends = blueprint-compiler
	depends = glibc
	depends = libgcc
	depends = glib2
	depends = gtk4
	depends = glycin-gtk4
	depends = json-glib
	depends = glycin
	depends = cairo
	depends = pango
	depends = graphene
	depends = gtksourceview5
	depends = flatpak
	depends = appstream
	depends = dconf
	depends = md4c
	depends = webkitgtk-6.0
	depends = hicolor-icon-theme
	depends = libadwaita
	depends = liburing
	depends = libheif
	depends = libxmlb
	depends = libyaml
	depends = libsoup3
	depends = libsecret
	depends = libproxy
	depends = libmalcontent
	depends = malcontent
	optdepends = krunner-bazaar: krunner integration
	source = git+https://github.com/kolunmi/bazaar#tag=v0.9.4
	sha256sums = 74aad31514c18c06d93ea3936b7be51e15336c2095732bdd51083026402ee93d

pkgname = bazaar
