pkgbase = plasma-login-manager
	pkgdesc = Plasma Login provides a display manager for KDE Plasma, forked from SDDM and with a new frontend providing a greeter, wallpaper plugin integration and System Settings module (KCM).
	pkgver = r1711.5502c1b
	pkgrel = 1
	url = https://invent.kde.org/davidedmundson/plasma-login-manager
	arch = x86_64
	license = GPL-2.0-or-later
	makedepends = cmake
	makedepends = extra-cmake-modules
	makedepends = git
	depends = bash
	depends = gcc-libs
	depends = glibc
	depends = kauth
	depends = kcmutils
	depends = kconfig
	depends = kcoreaddons
	depends = kdbusaddons
	depends = ki18n
	depends = kio
	depends = kirigami
	depends = kpackage
	depends = kservice
	depends = kwindowsystem
	depends = layer-shell-qt
	depends = libplasma
	depends = libxau
	depends = pam
	depends = plasma-workspace
	depends = qt6-base
	depends = qt6-declarative
	depends = systemd-libs
	source = git+https://invent.kde.org/davidedmundson/plasma-login-manager.git#commit=5502c1b47264147e48489076ca267b7ec620c129
	source = plasmalogin
	source = plasmalogin-autologin
	source = plasmalogin-greeter
	sha256sums = 054c85117abbf7112e86677046c62287db5a100aec0173e1167736f3b64e4de3
	sha256sums = d7394292a65ae463926c2c3d2cb4e67bbfeb20995450c8e4c92fe5a28e7c4254
	sha256sums = 1a84cf752782b03b53f66188013bf7e4af4f5e6feb7266bfe58c3faaa20777b4
	sha256sums = 3406bce46be8450e28ddbccfbcd0e1f8fa585d57da8833ff7294cf3aee84bb46

pkgname = plasma-login-manager
