pkgbase = plasma-login-manager
	pkgdesc = Plasma Login Manager
	pkgver = 6.5.git20251209
	pkgrel = 1
	url = https://kde.org/plasma-desktop/
	arch = x86_64
	license = GPL-2.0-or-later
	makedepends = extra-cmake-modules
	makedepends = git
	makedepends = qt6-tools
	depends = gcc-libs
	depends = glibc
	depends = kauth
	depends = kcmutils
	depends = kconfig
	depends = kcoreaddons
	depends = kdbusaddons
	depends = ki18n
	depends = kio
	depends = kirigami
	depends = kpackage
	depends = kservice
	depends = kwindowsystem
	depends = layer-shell-qt
	depends = libplasma
	depends = libxau
	depends = pam
	depends = plasma-workspace
	depends = qt6-base
	depends = qt6-declarative
	depends = sh
	depends = systemd-libs
	source = git+https://invent.kde.org/plasma/plasma-login-manager#commit=eb769ccef2c239d2e49c50dfaceae9700f17e76e
	sha256sums = 18cf73f0278060687602b816ec48f0d75bd6fec0390232baceda7da65479ad13

pkgname = plasma-login-manager
