pkgbase = plasma-login-manager
	pkgdesc = Plasma Login Manager
	pkgver = 6.5.90
	pkgrel = 1
	url = https://kde.org/plasma-desktop/
	arch = x86_64
	license = GPL-2.0-or-later
	makedepends = extra-cmake-modules
	makedepends = git
	makedepends = qt6-tools
	depends = gcc-libs
	depends = glibc
	depends = kauth
	depends = kcmutils
	depends = kconfig
	depends = kcoreaddons
	depends = kdbusaddons
	depends = ki18n
	depends = kio
	depends = kirigami
	depends = kpackage
	depends = kservice
	depends = kwindowsystem
	depends = layer-shell-qt
	depends = libplasma
	depends = libxau
	depends = pam
	depends = plasma-workspace
	depends = qt6-5compat
	depends = qt6-base
	depends = qt6-declarative
	depends = sh
	depends = systemd-libs
	source = https://download.kde.org/unstable/plasma/6.5.90/plasma-login-manager-6.5.90.tar.xz
	source = drop-version.patch
	source = locale1.patch
	validpgpkeys = E0A3EB202F8E57528E13E72FD7574483BB57B18D
	validpgpkeys = 0AAC775BB6437A8D9AF7A3ACFE0784117FBCE11D
	validpgpkeys = D07BD8662C56CB291B316EB2F5675605C74E02CF
	validpgpkeys = 1FA881591C26B276D7A5518EEAAF29B42A678C20
	sha256sums = a2b188264c6447a69c48ede53260c8e0910fbc68290deddbae1e13489fdd628d
	sha256sums = 8a8d1870ff548cf8c98ea4696f0f1e9b8400f134bcaec231fd5cce7c6eb04ef1
	sha256sums = a0e89c9a9fd99ffd4b1f6f7189114be0359a13955f4bf1d9a15d11e97806b886

pkgname = plasma-login-manager
