pkgbase = limine
	pkgdesc = An advanced, portable, multiprotocol bootloader
	pkgver = 11.2.0
	pkgrel = 2
	url = https://limine-bootloader.org/
	install = limine.install
	arch = x86_64
	license = BSD-2-Clause
	makedepends = git
	makedepends = nasm
	makedepends = mtools
	makedepends = llvm
	makedepends = lld
	makedepends = clang
	depends = glibc
	source = git+https://codeberg.org/Limine/limine.git#tag=v11.2.0?signed
	validpgpkeys = 05D29860D0A0668AAEFB9D691F3C021BECA23821
	sha256sums = 0515d3bbffd4c3e7e8b5665cbdf6e4607841be0a5d8106684cf4463fdc64f5a2

pkgname = limine
