pkgbase = limine
	pkgdesc = An advanced, portable, multiprotocol bootloader
	pkgver = 12.9.2
	pkgrel = 2
	url = https://limine-bootloader.org/
	arch = x86_64
	license = BSD-2-Clause
	makedepends = git
	makedepends = nasm
	makedepends = mtools
	makedepends = llvm
	makedepends = lld
	makedepends = clang
	depends = glibc
	source = git+https://github.com/Limine-Bootloader/Limine.git#tag=v12.9.2?signed
	validpgpkeys = 05D29860D0A0668AAEFB9D691F3C021BECA23821
	sha256sums = 78566a3ad1114b99b732d270d68e98956a87b1d75a81ab334d59beb1edce2e54

pkgname = limine
