pkgbase = limine
	pkgdesc = An advanced, portable, multiprotocol bootloader
	pkgver = 11.2.1
	pkgrel = 2
	url = https://limine-bootloader.org/
	arch = x86_64
	license = BSD-2-Clause
	makedepends = git
	makedepends = nasm
	makedepends = mtools
	makedepends = llvm
	makedepends = lld
	makedepends = clang
	depends = glibc
	source = git+https://codeberg.org/Limine/limine.git#tag=v11.2.1?signed
	validpgpkeys = 05D29860D0A0668AAEFB9D691F3C021BECA23821
	sha256sums = 1372b7513f691b9d1f4d9dc25464cee8dea63cdad6a5a798995c0b9c8a3a6019

pkgname = limine
