pkgbase = pop-icon-theme
	pkgdesc = System76 Pop Icon Theme
	pkgver = 3.5.0
	pkgrel = 1
	url = https://github.com/pop-os/icon-theme
	arch = any
	license = CCPL
	makedepends = git
	makedepends = meson
	depends = adwaita-icon-theme
	source = pop-icon-theme::git+https://github.com/pop-os/icon-theme.git#tag=3126c6a3f605923c648e74e7276b9de59d4ab67a
	b2sums = 963f155a2835328d7c385e88b3a321735470bf07e660c81610b81de2610720a2c537fd88dc62bea7e6aea770bde9c7d88513e0629fb52540890c47b0ddbfd043

pkgname = pop-icon-theme
