pkgbase = pop-icon-theme
	pkgdesc = System76 Pop Icon Theme
	pkgver = 3.5.0
	pkgrel = 1
	url = https://github.com/pop-os/icon-theme
	arch = any
	license = CCPL
	makedepends = git
	makedepends = meson
	depends = adwaita-icon-theme
	source = pop-icon-theme::git+https://github.com/pop-os/icon-theme.git#tag=3126c6a3f605923c648e74e7276b9de59d4ab67a
	b2sums = f94d60b0ae862b9ec1496e0441021367112b2db790c7299db0046b551817ce56c033fae8d66e25ea95bab68c18e80dc61d984d4ae00742232f549e90705445af

pkgname = pop-icon-theme
