pkgbase = lib32-zstd
	pkgdesc = Zstandard - Fast real-time compression algorithm (32-bit)
	pkgver = 1.5.3
	pkgrel = 1
	url = https://facebook.github.io/zstd/
	arch = x86_64
	license = BSD
	license = GPL2
	makedepends = gtest
	depends = zstd
	depends = lib32-glibc
	provides = libzstd.so
	source = git+https://github.com/facebook/zstd.git#commit=5d2fb4288f8230cc32c12f235b716fd25ecc89e1
	sha256sums = SKIP

pkgname = lib32-zstd
