pkgbase = steamos-manager
	pkgdesc = SteamOS Manager daemon for running various system management tasks
	pkgver = 25.7.0
	pkgrel = 1
	url = https://store.steampowered.com/steamos/
	install = steamos-manager.install
	arch = x86_64
	license = MIT
	makedepends = git
	makedepends = cargo
	depends = dbus
	depends = gamescope-session-steam-git
	depends = gcc-libs
	depends = glibc
	depends = steamos-networking-tools
	depends = systemd
	depends = systemd-libs
	depends = wireless_tools
	optdepends = jupiter-hw-support: jupiter support
	source = git+https://gitlab.steamos.cloud/holo/steamos-manager.git#tag=v25.7.0
	source = support-gamescope-session-steam.patch
	source = more-devices.patch
	sha256sums = 64359a249bbecfc7d47be8bf6a1764be2b95b9f65c7197a024e8f7323dc429d9
	sha256sums = f32e80f4a07858856a1ad433bc305406e892710e7f43963cf67e06c4cde13f83
	sha256sums = 2dbc5a53867dc25ccfb1676c59b2eddd75da8a85f970189c375a36035886abf6

pkgname = steamos-manager
