pkgbase = steamos-manager
	pkgdesc = SteamOS Manager daemon for running various system management tasks
	pkgver = 25.5.5
	pkgrel = 1
	url = https://store.steampowered.com/steamos/
	install = steamos-manager.install
	arch = x86_64
	license = MIT
	makedepends = git
	makedepends = cargo
	depends = dbus
	depends = gamescope-session-steam-git
	depends = gcc-libs
	depends = glibc
	depends = steamos-networking-tools
	depends = systemd
	depends = systemd-libs
	depends = wireless_tools
	optdepends = jupiter-hw-support: jupiter support
	source = git+https://gitlab.steamos.cloud/holo/steamos-manager.git#tag=v25.5.5
	source = support-gamescope-session-steam.patch
	source = more-devices.patch
	sha256sums = bf3bb3f44de1a2e1af02c0cf690330408247ebd8847b854d2a0ed3cb1a0592d4
	sha256sums = 9eed907b8cb6dfcc0bf8d891ab214d734687c7714ebb44caf4b5581851fbe9b8
	sha256sums = a54c8b096f462719cc9d236429d5ca55c5866dd345edc91a58e4397555ec4311

pkgname = steamos-manager
