pkgbase = cachyos-gnome-settings
	pkgdesc = CachyOS GNOME settings
	pkgver = 1.0.7
	pkgrel = 1
	url = https://github.com/cachyos/cachyos-gnome-settings
	install = cachyos-gnome-settings.install
	arch = any
	license = GPL
	makedepends = coreutils
	depends = cachyos-fish-config
	depends = ttf-firacode-nerd
	depends = noto-fonts
	depends = ttf-fira-sans
	depends = kvantum-qt5
	depends = qt5ct
	depends = gnome-autoar
	depends = gnome-bluetooth-3.0
	depends = gnome-calculator
	depends = gnome-color-manager
	depends = gnome-control-center
	depends = gnome-desktop
	depends = gnome-desktop-4
	depends = gnome-desktop-common
	depends = gnome-disk-utility
	depends = gnome-firmware
	depends = gnome-keyring
	depends = gnome-online-accounts
	depends = gnome-screenshot
	depends = gnome-session
	depends = gnome-settings-daemon
	depends = gnome-shell
	depends = gnome-system-monitor
	depends = gnome-terminal
	depends = gnome-themes-extra
	depends = gnome-tweaks
	depends = char-white
	depends = capitaine-cursors
	depends = cachyos-wallpapers
	depends = kvantum-theme-nordic-git
	depends = gnome-shell-extension-dash-to-dock
	depends = gnome-shell-extension-appindicator
	depends = gnome-shell-extension-pop-shell-git
	depends = gnome-shell-extension-gnome-ui-tune-git
	depends = nordic-theme-git
	provides = cachyos-desktop-settings
	conflicts = cachyos-desktop-settings
	source = cachyos-gnome-settings-1.0.7.tar.gz::https://github.com/cachyos/cachyos-gnome-settings/archive/1.0.7.tar.gz
	sha512sums = f295b42d2e2ea810c718099fbc8c572b04dd064e6ee8400c404fdd44d856e2138138ae0f6d5967ddb048d46771d065f4fb62aa718a7229c429c0dc6d3aebd91d

pkgname = cachyos-gnome-settings
