pkgbase = cachyos-gnome-settings
	pkgdesc = CachyOS GNOME settings
	pkgver = 1.2.0
	pkgrel = 1
	url = https://github.com/cachyos/cachyos-gnome-settings
	install = cachyos-gnome-settings.install
	arch = any
	license = GPL-1.0-only
	makedepends = coreutils
	depends = adw-gtk-theme
	depends = gnome-control-center
	depends = gnome-keyring
	depends = gnome-session
	depends = gnome-settings-daemon
	depends = gnome-shell
	provides = cachyos-desktop-settings
	conflicts = cachyos-desktop-settings
	source = cachyos-gnome-settings-1.2.0.tar.gz::https://github.com/cachyos/cachyos-gnome-settings/archive/1.2.0.tar.gz
	sha512sums = 6c2bd71c28a81c7cd5af624ba3f988c995553b7f7def59292fe3ef63e88834d140d09f9c4b33011b28849b1a4524a23fdd4067df67ebe327830426876e0c4583

pkgname = cachyos-gnome-settings
