pkgbase = cachyos-niri-noctalia
	pkgdesc = CachyOS Niri (+Noctalia) settings
	pkgver = 1.4.0
	pkgrel = 1
	url = https://github.com/cachyos/cachyos-niri-noctalia
	arch = any
	license = GPL-3.0-only
	makedepends = coreutils
	makedepends = git
	depends = adw-gtk-theme
	depends = cachyos-alacritty-config
	depends = capitaine-cursors
	depends = gnome-keyring
	depends = niri
	depends = noctalia
	depends = noto-fonts
	depends = noto-fonts-emoji
	depends = wl-clipboard
	depends = xdg-desktop-portal-gnome
	depends = xdg-desktop-portal-gtk
	depends = xwayland-satellite
	provides = cachyos-desktop-settings
	conflicts = cachyos-desktop-settings
	source = git+https://github.com/cachyos/cachyos-niri-noctalia#tag=1.4.0
	sha512sums = cbecb424b8b26e4cc4f5fcca563c459524891d720a2789ef2ec101f7d2cc582cb4d53003cd43e036dd4fe3f5d06a47b28e25955d3c92b197c7ee30aca7dddedb

pkgname = cachyos-niri-noctalia
