pkgbase = cachyos-niri-noctalia
	pkgdesc = CachyOS Niri (+Noctalia) settings
	pkgver = 1.1.0
	pkgrel = 1
	url = https://github.com/cachyos/cachyos-niri-noctalia
	install = cachyos-niri-noctalia.install
	arch = any
	license = GPL-3.0-only
	makedepends = coreutils
	makedepends = git
	depends = adw-gtk-theme
	depends = cachyos-alacritty-config
	depends = capitaine-cursors
	depends = gnome-keyring
	depends = niri
	depends = noctalia-shell
	depends = noto-fonts
	depends = noto-fonts-emoji
	depends = wl-clipboard
	depends = xdg-desktop-portal-gnome
	depends = xdg-desktop-portal-gtk
	depends = xwayland-satellite
	provides = cachyos-desktop-settings
	conflicts = cachyos-desktop-settings
	source = git+https://github.com/cachyos/cachyos-niri-noctalia#tag=1.1.0
	sha512sums = 4e19d7333fb99488984fc83169202acfba997d175a5800d0645465ac771823b9852dbed63b77bf93bb08161a8f40066911e2e107c3d03843bf494f2882cae142

pkgname = cachyos-niri-noctalia
