pkgbase = cachyos-niri-noctalia
	pkgdesc = CachyOS Niri (+Noctalia) settings
	pkgver = 1.0.0
	pkgrel = 4
	url = https://github.com/cachyos/cachyos-niri-noctalia
	arch = any
	license = GPL-3.0-only
	makedepends = coreutils
	makedepends = git
	depends = adw-gtk-theme
	depends = cachyos-alacritty-config
	depends = ttf-fantasque-nerd
	depends = ttf-font-awesome
	depends = otf-font-awesome
	depends = awesome-terminal-fonts
	depends = noto-fonts
	depends = noto-fonts-emoji
	depends = ttf-fira-sans
	depends = ttf-hack
	depends = kvantum
	depends = qt5ct
	depends = niri
	depends = noctalia-shell
	depends = xdg-desktop-portal-gnome
	depends = xwayland-satellite
	depends = pamixer
	depends = wl-clipboard
	depends = polkit-kde-agent
	depends = xorg-xwayland
	depends = capitaine-cursors
	depends = cachyos-wallpapers
	depends = kvantum-theme-nordic-git
	depends = brightnessctl
	depends = cachyos-nord-gtk-theme-git
	provides = cachyos-desktop-settings
	conflicts = cachyos-desktop-settings
	source = git+https://github.com/cachyos/cachyos-niri-noctalia#commit=497b23b1fe9aeebffeab8e04f6a60bf0971296d5
	sha512sums = fa090918b66128c8fc674fd09e73960e44a56c6c17d063e88187f205dd09cdb473528a0cebf40318a2d341230734c9739e4f8b28b936d2a19a37c937f4a2827d

pkgname = cachyos-niri-noctalia
