pkgbase = arch-install-scripts
	pkgdesc = Scripts to aid in installing Arch Linux
	pkgver = 31
	pkgrel = 3
	url = https://gitlab.archlinux.org/archlinux/arch-install-scripts
	arch = any
	license = GPL-2.0-only
	makedepends = asciidoc
	makedepends = git
	depends = awk
	depends = bash
	depends = coreutils
	depends = grep
	depends = pacman
	depends = util-linux
	source = git+https://gitlab.archlinux.org/archlinux/arch-install-scripts.git#tag=v31?signed
	source = https://github.com/CachyOS/arch-install-scripts/commit/6f52dcbeb02cb096d5b14589df42f69d06c9effc.patch
	validpgpkeys = C100346676634E80C940FB9E9C02FF419FECBE16
	sha256sums = 77b4f4eb96ecb6031e3ed0ff4c68de1fbeb28deae9615cfe91e2632c1fe629e2
	sha256sums = 2466083c908ac9ae62a72a0dc6d74dedf84365a8c2d514cf3e73feade1971825

pkgname = arch-install-scripts
