pkgbase = kodi
	pkgver = 20.3
	pkgrel = 6
	url = https://kodi.tv
	arch = x86_64
	license = GPL2
	makedepends = afpfs-ng
	makedepends = bluez-libs
	makedepends = cmake
	makedepends = curl
	makedepends = dav1d
	makedepends = doxygen
	makedepends = git
	makedepends = glew
	makedepends = gperf
	makedepends = hicolor-icon-theme
	makedepends = java-runtime<21
	makedepends = fmt
	makedepends = libaacs
	makedepends = libass
	makedepends = libbluray
	makedepends = libcdio
	makedepends = libcec
	makedepends = libgl
	makedepends = mariadb-libs
	makedepends = libmicrohttpd
	makedepends = libmodplug
	makedepends = libmpeg2
	makedepends = libnfs
	makedepends = libplist
	makedepends = libpulse
	makedepends = libva
	makedepends = libva-vdpau-driver
	makedepends = libxrandr
	makedepends = libxslt
	makedepends = lirc
	makedepends = lzo
	makedepends = mesa
	makedepends = nasm
	makedepends = pipewire
	makedepends = python-pycryptodomex
	makedepends = python-pillow
	makedepends = python-pybluez
	makedepends = python-simplejson
	makedepends = shairplay
	makedepends = smbclient
	makedepends = sndio
	makedepends = spdlog
	makedepends = taglib
	makedepends = tinyxml
	makedepends = swig
	makedepends = upower
	makedepends = giflib
	makedepends = rapidjson
	makedepends = ghostscript
	makedepends = meson
	makedepends = gtest
	makedepends = graphviz
	makedepends = pcre
	makedepends = wayland-protocols
	makedepends = waylandpp
	makedepends = libxkbcommon
	makedepends = libinput
	noextract = kodi-libdvdcss-1.4.3-Next-Nexus-Alpha2-2.tar.gz
	noextract = kodi-libdvdnav-6.1.1-Next-Nexus-Alpha2-2.tar.gz
	noextract = kodi-libdvdread-6.1.3-Next-Nexus-Alpha2-2.tar.gz
	noextract = kodi-ffmpeg-4.4.1-Nexus-Alpha1.tar.gz
	noextract = kodi-crossguid-ca1bf4b810e2d188d04cb6286f957008ee1b7681.tar.gz
	noextract = kodi-fstrcmp-0.7.D001.tar.gz
	noextract = kodi-flatbuffers-23.3.3.tar.gz
	noextract = kodi-libudfread-1.1.2.tar.gz
	options = !lto
	source = kodi-20.3-Nexus.tar.gz::https://github.com/xbmc/xbmc/archive/20.3-Nexus.tar.gz
	source = kodi-libdvdcss-1.4.3-Next-Nexus-Alpha2-2.tar.gz::https://github.com/xbmc/libdvdcss/archive/1.4.3-Next-Nexus-Alpha2-2.tar.gz
	source = kodi-libdvdnav-6.1.1-Next-Nexus-Alpha2-2.tar.gz::https://github.com/xbmc/libdvdnav/archive/6.1.1-Next-Nexus-Alpha2-2.tar.gz
	source = kodi-libdvdread-6.1.3-Next-Nexus-Alpha2-2.tar.gz::https://github.com/xbmc/libdvdread/archive/6.1.3-Next-Nexus-Alpha2-2.tar.gz
	source = kodi-ffmpeg-4.4.1-Nexus-Alpha1.tar.gz::https://github.com/xbmc/FFmpeg/archive/4.4.1-Nexus-Alpha1.tar.gz
	source = kodi-crossguid-ca1bf4b810e2d188d04cb6286f957008ee1b7681.tar.gz::https://mirrors.kodi.tv/build-deps/sources/crossguid-ca1bf4b810e2d188d04cb6286f957008ee1b7681.tar.gz
	source = kodi-fstrcmp-0.7.D001.tar.gz::https://mirrors.kodi.tv/build-deps/sources/fstrcmp-0.7.D001.tar.gz
	source = kodi-flatbuffers-23.3.3.tar.gz::https://mirrors.kodi.tv/build-deps/sources/flatbuffers-23.3.3.tar.gz
	source = kodi-libudfread-1.1.2.tar.gz::https://mirrors.kodi.tv/build-deps/sources/libudfread-1.1.2.tar.gz
	source = https://github.com/xbmc/xbmc/commit/35be40daa39965a9ea5b3569eb7d515e6a14da5d.patch
	source = 0001-ffmpeg-fix-build-with-binutils-update.patch
	source = https://github.com/xbmc/xbmc/pull/23227.patch
	source = https://github.com/xbmc/xbmc/commit/d2022ce1.patch
	source = https://github.com/xbmc/xbmc/commit/6f5dff4b.patch
	source = https://patch-diff.githubusercontent.com/raw/xbmc/xbmc/pull/24577.patch
	sha512sums = cdec1383d33f421828f0249ac2929980c6eaa39e345a8a364d9f3479f873029a15f3f6e6d40707fd2df2067a71bdaa3c6a1e26277074c31c631c71afe7465cb4
	sha512sums = d3be3bfc13c5ea56d8db745c2aab090c99760684fe4c8f62a13d266feb319e9180ceeecf8116bfd2ed90d9accba2c11dbbf93b61ad00f69a40812ebf4eabcdda
	sha512sums = 51e6fc033121241354a5f0b3fc9a430577ae3ff6bb7f31445aa548ef4893037fb80eea3b2c6774c81e9ebaf9c45e9b490c98c2c65eb38f9f7daba84b236f7e1d
	sha512sums = 629a41157d07b8ec0ea1fe89ae5ec48f63047472a862782b805c531ae31a0376fc4dc15175f8280c3ef91d7fa977bacebb1b51232640034a34bab2293210fc5e
	sha512sums = 8beb04d577b5251e74b0d52f4d130997a8ba94bbd488c7c8309e6b45095c27807e150212888ce3a384b23dff52f8df1a7bde5407bae924ddc363f8125c0616c5
	sha512sums = f0a80d8e99b10473bcfdfde3d1c5fd7b766959819f0d1c0595ac84ce46db9007a5fbfde9a55aca60530c46cb7f8ef4c7e472c6191559ded92f868589c141ccaf
	sha512sums = aaeb0227afd5ada5955cbe6a565254ff88d2028d677d199c00e03b7cb5de1f2c69b18e6e8b032e452350a8eda7081807b01765adbeb8476eaf803d9de6e5509c
	sha512sums = 4066c94f2473c7ea16917d29a613e16f840a329089c88e0bdbdb999aef3442ba00abfd2aa92266fa9c067e399dc88e6f0ccac40dc151378857e665638e78bbf0
	sha512sums = 3069feb5db40288beb5b112b285186162a704f0fdd3cf67a17fd4eeea015f2cfcfbb455b7aa7c3d79d00fd095a3fd11cffc7b121dce94d99c3b06a509a8977d2
	sha512sums = c05888d1ad11f9a33a578ddd2fdb705ccd385178f93f68c6af66d9361a16664f2efec7e92c3bdc2c5c93a979e973e6448ffd2b26dab6d120e1ce8a5ceb2bd948
	sha512sums = 6de9e7673022e74428a55ca1e761bdb70e0b6432faa3dae7a2306c197bc52616bffdc138073496c51aebee537079cfd768845f233d688eeea5440dfb5ba163ec
	sha512sums = 8c0eeb8dbc1e644b39bcdc98a47c6dfb78c206d19db7bc9597f4046eed000d515ac986a6c6806dd8f83f28fdf7ed84cfb295ee0652c769496d603b1f7529578d
	sha512sums = f4401073756f20eacb7ee06f5d4a581d505cca3129f66e57fd6f05f135d3261b19503f86e9da303cfd12b12bec8a33896c3574b8813891ef2569a9bdb5397903
	sha512sums = 4672c9f26f9934be7f3cf1bc3bb8f7fc5fb84cafde05541d2fc62df2355361da27cc0321905e183a90b7470d62c760dcd12d3668b99529afc185275a0c3df7f9
	sha512sums = 5dcaf77a76a738f39b23a681c4f80cb808e26aff0484b6b4d645e437c1d71ba9e7beedc80abb3e9e4785efb8e0b8b1097f3e399a110ef20fabd6348fc7a23e0b

pkgname = kodi
	pkgdesc = A software media player and entertainment hub for digital media (gl renderer)
	depends = bluez-libs
	depends = curl
	depends = dav1d
	depends = desktop-file-utils
	depends = hicolor-icon-theme
	depends = fmt
	depends = lcms2
	depends = libass
	depends = libbluray
	depends = libcdio
	depends = libcec
	depends = libmicrohttpd
	depends = libnfs
	depends = libplist
	depends = libpulse
	depends = libva
	depends = libvdpau
	depends = libxslt
	depends = lirc
	depends = lzo
	depends = mariadb-libs
	depends = mesa
	depends = libpipewire
	depends = python-pillow
	depends = python-pycryptodomex
	depends = python-simplejson
	depends = shairplay
	depends = smbclient
	depends = sndio
	depends = spdlog
	depends = sqlite
	depends = taglib
	depends = tinyxml
	depends = libxrandr
	depends = libxkbcommon
	depends = waylandpp
	depends = libinput
	depends = pcre
	optdepends = afpfs-ng: Apple shares support
	optdepends = bluez: Blutooth support
	optdepends = python-pybluez: Bluetooth support
	optdepends = pulseaudio: PulseAudio support
	optdepends = pipewire: PipeWire support
	optdepends = upower: Display battery level
	provides = kodi-common
	provides = kodi-x11
	provides = kodi-wayland
	provides = kodi-gbm
	conflicts = kodi-gles
	replaces = kodi-common
	replaces = kodi-x11
	replaces = kodi-wayland
	replaces = kodi-gbm

pkgname = kodi-gles
	pkgdesc = A software media player and entertainment hub for digital media (gles renderer)
	depends = bluez-libs
	depends = curl
	depends = dav1d
	depends = desktop-file-utils
	depends = hicolor-icon-theme
	depends = fmt
	depends = lcms2
	depends = libass
	depends = libbluray
	depends = libcdio
	depends = libcec
	depends = libmicrohttpd
	depends = libnfs
	depends = libplist
	depends = libpulse
	depends = libva
	depends = libvdpau
	depends = libxslt
	depends = lirc
	depends = lzo
	depends = mariadb-libs
	depends = mesa
	depends = libpipewire
	depends = python-pillow
	depends = python-pycryptodomex
	depends = python-simplejson
	depends = shairplay
	depends = smbclient
	depends = sndio
	depends = spdlog
	depends = sqlite
	depends = taglib
	depends = tinyxml
	depends = libxrandr
	depends = libxkbcommon
	depends = waylandpp
	depends = libinput
	depends = pcre
	optdepends = afpfs-ng: Apple shares support
	optdepends = bluez: Blutooth support
	optdepends = python-pybluez: Bluetooth support
	optdepends = pulseaudio: PulseAudio support
	optdepends = pipewire: PipeWire support
	optdepends = upower: Display battery level
	provides = kodi-common
	provides = kodi-x11
	provides = kodi-wayland
	provides = kodi-gbm
	provides = kodi
	conflicts = kodi
	replaces = kodi-common
	replaces = kodi-x11
	replaces = kodi-wayland
	replaces = kodi-gbm

pkgname = kodi-eventclients
	pkgdesc = Kodi Event Clients
	optdepends = kodi: local machine eventclient use
	optdepends = python: most eventclients are implemented in python

pkgname = kodi-tools-texturepacker
	pkgdesc = Kodi Texturepacker tool
	depends = libpng
	depends = giflib
	depends = libjpeg-turbo
	depends = lzo

pkgname = kodi-dev
	pkgdesc = Kodi dev files
	depends = kodi
