pkgbase = kodi
	pkgver = 21.0
	pkgrel = 6
	url = https://kodi.tv
	arch = x86_64
	license = GPL2
	makedepends = afpfs-ng
	makedepends = bluez-libs
	makedepends = cmake
	makedepends = curl
	makedepends = dav1d
	makedepends = doxygen
	makedepends = git
	makedepends = glew
	makedepends = gperf
	makedepends = hicolor-icon-theme
	makedepends = java-runtime<21
	makedepends = fmt
	makedepends = libaacs
	makedepends = libass
	makedepends = libbluray
	makedepends = libcdio
	makedepends = libcec
	makedepends = libgl
	makedepends = mariadb-libs
	makedepends = libmicrohttpd
	makedepends = libmodplug
	makedepends = libmpeg2
	makedepends = libnfs
	makedepends = libplist
	makedepends = libpulse
	makedepends = libva
	makedepends = libva-vdpau-driver
	makedepends = libxrandr
	makedepends = libxslt
	makedepends = lirc
	makedepends = lzo
	makedepends = mesa
	makedepends = nasm
	makedepends = pipewire
	makedepends = python-pycryptodomex
	makedepends = python-pillow
	makedepends = python-pybluez
	makedepends = python-simplejson
	makedepends = shairplay
	makedepends = smbclient
	makedepends = sndio
	makedepends = spdlog
	makedepends = taglib
	makedepends = tinyxml
	makedepends = swig
	makedepends = upower
	makedepends = giflib
	makedepends = rapidjson
	makedepends = ghostscript
	makedepends = meson
	makedepends = gtest
	makedepends = graphviz
	makedepends = pcre
	makedepends = tinyxml2
	makedepends = libdisplay-info
	makedepends = python-setuptools
	makedepends = wayland-protocols
	makedepends = waylandpp
	makedepends = libxkbcommon
	makedepends = libinput
	noextract = kodi-libdvdcss-1.4.3-Next-Nexus-Alpha2-2.tar.gz
	noextract = kodi-libdvdnav-6.1.1-Next-Nexus-Alpha2-2.tar.gz
	noextract = kodi-libdvdread-6.1.3-Next-Nexus-Alpha2-2.tar.gz
	noextract = kodi-ffmpeg-6.0.1.tar.gz
	noextract = kodi-crossguid-ca1bf4b810e2d188d04cb6286f957008ee1b7681.tar.gz
	noextract = kodi-fstrcmp-0.7.D001.tar.gz
	noextract = kodi-flatbuffers-23.3.3.tar.gz
	noextract = kodi-libudfread-1.1.2.tar.gz
	options = !lto
	source = kodi-21.0-Omega.tar.gz::https://github.com/xbmc/xbmc/archive/21.0-Omega.tar.gz
	source = kodi-libdvdcss-1.4.3-Next-Nexus-Alpha2-2.tar.gz::https://github.com/xbmc/libdvdcss/archive/1.4.3-Next-Nexus-Alpha2-2.tar.gz
	source = kodi-libdvdnav-6.1.1-Next-Nexus-Alpha2-2.tar.gz::https://github.com/xbmc/libdvdnav/archive/6.1.1-Next-Nexus-Alpha2-2.tar.gz
	source = kodi-libdvdread-6.1.3-Next-Nexus-Alpha2-2.tar.gz::https://github.com/xbmc/libdvdread/archive/6.1.3-Next-Nexus-Alpha2-2.tar.gz
	source = kodi-ffmpeg-6.0.1.tar.gz::https://ffmpeg.org/releases/ffmpeg-6.0.1.tar.gz
	source = kodi-crossguid-ca1bf4b810e2d188d04cb6286f957008ee1b7681.tar.gz::https://mirrors.kodi.tv/build-deps/sources/crossguid-ca1bf4b810e2d188d04cb6286f957008ee1b7681.tar.gz
	source = kodi-fstrcmp-0.7.D001.tar.gz::https://mirrors.kodi.tv/build-deps/sources/fstrcmp-0.7.D001.tar.gz
	source = kodi-flatbuffers-23.3.3.tar.gz::https://mirrors.kodi.tv/build-deps/sources/flatbuffers-23.3.3.tar.gz
	source = kodi-libudfread-1.1.2.tar.gz::https://mirrors.kodi.tv/build-deps/sources/libudfread-1.1.2.tar.gz
	source = https://github.com/xbmc/xbmc/commit/2bf5ab07731b3d4160196e6b8d9ab9e25bea2ef9.patch
	sha512sums = 9c2ca6b6e72197d2b1c26a47cf4ddc209318fcaa5a30ea20475ecc5518c7d1395c2e9cf3e3a75a13334b0505e7b417acdb0d76a20567a0c86841b3e69232625b
	sha512sums = d3be3bfc13c5ea56d8db745c2aab090c99760684fe4c8f62a13d266feb319e9180ceeecf8116bfd2ed90d9accba2c11dbbf93b61ad00f69a40812ebf4eabcdda
	sha512sums = 51e6fc033121241354a5f0b3fc9a430577ae3ff6bb7f31445aa548ef4893037fb80eea3b2c6774c81e9ebaf9c45e9b490c98c2c65eb38f9f7daba84b236f7e1d
	sha512sums = 629a41157d07b8ec0ea1fe89ae5ec48f63047472a862782b805c531ae31a0376fc4dc15175f8280c3ef91d7fa977bacebb1b51232640034a34bab2293210fc5e
	sha512sums = 945e34840092dc0fd3824eb1af2be79868af2afb4fe13159b19a9bcfc464cc4d53243c13ff065199290e9393ddbf4b1c5c8abccf83a31a31d6c7490e499fd1fc
	sha512sums = f0a80d8e99b10473bcfdfde3d1c5fd7b766959819f0d1c0595ac84ce46db9007a5fbfde9a55aca60530c46cb7f8ef4c7e472c6191559ded92f868589c141ccaf
	sha512sums = aaeb0227afd5ada5955cbe6a565254ff88d2028d677d199c00e03b7cb5de1f2c69b18e6e8b032e452350a8eda7081807b01765adbeb8476eaf803d9de6e5509c
	sha512sums = 4066c94f2473c7ea16917d29a613e16f840a329089c88e0bdbdb999aef3442ba00abfd2aa92266fa9c067e399dc88e6f0ccac40dc151378857e665638e78bbf0
	sha512sums = 3069feb5db40288beb5b112b285186162a704f0fdd3cf67a17fd4eeea015f2cfcfbb455b7aa7c3d79d00fd095a3fd11cffc7b121dce94d99c3b06a509a8977d2
	sha512sums = 4593f7897d4045b4498af466967cd04c1192d0d263607f25ed2f56773e428f6349535a07dfc139e6e8340885a582bd0dfe1e7e39ad3947c38b4d1f08e3e11fe1

pkgname = kodi
	pkgdesc = A software media player and entertainment hub for digital media (gl renderer)
	depends = bluez-libs
	depends = curl
	depends = dav1d
	depends = desktop-file-utils
	depends = hicolor-icon-theme
	depends = fmt
	depends = lcms2
	depends = libass
	depends = libbluray
	depends = libcdio
	depends = libcec
	depends = libmicrohttpd
	depends = libnfs
	depends = libplist
	depends = libpulse
	depends = libva
	depends = libvdpau
	depends = libxslt
	depends = lirc
	depends = lzo
	depends = mariadb-libs
	depends = mesa
	depends = libpipewire
	depends = python-pillow
	depends = python-pycryptodomex
	depends = python-simplejson
	depends = shairplay
	depends = smbclient
	depends = sndio
	depends = spdlog
	depends = sqlite
	depends = taglib
	depends = tinyxml
	depends = libxrandr
	depends = libxkbcommon
	depends = waylandpp
	depends = libinput
	depends = pcre
	depends = tinyxml2
	depends = libdisplay-info
	optdepends = afpfs-ng: Apple shares support
	optdepends = bluez: Blutooth support
	optdepends = python-pybluez: Bluetooth support
	optdepends = pulseaudio: PulseAudio support
	optdepends = pipewire: PipeWire support
	optdepends = upower: Display battery level
	provides = kodi-common
	provides = kodi-x11
	provides = kodi-wayland
	provides = kodi-gbm
	conflicts = kodi-gles
	replaces = kodi-common
	replaces = kodi-x11
	replaces = kodi-wayland
	replaces = kodi-gbm

pkgname = kodi-gles
	pkgdesc = A software media player and entertainment hub for digital media (gles renderer)
	depends = bluez-libs
	depends = curl
	depends = dav1d
	depends = desktop-file-utils
	depends = hicolor-icon-theme
	depends = fmt
	depends = lcms2
	depends = libass
	depends = libbluray
	depends = libcdio
	depends = libcec
	depends = libmicrohttpd
	depends = libnfs
	depends = libplist
	depends = libpulse
	depends = libva
	depends = libvdpau
	depends = libxslt
	depends = lirc
	depends = lzo
	depends = mariadb-libs
	depends = mesa
	depends = libpipewire
	depends = python-pillow
	depends = python-pycryptodomex
	depends = python-simplejson
	depends = shairplay
	depends = smbclient
	depends = sndio
	depends = spdlog
	depends = sqlite
	depends = taglib
	depends = tinyxml
	depends = libxrandr
	depends = libxkbcommon
	depends = waylandpp
	depends = libinput
	depends = pcre
	depends = tinyxml2
	depends = libdisplay-info
	optdepends = afpfs-ng: Apple shares support
	optdepends = bluez: Blutooth support
	optdepends = python-pybluez: Bluetooth support
	optdepends = pulseaudio: PulseAudio support
	optdepends = pipewire: PipeWire support
	optdepends = upower: Display battery level
	provides = kodi-common
	provides = kodi-x11
	provides = kodi-wayland
	provides = kodi-gbm
	provides = kodi
	conflicts = kodi
	replaces = kodi-common
	replaces = kodi-x11
	replaces = kodi-wayland
	replaces = kodi-gbm

pkgname = kodi-eventclients
	pkgdesc = Kodi Event Clients
	optdepends = kodi: local machine eventclient use
	optdepends = python: most eventclients are implemented in python

pkgname = kodi-tools-texturepacker
	pkgdesc = Kodi Texturepacker tool
	depends = libpng
	depends = giflib
	depends = libjpeg-turbo
	depends = lzo

pkgname = kodi-dev
	pkgdesc = Kodi dev files
	depends = kodi
