pkgbase = cachyos-kernel-manager
	pkgdesc = Simple kernel manager
	pkgver = 1.2.1
	pkgrel = 1
	url = https://github.com/cachyos/kernel-manager
	arch = aarch64
	arch = x86_64
	arch = x86_64_v3
	groups = cachyos
	license = GPLv3
	makedepends = cmake
	makedepends = ninja
	makedepends = git
	makedepends = python
	makedepends = polkit-qt5
	makedepends = qt5-tools
	depends = qt5-base
	depends = polkit
	provides = cachyos-kernel-manager
	conflicts = cachyos-kernel-manager
	options = strip
	source = kernel-manager-1.2.1.tar.gz::https://github.com/cachyos/kernel-manager/archive/v1.2.1.tar.gz
	sha256sums = c7d38bf085dda08c0f04b7a44c6764cd25af452909b82c2b9ef4040ba28301b3

pkgname = cachyos-kernel-manager
