pkgbase = cachyos-kernel-manager
	pkgdesc = Simple kernel manager
	pkgver = 1.13.8
	pkgrel = 1
	url = https://github.com/cachyos/kernel-manager
	arch = aarch64
	arch = x86_64
	groups = cachyos
	license = GPL-3.0-or-later
	makedepends = cmake
	makedepends = ninja
	makedepends = git
	makedepends = python
	makedepends = polkit-qt6
	makedepends = qt6-tools
	makedepends = cargo
	makedepends = lld
	makedepends = clang
	makedepends = llvm
	depends = qt6-base
	depends = polkit
	depends = chwd
	depends = scx-scheds
	source = kernel-manager-1.13.8.tar.gz::https://github.com/cachyos/kernel-manager/archive/v1.13.8.tar.gz
	source = fix-installed-db.patch
	sha256sums = b369fe85fb0f66de12c8ecad9b163a56ca7fb2ac204248ff9613b504b2b4ad6a
	sha256sums = 455c136513110b88e8234b8e4b25fd739804122ba6a492cde369b1f76c90960c

pkgname = cachyos-kernel-manager
