pkgbase = cachyos-kernel-manager
	pkgdesc = Simple kernel manager
	pkgver = 1.16.0
	pkgrel = 1
	url = https://github.com/cachyos/kernel-manager
	arch = aarch64
	arch = x86_64
	groups = cachyos
	license = GPL-3.0-or-later
	makedepends = cmake
	makedepends = ninja
	makedepends = git
	makedepends = python
	makedepends = polkit-qt6
	makedepends = qt6-tools
	makedepends = cargo
	makedepends = lld
	makedepends = clang
	makedepends = llvm
	depends = qt6-base
	depends = polkit
	depends = chwd
	depends = scx-manager
	source = kernel-manager::git+https://github.com/cachyos/kernel-manager.git#tag=v1.16.0?signed
	source = fix-installed-db.patch
	validpgpkeys = B1B70BB1CD56047DEF31DE2EB62C3D10C54D5DA9
	sha256sums = ab2da1e0d0efd74e25ba1b53ec709ec4fa75b2cc61c9fde86c753eadbeddc79a
	sha256sums = 455c136513110b88e8234b8e4b25fd739804122ba6a492cde369b1f76c90960c

pkgname = cachyos-kernel-manager
