pkgbase = lsfg-vk
	pkgdesc = Lossless Scaling Frame Generation on Linux
	pkgver = r255.7c0c29c
	pkgrel = 1
	url = https://github.com/PancakeTAS/lsfg-vk
	install = lsfg-vk.install
	arch = x86_64
	license = MIT
	makedepends = clang
	makedepends = llvm
	makedepends = vulkan-headers
	makedepends = cmake
	makedepends = ninja
	makedepends = git
	makedepends = rust
	makedepends = cargo
	depends = vulkan-icd-loader
	depends = gtk4
	depends = libadwaita
	source = git+https://github.com/PancakeTAS/lsfg-vk#commit=7c0c29c1e74c51921b2f5455e3dc2472a6bc99c0
	sha256sums = 16b30fa19b3e7eda9aa888b0e9f5b460202f978ec54d4820e63b40479493c851

pkgname = lsfg-vk
