pkgbase = lsfg-vk
	pkgdesc = Lossless Scaling Frame Generation on Linux via DXVK/Vulkan
	pkgver = r193.dd5190a
	pkgrel = 1
	url = https://github.com/PancakeTAS/lsfg-vk
	install = lsfg-vk.install
	arch = x86_64
	license = MIT
	makedepends = clang
	makedepends = llvm
	makedepends = vulkan-headers
	makedepends = cmake
	makedepends = meson
	makedepends = ninja
	makedepends = git
	makedepends = sed
	makedepends = sdl2
	makedepends = glslang
	makedepends = spirv-headers
	makedepends = libxrandr
	makedepends = libxinerama
	makedepends = libxi
	makedepends = libxkbcommon
	depends = vulkan-icd-loader
	depends = libglvnd
	source = git+https://github.com/PancakeTAS/lsfg-vk#commit=dd5190aa680a7543143e724a100bd5d6e9898dd7
	source = git+https://github.com/PancakeTAS/dxbc.git#commit=8026542c3b7ad5b269795dbe63c602708503df0a
	source = git+https://github.com/trailofbits/pe-parse#commit=31ac5966503689d5693cd9fb520bd525a8710e17
	source = git+https://github.com/ToruNiina/toml11#commit=2a18a89008d3daac6d8f9db03ddd582173032c7a
	source = git+https://github.com/raysan5/raylib#commit=9b6c09c32f7283e849918aef220ec4fa629af8d2
	sha256sums = 6554f18f06bc1e76c4f1ff03604baaac1c66bc7131677b5dd45851326f163cb5
	sha256sums = f2e4fb592adf3c95c561d886452ac4bf6307ba22548b0e498f0b81f9bace765a
	sha256sums = 0cafae771cb547b6f7e48121896dafa44990d2e7fb1fc50fcde1bba5438cd254
	sha256sums = 292be2486ca0902a06c5446b3abab640b44d313c7936e2846463a507ef4b8160
	sha256sums = 145ae9a28b8c75bfe2d9f1ffa66b0f2cb59fc00987f98f98cbbb137a6ad3d9b8

pkgname = lsfg-vk
