pkgbase = lsfg-vk
	pkgdesc = Lossless Scaling Frame Generation on Linux
	pkgver = 1.0.0
	pkgrel = 1
	epoch = 1
	url = https://github.com/PancakeTAS/lsfg-vk
	install = lsfg-vk.install
	arch = x86_64
	license = MIT
	makedepends = clang
	makedepends = llvm
	makedepends = vulkan-headers
	makedepends = cmake
	makedepends = ninja
	makedepends = git
	makedepends = rust
	makedepends = cargo
	depends = vulkan-icd-loader
	depends = gtk4
	depends = libadwaita
	source = git+https://github.com/PancakeTAS/lsfg-vk#tag=v1.0.0
	sha256sums = 92fb0df0afc68a0c2ed77dc23baef13849e4cd1d7ff5025ad538f19fd58e03cc

pkgname = lsfg-vk
