pkgbase = cachyos-st-config
	pkgdesc = CachyOS ST
	pkgver = 0.8.5
	pkgrel = 3
	url = https://github.com/cachyos/cachyos-st-config
	arch = i686
	arch = x86_64
	arch = armv7h
	arch = aarch64
	license = MIT
	makedepends = git
	depends = libxft
	depends = libxcursor
	depends = fontconfig
	depends = harfbuzz
	depends = ttf-hack
	depends = ttf-fira-code
	depends = ttf-jetbrains-mono
	provides = st
	conflicts = st
	source = git+https://github.com/cachyos/cachyos-st-config.git#commit=92664bd9598047d9d41558aea2966e7fac4a0c30
	sha256sums = SKIP

pkgname = cachyos-st-config
