pkgbase = cachyos-rate-mirrors
	pkgdesc = CachyOS - Rate mirrors service
	pkgver = 2
	pkgrel = 3
	url = https://github.com/CachyOS
	install = cachyos-rate-mirrors.install
	arch = any
	groups = cachyos
	license = GPL
	depends = rate-mirrors
	source = cachyos-rate-mirrors
	sha256sums = 7f82e73e988587674b229f92d1666d69e4b25fc3b13212cb4995626dc00e5a78

pkgname = cachyos-rate-mirrors
