pkgbase = cachyos-rate-mirrors
	pkgdesc = CachyOS - Rate mirrors service
	pkgver = 2
	pkgrel = 3
	url = https://github.com/CachyOS
	install = cachyos-rate-mirrors.install
	arch = any
	groups = cachyos
	license = GPL
	depends = rate-mirrors
	source = cachyos-rate-mirrors
	sha256sums = b4c4ca273173df36648f0fc62d4a6a0ae54b3ae09da59bd662b3ea928f2b9713

pkgname = cachyos-rate-mirrors
