pkgbase = cachyos-rate-mirrors
	pkgdesc = CachyOS - Rate mirrors service
	pkgver = 1
	pkgrel = 2
	url = https://github.com/CachyOS
	install = cachyos-rate-mirrors.install
	arch = any
	groups = cachyos
	license = GPL
	depends = rate-mirrors
	source = cachyos-rate-mirrors
	source = cachyos-rate-mirrors.service
	source = cachyos-rate-mirrors.timer
	source = cachyos-rate-mirrors.hook
	md5sums = 0aaf4af96fda2bf45948a618cb1ce951
	md5sums = ceef323e04228a2979f19e52b81d2813
	md5sums = 9f7fc4330c82f177cf5c46ea7460155c
	md5sums = cad6941c10ff483add89264c46008064

pkgname = cachyos-rate-mirrors
