[Unit]
Description=Refresh arch / cachyos mirror lists timer

[Timer]
OnBootSec=15s
OnCalendar=00/12:00
Persistent=true

[Install]
WantedBy=timers.target
