[Unit]
Description=Refresh arch / cachyos mirror lists
Documentation=https://github.com/CachyOS/CachyOS-PKGBUILDS/tree/master/cachyos-rate-mirrors
After=network-online.target nss-lookup.target

[Service]
Type=oneshot
StandardOutput=null
StandardError=journal
EnvironmentFile=-/etc/conf.d/cachyos-rate-mirrors.env
ExecStart=/usr/bin/cachyos-rate-mirrors
IPAccounting=yes
