[Unit]
Description=Refresh arch / cachyos mirror lists
Wants=network-online.target
After=network-online.target nss-lookup.target

[Service]
Type=oneshot
StandardOutput=null
StandardError=journal
ExecStart=/usr/bin/cachyos-rate-mirrors

[Install]
WantedBy=multi-user.target
