[Unit]
Description=Automatically refresh arch / cachyos mirror lists
Wants=network-online.target
After=network-online.target

[Timer]
OnCalendar=*-*-01,11,21 00:00:00
RandomizedOffsetSec=10d
Persistent=true

[Install]
WantedBy=timers.target
