[Unit]
Description=Automatically refresh arch / cachyos mirror lists
Wants=network-online.target
After=network-online.target

[Timer]
OnCalendar=*-*-01..21/10 00:00:00
RandomizedOffsetSec=10d
RandomizedDelaySec=1h
Persistent=true

[Install]
WantedBy=timers.target
