pkgbase = vapormark-git
	pkgdesc = Benchmark framework for measuring performance metrics while running a program on Linux
	pkgver = 20240522.r101.gbf5e50e
	pkgrel = 1
	url = https://github.com/Igalia/vapormark
	arch = x86_64
	license = GPL-2.0-only
	depends = mangohud
	depends = python
	optdepends = pandoc: Generating HTML Pages
	source = git+https://github.com/Igalia/vapormark
	sha512sums = SKIP

pkgname = vapormark-git
