pkgbase = lib32-zlib-ng
	pkgdesc = zlib replacement with optimizations for next generation systems - 32-bit
	pkgver = 2.2.1
	pkgrel = 4
	url = https://github.com/zlib-ng/zlib-ng
	arch = x86_64
	license = custom:zlib
	makedepends = cmake
	makedepends = ninja
	makedepends = lib32-gcc-libs
	depends = lib32-glibc
	source = https://github.com/zlib-ng/zlib-ng/archive/refs/tags/2.2.1/zlib-ng-2.2.1.tar.gz
	sha256sums = ec6a76169d4214e2e8b737e0850ba4acb806c69eeace6240ed4481b9f5c57cdf
	b2sums = eacd6e01b8792d1646054b32274c486021fa3c4341a5ce4e19d7afcccf0fc8645a20e78aedad2b353d662b2b82641780c55ff8e4e255c3fe9ffb67fce2001552

pkgname = lib32-zlib-ng
	provides = libz-ng.so

pkgname = lib32-zlib-ng-compat
	pkgdesc = zlib replacement with optimizations for next generation systems - 32-bit (zlib compat)
	provides = lib32-zlib
	provides = libz.so
	conflicts = lib32-zlib
	replaces = lib32-zlib
	options = staticlibs
