pkgbase = lib32-zlib-ng
	pkgdesc = zlib replacement with optimizations for next generation systems - 32-bit
	pkgver = 2.3.1
	pkgrel = 2
	url = https://github.com/zlib-ng/zlib-ng
	arch = x86_64
	license = custom:zlib
	makedepends = git
	makedepends = cmake
	makedepends = ninja
	makedepends = lib32-gcc-libs
	depends = lib32-glibc
	source = git+https://github.com/zlib-ng/zlib-ng#tag=2.3.1
	sha256sums = 00a9045fbfe68d032f37c834ee3afbe7be09984567bbf80bdff188ddf0f4c714
	b2sums = 6da200f1773c68b35302e6123d6542922bb55b43f5f5d1e6a9cb35aae5415b0ebc1d8b98143ff90017bc7b5247ef6570f060dbb2d7f37796178c1b1738369078

pkgname = lib32-zlib-ng
	depends = zlib-ng
	provides = libz-ng.so

pkgname = lib32-zlib-ng-compat
	pkgdesc = zlib replacement with optimizations for next generation systems - 32-bit (zlib compat)
	depends = zlib-ng-compat
	depends = lib32-zlib-ng
	provides = lib32-zlib
	provides = libz.so
	conflicts = lib32-zlib
	replaces = lib32-zlib
	options = staticlibs
