pkgbase = lib32-zlib-ng
	pkgdesc = zlib replacement with optimizations for next generation systems - 32-bit
	pkgver = 2.2.2
	pkgrel = 3
	url = https://github.com/zlib-ng/zlib-ng
	arch = x86_64
	license = custom:zlib
	makedepends = cmake
	makedepends = ninja
	makedepends = lib32-gcc-libs
	depends = lib32-glibc
	source = https://github.com/zlib-ng/zlib-ng/archive/refs/tags/2.2.2/zlib-ng-2.2.2.tar.gz
	sha256sums = fcb41dd59a3f17002aeb1bb21f04696c9b721404890bb945c5ab39d2cb69654c
	b2sums = 970260f44fcce467933bf0038afa0f6e18cc007012c7d9be0b259d407e981fa1a353ce4c7aae38e5158ba65c79c5b54777f1cc436654016c5a21d20630061890

pkgname = lib32-zlib-ng
	depends = zlib-ng=2.2.2
	provides = libz-ng.so

pkgname = lib32-zlib-ng-compat
	pkgdesc = zlib replacement with optimizations for next generation systems - 32-bit (zlib compat)
	depends = zlib-ng-compat=2.2.2
	depends = lib32-zlib-ng
	provides = lib32-zlib
	provides = libz.so
	conflicts = lib32-zlib
	replaces = lib32-zlib
	options = staticlibs
