pkgbase = cosmic-files
	pkgdesc = File manager for the COSMIC desktop environment
	pkgver = 1.0.0.alpha.1
	pkgrel = 1
	url = https://github.com/pop-os/cosmic-files
	arch = x86_64
	groups = cosmic
	license = GPL-3.0-or-later
	makedepends = cargo
	makedepends = git
	makedepends = just
	makedepends = lld
	depends = glib2
	depends = hicolor-icon-theme
	depends = libxkbcommon
	depends = xdg-utils
	source = git+https://github.com/pop-os/cosmic-files.git#tag=epoch-1.0.0-alpha.1
	sha256sums = f409be729e03b6cd2396551a7bcd3a030fd630089254086d15f2a4ed94d50ebb

pkgname = cosmic-files
