pkgbase = cosmic-files
	pkgdesc = File manager for the COSMIC desktop environment
	pkgver = 1.0.0.alpha.2
	pkgrel = 2
	url = https://github.com/pop-os/cosmic-files
	arch = x86_64
	groups = cosmic
	license = GPL-3.0-only
	makedepends = cargo
	makedepends = clang
	makedepends = git
	makedepends = just
	makedepends = lld
	depends = gcc-libs
	depends = glib2
	depends = glibc
	depends = cosmic-icon-theme
	depends = libxkbcommon
	depends = xdg-utils
	source = git+https://github.com/pop-os/cosmic-files.git#tag=774ccf955f59f24cf9493f9249d20788ad394d48
	b2sums = aa6c6ab7401786825945422240f79d9db751593d8f989fdb51f0f3b223921b6f825b183f22dd487109d1903b4943818dc05dbf6832d62f1c96ff1951c26bc4f2

pkgname = cosmic-files
