pkgbase = egl-wayland2
	pkgdesc = new EGLStream-based Wayland external platform
	pkgver = 1.0.0
	pkgrel = 2
	url = https://github.com/NVIDIA/egl-wayland2
	arch = x86_64
	license = MIT
	makedepends = git
	makedepends = libglvnd>=1.3.4
	makedepends = meson
	makedepends = wayland-protocols
	depends = eglexternalplatform
	depends = glibc
	depends = libdrm
	depends = wayland
	provides = libnvidia-egl-wayland2.so
	source = git+https://github.com/NVIDIA/egl-wayland2#commit=3e5b643542708cbb9c67d18fe19b5fa4151d7d8f
	b2sums = 5ce301220b520a93880a3cb7e5c185840de49b9f47ae951dac464c43a9195810c3e5c6297e6f80b3ac797c15acca03a1fa8b596e151eea7eebc1192e73c1dfd4

pkgname = egl-wayland2
