pkgbase = egl-wayland
	pkgdesc = EGLStream-based Wayland external platform
	pkgver = 1.1.19
	pkgrel = 1
	epoch = 4
	url = https://github.com/NVIDIA/egl-wayland
	arch = x86_64
	license = MIT
	makedepends = git
	makedepends = libglvnd>=1.3.4
	makedepends = meson
	makedepends = wayland-protocols
	depends = eglexternalplatform
	depends = glibc
	depends = libdrm
	depends = wayland
	provides = libnvidia-egl-wayland.so
	source = git+https://github.com/NVIDIA/egl-wayland#tag=1.1.19
	b2sums = 496e60651af0866bd1cade0044951df8663d234d68e35791a17af641c3673b238fec39aef509db0f55c642d3524c879b785a15b12321a9ac7fa7dcd897a05c77

pkgname = egl-wayland
