pkgbase = cosmic-comp
	pkgdesc = Compositor for the COSMIC desktop environment
	pkgver = 1.0.0.alpha.4
	pkgrel = 1
	url = https://github.com/pop-os/cosmic-comp
	arch = x86_64
	groups = cosmic
	license = GPL-3.0-only
	makedepends = cargo
	makedepends = git
	makedepends = lld
	depends = fontconfig
	depends = gcc-libs
	depends = glibc
	depends = libseat.so
	depends = libinput
	depends = libxcb
	depends = libxkbcommon
	depends = mesa
	depends = pixman
	depends = systemd-libs
	depends = wayland
	source = git+https://github.com/pop-os/cosmic-comp.git#tag=e3b41c5c554cc5aadf44183866ff4df7c2957d09
	b2sums = d9bb58edae3581f39076cc79fa17294490e84c1907c4ba484877592c632a997354778398d31058a9f8e656d8c73e64e3613734dd275b2c771a774dbf8f064590

pkgname = cosmic-comp
