pkgbase = limine-hook
	pkgdesc = Pacman hooks to update kernel entries in limine
	pkgver = 20250407
	pkgrel = 1
	url = https://github.com/CachyOS/CachyOS-PKGBUILDS
	arch = any
	license = GPL-3.0-or-later
	depends = limine-entry-tool
	source = limine-kernel-hook
	source = 10-limine-add-kernel.hook
	source = 10-limine-remove-kernel.hook
	sha256sums = b6bf6d2608d5cfd30da6d0305b429c3bbe641f27940cebc1f5acd19c01ea2eb0
	sha256sums = c551d174a3dc9576bceb70d037fdc50238cff6fc514b9d7f4ff62ae45245f04b
	sha256sums = 4125d03a16061816031537deabd02041c0320cbb103b3e31f42fe0616ee7e63e

pkgname = limine-hook
