pkgbase = qt6ct
	pkgdesc = Qt 6 Configuration Utility
	pkgver = 0.11
	pkgrel = 1
	url = https://www.opencode.net/trialuser/qt6ct
	arch = x86_64
	license = BSD-2-Clause
	makedepends = cmake
	makedepends = git
	makedepends = qt6-tools
	depends = glibc
	depends = libgcc
	depends = libstdc++
	depends = qt6-base
	depends = qt6-svg
	provides = qt6ct
	conflicts = qt6ct
	source = https://www.opencode.net/api/v4/projects/5459/packages/generic/qt6ct/0.11/qt6ct-0.11.tar.xz
	source = kde.patch
	sha256sums = 35ac3c65136c4c5e6e06e477dd0574b128333f050d315bfabc73db2df06a9c14
	sha256sums = e38ab65b6852c5adffa6c61cc09ec9e19c2484dc797f0e6c172450dc247ef952

pkgname = qt6ct
