pkgbase = cachyos-ananicy-rules
	pkgdesc = CachyOS - ananicy-rules
	pkgver = 1.1.46
	pkgrel = 1
	epoch = 1
	url = https://github.com/CachyOS/ananicy-rules
	arch = any
	groups = cachyos
	license = GPL-3.0-or-later
	makedepends = git
	provides = ananicy-rules-git
	conflicts = ananicy-rules-git
	replaces = ananicy-rules-git
	source = ananicy-rules::git+https://github.com/CachyOS/ananicy-rules.git#tag=1.1.46
	sha256sums = f048655beedbdb8e472533937b8f0f9a22689f453a078f19cce737ddfe931abe

pkgname = cachyos-ananicy-rules
