pkgbase = cachyos-ananicy-rules
	pkgdesc = CachyOS - ananicy-rules
	pkgver = 1.1.24
	pkgrel = 1
	epoch = 1
	url = https://github.com/CachyOS/ananicy-rules
	arch = any
	groups = cachyos
	license = GPL-3.0-or-later
	makedepends = git
	provides = ananicy-rules-git
	conflicts = ananicy-rules-git
	replaces = ananicy-rules-git
	source = ananicy-rules::git+https://github.com/CachyOS/ananicy-rules.git#tag=1.1.24
	sha256sums = 97146890b22170ffb280e964c75e4714eef0d99ed3194e0a8e1f55d082805eb7

pkgname = cachyos-ananicy-rules
