pkgbase = cachyos-ananicy-rules
	pkgdesc = CachyOS - ananicy-rules
	pkgver = 1.r406.a49d608
	pkgrel = 1
	arch = any
	groups = cachyos
	license = GPL-1.0-only
	provides = ananicy-rules-git
	conflicts = ananicy-rules-git
	replaces = ananicy-rules-git
	source = cachyos-ananicy-rules::git+https://github.com/CachyOS/ananicy-rules.git#commit=a49d608a148cb54851cdab5b24fd83bea5cd8c7d
	sha256sums = cf0be4811a091c2b906d4695953e3264c4e1c10c7fc71bad35887e1b62e57f1b

pkgname = cachyos-ananicy-rules
