pkgbase = xorg-xwayland
	pkgdesc = Run X clients under Wayland with explicit sync patch
	pkgver = 23.2.4.r387.ga57b44948
	pkgrel = 1
	url = https://xorg.freedesktop.org
	arch = x86_64
	groups = xorg
	license = custom
	makedepends = meson
	makedepends = git
	makedepends = xorgproto
	makedepends = xtrans
	makedepends = pixman
	makedepends = libxkbfile
	makedepends = libxfont2
	makedepends = dbus
	makedepends = xorg-font-util
	makedepends = wayland
	makedepends = wayland-protocols
	makedepends = libdrm
	makedepends = libepoxy
	makedepends = systemd
	makedepends = egl-wayland
	depends = nettle
	depends = libegl
	depends = libepoxy
	depends = systemd-libs
	depends = libxfont2
	depends = pixman
	depends = xorg-server-common
	depends = libxcvt
	provides = xorg-xwayland
	provides = xorg-server-xwayland
	provides = xorg-server-xwayland-git
	conflicts = xorg-xwayland
	conflicts = xorg-server-xwayland
	conflicts = xorg-server-xwayland-git
	source = xserver::git+https://gitlab.freedesktop.org/xorg/xserver.git
	source = https://gitlab.freedesktop.org/xorg/xserver/-/merge_requests/967.patch
	b2sums = SKIP
	b2sums = f00887498f65bd1aaa081199123787e5955d8e82479ee606afb73e00cc897f749e7f752644170631a0aea0c5ec8f0d865c4be1e154125c807f3dc4f85835bf1c

pkgname = xorg-xwayland
