pkgbase = xorg-xwayland
	pkgdesc = Run X clients under Wayland with explicit sync patch
	pkgver = 23.2.4.r387.ga57b44948
	pkgrel = 1
	url = https://xorg.freedesktop.org
	arch = x86_64
	groups = xorg
	license = custom
	makedepends = meson
	makedepends = git
	makedepends = xorgproto
	makedepends = xtrans
	makedepends = pixman
	makedepends = libxkbfile
	makedepends = libxfont2
	makedepends = dbus
	makedepends = xorg-font-util
	makedepends = wayland
	makedepends = wayland-protocols
	makedepends = libdrm
	makedepends = libepoxy
	makedepends = systemd
	makedepends = egl-wayland
	depends = nettle
	depends = libegl
	depends = libepoxy
	depends = systemd-libs
	depends = libxfont2
	depends = pixman
	depends = xorg-server-common
	depends = libxcvt
	provides = xorg-xwayland
	provides = xorg-server-xwayland
	provides = xorg-server-xwayland-git
	conflicts = xorg-xwayland
	conflicts = xorg-server-xwayland
	conflicts = xorg-server-xwayland-git
	source = xserver::git+https://gitlab.freedesktop.org/xorg/xserver.git
	source = https://gitlab.freedesktop.org/xorg/xserver/-/merge_requests/967.patch
	b2sums = SKIP
	b2sums = 4750a1ed167ffcc638ba77eb6f07e2a0923b4a37e0243c3e8837dce89e50031309b2efca98240688a1ec52b9a08a2c376e38d83b49c6627276a84ec9c453bc1f

pkgname = xorg-xwayland
