pkgbase = xorg-xwayland-explicit-sync
	pkgdesc = Run X clients under Wayland with explicit sync patch
	pkgver = 23.2.4.r335.g54a2dfc22
	pkgrel = 1
	url = https://xorg.freedesktop.org
	arch = x86_64
	groups = xorg
	license = custom
	makedepends = meson
	makedepends = git
	makedepends = xorgproto
	makedepends = xtrans
	makedepends = pixman
	makedepends = libxkbfile
	makedepends = libxfont2
	makedepends = dbus
	makedepends = xorg-font-util
	makedepends = wayland
	makedepends = wayland-protocols
	makedepends = libdrm
	makedepends = libepoxy
	makedepends = systemd
	makedepends = egl-wayland
	depends = nettle
	depends = libegl
	depends = libepoxy
	depends = systemd-libs
	depends = libxfont2
	depends = pixman
	depends = xorg-server-common
	depends = libxcvt
	provides = xorg-xwayland
	provides = xorg-server-xwayland
	provides = xorg-server-xwayland-git
	conflicts = xorg-xwayland
	conflicts = xorg-server-xwayland
	conflicts = xorg-server-xwayland-git
	source = xserver::git+https://gitlab.freedesktop.org/xorg/xserver.git
	source = https://gitlab.freedesktop.org/xorg/xserver/-/merge_requests/967.patch
	b2sums = SKIP
	b2sums = 1155e86f565571ae49009456a0b3cb3eadf0fea0509dd51f0fd1f29ae4339b75e590ad2e55cf586ca87887f417e4b203c74d9f2af63a7a992aa132ef375e0a95

pkgname = xorg-xwayland-explicit-sync
