pkgbase = repo-manage-util
	pkgdesc = A command-line utility for managing Arch Linux repositories
	pkgver = 0.3.0
	pkgrel = 1
	url = https://github.com/cachyos/repo-manage-util
	arch = x86_64
	license = GPL-3.0-or-later
	makedepends = git
	makedepends = cargo
	makedepends = lld
	makedepends = clang
	makedepends = llvm
	depends = gcc-libs
	depends = pacman
	depends = libalpm.so
	source = repo-manage-util::git+https://github.com/cachyos/repo-manage-util.git#tag=v0.3.0?signed
	validpgpkeys = B1B70BB1CD56047DEF31DE2EB62C3D10C54D5DA9
	sha256sums = 99c85c02d1a0e628d5b511fea9485a44ed9c297468b7f4cdb3d3753998983675

pkgname = repo-manage-util
