pkgbase = svt-av1
	pkgdesc = Scalable Video Technology AV1 encoder and decoder
	pkgver = 2.2.1
	pkgrel = 1
	url = https://gitlab.com/AOMediaCodec/SVT-AV1
	arch = x86_64
	license = BSD
	license = custom: Alliance for Open Media Patent License 1.0
	makedepends = cmake
	makedepends = git
	makedepends = nasm
	makedepends = ninja
	depends = glibc
	source = git+https://gitlab.com/AOMediaCodec/SVT-AV1.git#tag=55a01def732bb9e7016d23cc512384f7a88d6e86
	b2sums = 5db0b7ec87a64d36c36a9b61a414562679ff25d987d39bc6f10d2fb4a3bd78b5e01accd0b141062a21ed15daab1a0735cf2a8423e03bc221827aeaebb618d9aa

pkgname = svt-av1
