pkgbase = svt-av1
	pkgdesc = Scalable Video Technology AV1 encoder and decoder, with added perceptual enhancements for psychovisually optimal AV1 encoding
	pkgver = 2.0.0.rc2
	pkgrel = 2
	url = https://github.com/gianni-rosato/svt-av1-psy
	arch = x86_64
	license = BSD
	license = custom: Alliance for Open Media Patent License 1.0
	makedepends = cmake
	makedepends = git
	makedepends = nasm
	makedepends = ninja
	depends = glibc
	source = git+https://github.com/gianni-rosato/svt-av1-psy.git#tag=5cac47c1eaee9c5229cdf693bf26e90ff6c54b40
	b2sums = SKIP

pkgname = svt-av1
