pkgbase = svt-av1
	pkgdesc = Scalable Video Technology AV1 encoder and decoder
	pkgver = 3.0.1
	pkgrel = 2
	url = https://gitlab.com/AOMediaCodec/SVT-AV1
	arch = x86_64
	license = BSD
	license = custom: Alliance for Open Media Patent License 1.0
	makedepends = cmake
	makedepends = git
	makedepends = nasm
	makedepends = ninja
	depends = glibc
	source = git+https://gitlab.com/AOMediaCodec/SVT-AV1.git#tag=v3.0.1
	b2sums = 7748f399dae82400d9b06f340f4cd3b85f759230268995ef59942f9d0505bf31f8b210f2a218ff8e11d9e1cb23fffa0ae6814308f74813d1a55c64c0ed3f3fac

pkgname = svt-av1
