pkgbase = powerbuttond
	pkgdesc = Power button daemon
	pkgver = 2
	pkgrel = 1
	url = https://gitlab.steamos.cloud/jupiter/powerbuttond
	arch = x86_64
	license = BSD
	depends = libevdev
	source = git+https://gitlab.com/evlaV/powerbuttond.git#tag=v2
	sha512sums = SKIP

pkgname = powerbuttond
