pkgbase = powerbuttond
	pkgdesc = Power button daemon
	pkgver = 3.1
	pkgrel = 1
	url = https://gitlab.steamos.cloud/jupiter/powerbuttond
	arch = x86_64
	license = BSD-2-Clause
	depends = libevdev
	source = git+https://gitlab.com/evlaV/powerbuttond.git#tag=v3.1
	sha512sums = 7cbd87c05bde6dae6da2ddd38311497cd49a7df775985ab8a4ac90dea0f642c5fccd7183a58c9c92c95276f60b3cc1befee3301276afe35ede9ebc8e889b86db

pkgname = powerbuttond
