pkgbase = applesmc-t2-dkms
	pkgdesc = Apple SMC driver with T2 chip support (DKMS)
	pkgver = r3.4413846
	pkgrel = 1
	url = https://github.com/AdityaGarg8/applesmc-t2
	arch = x86_64
	license = GPL-2.0-only
	makedepends = git
	depends = dkms
	source = applesmc-t2::git+https://github.com/AdityaGarg8/applesmc-t2.git#commit=4413846e8751d8916d45c891f71dcaa02831c635
	sha256sums = e94cc402be8f912cacbcfa8fc6aea99ca268cdcbcfe1ae0772652b5a1436d962

pkgname = applesmc-t2-dkms
