pkgbase = wine-cachyos
	pkgdesc = A compatibility layer for running Windows programs, with extra CachyOS flavor
	pkgver = 9.5
	pkgrel = 1
	epoch = 1
	url = https://github.com/GloriousEggroll/wine-ge-custom
	install = wine.install
	arch = x86_64
	arch = x86_64_v3
	license = LGPL-2.1-or-later
	makedepends = autoconf
	makedepends = bison
	makedepends = perl
	makedepends = flex
	makedepends = mingw-w64-gcc
	makedepends = git
	makedepends = python
	makedepends = giflib
	makedepends = lib32-giflib
	makedepends = gnutls
	makedepends = lib32-gnutls
	makedepends = libxinerama
	makedepends = lib32-libxinerama
	makedepends = libxcomposite
	makedepends = lib32-libxcomposite
	makedepends = libxxf86vm
	makedepends = lib32-libxxf86vm
	makedepends = v4l-utils
	makedepends = lib32-v4l-utils
	makedepends = alsa-lib
	makedepends = lib32-alsa-lib
	makedepends = libxcomposite
	makedepends = lib32-libxcomposite
	makedepends = mesa
	makedepends = lib32-mesa
	makedepends = mesa-libgl
	makedepends = lib32-mesa-libgl
	makedepends = opencl-icd-loader
	makedepends = lib32-opencl-icd-loader
	makedepends = libpulse
	makedepends = lib32-libpulse
	makedepends = libva
	makedepends = lib32-libva
	makedepends = gtk3
	makedepends = lib32-gtk3
	makedepends = gst-plugins-base-libs
	makedepends = lib32-gst-plugins-base-libs
	makedepends = gst-plugins-good
	makedepends = lib32-gst-plugins-good
	makedepends = vulkan-icd-loader
	makedepends = lib32-vulkan-icd-loader
	makedepends = sdl2
	makedepends = lib32-sdl2
	makedepends = libcups
	makedepends = lib32-libcups
	makedepends = sane
	makedepends = libgphoto2
	makedepends = ffmpeg
	makedepends = samba
	makedepends = opencl-headers
	depends = attr
	depends = lib32-attr
	depends = fontconfig
	depends = lib32-fontconfig
	depends = libxcursor
	depends = lib32-libxcursor
	depends = libxrandr
	depends = lib32-libxrandr
	depends = libxi
	depends = lib32-libxi
	depends = gettext
	depends = lib32-gettext
	depends = freetype2
	depends = lib32-freetype2
	depends = gcc-libs
	depends = lib32-gcc-libs
	depends = libpcap
	depends = lib32-libpcap
	depends = desktop-file-utils
	depends = libxkbcommon
	depends = lib32-libxkbcommon
	depends = wayland
	depends = lib32-wayland
	optdepends = giflib
	optdepends = lib32-giflib
	optdepends = gnutls
	optdepends = lib32-gnutls
	optdepends = v4l-utils
	optdepends = lib32-v4l-utils
	optdepends = libpulse
	optdepends = lib32-libpulse
	optdepends = alsa-plugins
	optdepends = lib32-alsa-plugins
	optdepends = alsa-lib
	optdepends = lib32-alsa-lib
	optdepends = libxcomposite
	optdepends = lib32-libxcomposite
	optdepends = libxinerama
	optdepends = lib32-libxinerama
	optdepends = opencl-icd-loader
	optdepends = lib32-opencl-icd-loader
	optdepends = libva
	optdepends = lib32-libva
	optdepends = gtk3
	optdepends = lib32-gtk3
	optdepends = gst-plugins-base-libs
	optdepends = lib32-gst-plugins-base-libs
	optdepends = gst-plugins-good
	optdepends = lib32-gst-plugins-good
	optdepends = vulkan-icd-loader
	optdepends = lib32-vulkan-icd-loader
	optdepends = sdl2
	optdepends = lib32-sdl2
	optdepends = sane
	optdepends = libgphoto2
	optdepends = ffmpeg
	optdepends = cups
	optdepends = samba
	optdepends = dosbox
	provides = wine=9.0
	conflicts = wine
	options = !staticlibs
	options = !lto
	options = !debug
	source = wine-cachyos::git+https://github.com/loathingKernel/wine-ge-custom.git#tag=GE-Proton9-5
	source = 30-win32-aliases.conf
	source = wine-binfmt.conf
	source = wine-wmclass.patch
	source = wine-isolate_home.patch
	source = wineserver-lto.patch
	source = reflex-support.patch
	source = wine-wayland-keyboard.patch
	validpgpkeys = 5AC1A08B03BD7A313E0A955AF5E6E9EEB9461DD7
	validpgpkeys = DA23579A74D4AD9AF9D3F945CEFAC8EAAF17519D
	b2sums = acfd7161ab86adbfb743258689dc5925a48c98ef17db979abef0135135cfe776025341caf7e049189394c965f5a2b88ab446ba671b841166bc553b1825d61b2f
	b2sums = 45db34fb35a679dc191b4119603eba37b8008326bd4f7d6bd422fbbb2a74b675bdbc9f0cc6995ed0c564cf088b7ecd9fbe2d06d42ff8a4464828f3c4f188075b
	b2sums = e9de76a32493c601ab32bde28a2c8f8aded12978057159dd9bf35eefbf82f2389a4d5e30170218956101331cf3e7452ae82ad0db6aad623651b0cc2174a61588
	b2sums = ed9571038af601688e1fe36ebd20d89f124d9cc27046147d70a784603b93d804f37807c72bf6a8196022b4c225b879fb503b0bec51f5ad442d233d307cf73e8c
	b2sums = ea368cd61338e96844137db10f11666bc85e1c2a64249c4c1179235125448e56d41bff386f1ba4fe305b4f7d90735ac582acf25ed6eacfda100f53adf64c69ea
	b2sums = 764319ff1652fea9101ceed5d221f82ad4ab95261c61becd02734d4c2da6365f5ee874ed09261c75e60885c42d2745db8095ae6e65fb875502f0b361109d6fa6
	b2sums = e3f0bc6a2bbd45311ebd0ae27558525e784dce6f0f08c81e806ffc84fda97c01a049753861af66ebe43f0e60c8a989e012f23a58d64daf899d3ae061ac89a1ab
	b2sums = bf0f2d51695728db5854c0b16f21a4126274155c6697ca131a7beda6a6887b109291e33b0e1a556083825e93f9c752e44f2df25f2552960f9af0f15b36ff908c

pkgname = wine-cachyos
