pkgbase = wine-cachyos
	pkgdesc = A compatibility layer for running Windows programs, with extra CachyOS flavor
	pkgver = 9.0.20240918
	pkgrel = 2
	epoch = 2
	url = https://github.com/CachyOS/wine-cachyos
	install = wine.install
	arch = x86_64
	arch = x86_64_v3
	license = LGPL-2.1-or-later
	makedepends = autoconf
	makedepends = bison
	makedepends = perl
	makedepends = flex
	makedepends = mingw-w64-gcc
	makedepends = git
	makedepends = python
	makedepends = giflib
	makedepends = lib32-giflib
	makedepends = gnutls
	makedepends = lib32-gnutls
	makedepends = libxinerama
	makedepends = lib32-libxinerama
	makedepends = libxcomposite
	makedepends = lib32-libxcomposite
	makedepends = libxxf86vm
	makedepends = lib32-libxxf86vm
	makedepends = v4l-utils
	makedepends = lib32-v4l-utils
	makedepends = alsa-lib
	makedepends = lib32-alsa-lib
	makedepends = libxcomposite
	makedepends = lib32-libxcomposite
	makedepends = mesa
	makedepends = lib32-mesa
	makedepends = mesa-libgl
	makedepends = lib32-mesa-libgl
	makedepends = opencl-icd-loader
	makedepends = lib32-opencl-icd-loader
	makedepends = libpulse
	makedepends = lib32-libpulse
	makedepends = libva
	makedepends = lib32-libva
	makedepends = gtk3
	makedepends = lib32-gtk3
	makedepends = gst-plugins-base-libs
	makedepends = lib32-gst-plugins-base-libs
	makedepends = gst-plugins-good
	makedepends = lib32-gst-plugins-good
	makedepends = vulkan-icd-loader
	makedepends = lib32-vulkan-icd-loader
	makedepends = sdl2
	makedepends = lib32-sdl2
	makedepends = libcups
	makedepends = lib32-libcups
	makedepends = sane
	makedepends = libgphoto2
	makedepends = ffmpeg
	makedepends = samba
	makedepends = opencl-headers
	depends = attr
	depends = lib32-attr
	depends = fontconfig
	depends = lib32-fontconfig
	depends = libxcursor
	depends = lib32-libxcursor
	depends = libxrandr
	depends = lib32-libxrandr
	depends = libxi
	depends = lib32-libxi
	depends = gettext
	depends = lib32-gettext
	depends = freetype2
	depends = lib32-freetype2
	depends = gcc-libs
	depends = lib32-gcc-libs
	depends = libpcap
	depends = lib32-libpcap
	depends = desktop-file-utils
	depends = libxkbcommon
	depends = lib32-libxkbcommon
	depends = wayland
	depends = lib32-wayland
	optdepends = giflib
	optdepends = lib32-giflib
	optdepends = gnutls
	optdepends = lib32-gnutls
	optdepends = v4l-utils
	optdepends = lib32-v4l-utils
	optdepends = libpulse
	optdepends = lib32-libpulse
	optdepends = alsa-plugins
	optdepends = lib32-alsa-plugins
	optdepends = alsa-lib
	optdepends = lib32-alsa-lib
	optdepends = libxcomposite
	optdepends = lib32-libxcomposite
	optdepends = libxinerama
	optdepends = lib32-libxinerama
	optdepends = opencl-icd-loader
	optdepends = lib32-opencl-icd-loader
	optdepends = libva
	optdepends = lib32-libva
	optdepends = gtk3
	optdepends = lib32-gtk3
	optdepends = gst-plugins-base-libs
	optdepends = lib32-gst-plugins-base-libs
	optdepends = gst-plugins-good
	optdepends = lib32-gst-plugins-good
	optdepends = vulkan-icd-loader
	optdepends = lib32-vulkan-icd-loader
	optdepends = sdl2
	optdepends = lib32-sdl2
	optdepends = sane
	optdepends = libgphoto2
	optdepends = ffmpeg
	optdepends = cups
	optdepends = samba
	optdepends = dosbox
	provides = wine=9.0
	conflicts = wine
	options = !staticlibs
	options = !lto
	options = !debug
	source = wine-cachyos::git+https://github.com/CachyOS/wine-cachyos.git#tag=cachyos-wine-9.0-20240918
	source = 30-win32-aliases.conf
	source = wine-binfmt.conf
	validpgpkeys = 5AC1A08B03BD7A313E0A955AF5E6E9EEB9461DD7
	validpgpkeys = DA23579A74D4AD9AF9D3F945CEFAC8EAAF17519D
	b2sums = 01500958bca788e2b57d56c108c22ad74b791a247dce3644b505936d56f8635b2532665e9e847f3d7d8b2d5f160157127c43e760bdc6063cd9d930c896b3515c
	b2sums = 45db34fb35a679dc191b4119603eba37b8008326bd4f7d6bd422fbbb2a74b675bdbc9f0cc6995ed0c564cf088b7ecd9fbe2d06d42ff8a4464828f3c4f188075b
	b2sums = e9de76a32493c601ab32bde28a2c8f8aded12978057159dd9bf35eefbf82f2389a4d5e30170218956101331cf3e7452ae82ad0db6aad623651b0cc2174a61588

pkgname = wine-cachyos
