pkgbase = fluxer-canary
	pkgdesc = Fluxer Canary Desktop Application
	pkgver = 2026.602.31138
	pkgrel = 1
	url = https://fluxer.app
	arch = x86_64
	arch = aarch64
	license = AGPL-3.0
	depends = gtk3
	depends = nss
	depends = alsa-lib
	options = !strip
	source = fluxer-${pkgver}-x64.tar.gz::https://api.fluxer.app/dl/desktop/canary/linux/x64/${pkgver}/tar_gz
	source = fluxer-canary.desktop
	sha256sums = 221cc47186827029423bfa88624128d89b132c407e2b4f9c41609a24ed59cfb0
	sha256sums = 14bf8d2e88cb86dd2cfe493bc5b0ed0271b8660acf24c0125a8b4303dd762bb5

pkgname = fluxer-canary-bin
