[Desktop Entry]
Name=Fluxer Canary
Comment=Fluxer is a free and open source instant messaging and VoIP platform built for friends, groups, and communities.
GenericName=Internet Messenger
Exec=fluxer-canary
Icon=fluxer-canary
Type=Application
Categories=Network;InstantMessaging;
