pkgbase = cosmic-settings
	pkgdesc = The settings application for the COSMIC desktop environment
	pkgver = 1.0.0.alpha.1
	pkgrel = 3
	url = https://github.com/pop-os/cosmic-settings
	arch = x86_64
	groups = cosmic
	license = GPL-3.0-only
	makedepends = cargo
	makedepends = git
	makedepends = just
	makedepends = lld
	depends = accountsservice
	depends = cosmic-icon-theme
	depends = cosmic-randr
	depends = fontconfig
	depends = gcc-libs
	depends = glibc
	depends = iso-codes
	depends = libinput
	depends = libxkbcommon
	depends = otf-fira-mono
	depends = otf-fira-sans
	depends = systemd-libs
	depends = wayland
	optdepends = power-profiles-daemon: power profiles support
	source = git+https://github.com/pop-os/cosmic-settings.git#tag=648c4e24ab825444af4e84bf713dc37c6250dbee
	b2sums = 210c175a3282bee335434b88d466c053d5ba3fd56c5c2b0989c1afafe90f6465d99aac70915b7fe956e7c35e8b39d811b97e2cf28c8f43b292376638811b9f16

pkgname = cosmic-settings
