pkgbase = cachy-update
	pkgdesc = An update notifier & applier that assists you with important pre / post update tasks
	pkgver = 3.17.0
	pkgrel = 1
	url = https://github.com/CachyOS/cachy-update
	arch = any
	license = GPL-3.0-or-later
	checkdepends = bats
	makedepends = scdoc
	depends = bash
	depends = systemd
	depends = pacman
	depends = pacman-contrib
	depends = archlinux-contrib
	depends = curl
	depends = fakeroot
	depends = htmlq
	depends = diffutils
	depends = hicolor-icon-theme
	depends = python
	depends = python-pyqt6
	depends = qt6-svg
	depends = glib2
	depends = xdg-utils
	optdepends = paru: AUR Packages support
	optdepends = yay: AUR Packages support
	optdepends = pikaur: AUR Packages support
	optdepends = flatpak: Flatpak Packages support
	optdepends = libnotify: Desktop notifications support on new available updates
	optdepends = vim: Default diff program for pacdiff
	optdepends = neovim: Default diff program for pacdiff if EDITOR=nvim
	optdepends = sudo: Privilege elevation
	optdepends = sudo-rs: Privilege elevation
	optdepends = opendoas: Privilege elavation
	conflicts = arch-update
	source = git+https://github.com/CachyOS/cachy-update#commit=a6b868e14749be2f43adda26d1e8d5c91b716fd6
	sha256sums = 947a95b01e294df317119b8c6f789ca20a5e614fcc908077f87eb2a53fa9f546

pkgname = cachy-update
