pkgbase = cachy-update
	pkgdesc = An update notifier & applier that assists you with important pre / post update tasks
	pkgver = 3.18.1
	pkgrel = 1
	url = https://github.com/CachyOS/cachy-update
	arch = any
	license = GPL-3.0-or-later
	checkdepends = bats
	makedepends = scdoc
	depends = bash
	depends = systemd
	depends = pacman
	depends = pacman-contrib
	depends = archlinux-contrib
	depends = curl
	depends = fakeroot
	depends = htmlq
	depends = diffutils
	depends = hicolor-icon-theme
	depends = python
	depends = python-pyqt6
	depends = qt6-svg
	depends = glib2
	depends = xdg-utils
	optdepends = paru: AUR Packages support
	optdepends = yay: AUR Packages support
	optdepends = pikaur: AUR Packages support
	optdepends = flatpak: Flatpak Packages support
	optdepends = libnotify: Desktop notifications support on new available updates
	optdepends = vim: Default diff program for pacdiff
	optdepends = neovim: Default diff program for pacdiff if EDITOR=nvim
	optdepends = sudo: Privilege elevation
	optdepends = sudo-rs: Privilege elevation
	optdepends = opendoas: Privilege elavation
	conflicts = arch-update
	source = git+https://github.com/CachyOS/cachy-update#commit=cb97579f10af98bd1386c1d910d22d1a7162ac73
	sha256sums = 0362f4340adf1430d83d8fe3f679d45654ac6f73ac1f6f3c7f1e100a5f368d3c

pkgname = cachy-update
