pkgbase = cachy-update
	pkgdesc = An interactive update notifier & applier that assists you with important pre / post update tasks
	pkgver = 4.1.3
	pkgrel = 1
	url = https://github.com/CachyOS/cachy-update
	arch = x86_64
	arch = aarch64
	license = GPL-3.0-or-later
	checkdepends = bats
	makedepends = cargo
	makedepends = scdoc
	makedepends = git
	depends = bash
	depends = systemd
	depends = pacman
	depends = pacman-contrib
	depends = archlinux-contrib
	depends = curl
	depends = fakeroot
	depends = util-linux
	depends = htmlq
	depends = diffutils
	depends = hicolor-icon-theme
	depends = glibc
	depends = libgcc
	depends = glib2
	depends = xdg-utils
	optdepends = paru: AUR Packages support
	optdepends = yay: AUR Packages support
	optdepends = pikaur: AUR Packages support
	optdepends = flatpak: Flatpak Packages support
	optdepends = libnotify: Desktop notifications support on new available updates
	optdepends = alhp-utils: Check for ALHP build queue or outdated mirrors
	optdepends = vim: Default diff program for pacdiff
	optdepends = neovim: Default diff program for pacdiff if EDITOR=nvim
	optdepends = sudo: Privilege elevation
	optdepends = sudo-rs: Privilege elevation
	optdepends = opendoas: Privilege elavation
	conflicts = arch-update
	source = git+https://github.com/CachyOS/cachy-update#commit=2f4a7261ef6e71a11d34fb63e516786b8cbc993f
	sha256sums = 982c4b65e024d487fc4a4af368eebbe31d87a0371f76a4da2cb5d90abffe4682

pkgname = cachy-update
