pkgbase = libpfm
	pkgdesc = Library to encode performance events for use by perf tool
	pkgver = 4.13.0
	pkgrel = 4
	url = https://perfmon2.sourceforge.net
	arch = x86_64
	license = MIT
	makedepends = git
	depends = glibc
	source = libpfm::git+https://git.code.sf.net/p/perfmon2/libpfm4
	b2sums = SKIP

pkgname = libpfm
