pkgbase = wasi-compiler-rt-git
	pkgdesc = WASI LLVM compiler runtime
	pkgver = 19.0.0_r504090.8426b51e0e94
	pkgrel = 1
	epoch = 1
	url = https://compiler-rt.llvm.org/
	arch = any
	license = Apache-2.0 WITH LLVM-exception
	makedepends = cmake
	makedepends = ninja
	makedepends = llvm
	makedepends = clang
	makedepends = lld
	makedepends = git
	depends = wasi-libc-git
	provides = wasi-compiler-rt
	conflicts = wasi-compiler-rt
	options = staticlibs
	source = llvm-project::git+https://github.com/llvm/llvm-project.git
	source = WASI.cmake
	source = wasi-toolchain.cmake
	b2sums = SKIP
	b2sums = c829d807c257921fddb8c4d3752ad2291a2beb116d414dd31e34b7f6b01599d8c4807db87ef9930456ed8c9f30e8648e77028fa0b903c3a5ea840514f6022cf4
	b2sums = 74c63bb838bc2e6d7980370fb3d47f8fd2f1dd8b6dc82302c7cc0b80e0fb1e8e21c1c62d6de0b78e478fc22611a5867e52b1ef7a566796fe831fffd98b17c940

pkgname = wasi-compiler-rt-git
