pkgbase = cachyos-settings
	pkgdesc = CachyOS - Settings
	pkgver = 1.0.1
	pkgrel = 1
	epoch = 1
	install = cachyos-settings.install
	arch = any
	groups = cachyos
	license = GPL
	makedepends = coreutils
	depends = zram-generator
	depends = ananicy-cpp
	depends = cachyos-ananicy-rules
	depends = uksmd
	depends = inxi
	optdepends = ruby: for tunecfs2
	optdepends = libluv: for topmem
	optdepends = lua-luv: for topmem
	optdepends = irqbalance
	source = git+https://github.com/cachyos/CachyOS-Settings?signed#tag=1.0.1
	validpgpkeys = E8B9AA39F054E30E8290D492C3C4820857F654FE
	sha256sums = f454060c79eaa9407b01dceb45c271b325e14947226fd78e125cac1a84f4fc76

pkgname = cachyos-settings
