pkgbase = cachyos-settings
	pkgdesc = CachyOS - Settings
	pkgver = 1.1.4
	pkgrel = 1
	epoch = 1
	install = cachyos-settings.install
	arch = any
	groups = cachyos
	license = GPL-1.0-only
	makedepends = coreutils
	depends = zram-generator
	depends = ananicy-cpp
	depends = cachyos-ananicy-rules
	depends = inxi
	depends = systemd>=256
	optdepends = libluv: for topmem
	optdepends = lua-luv: for topmem
	optdepends = power-profiles-daemon: For game-performance
	source = git+https://github.com/cachyos/CachyOS-Settings?signed#tag=1.1.4
	validpgpkeys = E8B9AA39F054E30E8290D492C3C4820857F654FE
	sha256sums = 757a12e2b5bb64c8f65c83a38653738894eeb857738967a5774965ec6e914e33

pkgname = cachyos-settings
