pkgbase = cachyos-ksm-settings
	pkgdesc = Package for easy configuration of KSM via systemd
	pkgver = 2
	pkgrel = 1
	arch = any
	license = GPL-3.0-or-later
	makedepends = coreutils
	depends = systemd>=256
	optdepends = sddm: for systemd service override to work
	optdepends = gdm: for systemd service override to work
	optdepends = ly: for systemd service override to work
	optdepends = lightdm: for systemd service override to work
	conflicts = uksmd
	conflicts = cachyos-settings<1:1.1.8
	replaces = uksmd
	source = 10-systemd-ksm.conf
	source = 10-enable-ksm-by-default.conf
	source = ksmctl
	source = ksmstats
	sha256sums = adab2cae71b5acb9057d87215edb8c9a079e2d16cf5a6484d1b3898503eaac75
	sha256sums = a5a0f259d6d00228864176d6081372730ee77df9621836de4feeb9dc675390a3
	sha256sums = ff5761a6c2a98567f21c201ae15b35f9c6994f26484ddad8a50eb730c9b46641
	sha256sums = d2d252577bd27fe6e2308f5503d08053dbff0c66fd2cfd8543c489769ac41fef

pkgname = cachyos-ksm-settings
