pkgbase = cachyos-mango-noctalia
	pkgdesc = CachyOS Mango (+Noctalia) settings
	pkgver = 1.2.0
	pkgrel = 1
	url = https://github.com/cachyos/cachyos-mango-noctalia
	arch = any
	license = GPL-3.0-only
	makedepends = coreutils
	makedepends = git
	depends = adw-gtk-theme
	depends = breeze
	depends = cachyos-alacritty-config
	depends = capitaine-cursors
	depends = dolphin
	depends = gnome-keyring
	depends = mangowm
	depends = noctalia
	depends = noto-fonts
	depends = noto-fonts-emoji
	depends = qt6ct
	depends = wl-clipboard
	depends = wlr-randr
	depends = xdg-desktop-portal-gtk
	depends = xdg-desktop-portal-wlr
	provides = cachyos-desktop-settings
	conflicts = cachyos-desktop-settings
	source = git+https://github.com/cachyos/cachyos-mango-noctalia#tag=1.2.0
	sha512sums = c8a4f49bdeffe5eb43d8469d20a53918d435a67191b8f643019946de60636977ef5798cc1c3f5b154a9dbaf84502b541bb25ee4347085e985a79b492b4a52acf

pkgname = cachyos-mango-noctalia
