pkgbase = cachyos-mango-noctalia
	pkgdesc = CachyOS Mango (+Noctalia) settings
	pkgver = 1.0.0
	pkgrel = 1
	url = https://github.com/cachyos/cachyos-mango-noctalia
	install = cachyos-mango-noctalia.install
	arch = any
	license = GPL-3.0-only
	makedepends = coreutils
	makedepends = git
	depends = adw-gtk-theme
	depends = cachyos-alacritty-config
	depends = capitaine-cursors
	depends = dolphin
	depends = gnome-keyring
	depends = mangowm
	depends = noctalia
	depends = noto-fonts
	depends = noto-fonts-emoji
	depends = qt6ct
	depends = wl-clipboard
	depends = wlr-randr
	depends = xdg-desktop-portal-gtk
	depends = xdg-desktop-portal-wlr
	provides = cachyos-desktop-settings
	conflicts = cachyos-desktop-settings
	source = git+https://github.com/cachyos/cachyos-mango-noctalia#tag=1.0.0
	sha512sums = 8a595cb679a893d8c86ef0c328af01ba995cea24b26e82bcc8820b46918ebbfd1f7008f1647748df7aedfcf9d434037df526db80f0daa075b4e896d661076618

pkgname = cachyos-mango-noctalia
