pkgbase = cachyos-mango-noctalia
	pkgdesc = CachyOS Mango (+Noctalia) settings
	pkgver = 1.4.1
	pkgrel = 1
	url = https://github.com/cachyos/cachyos-mango-noctalia
	arch = any
	license = GPL-3.0-only
	makedepends = coreutils
	makedepends = git
	depends = adw-gtk-theme
	depends = breeze
	depends = cachyos-alacritty-config
	depends = capitaine-cursors
	depends = dolphin
	depends = gnome-keyring
	depends = gpu-screen-recorder
	depends = mangowm
	depends = noctalia
	depends = noto-fonts
	depends = noto-fonts-emoji
	depends = qt6ct
	depends = wl-clipboard
	depends = wlr-randr
	depends = xdg-desktop-portal-gtk
	depends = xdg-desktop-portal-wlr
	provides = cachyos-desktop-settings
	conflicts = cachyos-desktop-settings
	source = git+https://github.com/cachyos/cachyos-mango-noctalia#tag=1.4.1
	sha512sums = 2dde4d19cc9bf7526ecce07f5e2516a3987b1ba7bace8a94bedb2d9939c3d99c3667351c8c3e263ed517fbf5e5cdc1aa99b7f493a007f1a3d5de02941e8d393d

pkgname = cachyos-mango-noctalia
