pkgbase = cosmic-applets
	pkgdesc = WIP applets for COSMIC Panel
	pkgver = 1.0.0.alpha.1
	pkgrel = 3
	url = https://github.com/pop-os/cosmic-applets
	arch = x86_64
	groups = cosmic
	license = GPL-3.0-or-later
	makedepends = cargo
	makedepends = git
	makedepends = just
	makedepends = lld
	depends = cosmic-icon-theme
	depends = dbus
	depends = libinput
	depends = libpulse
	depends = libxkbcommon
	options = !lto
	source = git+https://github.com/pop-os/cosmic-applets.git#tag=epoch-1.0.0-alpha.1
	sha256sums = b915b3bb311693f05054a88bafbf0b0f1ba67fb3dfc81e9ab4ebe364912aed32

pkgname = cosmic-applets
