pkgbase = cosmic-applets
	pkgdesc = WIP applets for COSMIC Panel
	pkgver = 1.0.0.alpha.2
	pkgrel = 2
	url = https://github.com/pop-os/cosmic-applets
	arch = x86_64
	groups = cosmic
	license = GPL-3.0-or-later
	makedepends = cargo
	makedepends = clang
	makedepends = git
	makedepends = just
	makedepends = lld
	depends = cosmic-icon-theme
	depends = dbus
	depends = libinput
	depends = libpulse
	depends = libxkbcommon
	options = !lto
	source = git+https://github.com/pop-os/cosmic-applets.git#tag=3670f124fb51ff730c470398014a38ee166e2dbb
	sha256sums = 6172635cf93c66fb1e1ca26962bc832ce31b9233171d11dc638ed4c200d35e35

pkgname = cosmic-applets
