pkgbase = cosmic-bg
	pkgdesc = COSMIC session service which applies backgrounds to displays
	pkgver = 1.0.0.alpha.1
	pkgrel = 1
	url = https://github.com/pop-os/cosmic-bg
	arch = x86_64
	groups = cosmic
	license = MPL-2.0
	makedepends = cargo
	makedepends = git
	makedepends = just
	makedepends = lld
	makedepends = nasm
	depends = cosmic-icon-theme
	depends = gcc-libs
	depends = glibc
	depends = libxkbcommon
	source = git+https://github.com/pop-os/cosmic-bg.git#tag=e5637fcc83abeb4e9a675b04a9b98ae4a5c186fa
	b2sums = 80757e5fd9db7e16c4f72e08708099b5f6fe369e1a6135061ba3f35489d70a0b88fe9a03f0cef99efdd101d8eb33183af113260f2b93a58dd9b517c2d7e83a0a

pkgname = cosmic-bg
