pkgbase = cosmic-bg
	pkgdesc = COSMIC session service which applies backgrounds to displays
	pkgver = 1.0.0.alpha.2
	pkgrel = 1
	url = https://github.com/pop-os/cosmic-bg
	arch = x86_64
	groups = cosmic
	license = MPL-2.0
	makedepends = cargo
	makedepends = git
	makedepends = just
	makedepends = lld
	makedepends = nasm
	depends = cosmic-icon-theme
	depends = gcc-libs
	depends = glibc
	depends = libxkbcommon
	source = git+https://github.com/pop-os/cosmic-bg.git#tag=584f6b3c0454396df25d36c6c2b59b018946e81e
	b2sums = 0306af059b179b3ff3bcc91965111205dacdf4097d085022d3c189b4ceb678c67a710de6ed936e93373e1826fcc228a2bf92e5c0eab6869962a19b4365adcb3e

pkgname = cosmic-bg
