pkgbase = mkinitcpio
	pkgdesc = Modular initramfs image creation utility
	pkgver = 32
	pkgrel = 3
	url = https://github.com/archlinux/mkinitcpio
	install = mkinitcpio.install
	arch = any
	license = GPL
	makedepends = asciidoc
	depends = awk
	depends = mkinitcpio-busybox>=1.19.4-2
	depends = kmod
	depends = util-linux>=2.23
	depends = libarchive
	depends = coreutils
	depends = bash
	depends = binutils
	depends = diffutils
	depends = findutils
	depends = grep
	depends = filesystem>=2011.10-1
	depends = zstd
	depends = systemd
	optdepends = gzip: Use gzip compression for the initramfs image
	optdepends = xz: Use lzma or xz compression for the initramfs image
	optdepends = bzip2: Use bzip2 compression for the initramfs image
	optdepends = lzop: Use lzo compression for the initramfs image
	optdepends = lz4: Use lz4 compression for the initramfs image
	optdepends = mkinitcpio-nfs-utils: Support for root filesystem on NFS
	provides = initramfs
	backup = etc/mkinitcpio.conf
	source = https://sources.archlinux.org/other/mkinitcpio/mkinitcpio-32.tar.gz
	source = https://sources.archlinux.org/other/mkinitcpio/mkinitcpio-32.tar.gz.sig
	source = 0001-mkinitcpio-cachyos.patch
	validpgpkeys = ECCAC84C1BA08A6CC8E63FBBF22FB1D78A77AEAB
	validpgpkeys = C100346676634E80C940FB9E9C02FF419FECBE16
	sha512sums = c180bef8af774305e8c9779b3405daaa5be33588bf89c6625a28eac1cde424f447782737d85d810fed4971d38b31086a072293d42aad08398c090f9538b56a4e
	sha512sums = SKIP
	sha512sums = f27e08451cf0a8ec6d785cf6a88bc00ea822fbaa5d91f13ff07842ffb044ba065095b1005d61e0e6a11f09dfc7fde77c4aca03203d1d1167ed36508474fdd335
	b2sums = 0c29659278e662eb58bc776f99e9579b5f0cf3268175382ecf2d635d54a6a8261ae173e387503a0c20a7492656c703a6699b52e1a6693c85c3211225d3e7abf8
	b2sums = SKIP
	b2sums = 295504aeee4bb1fb79d699c524f6996eb5ae4ac2ae85989d0b6c169092fdb641f4ad5a60820813eafede560faf8d0d02355cf66773f63057afa3ab724180fb7e

pkgname = mkinitcpio
