pkgbase = lz4
	pkgdesc = Extremely fast compression algorithm
	pkgver = 1.9.4
	pkgrel = 4
	epoch = 1
	url = https://lz4.github.io/lz4/
	arch = x86_64
	license = GPL2
	checkdepends = diffutils
	makedepends = git
	makedepends = cmake
	makedepends = ninja
	makedepends = llvm
	makedepends = clang
	makedepends = bc
	depends = glibc
	source = git+https://github.com/lz4/lz4.git#tag=v1.9.4
	sha256sums = 0b6407091d387a35922956db45a011e0b6bf72d97c462ef10802e81e969089c8

pkgname = lz4
