pkgbase = cosmic-panel
	pkgdesc = XDG Shell Wrapper Panel for Cosmic
	pkgver = 1.0.0.alpha.1
	pkgrel = 1
	url = https://github.com/pop-os/cosmic-panel
	arch = x86_64
	groups = cosmic
	license = GPL-3.0-only
	makedepends = cargo
	makedepends = git
	makedepends = just
	makedepends = lld
	depends = gcc-libs
	depends = glibc
	depends = libxkbcommon
	depends = wayland
	source = git+https://github.com/pop-os/cosmic-panel.git#tag=47c672066adac6ff77b680b9461c8e1c2667b758
	b2sums = f861548b817cb16b2db6d21bc7ae45bdc0747f363364a585712c0ebc10a8c7d995a3bc5ad2d1ef643d076463aa0e6268a30095cc980124ecc61e41cf6510a282

pkgname = cosmic-panel
