pkgbase = cosmic-panel
	pkgdesc = XDG Shell Wrapper Panel for Cosmic
	pkgver = 1.0.0.alpha.2
	pkgrel = 2
	url = https://github.com/pop-os/cosmic-panel
	arch = x86_64
	groups = cosmic
	license = GPL-3.0-only
	makedepends = cargo
	makedepends = clang
	makedepends = git
	makedepends = just
	makedepends = lld
	depends = gcc-libs
	depends = glibc
	depends = libxkbcommon
	depends = wayland
	source = git+https://github.com/pop-os/cosmic-panel.git#tag=4fedcbfc3574600b58de6da6c2401c92264537bd
	b2sums = 27fed61826b58ace508b1ce74932a881c168b0729b5d5c204376a7dbde9316e467380f61f061cc04d74f0631b73cf902954b04fadcb7a03f5f2597bee8eacc92

pkgname = cosmic-panel
