pkgbase = cosmic-workspaces
	pkgdesc = Cosmic workspaces
	pkgver = 1.0.0.alpha.1
	pkgrel = 1
	url = https://github.com/pop-os/cosmic-workspaces-epoch
	arch = x86_64
	groups = cosmic
	license = GPL-3.0-or-later
	makedepends = cargo
	makedepends = git
	makedepends = lld
	depends = libinput
	depends = libxkbcommon
	depends = mesa
	depends = wayland
	source = git+https://github.com/pop-os/cosmic-workspaces-epoch.git#tag=epoch-1.0.0-alpha.1
	sha256sums = 9618f8e4b8a3627bf7ab86d9cbaff55f7bf09566dd4204191e16e7125f134e82

pkgname = cosmic-workspaces
