pkgbase = cosmic-workspaces
	pkgdesc = Cosmic workspaces
	pkgver = 1.0.0.alpha.2
	pkgrel = 1
	url = https://github.com/pop-os/cosmic-workspaces-epoch
	arch = x86_64
	groups = cosmic
	license = GPL-3.0-only
	makedepends = cargo
	makedepends = git
	makedepends = lld
	depends = cosmic-icon-theme
	depends = gcc-libs
	depends = glibc
	depends = libinput
	depends = libxkbcommon
	depends = mesa
	depends = wayland
	source = git+https://github.com/pop-os/cosmic-workspaces-epoch.git#tag=70d6c415a1cd931f575c3e18274c3fecc7cc9a03
	b2sums = 06c1eeb25d12287c0c9865543a5bf8bf1fd01d338edea07b2d20ef3783f77ffb43fcfd1550786f2703ffdcdd833a60c39f8beaa4dc59792ca4d825e6b5ac0b88

pkgname = cosmic-workspaces
