pkgbase = cosmic-workspaces
	pkgdesc = Cosmic workspaces
	pkgver = 1.0.0.alpha.1
	pkgrel = 3
	url = https://github.com/pop-os/cosmic-workspaces-epoch
	arch = x86_64
	groups = cosmic
	license = GPL-3.0-only
	makedepends = cargo
	makedepends = git
	makedepends = lld
	depends = cosmic-icon-theme
	depends = gcc-libs
	depends = glibc
	depends = libinput
	depends = libxkbcommon
	depends = mesa
	depends = wayland
	source = git+https://github.com/pop-os/cosmic-workspaces-epoch.git#tag=c1acf0c1aa819fc279193dd61e04ec132f318b6c
	b2sums = a97f74994c83c7e2fe51b4c88426672c4c7056246cfa5e3d5d28337f468339b812538c62088bbfe2fe8c743cd52b88c2892b9c117e73e62a089a9dee93d58681

pkgname = cosmic-workspaces
