pkgbase = makedumpfile
	pkgdesc = A tool to generate smaller dumpfiles from kdump memory dumps
	pkgver = 1.7.5
	pkgrel = 2
	url = https://github.com/makedumpfile/makedumpfile
	arch = x86_64
	license = GPL-2.0-only
	makedepends = git
	depends = perl
	depends = libelf
	depends = zstd
	source = git+https://github.com/makedumpfile/makedumpfile.git?signed#tag=1.7.5
	source = 6.10.patch::https://github.com/makedumpfile/makedumpfile/commit/bad2a7c4fa75d37a41578441468584963028bdda.patch
	source = 6.9.patch::https://github.com/makedumpfile/makedumpfile/commit/985e575253f1c2de8d6876cfe685c68a24ee06e1.patch
	validpgpkeys = F4BA97F873AB047F217F8D16B0E0CE20E95D17F5
	validpgpkeys = 60C5A596A37CDE6C357C5C623136D252B5E85FA9
	sha256sums = 4dbeb9bb18605518c5bb7ea3e779b90b2fb629d6dc204f930a0e9c52ff358cb4
	sha256sums = fb28b3b6f62ffcefb6b44324bfb9aad1fda52ce2e1c66c4beb1e77ebc9d140ed
	sha256sums = 025f2062a3d9aaa1c21f7594a6eed0c6108a0b1019e62a2d31f02e253399413d

pkgname = makedumpfile
