pkgbase = chafa
	pkgdesc = Image-to-text converter supporting a wide range of symbols and palettes, transparency, animations, etc.
	pkgver = 1.18.2
	pkgrel = 2.1
	url = https://hpjansson.org/chafa/
	arch = x86_64
	license = LGPL-3.0-or-later
	makedepends = git
	makedepends = gtk-doc
	depends = libavif
	depends = libheif
	depends = libjxl
	depends = librsvg
	depends = libwebp
	depends = libxslt
	provides = libchafa.so
	source = git+https://github.com/hpjansson/chafa.git#tag=1.18.2?signed
	source = chafa-1.18.2-smolscale-avx2-alignment.patch
	validpgpkeys = C01EDE5BB0D91E26D003662EC76BB9FEEAD12EA7
	sha512sums = 93e1a44e2e5ec655f65e9f2b85be44e407429621a6b14b37f6cdf1db5c686d78c3b1c12d7b45791e12127d174da47fd69d151bb539f72f4449a8671c75f0a3ad
	sha512sums = 4f09c1b2a9de80777f731c2fee1250cca6a3109d479f3074c59fa597135ffd91ac241db42ca3ce5d71986fe852a0937a76cf7b7ceed5bd43baa37fbbde633050

pkgname = chafa
