pkgbase = devtools
	pkgdesc = Tools for Arch Linux package maintainers
	pkgver = 1.5.1
	pkgrel = 2
	epoch = 1
	url = https://gitlab.archlinux.org/archlinux/devtools
	arch = any
	license = GPL-3.0-or-later
	checkdepends = bats
	makedepends = asciidoctor
	depends = arch-install-scripts
	depends = awk
	depends = bash
	depends = binutils
	depends = coreutils
	depends = curl
	depends = diffutils
	depends = expac
	depends = fakeroot
	depends = findutils
	depends = glow
	depends = grep
	depends = gum
	depends = jq
	depends = openssh
	depends = parallel
	depends = reuse
	depends = rsync
	depends = sed
	depends = util-linux
	depends = sudo
	depends = breezy
	depends = git
	depends = mercurial
	depends = subversion
	optdepends = btrfs-progs: btrfs support
	optdepends = bat: pretty printing for pkgctl search
	optdepends = nvchecker: pkgctl version subcommand
	source = https://gitlab.archlinux.org/archlinux/devtools/-/releases/v1.5.1/downloads/devtools-1.5.1.tar.gz
	source = https://gitlab.archlinux.org/archlinux/devtools/-/releases/v1.5.1/downloads/devtools-1.5.1.tar.gz.sig
	source = https://github.com/CachyOS/devtools/commit/3892c591abc18a0cae03c600ff1ce410d12cf070.patch
	source = https://github.com/CachyOS/devtools/commit/b0ed72249d22bfa927de2ce4c8ca639add3657cb.patch
	validpgpkeys = E240B57E2C4630BA768E2F26FC1B547C8D8172C8
	validpgpkeys = F00B96D15228013FFC9C9D0393B11DAA4C197E3D
	sha256sums = 4968ee684cae62216ffafe11ac684559a7c03a7f254ec3a1b1152ced2bf8e4fa
	sha256sums = SKIP
	sha256sums = cfbdba3af8d286a4686c077a357261365e61270620662927e5016b124b75d5c9
	sha256sums = 8fd967c97097cdd7c8fea135f56209bc492d9c27839c34d4759b22c6e97b3717
	b2sums = 42eee98b5363eb83519cf3953b382ba38af38257fc440f700540713767a53dbb3f7c3c23ef5146eaf63586ba6a0fd114a9dcb354e34d8670c341a138c511602f
	b2sums = SKIP
	b2sums = ed915706f05909b44a681f823787fcc9cf6b8c2727d8b386c94046bfa9ebced246f7a6d017ed8244d21ef4065e5fd8bb53ec893cf3346ea32576d31c5e6ae82d
	b2sums = 38fffbec92f432b835731e78a9d8fc70dde81b0fd637dd3e38f5471fc60ebe8979cc5db7248a93cbbd800747b1c7b8dca28f134151b44424dea68e26f4df7cde

pkgname = devtools
