pkgbase = nvidia-580xx-utils
	pkgver = 580.105.08
	pkgrel = 1
	url = http://www.nvidia.com/
	arch = x86_64
	license = custom
	makedepends = patchelf
	options = !strip
	source = nvidia-drm-outputclass.conf
	source = nvidia-utils.sysusers
	source = nvidia.rules
	source = systemd-homed-override.conf
	source = systemd-suspend-override.conf
	source = nvidia-sleep.conf
	source = https://us.download.nvidia.com/XFree86/Linux-x86_64/580.105.08/NVIDIA-Linux-x86_64-580.105.08.run
	source = https://download.nvidia.com/XFree86/NVIDIA-kernel-module-source/NVIDIA-kernel-module-source-580.105.08.tar.xz
	source = 0001-Enable-atomic-kernel-modesetting-by-default.patch
	source = 0002-Add-IBT-support.patch
	source = 0003-nvidia-uvm-Remove-unused-get_devmap_page-parameter.patch
	source = 0004-nvkms-Limit-default-maximum-TMDS-character-rate-to-3.patch
	source = limit-vram-usage
	sha256sums = be99ff3def641bb900c2486cce96530394c5dc60548fc4642f19d3a4c784134d
	sha256sums = f77a5247a3ba63e9fad3a3b2822d0fcfa51e0f79b5a90bd79bf08ea34b64ab07
	sha256sums = 0e54249a7754b668b436f0f7aa7e95fff68edbb12a93dbee4660e09a8c695f84
	sha256sums = c5aa7b8abe69e72bfdc6b9ee8afbfd350bcc557e894558f2e6e4087fa9aa0dd8
	sha256sums = 1d053c5078387021338cfc3a732bed61be1a20a549775573788e9134775c8149
	sha256sums = 12d31a5425aba66be9e9129012cde82755ad4d5b7ce9933df8fc398c4fa8d631
	sha256sums = d9c6e8188672f3eb74dd04cfa69dd58479fa1d0162c8c28c8d17625763293475
	sha256sums = 59c518a2014f83efaf2a9f539b3097c55e74e8878aca01aedb59e92e3116080d
	sha256sums = 163c57160cc1033020680f638b44ebd94b496152dcd8951e87d5077d4d5c2009
	sha256sums = a0088d49d46b699d1727e5944fd9aca5ede93ea3678dd5e91ca58084bc2fa0ee
	sha256sums = dee7f3678c6de69404d8077d6d2afcf55bd95fb367d685a4f6f19bcf8bb9c0f8
	sha256sums = c1ad8b06aa85ac01fb303fc6d6329d3cf208ee1cd7c2918d07e970539751e16e
	sha256sums = b14f7a65359c05c373ddfc750cd4cf086a48e815489d93ad5cbe1dbf84bf8f5a

pkgname = nvidia-580xx-utils
	pkgdesc = NVIDIA drivers utilities (580xx)
	install = nvidia-580xx-utils.install
	depends = libglvnd
	depends = egl-wayland
	depends = egl-gbm
	depends = egl-x11
	depends = opencl-nvidia-580xx=580.105.08
	depends = lib32-nvidia-580xx-utils=580.105.08
	depends = lib32-opencl-nvidia-580xx=580.105.08
	optdepends = nvidia-settings: configuration tool
	optdepends = xorg-server: Xorg support
	optdepends = xorg-server-devel: nvidia-xconfig
	provides = vulkan-driver
	provides = nvidia-utils
	provides = opengl-driver
	provides = nvidia-libgl
	conflicts = nvidia-libgl
	conflicts = nvidia-utils
	replaces = nvidia-libgl

pkgname = opencl-nvidia-580xx
	pkgdesc = OpenCL implemention for NVIDIA (580xx)
	depends = zlib
	optdepends = opencl-headers: headers necessary for OpenCL development
	provides = opencl-driver
	provides = opencl-nvidia
	conflicts = opencl-nvidia

pkgname = nvidia-580xx-dkms
	pkgdesc = NVIDIA kernel modules - module sources (580xx)
	depends = dkms
	depends = nvidia-580xx-utils=580.105.08
	depends = libglvnd
	provides = NVIDIA-MODULE
	provides = nvidia
	conflicts = NVIDIA-MODULE
	conflicts = nvidia
	conflicts = nvidia-open-dkms
	replaces = nvidia-dkms
	replaces = linux-cachyos-nvidia
	replaces = linux-cachyos-nvidia-lto
	replaces = linux-cachyos-bmq-lto-nvidia
	replaces = linux-cachyos-bmq-nvidia
	replaces = linux-cachyos-bore-lto-nvidia
	replaces = linux-cachyos-bore-nvidia
	replaces = linux-cachyos-deckify-lto-nvidia
	replaces = linux-cachyos-deckify-nvidia
	replaces = linux-cachyos-eevdf-lto-nvidia
	replaces = linux-cachyos-eevdf-nvidia
	replaces = linux-cachyos-gcc-nvidia
	replaces = linux-cachyos-hardened-lto-nvidia
	replaces = linux-cachyos-hardened-nvidia
	replaces = linux-cachyos-lts-lto-nvidia
	replaces = linux-cachyos-lts-nvidia
	replaces = linux-cachyos-rc-gcc-nvidia
	replaces = linux-cachyos-rc-lto-nvidia
	replaces = linux-cachyos-rc-nvidia
	replaces = linux-cachyos-rt-bore-lto-nvidia
	replaces = linux-cachyos-rt-bore-nvidia
	replaces = linux-cachyos-server-lto-nvidia
	replaces = linux-cachyos-server-nvidia
	replaces = linux-cachyos-bmq-nvidia
	replaces = linux-cachyos-bore-nvidia
	replaces = linux-cachyos-deckify-nvidia
	replaces = linux-cachyos-eevdf-nvidia
	replaces = linux-cachyos-hardened-nvidia
	replaces = linux-cachyos-lts-nvidia
	replaces = linux-cachyos-rc-nvidia
	replaces = linux-cachyos-rt-bore-nvidia
	replaces = linux-cachyos-rt-nvidia
	replaces = linux-cachyos-server-nvidia

pkgname = nvidia-580xx-open-dkms
	pkgdesc = NVIDIA open kernel modules - module sources (580xx)
	license = MIT AND GPL-2.0-only
	depends = dkms
	provides = nvidia-open-dkms=580.105.08
	provides = nvidia-open
	provides = NVIDIA-MODULE
	conflicts = nvidia-open-dkms
	conflicts = nvidia-open
	conflicts = NVIDIA-MODULE
