pkgbase = cosmic-osd
	pkgdesc = COSMIC On-Screen Display
	pkgver = 1.0.0.alpha.2
	pkgrel = 2
	url = https://github.com/pop-os/cosmic-osd
	arch = x86_64
	groups = cosmic
	license = GPL-3.0-only
	makedepends = cargo
	makedepends = clang
	makedepends = git
	makedepends = lld
	depends = gcc-libs
	depends = glibc
	depends = libpulse
	depends = libxkbcommon
	depends = systemd-libs
	depends = wayland
	source = git+https://github.com/pop-os/cosmic-osd.git#tag=27fc5e5ba4bbed119a1fc85f840db0ade13dde85
	b2sums = 1e7665a1c4dfbabcb0ca181efc4545a6973c7ef7188266a426977d783db18318179015ba255e31450be2d85a8fa8266bd14aaf54baac4616728a303634662f1d

pkgname = cosmic-osd
