pkgbase = cosmic-osd
	pkgdesc = COSMIC OSD
	pkgver = 1.0.0.alpha.1
	pkgrel = 1
	url = https://github.com/pop-os/cosmic-osd
	arch = x86_64
	groups = cosmic
	license = GPL-3.0-or-later
	makedepends = cargo
	makedepends = git
	makedepends = lld
	depends = libpulse
	depends = libxkbcommon
	depends = systemd-libs
	depends = wayland
	source = git+https://github.com/pop-os/cosmic-osd.git#tag=epoch-1.0.0-alpha.1
	sha256sums = c81b40487abdc811924d7764ba4bfbd4f9e844e67f5beaa30f6cd1e5582b0d05

pkgname = cosmic-osd
