pkgbase = systemd-boot-manager
	pkgdesc = A simple tool to maintain systemd-boot & systemd-boot entries for CachyOS
	pkgver = 9
	pkgrel = 1
	url = https://github.com/CachyOS/CachyOS-PKGBUILDS/tree/master/systemd-boot-manager
	arch = any
	license = GPL2
	depends = systemd
	depends = findutils
	depends = grep
	depends = gawk
	backup = etc/sdboot-manage.conf
	source = https://github.com/CachyOS/CachyOS-PKGBUILDS/tree/master/systemd-boot-manager/sdboot-manage
	source = https://github.com/CachyOS/CachyOS-PKGBUILDS/tree/master/systemd-boot-manager/sdboot-manage.conf
	source = https://github.com/CachyOS/CachyOS-PKGBUILDS/tree/master/systemd-boot-manager/sdboot-kernel-update.hook
	source = https://github.com/CachyOS/CachyOS-PKGBUILDS/tree/master/systemd-boot-manager/sdboot-kernel-remove.hook
	source = https://github.com/CachyOS/CachyOS-PKGBUILDS/tree/master/systemd-boot-manager/sdboot-systemd-update.hook
	sha512sums = b3f57e275eb472b0b9a1006d601cc62053e9184a7169228d0152b4df88d698f91a523153527136e0a9ad37c97296a92185acb4d2fc1875d9ce935e2fd03c9c4b
	sha512sums = dbc7ca7aeb1700bf36bfd63fb0bb6c73cf18d9006493766475c09a4f31f7e88e6155b02295e6f5acdb1c611eca096a8fe2380cfd34483c53a3cf483027ada632
	sha512sums = 047da99a32b3cf1d9ff52ff347a0a8119f7c02a947d45c913c62d4c960d69aebcc240c1a466780bbcea08903361d8f33096d679e8aaac81d8a1f0c9fdf48f442
	sha512sums = 4ff08aa5d4603d699a6d5df96bc19ef15959418b41bab62b4425e97c263f6561f8fcb7cf4b06cb2a1153e0c842cc6fb03dd2f50ff24ab2489b0f129b91febc71
	sha512sums = ebd0c79def6f2d77b9eac63ca41460db5670220dd9ba033bd0c24017abc7f71da2250907f76cac0cc9cf10e219ef518b916aa547fafbba4715be4985cc278c50

pkgname = systemd-boot-manager
