pkgbase = cachyos-iridescent-kde
	pkgdesc = CachyOS cachyos-iridescent-kde
	pkgver = r2.16aa352
	pkgrel = 1
	url = https://github.com/CachyOS/cachyos-iridescent-kde
	arch = any
	groups = cachyos
	license = GPL3
	makedepends = git
	optdepends = plasma-desktop: for included plasma theme
	source = git+https://github.com/CachyOS/cachyos-iridescent-kde.git
	sha256sums = SKIP

pkgname = cachyos-iridescent-kde
