pkgbase = cachyos-deckify
	pkgdesc = CachyOS - Deckify!
	pkgver = 1
	pkgrel = 4
	install = cachyos-deckify.install
	arch = any
	license = GPL-3.0-later
	depends = gamescope-plus
	depends = mangohud
	depends = cachyos-gaming-meta
	depends = gamescope-session-steam-git
	depends = chimeraos-device-quirks-git
	depends = inputplumber
	depends = asusctl
	depends = scx-scheds
	depends = qt5-tools
	source = git+https://github.com/CachyOS/CachyOS-Deckify#commit=d30a4f84d952e19b5ac767de1b04dbdd459bb51c
	sha256sums = ffe7165c05906eec7e51d34000fe0b51ff342afe0640476aec5327cf622108a3

pkgname = cachyos-deckify
