pkgbase = cachyos-deckify
	pkgdesc = CachyOS - Deckify!
	pkgver = 1
	pkgrel = 8
	install = cachyos-deckify.install
	arch = any
	license = GPL-3.0-later
	depends = gamescope-session-git
	depends = mangohud
	depends = cachyos-gaming-meta
	depends = jq
	depends = dmidecode
	depends = glew
	depends = glfw
	depends = glxinfo
	depends = curl
	depends = tar
	depends = scx-scheds
	depends = qt5-tools
	depends = hhd
	depends = hhd-ui
	depends = adjustor
	depends = gamescope-session-steam-git
	options = !strip
	options = !debug
	source = git+https://github.com/CachyOS/CachyOS-Deckify#commit=be04eed765a1c17261fdbfbdfefa4ec0a86f9689
	sha256sums = 673dbbc15498b35c1107ac9abf24d796e7b5d26f20f9db3bcd817a475c123e0e

pkgname = cachyos-deckify
