pkgbase = cachyos-deckify
	pkgdesc = CachyOS - Deckify!
	pkgver = 1
	pkgrel = 5
	install = cachyos-deckify.install
	arch = any
	license = GPL-3.0-later
	depends = gamescope-plus
	depends = mangohud
	depends = cachyos-gaming-meta
	depends = gamescope-session-steam-git
	depends = gamescope-session-git
	depends = chimeraos-device-quirks-git
	depends = inputplumber
	depends = asusctl
	depends = scx-scheds
	depends = qt5-tools
	options = !strip
	options = !debug
	source = git+https://github.com/CachyOS/CachyOS-Deckify#commit=ed3dbf6b7f772b4c6b269e12b1ed2d256a054025
	sha256sums = 0af3c24f69306cc35686ae7fbb4da055dfd0dc04f771f64c63cad7e3884f3954

pkgname = cachyos-deckify
