pkgbase = cachyos-lavender-kde-theme-git
	pkgdesc = CachyOS Lavender KDE Theme
	pkgver = r7.6279f76
	pkgrel = 1
	url = https://github.com/CachyOS/CachyOS-Lavender-KDE
	arch = any
	groups = cachyos
	license = GPL3
	makedepends = git
	optdepends = plasma-desktop: for included plasma theme
	optdepends = kvantum
	source = git+https://github.com/CachyOS/CachyOS-Lavender-KDE.git
	sha256sums = SKIP

pkgname = cachyos-lavender-kde-theme-git
