pkgbase = zstd
	pkgdesc = Zstandard - Fast real-time compression algorithm
	pkgver = 1.5.4
	pkgrel = 1
	url = https://facebook.github.io/zstd/
	arch = x86_64
	license = BSD
	license = GPL2
	makedepends = cmake
	makedepends = gtest
	makedepends = ninja
	depends = glibc
	depends = gcc-libs
	depends = zlib
	depends = xz
	depends = lz4
	provides = libzstd.so
	source = https://github.com/facebook/zstd/releases/download/v1.5.4/zstd-1.5.4.tar.zst
	source = https://github.com/facebook/zstd/releases/download/v1.5.4/zstd-1.5.4.tar.zst.sig
	validpgpkeys = 4EF4AC63455FC9F4545D9B7DEF8FE99528B52FFD
	sha256sums = 6925880b84aca086308c27036ef1c16e76817372301ead7c37f90e23567f704e
	sha256sums = SKIP
	b2sums = 8caea5dae06928076c2e54b059a501bd757663bae5948cb49ae32a7591c11636b22cb3b45d4f91653da800e1815cf5b28f72c69f4696ada4fdc746a272239da9
	b2sums = SKIP

pkgname = zstd
