pkgbase = zstd
	pkgdesc = Zstandard - Fast real-time compression algorithm
	pkgver = 1.5.3
	pkgrel = 8
	url = https://facebook.github.io/zstd/
	arch = x86_64
	license = BSD
	license = GPL2
	makedepends = cmake
	makedepends = gtest
	makedepends = ninja
	makedepends = git
	depends = glibc
	depends = gcc-libs
	depends = zlib
	depends = xz
	depends = lz4
	provides = libzstd.so
	options = debug
	source = git+https://github.com/facebook/zstd.git#commit=4d82a4d3f227bb6ed369f1a179a6736b913a05e1
	sha256sums = SKIP

pkgname = zstd
