pkgbase = steamdeck-dsp
	pkgdesc = Steamdeck Audio Processing
	pkgver = 0.56
	pkgrel = 1
	arch = any
	license = Proprietary
	makedepends = git
	makedepends = openssh
	makedepends = base-devel
	makedepends = glibc
	makedepends = faust
	makedepends = ladspa
	makedepends = lv2
	makedepends = boost
	makedepends = linux-api-headers
	makedepends = qt5-base
	depends = pipewire
	source = git+https://gitlab.com/evlaV/valve-hardware-audio-processing.git#tag=0.56
	sha512sums = 6c05e66e3781b034007733cd4cdd949930091b776f5f2dab079f61f48d3aa170872ef30e69786207f5ed5703a8d356016522a2693fb2b745a7c50ae4347ebb35

pkgname = steamdeck-dsp
