pkgbase = steamdeck-dsp
	pkgdesc = Steamdeck Audio Processing
	pkgver = 1.02
	pkgrel = 1
	url = https://github.com/evlaV/valve-hardware-audio-processing
	arch = any
	license = GPL-2.0-or-later
	makedepends = git
	makedepends = openssh
	makedepends = base-devel
	makedepends = glibc
	makedepends = faust
	makedepends = ladspa
	makedepends = lv2
	makedepends = boost
	makedepends = linux-api-headers
	makedepends = qt5-base
	depends = pipewire
	source = git+https://github.com/evlaV/valve-hardware-audio-processing.git#tag=1.02
	sha512sums = 76b5d3dbf98879f5bde2855dfc162ba99c42383784fe4386c99671ab58ec61f2b0fc21ad75139af4177823878c9f8471c8d3dcbbd8156d49f3f2af6d424e566a

pkgname = steamdeck-dsp
