pkgbase = steamdeck-dsp
	pkgdesc = Steamdeck Audio Processing
	pkgver = 0.87
	pkgrel = 1
	url = https://github.com/evlaV/valve-hardware-audio-processing
	arch = any
	license = GPL-2.0-or-later
	makedepends = git
	makedepends = openssh
	makedepends = base-devel
	makedepends = glibc
	makedepends = faust
	makedepends = ladspa
	makedepends = lv2
	makedepends = boost
	makedepends = linux-api-headers
	makedepends = qt5-base
	depends = pipewire
	source = git+https://github.com/evlaV/valve-hardware-audio-processing.git#tag=0.87
	sha512sums = fa77d01df6862c75f67261d28fd555f8c84113e83feca89042ec05102c8a35fc070f534f4b0612d249caacc1a1efefa4112518b874fb5e0ec2455f7a4dcb6065

pkgname = steamdeck-dsp
