pkgbase = cachyos-settings
	pkgdesc = CachyOS - Settings
	pkgver = 1
	pkgrel = 3
	install = cachyos-settings.install
	arch = x86_64
	arch = x86_64_v3
	license = GPL
	makedepends = coreutils
	depends = irqbalance
	depends = reflector
	depends = haveged
	depends = profile-sync-daemon
	depends = zram-generator
	depends = systemd-oomd
	source = git+https://gitea.cachyos.org/CachyOS/cachyos-settings.git
	sha256sums = SKIP

pkgname = cachyos-settings
