pkgbase = lib32-nvidia-utils
	pkgver = 580.82.07
	pkgrel = 2
	url = http://www.nvidia.com/
	arch = x86_64
	license = custom
	options = !strip
	source = https://us.download.nvidia.com/XFree86/Linux-x86_64/580.82.07/NVIDIA-Linux-x86_64-580.82.07.run
	sha512sums = 109b11c10445e24d94fa00495d8d117e7fa866248c0c33e213e8bf3de6c3d264581f1feffa4837c1efe2b8cdb1b39b96b35d58ac88850b59de7b8ea28ce6282c

pkgname = lib32-nvidia-utils
	pkgdesc = NVIDIA drivers utilities (32-bit)
	depends = lib32-zlib
	depends = lib32-gcc-libs
	depends = lib32-libglvnd
	depends = nvidia-utils=580.82.07
	optdepends = lib32-opencl-nvidia
	provides = lib32-vulkan-driver
	provides = lib32-opengl-driver
	provides = lib32-nvidia-libgl
	conflicts = lib32-nvidia-libgl
	replaces = lib32-nvidia-libgl

pkgname = lib32-opencl-nvidia
	pkgdesc = OpenCL implemention for NVIDIA (32-bit)
	depends = lib32-zlib
	depends = lib32-gcc-libs
	optdepends = opencl-headers: headers necessary for OpenCL development
	provides = lib32-opencl-driver
