pkgbase = lib32-nvidia-utils
	pkgver = 580.65.06
	pkgrel = 1
	url = http://www.nvidia.com/
	arch = x86_64
	license = custom
	options = !strip
	source = https://us.download.nvidia.com/XFree86/Linux-x86_64/580.65.06/NVIDIA-Linux-x86_64-580.65.06.run
	sha512sums = e9149873cc83c250f601be58ea919cbdc891773157587366d78f505ee1db96bf392bc5e689d39ce8fa339287699118897b8d6eba2b2a9caf163126a9bb2a6044

pkgname = lib32-nvidia-utils
	pkgdesc = NVIDIA drivers utilities (32-bit)
	depends = lib32-zlib
	depends = lib32-gcc-libs
	depends = lib32-libglvnd
	depends = nvidia-utils=580.65.06
	optdepends = lib32-opencl-nvidia
	provides = lib32-vulkan-driver
	provides = lib32-opengl-driver
	provides = lib32-nvidia-libgl
	conflicts = lib32-nvidia-libgl
	replaces = lib32-nvidia-libgl

pkgname = lib32-opencl-nvidia
	pkgdesc = OpenCL implemention for NVIDIA (32-bit)
	depends = lib32-zlib
	depends = lib32-gcc-libs
	optdepends = opencl-headers: headers necessary for OpenCL development
	provides = lib32-opencl-driver
