pkgbase = lib32-nvidia-utils
	pkgver = 565.57.01
	pkgrel = 1
	url = http://www.nvidia.com/
	arch = x86_64
	license = custom
	options = !strip
	source = https://us.download.nvidia.com/XFree86/Linux-x86_64/565.57.01/NVIDIA-Linux-x86_64-565.57.01.run
	sha512sums = 8f5c0f06e13cf84042c9ad1d628ef3fd5aaffb116f1716b099e6ededb125e973a4a2c511bb6201e3a39d7710b2850c3418bdbeac792036b7524c5a5fc8746f52

pkgname = lib32-nvidia-utils
	pkgdesc = NVIDIA drivers utilities (32-bit)
	depends = lib32-zlib
	depends = lib32-gcc-libs
	depends = lib32-libglvnd
	depends = nvidia-utils=565.57.01
	optdepends = lib32-opencl-nvidia
	provides = lib32-vulkan-driver
	provides = lib32-opengl-driver
	provides = lib32-nvidia-libgl
	conflicts = lib32-nvidia-libgl
	replaces = lib32-nvidia-libgl

pkgname = lib32-opencl-nvidia
	pkgdesc = OpenCL implemention for NVIDIA (32-bit)
	depends = lib32-zlib
	depends = lib32-gcc-libs
	optdepends = opencl-headers: headers necessary for OpenCL development
	provides = lib32-opencl-driver
