pkgbase = cosmic-terminal
	pkgdesc = Cosmic Terminal Emulator
	pkgver = 1.0.0.alpha.1
	pkgrel = 2
	url = https://github.com/pop-os/cosmic-term
	arch = x86_64
	groups = cosmic
	license = GPL-3.0-only
	makedepends = cargo
	makedepends = git
	makedepends = just
	makedepends = lld
	depends = gcc-libs
	depends = glibc
	depends = libxkbcommon
	depends = wayland
	depends = cosmic-icon-theme
	source = git+https://github.com/pop-os/cosmic-term.git#tag=be808b56cf24d03fc99cf44b0885078a81a16523
	b2sums = 7b0575b0c1e995c12be5f73a909ce1cc4752df94ab8cab5bf0930ac8c5a125d309ac8754c302195db33fd90180d5daa196c9857ecb4e994848e28e9314f74040

pkgname = cosmic-terminal
