pkgbase = lib32-gamescope-plus
	pkgdesc = WSI Layer for use with gamescope (32-bit)
	pkgver = 3.15.13.plus1
	pkgrel = 1
	url = https://github.com/ChimeraOS/gamescope
	arch = x86_64
	license = MIT
	makedepends = cmake
	makedepends = meson
	makedepends = ninja
	makedepends = wayland-protocols
	makedepends = vulkan-headers
	makedepends = lib32-glm
	depends = lib32-wayland
	depends = lib32-libx11
	depends = lib32-libxcb
	depends = lib32-vulkan-icd-loader
	source = lib32-gamescope-plus-3.15.13.plus1::git+https://github.com/ChimeraOS/gamescope#tag=3.15.13.plus1
	sha256sums = 2d3deeacc515e45e90c51535c171fe0d36f1d0e3a62127ec54997b213eb08c23

pkgname = lib32-gamescope-plus
