pkgbase = jupiter-hw-support
	pkgdesc = CachyOS - Deckify Steam Deck Fan Control
	pkgver = 1
	pkgrel = 1
	arch = any
	license = GPL-3.0-later
	makedepends = git
	options = !strip
	options = !debug
	source = git+https://gitlab.com/evlaV/jupiter-fan-control#commit=535aebd2b579f74962c91dc2a8b3e334ba65ca1b
	sha256sums = aee1f3a549a6265056463bb8a9c4e1180dc08e3c56a55482a0b2a7f98873e84c

pkgname = jupiter-hw-support
