pkgbase = cachyos-hyprland-settings
	pkgdesc = CachyOS Hyprland settings
	pkgver = 1.0.0
	pkgrel = 3
	url = https://github.com/cachyos/cachyos-hyprland-settings
	arch = any
	license = GPL
	makedepends = coreutils
	depends = cachyos-fish-config
	depends = ttf-fantasque-nerd
	depends = ttf-font-awesome
	depends = otf-font-awesome
	depends = awesome-terminal-fonts
	depends = noto-fonts
	depends = noto-fonts-emoji
	depends = ttf-fira-sans
	depends = ttf-hack
	depends = kvantum-qt5
	depends = qt5ct
	depends = swaybg
	depends = swaylock-effects-git
	depends = swaylock-fancy-git
	depends = hyprland-git
	depends = waybar-hyprland-git
	depends = xdg-desktop-portal-hyprland-git
	depends = grimblast-git
	depends = slurp
	depends = mako
	depends = wob
	depends = wl-clipboard
	depends = polkit-kde-agent
	depends = bemenu
	depends = bemenu-wayland
	depends = xorg-xwayland
	depends = capitaine-cursors
	depends = cachyos-wallpapers
	depends = kvantum-theme-nordic-git
	depends = cachyos-nord-gtk-theme-git
	provides = cachyos-desktop-settings
	conflicts = cachyos-desktop-settings
	source = cachyos-hyprland-settings-1.0.0.tar.gz::https://github.com/cachyos/cachyos-hyprland-settings/archive/1.0.0.tar.gz
	sha512sums = 54aed6670ea3e8125ea3a975e1b348a4f9f89d6a59499e73382cc9ccd1cb4c5b87da58e78187f879763693863d055def317fe367ded17610b8bcfbf7292e269a

pkgname = cachyos-hyprland-settings
