pkgbase = cachyos-hyprland-settings
	pkgdesc = CachyOS Hyprland settings
	pkgver = 1.3.4
	pkgrel = 2
	url = https://github.com/cachyos/cachyos-hyprland-settings
	arch = any
	license = GPL-1.0-only
	makedepends = coreutils
	depends = cachyos-alacritty-config
	depends = ttf-fantasque-nerd
	depends = ttf-font-awesome
	depends = otf-font-awesome
	depends = awesome-terminal-fonts
	depends = noto-fonts
	depends = noto-fonts-emoji
	depends = ttf-fira-sans
	depends = ttf-hack
	depends = kvantum
	depends = qt5ct
	depends = swaybg
	depends = swaylock-effects-git
	depends = swaylock-fancy-git
	depends = hyprland
	depends = waybar
	depends = xdg-desktop-portal-hyprland
	depends = grimblast-git
	depends = slurp
	depends = mako
	depends = wob
	depends = pamixer
	depends = rofi-wayland
	depends = wofi
	depends = wlogout
	depends = swappy
	depends = wl-clipboard
	depends = polkit-kde-agent
	depends = bemenu
	depends = bemenu-wayland
	depends = xorg-xwayland
	depends = capitaine-cursors
	depends = cachyos-wallpapers
	depends = kvantum-theme-nordic-git
	depends = brightnessctl
	depends = cachyos-nord-gtk-theme-git
	provides = cachyos-desktop-settings
	conflicts = cachyos-desktop-settings
	source = cachyos-hyprland-settings-1.3.4.tar.gz::https://github.com/cachyos/cachyos-hyprland-settings/archive/1.3.4.tar.gz
	sha512sums = bd307ae0f13d7d230d983ab0ef63c940b7e5474cceed273cfbba6dbd57b794339ffafd7125fa69a1821164b6fd74599ea6b2728954d2a8e20b32cafb10865be3

pkgname = cachyos-hyprland-settings
