pkgbase = cachyos-hyprland-settings
	pkgdesc = CachyOS Hyprland settings
	pkgver = 1.3.2
	pkgrel = 1
	url = https://github.com/cachyos/cachyos-hyprland-settings
	arch = any
	license = GPL-1.0-only
	makedepends = coreutils
	depends = cachyos-fish-config
	depends = cachyos-alacritty-config
	depends = ttf-fantasque-nerd
	depends = ttf-font-awesome
	depends = otf-font-awesome
	depends = awesome-terminal-fonts
	depends = noto-fonts
	depends = noto-fonts-emoji
	depends = ttf-fira-sans
	depends = ttf-hack
	depends = kvantum
	depends = qt5ct
	depends = swaybg
	depends = swaylock-effects-git
	depends = swaylock-fancy-git
	depends = hyprland
	depends = waybar
	depends = xdg-desktop-portal-hyprland
	depends = grimblast-git
	depends = slurp
	depends = mako
	depends = wob
	depends = pamixer
	depends = rofi-wayland
	depends = wofi
	depends = wlogout
	depends = swappy
	depends = wl-clipboard
	depends = polkit-kde-agent
	depends = bemenu
	depends = bemenu-wayland
	depends = xorg-xwayland
	depends = capitaine-cursors
	depends = cachyos-wallpapers
	depends = kvantum-theme-nordic-git
	depends = brightnessctl
	depends = cachyos-nord-gtk-theme-git
	provides = cachyos-desktop-settings
	conflicts = cachyos-desktop-settings
	source = cachyos-hyprland-settings-1.3.2.tar.gz::https://github.com/cachyos/cachyos-hyprland-settings/archive/1.3.2.tar.gz
	sha512sums = e95d0cdd66c95d446929490bd799e1fc41017e42e88ca82aeb336a852c09d446fa066085ab404c385b3b4299dc19b50dffcaca393bb227f9cf7b88a34834eda7

pkgname = cachyos-hyprland-settings
