pkgbase = obs-studio
	pkgdesc = Free, open source software for live streaming and recording
	pkgver = 29.0.0
	pkgrel = 1
	url = https://obsproject.com
	arch = x86_64
	license = GPL2
	makedepends = cmake
	makedepends = libfdk-aac
	makedepends = x264
	makedepends = swig
	makedepends = python
	makedepends = luajit
	makedepends = sndio
	depends = ffmpeg
	depends = jansson
	depends = libxinerama
	depends = libxkbcommon-x11
	depends = mbedtls
	depends = rnnoise
	depends = pciutils
	depends = qt6-svg
	depends = curl
	depends = jack
	depends = gtk-update-icon-cache
	depends = pipewire
	depends = libxcomposite
	optdepends = libfdk-aac: FDK AAC codec support
	optdepends = libva-intel-driver: hardware encoding
	optdepends = libva-mesa-driver: hardware encoding
	optdepends = luajit: scripting support
	optdepends = python: scripting support
	optdepends = sndio: Sndio input client
	optdepends = v4l2loopback-dkms: virtual camera support
	optdepends = obs-vkcapture: OBS Linux Vulkan/OpenGL game capture
	optdepends = obs-vaapi: OBS Studio VAAPI support via GStreamer
	optdepends = amf-amdgpu-pro: for AMF encoding
	source = obs-studio-29.0.0.tar.gz::https://github.com/jp9000/obs-studio/archive/29.0.0.tar.gz
	source = cef_binary_4638_linux64.tar.bz2::https://cdn-fastly.obsproject.com/downloads/cef_binary_4638_linux64.tar.bz2
	source = fix_python_binary_loading.patch
	source = ignore_unused_submodules.patch
	source = 6207.patch
	source = 7206.patch
	sha256sums = 05c5ae05a6085a792ce7fc131a92fe4a78adf90310d2d2da51a5e418720ab993
	sha256sums = 54aba14a7228bb8f2573e081d795b4161bf3568796f8729ad42a9f8ef9c6d1ec
	sha256sums = bdfbd062f080bc925588aec1989bb1df34bf779cc2fc08ac27236679cf612abd
	sha256sums = 60b0ee1f78df632e1a8c13cb0a7a5772b2a4b092c4a2a78f23464a7d239557c3
	sha256sums = 70be83b9ea66bc58f70cd083d964d1d63678ce9848059c41bbad349beaf838b5
	sha256sums = 87bc6bab3492002cd6aec54136b0374c98a407e5a359e1bdd3d71ca6729619b0

pkgname = obs-studio
