pkgbase = davinci-resolve
	pkgdesc = Professional A/V post-production software suite from Blackmagic Design
	pkgver = 21.1.0
	pkgrel = 1
	url = https://www.blackmagicdesign.com/support/family/davinci-resolve-and-fusion
	install = davinci-resolve.install
	arch = x86_64
	license = LicenseRef-scancode-commercial-license
	makedepends = libarchive
	makedepends = xdg-user-dirs
	makedepends = patchelf
	depends = glu
	depends = fuse2
	depends = opencl-driver
	depends = qt5-x11extras
	depends = qt5-svg
	depends = qt5-quickcontrols2
	depends = qt5-multimedia
	depends = libxcrypt-compat
	depends = xmlsec
	depends = java-runtime
	depends = ffmpeg4.4
	depends = gst-plugins-bad-libs
	depends = python-numpy
	depends = tbb
	depends = apr-util
	depends = luajit
	depends = libc++
	depends = libc++abi
	conflicts = davinci-resolve-studio
	conflicts = davinci-resolve-beta
	conflicts = davinci-resolve-studio-beta
	options = !strip
	source = DaVinci_Resolve_21.1_Linux.zip::https://sw.blackmagicdesign.com/DaVinciResolve/v21.1-1/DaVinci_Resolve_21.1_Linux.zip?Key-Pair-Id=APKAJTKA3ZJMJRQITVEA&Signature=bcd49DaBUFYPC/AjzqFLhQaW3emXd9juvoGftYkUg/eOCyVy5vqkZ/JBXEbyITHhH8Vm9NLffUVI8E2Y3m40Jy1bDez090TEvMG8SC9vRffxgDCe9esK8uURpKMiuG0DLz/sJpY9MIFW1yS5cP0NG9J6Ffhvpw/kjGpjXReqDrLTFqOQrgBDU0bmM9iLOFjfN+4H2b/kszeVPsIN4OqdoE0oyRk5/R908IOcXdNLalNyJR4wOyhA1lFZgaV4zBiV9BBrzfL32qnPEEumQkQ04cLnt2Uf5UtrdZC0vhot7f3IOvQ0ah84Y33q4FOMzuDFOtdYTaohtokcziC+JI2boA==&Expires=1789302368
	source = davinci-control-panels-setup.sh
	sha256sums = 4133e2c38072758a93e9a959504c251178134040096edad79cf0e87813019a2b
	sha256sums = f17236fd68cead727c647bc31404e402922cdd491df5526f4b62364cbef9d3b8

pkgname = davinci-resolve
