pkgbase = cachyos-drm-awaiter
	pkgdesc = Configuration for proper systemd chain-loading of DRM modules
	pkgver = 1
	pkgrel = 1
	url = https://github.com/CachyOS/CachyOS-PKGBUILDS/tree/master/cachyos-drm-awaiter
	arch = any
	license = GPL-3.0-or-later
	makedepends = coreutils
	depends = systemd
	source = drm-module-awaiter-generator
	source = 30-drm-awaiter.rules
	sha256sums = a2f6e87c96113fb995cd51f70c0042e55bae790a4ee3aa8be870c00b3208907d
	sha256sums = 4457ec33251aa019a83a4637e24851aef6fbb4828c74126fad74b7203b1c3f13

pkgname = cachyos-drm-awaiter
