pkgbase = cachyos-drm-awaiter
	pkgdesc = Configuration for proper systemd chain-loading of DRM modules
	pkgver = 4
	pkgrel = 1
	url = https://github.com/CachyOS/CachyOS-PKGBUILDS/tree/master/cachyos-drm-awaiter
	arch = any
	license = GPL-3.0-or-later
	makedepends = coreutils
	depends = systemd
	source = drm-module-awaiter-generator
	sha256sums = 4a0f03a19da18afbcd369eb9c5dfaa10f8ff73c247b46e7303e43134056fcaed

pkgname = cachyos-drm-awaiter
