pkgbase = cachyos-drm-awaiter
	pkgdesc = Configuration for proper systemd chain-loading of DRM modules
	pkgver = 3
	pkgrel = 1
	url = https://github.com/CachyOS/CachyOS-PKGBUILDS/tree/master/cachyos-drm-awaiter
	arch = any
	license = GPL-3.0-or-later
	makedepends = coreutils
	depends = systemd
	source = drm-module-awaiter-generator
	sha256sums = 37db689fe66a1ac19e4260f72eb9fce032a4a60c9f34116ae76f863e0fe87aca

pkgname = cachyos-drm-awaiter
