# LED write access
SUBSYSTEM=="leds", RUN+="/usr/bin/chown deck:deck '/sys/class/leds/%k/brightness'"
SUBSYSTEM=="leds", RUN+="/usr/bin/chown deck:deck '/sys/class/leds/%k/brightness_scale'"
SUBSYSTEM=="leds", RUN+="/usr/bin/chown deck:deck '/sys/class/leds/%k/brightness_startup'"
SUBSYSTEM=="leds", RUN+="/usr/bin/chown deck:deck '/sys/class/leds/%k/effect'"
SUBSYSTEM=="leds", RUN+="/usr/bin/chown deck:deck '/sys/class/leds/%k/enabled'"
SUBSYSTEM=="leds", RUN+="/usr/bin/chown deck:deck '/sys/class/leds/%k/mode'"
SUBSYSTEM=="leds", RUN+="/usr/bin/chown deck:deck '/sys/class/leds/%k/multi_intensity'"
SUBSYSTEM=="leds", RUN+="/usr/bin/chown deck:deck '/sys/class/leds/%k/multi_intensity_startup'"
SUBSYSTEM=="leds", RUN+="/usr/bin/chown deck:deck '/sys/class/leds/%k/profile'"
SUBSYSTEM=="leds", RUN+="/usr/bin/chown deck:deck '/sys/class/leds/%k/speed'"
SUBSYSTEM=="leds", RUN+="/usr/bin/chown deck:deck '/sys/class/leds/%k/delay'"
