pkgbase = cachyos-plymouth-spinner
	pkgdesc = CachyOS plymouth spinner themes
	pkgver = 1
	pkgrel = 1
	url = https://github.com/CachyOS/plymouth-themes
	arch = any
	groups = cachyos
	license = GPL
	depends = plymouth
	optdepends = plymouth-kcm: for KDE settings integration

pkgname = cachyos-plymouth-spinner
