pkgbase = pacman-contrib
	pkgdesc = Contributed scripts and tools for pacman systems
	pkgver = 1.13.0
	pkgrel = 2.1
	url = https://gitlab.archlinux.org/pacman/pacman-contrib
	arch = x86_64
	license = GPL-2.0-or-later
	makedepends = asciidoc
	makedepends = git
	depends = pacman
	optdepends = diffutils: for pacdiff
	optdepends = fakeroot: for checkupdates
	optdepends = findutils: for pacdiff --find
	optdepends = mlocate: for pacdiff --locate
	optdepends = plocate: faster mlocate alternative
	optdepends = perl: for pacsearch
	optdepends = sudo: privilege elevation for several scripts
	optdepends = vim: default diff program for pacdiff
	optdepends = neovim: default diff program for pacdiff if EDITOR=nvim
	source = git+https://gitlab.archlinux.org/pacman/pacman-contrib.git#tag=v1.13.0
	source = 0001-checkupdates-fix-downloading-in-fakeroot-with-sandbo.patch
	validpgpkeys = 04DC3FB1445FECA813C27EFAEA4F7B321A906AD9
	validpgpkeys = 44A62127789A949F2F082ED429C71CE612B57264
	b2sums = 9082d473deb2eef42132ea6c2817cc56704b41d6cdba378dc3d7ea4dbe7cee629012c8f3249c1a613094490f186b1c1e883281da88e86871982ccce71f89679a
	b2sums = 56403aa61034e39d5678852e2d22ba15944a23700a4321dfdd3ac99ed3641d0d375b16a50b3842e72b1a9737c113e2db04c2b8223bfd95a337b6bedf7308d0d8

pkgname = pacman-contrib
