pkgbase = pacman-contrib
	pkgdesc = Contributed scripts and tools for pacman systems
	pkgver = 1.13.1
	pkgrel = 2.1
	url = https://gitlab.archlinux.org/pacman/pacman-contrib
	arch = x86_64
	license = GPL-2.0-or-later
	makedepends = asciidoc
	makedepends = git
	depends = pacman
	optdepends = diffutils: for pacdiff
	optdepends = fakeroot: for checkupdates
	optdepends = findutils: for pacdiff --find
	optdepends = mlocate: for pacdiff --locate
	optdepends = plocate: faster mlocate alternative
	optdepends = perl: for pacsearch
	optdepends = sudo: privilege elevation for several scripts
	optdepends = vim: default diff program for pacdiff
	optdepends = neovim: default diff program for pacdiff if EDITOR=nvim
	source = git+https://gitlab.archlinux.org/pacman/pacman-contrib.git#tag=v1.13.1
	validpgpkeys = 04DC3FB1445FECA813C27EFAEA4F7B321A906AD9
	validpgpkeys = 44A62127789A949F2F082ED429C71CE612B57264
	b2sums = cf1396aa108c6742d74a369456dfdf6a83286c0e8996b730ed16fa8907d0253ebb49ddcd6b548959d5df8d30af223d7883bbabda9e1dfb006d175400e37a105f

pkgname = pacman-contrib
