pkgbase = pacman-contrib
	pkgdesc = Contributed scripts and tools for pacman systems
	pkgver = 1.10.6
	pkgrel = 1
	url = https://gitlab.archlinux.org/pacman/pacman-contrib
	arch = x86_64
	license = GPL-2.0-or-later
	makedepends = asciidoc
	makedepends = git
	depends = pacman
	optdepends = diffutils: for pacdiff
	optdepends = fakeroot: for checkupdates
	optdepends = findutils: for pacdiff --find
	optdepends = mlocate: for pacdiff --locate
	optdepends = perl: for pacsearch
	optdepends = sudo: privilege elevation for several scripts
	optdepends = vim: default merge program for pacdiff
	source = git+https://gitlab.archlinux.org/pacman/pacman-contrib.git#tag=v1.10.6
	validpgpkeys = 04DC3FB1445FECA813C27EFAEA4F7B321A906AD9
	b2sums = bc84555fb64552b21b3146c91defccecfaa879931720fb4f38eebd37199319409ae4011db5be9b4523a516ea1a2cfa4a07930a00c629e8e905e8d66126f185d0

pkgname = pacman-contrib
