pkgbase = cachyos-wayfire-settings
	pkgdesc = CachyOS wayfire settings
	pkgver = 1.0.6
	pkgrel = 1
	url = https://github.com/cachyos/cachyos-wayfire-settings
	install = cachyos-wayfire-settings.install
	arch = any
	license = GPL-1.0-only
	makedepends = coreutils
	depends = cachyos-fish-config
	depends = cachyos-alacritty-config
	depends = ttf-fantasque-nerd
	depends = noto-fonts
	depends = ttf-fira-sans
	depends = kvantum
	depends = qt5ct
	depends = char-white
	depends = bemenu
	depends = bemenu-wayland
	depends = xorg-xwayland
	depends = wayfire-desktop-git
	depends = capitaine-cursors
	depends = cachyos-wallpapers
	depends = kvantum-theme-nordic-git
	depends = cachyos-nord-gtk-theme-git
	provides = cachyos-desktop-settings
	conflicts = cachyos-desktop-settings
	source = cachyos-wayfire-settings-1.0.6.tar.gz::https://github.com/cachyos/cachyos-wayfire-settings/archive/1.0.6.tar.gz
	sha512sums = f0fc7b49648c1435480a23f11b656773e1db02835b88942fb80cc2dfc2a0065f2432a0c802711d283ce7562f72fea0bf2fb9730dd9d9ff206cd65f01741dd8f9

pkgname = cachyos-wayfire-settings
