pkgbase = cachyos-wayfire-settings
	pkgdesc = CachyOS GNOME settings
	pkgver = 1.0.1
	pkgrel = 1
	url = https://github.com/cachyos/cachyos-wayfire-settings
	install = cachyos-wayfire-settings.install
	arch = any
	license = GPL
	makedepends = coreutils
	depends = cachyos-fish-config
	depends = nerd-fonts-fantasque-sans-mono
	depends = noto-fonts
	depends = ttf-fira-sans
	depends = kvantum-qt5
	depends = qt5ct
	depends = char-white
	depends = bemenu
	depends = bemenu-wayland
	depends = xorg-xwayland
	depends = wayfire-desktop-git
	depends = capitaine-cursors
	depends = cachyos-wallpapers
	depends = kvantum-theme-nordic-git
	depends = cachyos-nord-gtk-theme-git
	provides = cachyos-desktop-settings
	conflicts = cachyos-desktop-settings
	source = cachyos-wayfire-settings-1.0.1.tar.gz::https://github.com/cachyos/cachyos-wayfire-settings/archive/1.0.1.tar.gz
	sha512sums = 1f3b4232c541c0b4c2cb0d19f4d6dcbb021b3fbd636902cb4e85d60ca029c8b33dd831ecb767fa4abccaa17d56002a076e6b1cdf257f3222d61ede20a1aeb572

pkgname = cachyos-wayfire-settings
