pkgbase = cachyos-wayfire-settings
	pkgdesc = CachyOS GNOME settings
	pkgver = 1.0.2
	pkgrel = 1
	url = https://github.com/cachyos/cachyos-wayfire-settings
	install = cachyos-wayfire-settings.install
	arch = any
	license = GPL
	makedepends = coreutils
	depends = cachyos-fish-config
	depends = ttf-fantasque-nerd
	depends = noto-fonts
	depends = ttf-fira-sans
	depends = kvantum-qt5
	depends = qt5ct
	depends = char-white
	depends = bemenu
	depends = bemenu-wayland
	depends = xorg-xwayland
	depends = wayfire-desktop-git
	depends = capitaine-cursors
	depends = cachyos-wallpapers
	depends = kvantum-theme-nordic-git
	depends = cachyos-nord-gtk-theme-git
	provides = cachyos-desktop-settings
	conflicts = cachyos-desktop-settings
	source = cachyos-wayfire-settings-1.0.2.tar.gz::https://github.com/cachyos/cachyos-wayfire-settings/archive/1.0.2.tar.gz
	sha512sums = 2b9bea42cd6360696a97dc22f8ee74be6a649529bfad2df92b24cb016843d2617924dc1cd22aec74e1b1cb72d1a705ffd3922e884bb2289fb2f11a86892bfe5b

pkgname = cachyos-wayfire-settings
