pkgbase = ntn
	pkgdesc = Is a linux tool that adds alias files for other commands to make them run in very low priority by default.
	pkgver = 1
	pkgrel = 2
	url = https://cachyos.org/
	arch = x86_64
	options = !strip
	source = git+https://gitea.cachyos.org/CachyOS/ntn.git
	sha512sums = SKIP

pkgname = ntn
