pkgbase = cachyos-plymouth-bootanimation
	pkgdesc = CachyOS Bootanimation (new)
	pkgver = 2
	pkgrel = 1
	url = https://github.com/CachyOS/plymouth-theme.git#commit=29a5d7648fbe32ee4ea241919f14363be0a98903
	arch = any
	groups = cachyos
	license = GPL
	makedepends = git
	depends = plymouth
	optdepends = plymouth-kcm: for KDE settings integration
	source = git+https://github.com/CachyOS/plymouth-theme.git
	sha256sums = SKIP

pkgname = cachyos-plymouth-bootanimation
