pkgbase = cachyos-gaming-emulators
	pkgdesc = Common Emulators used for Gaming
	pkgver = 1.0.0
	pkgrel = 1
	arch = any
	depends = dolphin-emu
	depends = flycast
	depends = pcsx2
	depends = rpcs3
	depends = ryujinx
	depends = shadps4

pkgname = cachyos-gaming-emulators
