pkgbase = steamos-networking-tools
	pkgdesc = SteamOS networking tools
	pkgver = 1.2
	pkgrel = 1
	url = https://gitlab.steamos.cloud/holo/holo
	arch = any
	license = LGPL2.1
	depends = bash
	depends = iw
	depends = iwd
	depends = networkmanager
	depends = systemd
	depends = polkit
	source = steamos-wifi-set-backend
	source = steamos-wifi-set-backend-privileged
	source = steamos-wifi-set-backend.bash-completion
	source = com.steampowered.SteamOS.WifiSetBackend.policy
	sha256sums = 2fd71495b31d3b98442f8a8cd72719ee203a1d1777d278eb3c49066ba28c724e
	sha256sums = b8cfea8158a263891ad9abdb6a881dce32597db6fed83b88271ba381776a688c
	sha256sums = ebc55a73168f331d34ce03ecf0d081699faa448ae49098ecd2ce15e8081598bc
	sha256sums = d5b620c8b6cf581f1d0068611d63b17671f7383ce5ed11ab085966d9cf7574cc

pkgname = steamos-networking-tools
