pkgbase = cachyos-gaming-meta
	pkgdesc = Meta package for Gaming dependencies
	pkgver = 1.0.0
	pkgrel = 1
	arch = any
	depends = alsa-lib
	depends = alsa-plugins
	depends = dosbox
	depends = giflib
	depends = glfw
	depends = gnutls
	depends = gst-plugins-base-libs
	depends = gtk3
	depends = lib32-alsa-lib
	depends = lib32-alsa-plugins
	depends = lib32-fontconfig
	depends = lib32-gcrypt
	depends = lib32-giflib
	depends = lib32-gnutls
	depends = lib32-gst-plugins-base-libs
	depends = lib32-gtk3
	depends = lib32-libgpg-error
	depends = lib32-libjpeg-turbo
	depends = lib32-libldap
	depends = lib32-libpng
	depends = lib32-libpulse
	depends = lib32-libva
	depends = lib32-libxcomposite
	depends = lib32-libxinerama
	depends = lib32-mpg123
	depends = lib32-ncurses
	depends = lib32-ocl-icd
	depends = lib32-opencl-icd-loader
	depends = lib32-openal
	depends = lib32-sqlite
	depends = lib32-v4l-utils
	depends = lib32-vkd3d
	depends = lib32-vulkan-icd-loader
	depends = libgcrypt
	depends = libgpg-error
	depends = libjpeg-turbo
	depends = libldap
	depends = libpng
	depends = libpulse
	depends = libva
	depends = libxcomposite
	depends = libxinerama
	depends = libxslt
	depends = mpg123
	depends = ncurses
	depends = ocl-icd
	depends = opencl-icd-loader
	depends = openal
	depends = proton-cachyos
	depends = samba
	depends = sqlite
	depends = ttf-liberation
	depends = v4l-utils
	depends = vkd3d
	depends = vulkan-icd-loader
	depends = wine-cachyos
	depends = wine-gecko
	depends = wine-mono

pkgname = cachyos-gaming-meta
