pkgbase = cachyos-gaming-meta
	pkgdesc = Meta package for Gaming dependencies
	pkgver = 1.0.0
	pkgrel = 10
	epoch = 1
	arch = any
	install = cachyos-gaming-meta.install
	depends = alsa-plugins
	depends = giflib
	depends = glfw
	depends = gst-plugins-base-libs
	depends = lib32-alsa-plugins
	depends = lib32-gtk3
	depends = lib32-libjpeg-turbo
	depends = lib32-libva
	depends = lib32-ocl-icd
	depends = lib32-opencl-icd-loader
	depends = libjpeg-turbo
	depends = libva
	depends = libxslt
	depends = mpg123
	depends = opencl-icd-loader
	depends = openal
	depends = proton-cachyos-slr
	depends = umu-launcher
	depends = protontricks
	depends = ttf-liberation
	depends = wine-cachyos-opt
	depends = winetricks
	depends = vulkan-tools
	source = 99-splitlock.conf
	source = 40-cachyos-gaming-shader-cache.conf
	sha256sums = 76cded15c34773ab77672fba4bf3e00452256b09f9b58e59334b9b8848cddcba
	sha256sums = 435b7f91b8301597cbb451cede7065e26be9d6ac7d4ecb3a0077e97cbb6de156

pkgname = cachyos-gaming-meta
