pkgbase = cachyos-gaming-meta
	pkgdesc = Meta package for Gaming dependencies
	pkgver = 1.0.0
	pkgrel = 3
	epoch = 1
	arch = any
	depends = alsa-plugins
	depends = giflib
	depends = glfw
	depends = gst-plugins-base-libs
	depends = lib32-alsa-plugins
	depends = lib32-giflib
	depends = lib32-gst-plugins-base-libs
	depends = lib32-gtk3
	depends = lib32-libjpeg-turbo
	depends = lib32-libva
	depends = lib32-mpg123
	depends = lib32-ocl-icd
	depends = lib32-opencl-icd-loader
	depends = lib32-openal
	depends = libjpeg-turbo
	depends = libva
	depends = libxslt
	depends = mpg123
	depends = opencl-icd-loader
	depends = openal
	depends = proton-cachyos-slr
	depends = umu-launcher
	depends = protontricks
	depends = ttf-liberation
	depends = wine-cachyos-opt
	depends = winetricks
	depends = vulkan-tools

pkgname = cachyos-gaming-meta
