pkgbase = sqlite
	pkgdesc = A C library that implements an SQL database engine
	pkgver = 3.51.2
	pkgrel = 2
	url = https://www.sqlite.org/
	arch = x86_64
	license = LicenseRef-Sqlite
	makedepends = tcl
	makedepends = readline
	makedepends = zlib
	makedepends = clang
	makedepends = llvm
	makedepends = llvm-libs
	makedepends = lld
	makedepends = git
	options = !lto
	source = https://www.sqlite.org/2026/sqlite-src-3510200.zip
	source = https://www.sqlite.org/2026/sqlite-doc-3510200.zip
	source = sqlite-lemon-system-template.patch
	source = license.txt
	source = git+https://github.com/ClickHouse/ClickBench.git
	source = https://datasets.clickhouse.com/hits_compatible/hits.csv.gz
	source = remove-header-in-command.patch
	sha256sums = 85110f762d5079414d99dd5d7917bc3ff7e05876e6ccbd13d8496a3817f20829
	sha256sums = c6e30d07c5e9c126901c54d8d7c90a9c1a37078245517f060b3c69c4de43bf5d
	sha256sums = ce0083835e458236c83d4f74ad398816e29859cd2f940c7aad9080835b50dcec
	sha256sums = 4e57d9ac979f1c9872e69799c2597eeef4c6ce7224f3ede0bf9dc8d217b1e65d
	sha256sums = SKIP
	sha256sums = 189c37a5f2020d20ef9ebc0b9d4cf2204fe78658bbab235f0313d41447410ddd
	sha256sums = 9f1c2889a51e1b858fb6acc857504a2299a30fcc4917f8788af18d0e65a6746a

pkgname = sqlite
	pkgdesc = A C library that implements an SQL database engine
	depends = readline
	depends = zlib
	depends = glibc
	provides = sqlite3=3.51.2
	provides = libsqlite3.so
	replaces = sqlite3

pkgname = sqlite-tcl
	pkgdesc = sqlite Tcl Extension Architecture (TEA)
	depends = sqlite
	depends = tcl
	depends = glibc
	provides = sqlite3-tcl=3.51.2
	replaces = sqlite3-tcl

pkgname = sqlite-analyzer
	pkgdesc = An analysis program for sqlite3 database files
	depends = sqlite
	depends = tcl
	depends = glibc

pkgname = lemon
	pkgdesc = A parser generator
	depends = glibc

pkgname = sqlite-doc
	pkgdesc = most of the static HTML files that comprise this website, including all of the SQL Syntax and the C/C++ interface specs and other miscellaneous documentation
	provides = sqlite3-doc=3.51.2
	replaces = sqlite3-doc
