pkgbase = python-trayer
	pkgdesc = System Tray Icons for GTK4
	pkgver = 0.1.1
	pkgrel = 1
	arch = x86_64
	url = https://github.com/enne2/trayer
	license = MIT
	makedepends = git
	makedepends = python-build
	makedepends = python-installer
	makedepends = python-setuptools
	makedepends = python-wheel
	depends = python
	depends = python-dbus
	depends = python-gobject
	conflicts = python-trayer-git
	source = git+https://github.com/enne2/trayer.git#tag=v0.1.1
	sha256sums = a5dc35a7971ac17590c5ab89fbbf1dce9b36144d1200c3cb1319808195db72d1

pkgname = python-trayer
