pkgbase = sddm
	pkgdesc = QML based X11 and Wayland display manager
	pkgver = 0.21.0
	pkgrel = 7
	url = https://github.com/sddm/sddm
	arch = x86_64
	license = GPL-2.0-only
	makedepends = extra-cmake-modules
	makedepends = python-docutils
	makedepends = qt5-base
	makedepends = qt5-declarative
	makedepends = qt5-tools
	makedepends = qt6-tools
	makedepends = git
	depends = bash
	depends = gcc-libs
	depends = glibc
	depends = libxau
	depends = libxcb
	depends = pam
	depends = qt6-base
	depends = qt6-declarative
	depends = systemd-libs
	depends = ttf-font
	depends = xorg-server
	depends = xorg-xauth
	optdepends = qt5-declarative: for using Qt5 themes
	provides = display-manager
	backup = usr/share/sddm/scripts/Xsetup
	backup = usr/share/sddm/scripts/Xstop
	backup = etc/pam.d/sddm
	backup = etc/pam.d/sddm-autologin
	backup = etc/pam.d/sddm-greeter
	source = git+https://github.com/sddm/sddm.git#commit=42e88b70c3e558495d07d29d346664301da6e974
	source = 0001-Revert-cmake-remove-the-final-Arch-PAM-modules.patch
	source = https://github.com/sddm/sddm/pull/1779.patch
	sha256sums = 4f33d1da0bb603d33aa91118aba641468b580640212f80e0beac057f054b3be6
	sha256sums = 8939dabe3dd539ff44cf3e5740a1a4a518836ae147fbe54f163bd9f0b10ccc6e
	sha256sums = 9eeca03664f32e2c8b3a694eb2e2a0283a21f0981d665d4231d2a1511ec98beb

pkgname = sddm
