pkgbase = directx-headers
	pkgdesc = DirectX headers for using D3D12
	pkgver = 1.613.0
	pkgrel = 1
	url = https://github.com/microsoft/DirectX-Headers
	arch = x86_64
	license = MIT
	makedepends = meson
	source = directx-headers-1.613.0.tar.gz::https://github.com/microsoft/DirectX-Headers/archive/refs/tags/v1.613.0.tar.gz
	sha256sums = d65a70d684ea86cc931aeae3d41d65b105f6949700dfe290658d1a26a69c8abd

pkgname = directx-headers
