pkgbase = cachyos-calamares-grub
	pkgdesc = Distribution-independent installer framework
	pkgver = 3.3.1
	pkgrel = 12
	url = https://github.com/cachyos/cachyos-calamares
	arch = i686
	arch = x86_64
	arch = x86_64_v3
	license = GPL3
	makedepends = git
	makedepends = cmake
	makedepends = extra-cmake-modules
	makedepends = kpmcore
	makedepends = boost
	makedepends = python-jsonschema
	makedepends = python-pyaml
	makedepends = python-unidecode
	makedepends = ninja
	depends = qt5-svg
	depends = qt5-webengine
	depends = yaml-cpp
	depends = networkmanager
	depends = upower
	depends = kcoreaddons
	depends = kconfig
	depends = ki18n
	depends = kservice
	depends = kwidgetsaddons
	depends = kpmcore
	depends = squashfs-tools
	depends = rsync
	depends = cryptsetup
	depends = qt5-xmlpatterns
	depends = doxygen
	depends = dmidecode
	depends = qt5-quickcontrols2
	depends = qt5-quickcontrols
	depends = gptfdisk
	depends = hwinfo
	depends = kparts
	depends = polkit-qt5
	depends = python
	depends = solid
	depends = qt5-tools
	depends = boost-libs
	depends = libpwquality
	depends = ckbcomp
	depends = mkinitcpio-openswap
	provides = calamares
	conflicts = calamares
	options = !strip
	options = !emptydirs
	source = https://github.com/calamares/calamares/commit/79db04dc2eb00b354044f73c054a94fe2b9f9aae.patch
	source = calamares::git+https://github.com/cachyos/cachyos-calamares.git#branch=cachyos-grub
	sha256sums = 3457ab03e46dcbb4e5e42c078c3cf0349e1eace31ca4ae6ee6f030810f57c6b8
	sha256sums = SKIP

pkgname = cachyos-calamares-grub
