pkgbase = cachyos-calamares-qt6-next-systemd
	pkgdesc = Distribution-independent installer framework
	pkgver = 3.3.5
	pkgrel = 4
	url = https://github.com/cachyos/cachyos-calamares
	arch = i686
	arch = x86_64
	arch = x86_64_v3
	license = GPL3
	makedepends = git
	makedepends = cmake
	makedepends = extra-cmake-modules
	makedepends = boost
	makedepends = python-jsonschema
	makedepends = python-pyaml
	makedepends = python-unidecode
	makedepends = ninja
	makedepends = qt6-tools
	depends = qt6-svg
	depends = yaml-cpp
	depends = networkmanager
	depends = upower
	depends = kcoreaddons
	depends = kconfig
	depends = ki18n
	depends = kservice
	depends = kcrash
	depends = kwidgetsaddons
	depends = kpmcore
	depends = squashfs-tools
	depends = rsync
	depends = cryptsetup
	depends = doxygen
	depends = dmidecode
	depends = qt6-declarative
	depends = gptfdisk
	depends = hwinfo
	depends = kparts
	depends = polkit-qt6
	depends = python
	depends = solid
	depends = boost-libs
	depends = libpwquality
	depends = ckbcomp
	depends = mkinitcpio-openswap
	provides = calamares
	conflicts = calamares
	options = !strip
	options = !emptydirs
	source = calamares::git+https://github.com/cachyos/cachyos-calamares.git#branch=cachyos-systemd-qt6
	sha256sums = SKIP

pkgname = cachyos-calamares-qt6-next-systemd
