pkgbase = scx-scheds
	pkgdesc = sched_ext schedulers and tools
	pkgver = 1.0.15
	pkgrel = 1
	url = https://github.com/sched-ext/scx
	arch = x86_64
	arch = aarch64
	license = GPL-2.0-only
	makedepends = clang
	makedepends = git
	makedepends = llvm
	makedepends = llvm-libs
	makedepends = meson
	makedepends = python
	makedepends = rust
	depends = bpf
	depends = jq
	depends = libbpf
	depends = libelf
	depends = libseccomp
	depends = protobuf
	depends = zlib
	options = !lto
	backup = etc/default/scx
	source = git+https://github.com/sched-ext/scx?signed#tag=v1.0.15
	validpgpkeys = 697C63013E65270255EBC2608744DC1EB26B5A9A
	validpgpkeys = F5504C7B7B8107B40EF9E97AA1148BB3207BCC33
	validpgpkeys = A8775C60262EEF2AA34A864F5DAD005C4BFEA770
	sha256sums = e2966b2915c9f8f09204bf23710cdb2089c66c0cf953916208a94d64c853fc43

pkgname = scx-scheds
