pkgbase = scx-scheds
	pkgdesc = sched_ext schedulers and tools
	pkgver = 1.0.11
	pkgrel = 2
	url = https://github.com/sched-ext/scx
	arch = x86_64
	arch = aarch64
	license = GPL-2.0-only
	makedepends = clang
	makedepends = git
	makedepends = llvm
	makedepends = llvm-libs
	makedepends = meson
	makedepends = python
	makedepends = rust
	depends = bpf
	depends = jq
	depends = libbpf
	depends = libelf
	depends = zlib
	options = !lto
	backup = etc/default/scx
	source = git+https://github.com/sched-ext/scx?signed#tag=v1.0.11
	validpgpkeys = 697C63013E65270255EBC2608744DC1EB26B5A9A
	validpgpkeys = F5504C7B7B8107B40EF9E97AA1148BB3207BCC33
	sha256sums = 3111fe5c616cfd72d4eeeceec3dd1e3ce985b22d7ea780224f5ee448b9ae6322

pkgname = scx-scheds
