pkgbase = binutils
	pkgdesc = A set of programs to assemble and manipulate binary and object files
	pkgver = 2.40
	pkgrel = 10
	url = https://www.gnu.org/software/binutils/
	arch = x86_64
	license = GPL3
	license = GPL
	license = FDL1.3
	license = custom:FSFAP
	checkdepends = dejagnu
	checkdepends = debuginfod
	checkdepends = bc
	makedepends = git
	depends = glibc
	depends = jansson
	depends = libelf
	depends = zlib
	depends = zstd
	optdepends = debuginfod: for debuginfod server/client functionality
	conflicts = binutils-multilib
	replaces = binutils-multilib
	options = staticlibs
	options = !distcc
	options = !ccache
	backup = etc/gprofng.rc
	source = git+https://sourceware.org/git/binutils-gdb.git#commit=0dc8f96598ae1facd1933323e0c633b1ed3ca4e7
	source = gold-warn-unsupported.patch
	validpgpkeys = 3A24BC1E8FB409FA9F14371813FCEF89DD9E3C4F
	sha256sums = SKIP
	sha256sums = 2d430b66f84a19c154725ec535280c493be1d34f1a90f95208dce02fecd0e4e4

pkgname = binutils
