pkgbase = gamescope-session-steamos
	pkgdesc = Steam Big Picture session based on gamescope from SteamOS
	pkgver = 20260113.1
	pkgrel = 1
	url = https://github.com/1Naim/gamescope-session-steamos
	arch = any
	license = MIT
	makedepends = git
	depends = bash
	depends = coreutils
	depends = dbus
	depends = gamescope
	depends = python
	depends = steam
	depends = systemd
	depends = util-linux
	optdepends = ibus: Multilingual input support
	optdepends = galileo-mura: Mura compensation for Steam Deck OLED
	optdepends = mangohud: Mangoapp
	provides = gamescope-session-git
	provides = gamescope-session-steam-git
	conflicts = gamescope-session-git
	conflicts = gamescope-session-steam-git
	source = git+https://github.com/1Naim/gamescope-session-steamos.git#tag=20260113.1
	sha256sums = fc3539321e4489e11d0bc107b4d8c5ab00f1830cd9731b416532e3c113aa5a61

pkgname = gamescope-session-steamos
