pkgbase = cosmic-wallpapers
	pkgdesc = Wallpapers for the COSMIC Desktop Environment
	pkgver = r4.0f2f16d
	pkgrel = 2
	url = https://github.com/pop-os/cosmic-wallpapers
	arch = any
	groups = cosmic
	license = LicenseRef-unknown
	makedepends = git
	source = git+https://github.com/pop-os/cosmic-wallpapers.git#commit=0f2f16dc39ff1281a56680e37719e98a1bc8cb99
	b2sums = 46939ae56f30db3ce7ce11bf5e704bbc5cdf570f54d6569fe440b2f19210792de75f2e4ecadfa62351806b84b8d6a6354689e440e564aa136e0ba5f452f5749e

pkgname = cosmic-wallpapers
