pkgbase = cosmic-settings-daemon
	pkgdesc = Cosmic settings daemon
	pkgver = 1.0.0.alpha.1
	pkgrel = 1
	url = https://github.com/pop-os/cosmic-settings-daemon
	arch = x86_64
	groups = cosmic
	license = GPL-3.0-or-later
	makedepends = cargo
	makedepends = git
	makedepends = lld
	depends = acpid
	depends = adw-gtk3
	depends = geoclue
	depends = libinput
	depends = systemd-libs
	source = git+https://github.com/pop-os/cosmic-settings-daemon.git#tag=epoch-1.0.0-alpha.1
	sha256sums = 6a43ae7f95dfa18508c4e89ecb0976f2d5a7d1c864b99a548a157338ac664ac2

pkgname = cosmic-settings-daemon
