pkgbase = cosmic-settings-daemon
	pkgdesc = Cosmic settings daemon
	pkgver = 1.0.0.alpha.2
	pkgrel = 1
	url = https://github.com/pop-os/cosmic-settings-daemon
	arch = x86_64
	groups = cosmic
	license = GPL-3.0-only
	makedepends = cargo
	makedepends = git
	makedepends = lld
	depends = acpid
	depends = alsa-utils
	depends = adw-gtk-theme
	depends = gcc-libs
	depends = geoclue
	depends = glibc
	depends = libinput
	depends = playerctl
	depends = pop-sound-theme
	depends = systemd-libs
	source = git+https://github.com/pop-os/cosmic-settings-daemon.git#tag=a41d1991fdfdac58f0b788e43087ad6ee01d00ca
	b2sums = 38c0445581be3c5867928050c6ddce100fccd79b700038086507909a3642cb2183032a829f6330725d034a08788e849b9f2b70027ecc470ef70b99f2c3f129e3

pkgname = cosmic-settings-daemon
