pkgbase = cosmic-settings-daemon
	pkgdesc = Cosmic settings daemon
	pkgver = 1.0.0.alpha.1
	pkgrel = 1
	url = https://github.com/pop-os/cosmic-settings-daemon
	arch = x86_64
	groups = cosmic
	license = GPL-3.0-only
	makedepends = cargo
	makedepends = git
	makedepends = lld
	depends = acpid
	depends = adw-gtk-theme
	depends = gcc-libs
	depends = geoclue
	depends = glibc
	depends = libinput
	depends = systemd-libs
	source = git+https://github.com/pop-os/cosmic-settings-daemon.git#tag=362c77f9faaeb7f1b9e4aa79a7d5588001f04874
	b2sums = 57e2a6f63b2f455300776f8127ef866f54be79e09cb2199e4c2c5d3d77d9171b54051b2279e693210327e51e80c2890f93ddad9ae4d30da11c947b74d7f4379d

pkgname = cosmic-settings-daemon
