pkgbase = cachyos-i3wm-settings
	pkgdesc = CachyOS i3wm settings
	pkgver = 1.0.5
	pkgrel = 1
	url = https://github.com/cachyos/cachyos-i3wm-settings
	install = cachyos-i3wm-settings.install
	arch = any
	license = GPL-1.0-only
	makedepends = coreutils
	depends = cachyos-zsh-config
	depends = cachyos-alacritty-config
	depends = cachyos-picom-config
	depends = feh
	depends = pamixer
	depends = i3lock-color
	depends = polkit-gnome
	depends = dunst
	depends = rofi
	depends = jq
	depends = polybar
	depends = xob
	depends = dex
	depends = capitaine-cursors
	depends = ttf-fantasque-nerd
	depends = noto-fonts
	depends = ttf-hack
	depends = ttf-fira-sans
	depends = cachyos-nord-gtk-theme-git
	provides = cachyos-desktop-settings
	conflicts = cachyos-desktop-settings
	source = cachyos-i3wm-settings-1.0.5.tar.gz::https://github.com/cachyos/cachyos-i3wm-settings/archive/1.0.5.tar.gz
	sha512sums = 64d9827d0a27a1436c6c5736cf80993417fc44f1cf6bd425b6a9988cc9465f8e95cc1e2763234f0e0ce1fc4103372c1e7429e3dec034545bf636ba50fc4169e8

pkgname = cachyos-i3wm-settings
