pkgbase = cachyos-i3wm-settings
	pkgdesc = CachyOS i3wm settings
	pkgver = 1.0.3
	pkgrel = 1
	url = https://github.com/cachyos/cachyos-i3wm-settings
	install = cachyos-i3wm-settings.install
	arch = any
	license = GPL
	makedepends = coreutils
	depends = cachyos-zsh-config
	depends = cachyos-picom-config
	depends = feh
	depends = pamixer
	depends = i3lock-color
	depends = polkit-gnome
	depends = dunst
	depends = rofi
	depends = jq
	depends = polybar
	depends = xob
	depends = dex
	depends = capitaine-cursors
	depends = ttf-fantasque-nerd
	depends = noto-fonts
	depends = ttf-hack
	depends = ttf-fira-sans
	depends = cachyos-nord-gtk-theme-git
	provides = cachyos-desktop-settings
	conflicts = cachyos-desktop-settings
	source = cachyos-i3wm-settings-1.0.3.tar.gz::https://github.com/cachyos/cachyos-i3wm-settings/archive/1.0.3.tar.gz
	sha512sums = 20bdbf1867f5edcd8b7c6b188682cd4ec458b01c60717faa1289b26a4df7a665aeb4c4ceef3fee609f1bf5bcad360325e98550731b0bf9b1600847f21a647bd2

pkgname = cachyos-i3wm-settings
