pkgbase = cachyos-openbox-settings
	pkgdesc = CachyOS openbox settings
	pkgver = 1.0.3
	pkgrel = 1
	url = https://github.com/cachyos/cachyos-openbox-settings
	install = cachyos-openbox-settings.install
	arch = any
	license = GPL
	makedepends = coreutils
	depends = cachyos-zsh-config
	depends = picom-ibhagwan-git
	depends = ttf-fantasque-nerd
	depends = noto-fonts
	depends = noto-fonts-emoji
	depends = ttf-fira-sans
	depends = char-white
	depends = dunst
	depends = nitrogen
	depends = openbox
	depends = rofi
	depends = rxvt-unicode-truecolor-wide-glyphs
	depends = tint2
	depends = obmenu-generator
	depends = perl-gtk3
	depends = mpd
	depends = mpc
	depends = ncmpcpp
	depends = alsa-utils
	depends = brightnessctl
	depends = imagemagick
	depends = scrot
	depends = w3m
	depends = wireless_tools
	depends = xclip
	depends = xsettingsd
	depends = xss-lock
	depends = thunar
	depends = thunar-archive-plugin
	depends = thunar-volman
	depends = ffmpegthumbnailer
	depends = tumbler
	depends = gsimplecal
	depends = mpv
	depends = parcellite
	depends = pavucontrol
	depends = viewnior
	depends = xfce4-power-manager
	depends = capitaine-cursors
	depends = polkit-gnome
	depends = cachyos-wallpapers
	depends = cachyos-nord-gtk-theme-git
	provides = cachyos-desktop-settings
	conflicts = cachyos-desktop-settings
	conflicts = cachyos-picom-config
	source = cachyos-openbox-settings-1.0.3.tar.gz::https://github.com/cachyos/cachyos-openbox-settings/archive/1.0.3.tar.gz
	sha512sums = a859051755022cde1a21f356ace64baa9fa1f9bb71097ca53095245f27544e326ff54ed2b3b79d374636a6fd0d8a3e41e59bec082ad2fdb3656a3bd0c1dc245d

pkgname = cachyos-openbox-settings
