pkgbase = cachyos-openbox-settings
	pkgdesc = CachyOS openbox settings
	pkgver = 1.0.4
	pkgrel = 1
	url = https://github.com/cachyos/cachyos-openbox-settings
	install = cachyos-openbox-settings.install
	arch = any
	license = GPL-1.0-only
	makedepends = coreutils
	depends = cachyos-zsh-config
	depends = cachyos-alacritty-config
	depends = picom-ibhagwan-git
	depends = ttf-fantasque-nerd
	depends = noto-fonts
	depends = noto-fonts-emoji
	depends = ttf-fira-sans
	depends = char-white
	depends = dunst
	depends = nitrogen
	depends = openbox
	depends = rofi
	depends = rxvt-unicode-truecolor-wide-glyphs
	depends = tint2
	depends = obmenu-generator
	depends = perl-gtk3
	depends = mpd
	depends = mpc
	depends = ncmpcpp
	depends = alsa-utils
	depends = brightnessctl
	depends = imagemagick
	depends = scrot
	depends = w3m
	depends = wireless_tools
	depends = xclip
	depends = xsettingsd
	depends = xss-lock
	depends = thunar
	depends = thunar-archive-plugin
	depends = thunar-volman
	depends = ffmpegthumbnailer
	depends = tumbler
	depends = gsimplecal
	depends = mpv
	depends = parcellite
	depends = pavucontrol
	depends = viewnior
	depends = xfce4-power-manager
	depends = capitaine-cursors
	depends = polkit-gnome
	depends = cachyos-wallpapers
	depends = cachyos-nord-gtk-theme-git
	provides = cachyos-desktop-settings
	conflicts = cachyos-desktop-settings
	conflicts = cachyos-picom-config
	source = cachyos-openbox-settings-1.0.4.tar.gz::https://github.com/cachyos/cachyos-openbox-settings/archive/1.0.4.tar.gz
	sha512sums = 0c7925b6a293052821f00eb234ebc1cbbada014f4534f1472a56a9cc22db6cebb71e32f3672a7784ba7eb6a7c218ea1578e8a9ee54396000f7f8c40782c614e5

pkgname = cachyos-openbox-settings
