pkgbase = rare
	pkgdesc = Open source alternative for Epic Games Launcher, using Legendary
	pkgver = 1.12.0
	pkgrel = 1
	url = https://github.com/RareDevs/Rare
	arch = any
	license = GPL3
	makedepends = git
	depends = clang
	depends = lld
	depends = patchelf
	depends = pyside6
	optdepends = wine: run Windows games
	optdepends = proton: run Windows games
	source = git+https://github.com/RareDevs/Rare.git#tag=1.12.0
	source = rare.sh
	sha256sums = f2b7d62ffc677203681cbe5e58d9d069d7671c57cd138f3048e8b3c28f0724a6
	sha256sums = 175c6284247bd9f40b2057d80a33498f8b54d1249468bbb2d0c26b497f912e43

pkgname = rare
