pkgbase = cosmic-screenshot
	pkgdesc = Utility for capturing screenshots via XDG Desktop Portal
	pkgver = 1.0.0.alpha.1
	pkgrel = 1
	url = https://github.com/pop-os/cosmic-screenshot
	arch = x86_64
	groups = cosmic
	license = GPL-3.0-or-later
	makedepends = cargo
	makedepends = git
	makedepends = just
	makedepends = lld
	depends = xdg-desktop-portal-cosmic
	provides = cosmic-screenshot
	conflicts = cosmic-screenshot
	source = git+https://github.com/pop-os/cosmic-screenshot.git#tag=epoch-1.0.0-alpha.1
	sha256sums = d1bc5b03bbe979d73732fab70f9d5041870b0a9ea4f199fa1a17f94c1c51fc44

pkgname = cosmic-screenshot
