pkgbase = cosmic-screenshot
	pkgdesc = Utility for capturing screenshots via XDG Desktop Portal
	pkgver = 1.0.0.alpha.2
	pkgrel = 2
	url = https://github.com/pop-os/cosmic-screenshot
	arch = x86_64
	groups = cosmic
	license = GPL-3.0-only
	makedepends = cargo
	makedepends = clang
	makedepends = git
	makedepends = just
	makedepends = lld
	depends = cosmic-icon-theme
	depends = gcc-libs
	depends = glibc
	depends = xdg-desktop-portal-cosmic
	source = git+https://github.com/pop-os/cosmic-screenshot.git#tag=031eb6686196e3dd4d7876ae30572522edc110b9
	b2sums = d5f9f94fbb7cc245851eda93be16f341f798195c19874f205b6e51143ea33f5299c0f8efd2e839e870ee2fb1f6edd177cbc0d6b06eebf0758732261fe28d1dbc

pkgname = cosmic-screenshot
