pkgbase = cachyos-plymouth-theme
	pkgdesc = CachyOS plymouth theme
	pkgver = 1
	pkgrel = 1
	url = https://github.com/CachyOS/cachyos-plymouth-theme
	arch = any
	groups = cachyos
	license = GPL
	depends = plymouth
	optdepends = plymouth-kcm: for KDE settings integration
	source = cachyos-plymouth-theme::git+https://github.com/CachyOS/cachyos-plymouth-theme.git
	sha256sums = SKIP

pkgname = cachyos-plymouth-theme
