pkgbase = jupiter-hw-support
	pkgdesc = CachyOS - Deckify Steam Deck HW Support
	pkgver = 20260211.1
	pkgrel = 1
	arch = any
	license = MIT
	makedepends = rsync
	makedepends = git
	makedepends = xorg-xcursorgen
	depends = python-evdev
	depends = python>=3.13
	depends = dmidecode
	depends = python-crcmod
	depends = python-click
	depends = python-progressbar
	depends = python-hid>=1.0.6-2
	depends = jq
	depends = alsa-utils
	depends = parted
	depends = e2fsprogs
	depends = udisks2>=2.9.4-1.1
	optdepends = grub-steamos
	options = !strip
	options = !debug
	source = git+https://github.com/evlaV/jupiter-hw-support.git#tag=jupiter-20260211.1
	source = steamos-btrfs-automount.patch
	source = cachyos-automount.patch
	source = udev-automount-rules.patch
	source = priv-write.patch
	sha256sums = f31be3945132f3966da89dbe3f583ce9a3f8343da2ade6c464a51cddf684f174
	sha256sums = fe064240bf77dabfa4d161b10c33c82385a0ca22a49350e70ab9301b0e98dc7b
	sha256sums = c7db0e977fb0c3a1526b8482e349f73304fc6397d7337c48fe0c990bde64412c
	sha256sums = d6b5636eb09d2190b10eb665238c30960babba96424fc9768e36966495fa795e
	sha256sums = d3098f26eaa26d9eccfedeac792e47a03317bdd16b17ba03be0fbd1ed6621c5d

pkgname = jupiter-hw-support
