pkgbase = jupiter-hw-support
	pkgdesc = CachyOS - Deckify Steam Deck HW Support
	pkgver = 1
	pkgrel = 1
	arch = any
	license = GPL-3.0-later
	makedepends = git
	options = !strip
	options = !debug
	source = git+https://gitlab.com/evlaV/jupiter-hw-support#commit=eb91bebf4c2e5229db071720250d80286368e4e2
	sha256sums = 4b1389870bc37a2d093b1e3002c729f59ee8dedb7559901e2c2232a0cc6c8f2c

pkgname = jupiter-hw-support
