pkgbase = jupiter-hw-support
	pkgdesc = CachyOS - Deckify Steam Deck HW Support
	pkgver = 20251111.1
	pkgrel = 1
	arch = any
	license = MIT
	makedepends = rsync
	makedepends = git
	makedepends = openssh
	makedepends = xorg-xcursorgen
	depends = python-evdev
	depends = dmidecode
	depends = python-crcmod
	depends = python-click
	depends = python-progressbar
	depends = python-hid
	depends = jq
	depends = alsa-utils
	depends = parted
	depends = e2fsprogs
	depends = udisks2>=2.9.4-1.1
	depends = ntfs-3g
	depends = f3
	optdepends = grub-steamos
	options = !strip
	options = !debug
	source = git+https://github.com/evlaV/jupiter-hw-support.git#tag=jupiter-20251111.1
	source = steamos-firmware-update.in
	source = steamos-btrfs-automount.patch
	source = cachyos-automount.patch
	source = udev-automount-rules.patch
	source = priv-write.patch
	sha256sums = d92d1e4a69f9fa5591530f0e3506a218c9c65ab74c6c919da476b9a9122b3207
	sha256sums = 33290e9c498f7a01b2512da5e3303cfb316bc483b92ab6bf0af65535c9c7415d
	sha256sums = fe064240bf77dabfa4d161b10c33c82385a0ca22a49350e70ab9301b0e98dc7b
	sha256sums = c7db0e977fb0c3a1526b8482e349f73304fc6397d7337c48fe0c990bde64412c
	sha256sums = d6b5636eb09d2190b10eb665238c30960babba96424fc9768e36966495fa795e
	sha256sums = d3098f26eaa26d9eccfedeac792e47a03317bdd16b17ba03be0fbd1ed6621c5d

pkgname = jupiter-hw-support
