pkgbase = cosmic-icon-theme
	pkgdesc = System76 Cosmic icon theme
	pkgver = 1.0.0.alpha.2
	pkgrel = 1
	url = https://github.com/pop-os/cosmic-icons
	arch = any
	license = CC-BY-SA-4.0
	makedepends = git
	makedepends = just
	depends = pop-icon-theme
	options = !strip
	source = git+https://github.com/pop-os/cosmic-icons.git#tag=341c84467fd863f0319cadf49b3d4bac1bf3029a
	b2sums = df0dc0cd84abcca10f7af62486c9517f85ca94962320470723cca92d046690e55bb7eabdb3ecccc978662928a951419fa1401b8051c968606af4ca27a7e05727

pkgname = cosmic-icon-theme
