pkgbase = cosmic-icon-theme
	pkgdesc = System76 Cosmic icon theme
	pkgver = 1.0.0.alpha.1
	pkgrel = 2
	url = https://github.com/pop-os/cosmic-icons
	arch = any
	license = CC-BY-SA-4.0
	makedepends = git
	makedepends = just
	depends = pop-icon-theme
	options = !strip
	source = git+https://github.com/pop-os/cosmic-icons.git#tag=f93dcdfa1060c2cf3f8cf0b56b0338292edcafa5
	b2sums = d9761fb7b2e6c9f30cebc6cd895204e14073a299580a73ba44a6aca580fbed86aec598d3fc54a63392fa327aa5448ddd2b98ab8cf69ab2ad8673c97944caa0c9

pkgname = cosmic-icon-theme
