pkgbase = kpmcore
	pkgdesc = Library for managing partitions
	pkgver = 24.05.2
	pkgrel = 2
	url = https://apps.kde.org/partitionmanager/
	arch = x86_64
	license = GPL-2.0-or-later
	makedepends = extra-cmake-modules
	depends = gcc-libs
	depends = glibc
	depends = kcoreaddons
	depends = ki18n
	depends = kwidgetsaddons
	depends = polkit-qt6
	depends = qt6-base
	depends = smartmontools
	depends = util-linux-libs
	optdepends = bcachefs-tools: BCacheFS support
	optdepends = dosfstools: FAT32 support
	optdepends = e2fsprogs: ext2/3/4 support
	optdepends = exfat-utils: exFAT support
	optdepends = exfatprogs: exFAT support (alternative to exfat-utils)
	optdepends = f2fs-tools: F2FS support
	optdepends = fatresize: FAT resize support
	optdepends = jfsutils: JFS support
	optdepends = nilfs-utils: nilfs support
	optdepends = ntfs-3g: NTFS support
	optdepends = reiserfsprogs: Reiser support
	optdepends = udftools: UDF support
	optdepends = xfsprogs: XFS support
	source = https://download.kde.org/stable/release-service/24.05.2/src/kpmcore-24.05.2.tar.xz
	source = https://download.kde.org/stable/release-service/24.05.2/src/kpmcore-24.05.2.tar.xz.sig
	source = bcachefs.patch::https://invent.kde.org/system/kpmcore/-/commit/21abcf81fe8f049912daaed62468c4cfd95d4bfb.patch
	validpgpkeys = CA262C6C83DE4D2FB28A332A3A6A4DB839EAA6D7
	validpgpkeys = F23275E4BF10AFC1DF6914A6DBD2CE893E2D1C87
	validpgpkeys = D81C0CB38EB725EF6691C385BB463350D6EF31EF
	sha256sums = 8e8646bfe990834acbbe56149015aaecd3099cc2e9115ac7426a2d88747735db
	sha256sums = SKIP
	sha256sums = 6f8bee907d564b9cd1bf20495811cd1240dc9a0ca3ad1112086ddbe29db9220c

pkgname = kpmcore
