pkgbase = cachyos-calamares
	pkgdesc = Distribution-independent installer framework
	pkgver = 3.2.60
	pkgrel = 6
	url = https://github.com/calamares/calamares
	arch = i686
	arch = x86_64
	arch = x86_64_v3
	license = LGPL
	makedepends = git
	makedepends = cmake
	makedepends = extra-cmake-modules
	makedepends = kpmcore
	makedepends = boost
	makedepends = python-jsonschema
	makedepends = python-pyaml
	makedepends = python-unidecode
	depends = qt5-svg
	depends = qt5-webengine
	depends = yaml-cpp
	depends = networkmanager
	depends = upower
	depends = kcoreaddons
	depends = kconfig
	depends = ki18n
	depends = kservice
	depends = kwidgetsaddons
	depends = kpmcore
	depends = squashfs-tools
	depends = rsync
	depends = cryptsetup
	depends = qt5-xmlpatterns
	depends = doxygen
	depends = dmidecode
	depends = gptfdisk
	depends = hwinfo
	depends = kparts
	depends = polkit-qt5
	depends = python
	depends = solid
	depends = qt5-tools
	depends = boost-libs
	depends = libpwquality
	depends = ckbcomp
	depends = mkinitcpio-openswap
	provides = calamares
	conflicts = calamares
	backup = usr/share/calamares/modules/bootloader.conf
	backup = usr/share/calamares/modules/displaymanager.conf
	backup = usr/share/calamares/modules/initcpio.conf
	backup = usr/share/calamares/modules/unpackfs.conf
	source = git+https://github.com/calamares/calamares.git#commit=6444b4205b3de505922baa209594c1095a18faa1
	source = settings_online.conf
	source = settings_offline.conf
	source = 0001-Force-LTO.patch
	source = https://github.com/calamares/calamares/commit/79db04dc2eb00b354044f73c054a94fe2b9f9aae.patch
	source = https://gitlab.manjaro.org/codesardine/calamares/-/commit/b140b67c9fddb96701e46d23e9a72ddfbe77e0d0.patch
	source = cachyos-calamares-config::git+https://github.com/cachyos/calamares-config.git#branch=grub-3.2
	sha256sums = SKIP
	sha256sums = 2bb91134b71d705de3103f70a1e45db72c43d0220b7a2e0178a012c3929c76a6
	sha256sums = 3989743e5f4ac697809188de058e2985a9b1940d73c40c606119461c5ec8f904
	sha256sums = 1138e096ab21558c9e518c070a7f4dd205e828aa134334bc2499194e57dd00e3
	sha256sums = 3457ab03e46dcbb4e5e42c078c3cf0349e1eace31ca4ae6ee6f030810f57c6b8
	sha256sums = 39c38180b6c7d6088984c300e3fdf125b571525d1d252b59a52388e1780f98e4
	sha256sums = SKIP

pkgname = cachyos-calamares
