pkgbase = cachyos-xfce-settings
	pkgdesc = CachyOS XFCE settings
	pkgver = 1.0.8
	pkgrel = 1
	url = https://github.com/cachyos/cachyos-xfce-settings
	install = cachyos-xfce-settings.install
	arch = any
	license = GPL-1.0-only
	makedepends = coreutils
	depends = cachyos-zsh-config
	depends = ttf-fantasque-nerd
	depends = noto-fonts
	depends = ttf-fira-sans
	depends = kvantum
	depends = qt5ct
	depends = xfce4-whiskermenu-plugin
	depends = thunar
	depends = char-white
	depends = qogir-icon-theme
	depends = capitaine-cursors
	depends = cachyos-wallpapers
	depends = kvantum-theme-nordic-git
	depends = cachyos-nord-gtk-theme-git
	provides = cachyos-desktop-settings
	conflicts = cachyos-desktop-settings
	source = cachyos-xfce-settings-1.0.8.tar.gz::https://github.com/cachyos/cachyos-xfce-settings/archive/1.0.8.tar.gz
	sha512sums = 23f96b5723f9cb69936798d49b52ddf3049b7fab9065f89930e3bf4e2be2f9a0e0bfe12a8950a3561982557c2c5c1f3b293c57ee6708f287ae0b2d1e517c82c5

pkgname = cachyos-xfce-settings
