pkgbase = cachyos-xfce-settings
	pkgdesc = CachyOS XFCE settings
	pkgver = 1.0.7
	pkgrel = 1
	url = https://github.com/cachyos/cachyos-xfce-settings
	install = cachyos-xfce-settings.install
	arch = any
	license = GPL
	makedepends = coreutils
	depends = cachyos-zsh-config
	depends = ttf-fantasque-nerd
	depends = noto-fonts
	depends = ttf-fira-sans
	depends = kvantum-qt5
	depends = qt5ct
	depends = xfce4-whiskermenu-plugin
	depends = thunar
	depends = char-white
	depends = qogir-icon-theme
	depends = capitaine-cursors
	depends = cachyos-wallpapers
	depends = kvantum-theme-nordic-git
	depends = cachyos-nord-gtk-theme-git
	provides = cachyos-desktop-settings
	conflicts = cachyos-desktop-settings
	source = cachyos-xfce-settings-1.0.7.tar.gz::https://github.com/cachyos/cachyos-xfce-settings/archive/1.0.7.tar.gz
	sha512sums = 72c4033fd7034acde1c34ac9a7834bf598434b33d6d4052231bfe0a20674d9b49cc85b5c32c9218d5d510733b9528fac4b2560921e25ef38018b67d88a093905

pkgname = cachyos-xfce-settings
