pkgbase = cachyos-xfce-settings
	pkgdesc = CachyOS XFCE settings
	pkgver = 1.0.9
	pkgrel = 1
	url = https://github.com/cachyos/cachyos-xfce-settings
	install = cachyos-xfce-settings.install
	arch = any
	license = GPL-1.0-only
	makedepends = coreutils
	depends = cachyos-zsh-config
	depends = cachyos-alacritty-config
	depends = ttf-fantasque-nerd
	depends = noto-fonts
	depends = ttf-fira-sans
	depends = kvantum
	depends = qt5ct
	depends = xfce4-whiskermenu-plugin
	depends = thunar
	depends = char-white
	depends = qogir-icon-theme
	depends = capitaine-cursors
	depends = cachyos-wallpapers
	depends = kvantum-theme-nordic-git
	depends = cachyos-nord-gtk-theme-git
	provides = cachyos-desktop-settings
	conflicts = cachyos-desktop-settings
	source = cachyos-xfce-settings-1.0.9.tar.gz::https://github.com/cachyos/cachyos-xfce-settings/archive/1.0.9.tar.gz
	sha512sums = d4a530abb6aaf067c8ec9a2fc8bebb9ffdc2fae8cfb2623ce6baf27273e0c142738f7226a55d2f39785d4da5b9cc5da975a1e99c8f7ddabb464b2ae8d1b0d8e6

pkgname = cachyos-xfce-settings
