pkgbase = cachyos-cli-installer-new
	pkgdesc = New CLI installer for CachyOS
	pkgver = 0.9.2
	pkgrel = 1
	url = https://github.com/cachyos/new-cli-installer
	arch = x86_64
	license = GPL-3.0-or-later
	makedepends = cmake
	makedepends = ninja
	makedepends = git
	depends = fzf
	depends = gawk
	depends = chwd
	depends = cachyos-rate-mirrors
	depends = curl
	depends = util-linux
	source = 0.9.2.tar.gz::https://github.com/cachyos/new-cli-installer/archive/0.9.2.tar.gz
	sha512sums = 8e1c6d2af5b88b73b3151950eaf2286dd605f6cf57b88fbaab6d13798f7e42fd7e6d1ee8fc5f3cb519139453758fd9668943fb5036684395961190647eb0cfc5

pkgname = cachyos-cli-installer-new
