pkgbase = cachyos-cli-installer-new
	pkgdesc = New CLI installer for CachyOS
	pkgver = 0.11.0
	pkgrel = 1
	url = https://github.com/cachyos/new-cli-installer
	arch = x86_64
	license = GPL-3.0-or-later
	makedepends = cmake
	makedepends = ninja
	makedepends = git
	makedepends = lld
	makedepends = clang
	makedepends = llvm
	depends = fzf
	depends = gawk
	depends = chwd
	depends = cachyos-rate-mirrors
	depends = curl
	depends = coreutils
	depends = util-linux
	depends = gptfdisk
	source = cachyos-cli-installer-new::git+https://github.com/cachyos/new-cli-installer.git#tag=0.11.0?signed
	validpgpkeys = B1B70BB1CD56047DEF31DE2EB62C3D10C54D5DA9
	sha256sums = 8f7f9f07d1d4d521d923d40bcdc574d170e84a54d38b9ef0a0782c5eeb4eae5b

pkgname = cachyos-cli-installer-new
