pkgbase = cachyos-cli-installer-new
	pkgdesc = New CLI installer for CachyOS
	pkgver = 0.12.2
	pkgrel = 1
	url = https://github.com/cachyos/new-cli-installer
	arch = x86_64
	license = GPL-3.0-or-later
	makedepends = cmake
	makedepends = ninja
	makedepends = git
	makedepends = lld
	makedepends = clang
	makedepends = llvm
	depends = fzf
	depends = gawk
	depends = chwd
	depends = cachyos-rate-mirrors
	depends = curl
	depends = coreutils
	depends = util-linux
	depends = gptfdisk
	depends = cryptsetup
	source = cachyos-cli-installer-new::git+https://github.com/cachyos/new-cli-installer.git#tag=0.12.2?signed
	validpgpkeys = B1B70BB1CD56047DEF31DE2EB62C3D10C54D5DA9
	sha256sums = 84e68f25a2c98bb8bbb55e2e8bf12238cb7b72a37f6b658ef44d95d84d97541b

pkgname = cachyos-cli-installer-new
