pkgbase = kwin
	pkgdesc = An easy to use, but flexible, composited Window Manager (CachyOS Version)
	pkgver = 6.1.1.2
	pkgrel = 4
	url = https://kde.org/plasma-desktop/
	install = kwin.install
	arch = x86_64
	groups = plasma
	license = LGPL-2.0-or-later
	makedepends = extra-cmake-modules
	makedepends = kdoctools
	makedepends = krunner
	makedepends = plasma-wayland-protocols
	makedepends = python
	makedepends = wayland-protocols
	makedepends = xorg-xwayland
	depends = breeze
	depends = gcc-libs
	depends = glibc
	depends = plasma-activities
	depends = kauth
	depends = kcmutils
	depends = kcolorscheme
	depends = kconfig
	depends = kconfigwidgets
	depends = kcoreaddons
	depends = kcrash
	depends = kdbusaddons
	depends = kdeclarative
	depends = kdecoration
	depends = kglobalaccel
	depends = kglobalacceld
	depends = kguiaddons
	depends = ki18n
	depends = kidletime
	depends = kirigami
	depends = kitemmodels
	depends = knewstuff
	depends = knotifications
	depends = kpackage
	depends = kquickcharts
	depends = kscreenlocker
	depends = kservice
	depends = ksvg
	depends = kwayland
	depends = kwidgetsaddons
	depends = kwindowsystem
	depends = kxmlgui
	depends = lcms2
	depends = libdisplay-info
	depends = libdrm
	depends = libei
	depends = libepoxy
	depends = libinput
	depends = libpipewire
	depends = libqaccessibilityclient-qt6
	depends = libx11
	depends = libxcb
	depends = libxcvt
	depends = libxi
	depends = libxkbcommon
	depends = libxkbcommon-x11
	depends = mesa
	depends = pipewire-session-manager
	depends = libplasma
	depends = qt6-5compat
	depends = qt6-base
	depends = qt6-declarative
	depends = qt6-multimedia
	depends = qt6-sensors
	depends = qt6-tools
	depends = qt6-wayland
	depends = systemd-libs
	depends = wayland
	depends = xcb-util-cursor
	depends = xcb-util-keysyms
	depends = xcb-util-wm
	optdepends = maliit-keyboard: virtual keyboard for kwin-wayland
	source = https://download.kde.org/stable/plasma/6.1.1/kwin-6.1.1.2.tar.xz
	source = https://download.kde.org/stable/plasma/6.1.1/kwin-6.1.1.2.tar.xz.sig
	source = 0001-backends-drm-support-tearing-with-atomic-modesetting.patch::https://invent.kde.org/plasma/kwin/-/commit/155c29b08f243c654630869e11a588e28d8199b1.patch
	source = https://invent.kde.org/plasma/kwin/-/merge_requests/6016.patch
	source = https://invent.kde.org/plasma/kwin/-/merge_requests/5986.patch
	source = 489117.patch::https://invent.kde.org/plasma/kwin/-/commit/deeeddb652d20086625a221788dff1926b26172f.patch
	source = menubuttonfix.patch::https://invent.kde.org/plasma/kwin/-/commit/176e338c370bcee12037b34ae5ffaf2d3bcb8ec8.patch
	source = https://invent.kde.org/plasma/kwin/-/merge_requests/5982.patch
	validpgpkeys = E0A3EB202F8E57528E13E72FD7574483BB57B18D
	validpgpkeys = 0AAC775BB6437A8D9AF7A3ACFE0784117FBCE11D
	validpgpkeys = D07BD8662C56CB291B316EB2F5675605C74E02CF
	validpgpkeys = 1FA881591C26B276D7A5518EEAAF29B42A678C20
	sha256sums = 1cf0e4d996ccd92a77b6a725610ca32a60c2fae08a98f8b72f2aaf1569464c39
	sha256sums = SKIP
	sha256sums = 2642d2faa03a1777c3839ba71fb79c79963348a46e83f6fc024126085ee86301
	sha256sums = 1b061a86f93814c6c27c5b27bdbb7034bcb08660b0775db8cf02f616eaf72011
	sha256sums = 6dc2df5d65d85f5147c8f1dcb986d752c593029db732bf66aac2bfcafcb9e344
	sha256sums = f8d364f3ca499e2438cf7a7174e84d1491626942e7937028df1dd43a3e517f0f
	sha256sums = 8115bceb0005fba4b48157253f04e55088f33c85fad66250f233372d05bb7055
	sha256sums = de3cde7a6a77a950a96c15eb8861506c2be997a129eede1d23670e0a7b40e2ae

pkgname = kwin
