pkgbase = wayland-protocols
	pkgdesc = Specifications of extended Wayland protocols
	pkgver = 1.33
	pkgrel = 3
	url = https://wayland.freedesktop.org/
	arch = any
	license = MIT
	makedepends = wayland
	makedepends = meson
	makedepends = ninja
	source = https://gitlab.freedesktop.org/wayland/wayland-protocols/-/releases/1.33/downloads/wayland-protocols-1.33.tar.xz
	source = https://gitlab.freedesktop.org/wayland/wayland-protocols/-/merge_requests/90.patch
	validpgpkeys = 8307C0A224BABDA1BABD0EB9A6EEEC9E0136164A
	validpgpkeys = A66D805F7C9329B4C5D82767CCC4F07FAC641EFF
	sha256sums = 94f0c50b090d6e61a03f62048467b19abbe851be4e11ae7b36f65f8b98c3963a
	sha256sums = ea03fb50b6c07d8fd94389eb7ba56804c0ecccf207391ec18759031f03fb2ec3

pkgname = wayland-protocols
