pkgbase = wayland-protocols
	pkgdesc = Specifications of extended Wayland protocols
	pkgver = 1.32
	pkgrel = 2
	url = https://wayland.freedesktop.org/
	arch = any
	license = MIT
	makedepends = wayland
	makedepends = meson
	makedepends = ninja
	source = https://gitlab.freedesktop.org/wayland/wayland-protocols/-/releases/1.32/downloads/wayland-protocols-1.32.tar.xz
	source = https://gitlab.freedesktop.org/wayland/wayland-protocols/-/releases/1.32/downloads/wayland-protocols-1.32.tar.xz.sig
	source = 90.patch
	validpgpkeys = 8307C0A224BABDA1BABD0EB9A6EEEC9E0136164A
	validpgpkeys = A66D805F7C9329B4C5D82767CCC4F07FAC641EFF
	sha256sums = 7459799d340c8296b695ef857c07ddef24c5a09b09ab6a74f7b92640d2b1ba11
	sha256sums = SKIP
	sha256sums = 923687e652bd56fd90345cb1886652220df919b0728925bff986d74db8d878c6

pkgname = wayland-protocols
