pkgbase = archlinux-keyring
	pkgdesc = Arch Linux PGP keyring
	pkgver = 20250929
	pkgrel = 2
	url = https://gitlab.archlinux.org/archlinux/archlinux-keyring/
	install = archlinux-keyring.install
	arch = any
	license = GPL-3.0-or-later
	checkdepends = python-coverage
	checkdepends = python-pytest
	makedepends = git
	makedepends = python
	makedepends = sequoia-sq
	makedepends = pkgconf
	makedepends = systemd
	depends = pacman
	source = archlinux-keyring::git+https://gitlab.archlinux.org/archlinux/archlinux-keyring.git#tag=20250929?signed
	validpgpkeys = 02FD1C7A934E614545849F19A6234074498E9CEE
	validpgpkeys = C7E7849466FE2358343588377258734B41C31549
	validpgpkeys = 4AA4767BBC9C4B1D18AE28B77F2D434B9741E8AC
	validpgpkeys = CFA6AF15E5C74149FC1D8C086D1655C14CE1C13E
	validpgpkeys = ECCAC84C1BA08A6CC8E63FBBF22FB1D78A77AEAB
	validpgpkeys = E240B57E2C4630BA768E2F26FC1B547C8D8172C8
	validpgpkeys = C100346676634E80C940FB9E9C02FF419FECBE16
	sha256sums = f65ec0465cce7b5367bd0d2325ab060b2b2ad43d3c4e672802615b6d0ff0665a

pkgname = archlinux-keyring
