pkgbase = archlinux-keyring
	pkgdesc = Arch Linux PGP keyring
	pkgver = 20260107
	pkgrel = 3
	url = https://gitlab.archlinux.org/archlinux/archlinux-keyring/
	arch = any
	license = GPL-3.0-or-later
	checkdepends = python-coverage
	checkdepends = python-pytest
	makedepends = git
	makedepends = python
	makedepends = sequoia-sq
	makedepends = pkgconf
	makedepends = systemd
	makedepends = voa
	source = archlinux-keyring::git+https://gitlab.archlinux.org/archlinux/archlinux-keyring.git?signed#tag=20260107
	validpgpkeys = 02FD1C7A934E614545849F19A6234074498E9CEE
	validpgpkeys = 991F6E3F0765CF6295888586139B09DA5BF0D338
	validpgpkeys = 5134EF9EAF65F95B6BB1608E50FB9B273A9D0BB5
	validpgpkeys = B4B759625D4633430B74877059E43E106B247368
	validpgpkeys = E240B57E2C4630BA768E2F26FC1B547C8D8172C8
	validpgpkeys = C100346676634E80C940FB9E9C02FF419FECBE16
	sha256sums = 0d2a7ef2a865fd51f1549656f482fa4970019a4a16f6543f767091fb7e2fdf11

pkgname = archlinux-keyring
	install = archlinux-keyring.install
	depends = pacman

pkgname = voa-verifiers-arch
	pkgdesc = Arch Linux verifiers for the Hierarchy for the Verification of OS Artifacts (VOA)
