pkgbase = rate-mirrors
	pkgdesc = Everyday-use client-side map-aware mirror ranking tool
	pkgver = 0.25.0
	pkgrel = 2
	url = https://github.com/westandskif/rate-mirrors
	arch = x86_64
	license = CC-BY-NC-SA-3.0
	makedepends = git
	makedepends = cargo
	depends = glibc
	depends = gcc-libs
	options = !lto
	source = rate-mirrors::git+https://github.com/westandskif/rate-mirrors.git#tag=v0.25.0
	source = https://github.com/CachyOS/rate-mirrors/commit/573da0780d009d5a9a996c1e0d214fc6603c3512.patch
	source = https://github.com/CachyOS/rate-mirrors/commit/b549c72c8c55f7eecb9413e344699f7d392409da.patch
	sha256sums = 12d16b8bc9ca55c1d0d1acee22dd8e802c65695ea2fff5857e41983b4756f0aa
	sha256sums = 25541ab94d7fa38b505caa90a861f3cff28a37563d699c4ef1f1289177669dd2
	sha256sums = 6ae345e1998c6870ae6bbc77703dc42349aeaf4f9941efa18de5d58ec0be1142

pkgname = rate-mirrors
