pkgbase = rate-mirrors
	pkgdesc = Everyday-use client-side map-aware mirror ranking tool
	pkgver = 0.31.0
	pkgrel = 1
	url = https://github.com/westandskif/rate-mirrors
	arch = x86_64
	license = CC-BY-NC-SA-3.0
	makedepends = git
	makedepends = cargo
	makedepends = lld
	makedepends = clang
	makedepends = llvm
	depends = glibc
	depends = gcc-libs
	depends = librustls
	source = rate-mirrors::git+https://github.com/westandskif/rate-mirrors.git#tag=v0.31.0
	source = https://github.com/CachyOS/rate-mirrors/commit/a4d651079a9269adc7ff6b376026a0e39da452fc.patch
	source = https://github.com/CachyOS/rate-mirrors/commit/850413fc990da0fd714bcf336e05654b07f605c4.patch
	sha256sums = 5169d06aa8acbf5759de5e888b6567f5824cd5955d6e7d5510c52f7c31d2f04a
	sha256sums = a299c7f0b6b78dfb2e48c5254bea8baa8d7efbd63a1d207ea600d37aca68be6e
	sha256sums = 0f8910500430c19fc7525cb234bc0b09bcd18e59b59d34d46cdf09b642b77958

pkgname = rate-mirrors
