pkgbase = rate-mirrors
	pkgdesc = Everyday-use client-side map-aware mirror ranking tool
	pkgver = 0.20.0
	pkgrel = 3
	url = https://github.com/westandskif/rate-mirrors
	arch = x86_64
	license = CC-BY-NC-SA-3.0
	makedepends = git
	makedepends = cargo
	depends = glibc
	depends = gcc-libs
	options = !lto
	source = rate-mirrors::git+https://github.com/westandskif/rate-mirrors.git#tag=v0.20.0
	source = https://github.com/CachyOS/rate-mirrors/commit/eb640518f354b2ea1da6e81e4550dfc61dfc9fc9.patch
	sha256sums = 49fbe04120fb514660000de43634c4858930b2717f8e390396f4f0b0c243ecde
	sha256sums = 5afe2c4afaa12c4dd55e170c9289fbb5efd30a344bbfe9e9fa392ec96400b866

pkgname = rate-mirrors
