pkgbase = cosmic-app-library
	pkgdesc = Cosmic App Library
	pkgver = 1.0.0.alpha.1
	pkgrel = 1
	url = https://github.com/pop-os/cosmic-applibrary
	arch = x86_64
	groups = cosmic
	license = GPL-3.0-only
	makedepends = cargo
	makedepends = git
	makedepends = just
	makedepends = lld
	depends = cosmic-icon-theme
	depends = gcc-libs
	depends = glibc
	depends = libxkbcommon
	source = git+https://github.com/pop-os/cosmic-applibrary.git#tag=1416b80bf42064a5ccc7109011f00531f5a8e3aa
	b2sums = ff7484da61dcf1196cbe051223e13f9a4c517f9aaccc75e910a11a97cbf159b75f5aa01c06736e4971f63385285504c2f5eb0240f399f06348939f12f4a49e32

pkgname = cosmic-app-library
