pkgbase = cosmic-app-library
	pkgdesc = Cosmic App Library
	pkgver = 1.0.0.alpha.2
	pkgrel = 2
	url = https://github.com/pop-os/cosmic-applibrary
	arch = x86_64
	groups = cosmic
	license = GPL-3.0-only
	makedepends = cargo
	makedepends = clang
	makedepends = git
	makedepends = just
	makedepends = lld
	depends = cosmic-icon-theme
	depends = gcc-libs
	depends = glibc
	depends = libxkbcommon
	provides = cosmic-applibrary
	conflicts = cosmic-applibrary
	source = git+https://github.com/pop-os/cosmic-applibrary.git#tag=de55dc5861bc9a9ca49fd7bf9a16372d1dc2a3be
	b2sums = e0746a1567bb0590f23de072e53af73a8b19229fb1a54677480aab8548befe05275ed999e2420a2d662ff52e1e78ed290257b6b9ec0cd5c9904420b4d4798006

pkgname = cosmic-app-library
