pkgbase = kxkb2locale1-git
	pkgdesc = Daemon that watches the KDE keyboard configuration and applies it to org.freedesktop.locale1
	pkgver = v0.1.r4.g020786e
	pkgrel = 1
	url = https://invent.kde.org/aleasto/kxkb2locale1
	arch = x86_64
	license = MIT
	makedepends = git
	makedepends = cmake
	makedepends = extra-cmake-modules
	depends = qt6-base
	depends = kconfig
	provides = kxkb2locale1
	conflicts = kxkb2locale1
	source = git+https://invent.kde.org/aleasto/kxkb2locale1.git
	sha256sums = SKIP

pkgname = kxkb2locale1-git
