pkgbase = kxkb2locale1
	pkgdesc = Daemon that watches the KDE keyboard configuration and applies it to org.freedesktop.locale1
	pkgver = v0.1.r1.g5ccdb2d
	pkgrel = 2
	url = https://invent.kde.org/aleasto/kxkb2locale1
	arch = x86_64
	license = MIT
	makedepends = git
	makedepends = cmake
	makedepends = extra-cmake-modules
	depends = qt6-base
	depends = kconfig
	source = git+https://invent.kde.org/aleasto/kxkb2locale1.git
	source = remove-env-check.patch
	sha256sums = SKIP

pkgname = kxkb2locale1
