pkgbase = xorgproto
	pkgdesc = combined X.Org X11 Protocol headers
	pkgver = 2023.2
	pkgrel = 2
	url = https://xorg.freedesktop.org/
	arch = any
	license = custom
	checkdepends = python-libevdev
	makedepends = xorg-util-macros
	makedepends = meson
	source = https://xorg.freedesktop.org/archive/individual/proto/xorgproto-2023.2.tar.xz
	source = https://xorg.freedesktop.org/archive/individual/proto/xorgproto-2023.2.tar.xz.sig
	source = https://gitlab.freedesktop.org/xorg/proto/xorgproto/-/merge_requests/59.patch
	sha512sums = af0a8c8094fc6a490a886a8c048175762b6334798f2e48b6f6e19a7bb39ddbef05fa1237c4e9d9f1d870d24f5ca7a7c463044c41ceebd108f8ab0816677a582d
	sha512sums = SKIP
	sha512sums = b3fc2a72980c96b80f0b56c6914ee8292ba5fed74c9c60b7dbaf7b961c9bb2303e154eb7bc0442f6f56adcc17dfe34d08d17f3493d5e88b9985911f364a84aa1

pkgname = xorgproto
