pkgbase = scx-git
	pkgdesc = sched_ext schedulers and tools
	pkgver = v0.1.0_9_g5751f1c
	pkgrel = 1
	url = https://github.com/sched-ext/scx
	arch = x86_64
	license = GPL2
	makedepends = git
	makedepends = python
	makedepends = meson
	makedepends = clang
	makedepends = llvm-libs
	makedepends = libbpf
	options = !lto
	source = scx::git+https://github.com/sched-ext/scx
	source = scx-nest.patch::https://github.com/sched-ext/scx/commit/ca2184290865ae5a39634fe110f886c7979e009e.patch
	sha256sums = SKIP
	sha256sums = e019a1eef801f3fa1ec60308334f6c96838d257d819412b9295a5dda1020446f

pkgname = scx-git
