pkgbase = cosmic-store
	pkgdesc = Cosmic App Store
	pkgver = 1.0.0.alpha.1
	pkgrel = 1
	url = https://github.com/pop-os/cosmic-store
	arch = x86_64
	groups = cosmic
	license = GPL-3.0-only
	makedepends = cargo
	makedepends = git
	makedepends = just
	makedepends = lld
	makedepends = packagekit
	depends = archlinux-appstream-data
	depends = cosmic-icon-theme
	depends = flatpak
	depends = gcc-libs
	depends = glib2
	depends = glibc
	depends = libxkbcommon
	depends = openssl
	depends = wayland
	optdepends = packagekit: Native packages support
	source = git+https://github.com/pop-os/cosmic-store.git#tag=639a17c1bc72118ea755d245b9307c6e94be9cff
	b2sums = dadb92857a375eb2bf665c6dd7f69f48eaeefdcedd5eba789af229ace9aaf4ca2c00495a04cb7319356271852a8783fa7e2fe631a3b84d17a65363bd750d6f36

pkgname = cosmic-store
