pkgbase = cosmic-store
	pkgdesc = Cosmic App Store
	pkgver = 1.0.0.alpha.2
	pkgrel = 1
	url = https://github.com/pop-os/cosmic-store
	arch = x86_64
	groups = cosmic
	license = GPL-3.0-only
	makedepends = cargo
	makedepends = git
	makedepends = just
	makedepends = lld
	makedepends = packagekit
	depends = archlinux-appstream-data
	depends = cosmic-icon-theme
	depends = flatpak
	depends = gcc-libs
	depends = glib2
	depends = glibc
	depends = libxkbcommon
	depends = openssl
	depends = wayland
	optdepends = packagekit: Native packages support
	source = git+https://github.com/pop-os/cosmic-store.git#tag=da8c64229f43164c6fa6613087f2284d3caf1721
	b2sums = b51474bb9f1dd7e8a56d06486a95c04a2ffcba35c699114c7f8e31a2e171a254decd9106e7aba14aee4c3deb6dfa71ec1267eb39527978e75bb2e40dce0ffe2f

pkgname = cosmic-store
