pkgbase = cachyos-micro-settings
	pkgdesc = CachyOS micro settings
	pkgver = 1.0.1
	pkgrel = 1
	url = https://github.com/cachyos/cachyos-micro-settings
	arch = any
	groups = cachyos
	license = GPL
	depends = micro
	source = git+https://github.com/cachyos/cachyos-micro-settings#commit=e0ef3687345448b159f344edde0dc47b2f2f042f
	sha512sums = b568c8726a1b7568dc48c3e4759888be18e1ec0ab1807d95b36aa2299eba64bc0f0d88a54b34b64f7322ea17fe5612c4e078daa66ae9052c2e7b9a3d47a5b05a

pkgname = cachyos-micro-settings
