pkgbase = cachyos-v4-mirrorlist
	pkgdesc = cachyos-v4-mirrorlist
	pkgver = 7
	pkgrel = 1
	arch = any
	groups = cachyos
	license = GPL3
	options = !strip
	options = !emptydirs
	backup = etc/pacman.d/cachyos-v4-mirrorlist
	source = cachyos-v4-mirrorlist
	sha512sums = 297fe86d613c045d77f074f278651d98734c5fd070dfae10d6907da1f93a6c977370a17545d1b65e1939240b23508ac9cf09c5052750be24d9eb00cbd0cf55b2

pkgname = cachyos-v4-mirrorlist
