pkgbase = cachyos-v4-mirrorlist
	pkgdesc = cachyos-v3-mirrorlist
	pkgver = 1
	pkgrel = 1
	arch = any
	groups = cachyos
	license = GPL3
	options = !strip
	options = !emptydirs
	backup = etc/pacman.d/cachyos-v4-mirrorlist
	source = cachyos-v4-mirrorlist
	sha512sums = 6f627f8125563acf5bc16d6e18fd7984d3fa24de2bbd0f071219a7978d03f318788523facbbb81c294820cd3b94dc55ca051bcb23308e41b7fd972189e0b1fee

pkgname = cachyos-v4-mirrorlist
