pkgbase = cachyos-v4-mirrorlist
	pkgdesc = cachyos-v3-mirrorlist
	pkgver = 2
	pkgrel = 1
	arch = any
	groups = cachyos
	license = GPL3
	options = !strip
	options = !emptydirs
	backup = etc/pacman.d/cachyos-v4-mirrorlist
	source = cachyos-v4-mirrorlist
	sha512sums = fe93f2c7c2608250fc1b1e57ff6156f80f08d9e69af5605c9fcebd24a4e0638b2843fe5f4da08b7123b692a39d652772c6efab585679ac771f96f6b48557c792

pkgname = cachyos-v4-mirrorlist
