pkgbase = cosmic-randr
	pkgdesc = Library and utility for displaying and configuring Wayland outputs
	pkgver = 1.0.0.alpha.2
	pkgrel = 2
	url = https://github.com/pop-os/cosmic-randr
	arch = x86_64
	groups = cosmic
	license = MPL-2.0
	makedepends = cargo
	makedepends = clang
	makedepends = git
	makedepends = just
	makedepends = lld
	depends = gcc-libs
	depends = glibc
	depends = wayland
	source = git+https://github.com/pop-os/cosmic-randr.git#tag=71fabbb382fa8cf750f50fb77c4ba014bff80056
	b2sums = 30347b3a87561b9c979b9f645c5c638ec798b28fe1f36166d16efc370f3673281a42376884abb2a45e918e18f8180a224c4f52ec0a6bb98e805b2faf39d71c56

pkgname = cosmic-randr
