pkgbase = cosmic-randr
	pkgdesc = Library and utility for displaying and configuring Wayland outputs
	pkgver = 1.0.0.alpha.1
	pkgrel = 1
	url = https://github.com/pop-os/cosmic-randr
	arch = x86_64
	groups = cosmic
	license = MPL-2.0
	makedepends = cargo
	makedepends = clang
	makedepends = git
	makedepends = just
	makedepends = lld
	depends = wayland
	source = git+https://github.com/pop-os/cosmic-randr.git#tag=epoch-1.0.0-alpha.1
	sha256sums = 3643aff739363971f301edcb622e691f727964718ab7a5568df170ba6295e106

pkgname = cosmic-randr
