pkgbase = cachyos-zsh-config
	pkgdesc = Zsh configuration for CachyOS
	pkgver = 1.0.0
	pkgrel = 3
	url = https://github.com/CachyOS/cachyos-zsh-config
	arch = any
	license = GPL
	makedepends = git
	depends = zsh
	depends = fzf
	depends = vim
	depends = zsh-autosuggestions
	depends = zsh-completions
	depends = zsh-history-substring-search
	depends = zsh-syntax-highlighting
	depends = zsh-theme-powerlevel10k
	depends = powerline-fonts
	depends = oh-my-zsh-git
	depends = pkgfile
	source = git+https://github.com/CachyOS/cachyos-zsh-config.git
	md5sums = SKIP

pkgname = cachyos-zsh-config
