pkgbase = cachyos-fish-config
	pkgdesc = Fish configuration of CachyOS
	pkgver = 15
	pkgrel = 1
	url = https://github.com/CachyOS/cachyos-fish-config
	arch = any
	license = MIT
	makedepends = git
	depends = bat
	depends = expac
	depends = eza
	depends = fastfetch
	depends = fish
	depends = fish-autopair
	depends = fish-pure-prompt
	depends = fisher
	depends = fzf
	depends = pkgfile
	depends = tealdeer
	depends = ttf-fantasque-nerd
	conflicts = kwin-scripts-window-colors
	source = cachyos-fish-config-15.tar.gz::https://github.com/CachyOS/cachyos-fish-config/archive/v15.tar.gz
	source = cachyos-fish-config.install
	sha256sums = d977aacf6f2b4bd85436b06eeb03d3fd6150ac53520f5d4c344774aaf52f02e0
	sha256sums = 931138b9c180bc35e97d76a10188e549b3c7e6caabd4755608ab4c213695a477

pkgname = cachyos-fish-config
