pkgbase = cachyos-packageinstaller
	pkgdesc = Simple Software Application Package Installer for CachyOS which helps setting up & installing applications
	pkgver = 1.5.0
	pkgrel = 1
	url = https://github.com/cachyos/packageinstaller
	arch = aarch64
	arch = x86_64
	groups = cachyos
	license = GPL-3.0-or-later
	makedepends = cmake
	makedepends = ninja
	makedepends = git
	makedepends = polkit-qt6
	makedepends = qt6-tools
	makedepends = cargo
	makedepends = lld
	makedepends = clang
	makedepends = llvm
	depends = qt6-base
	depends = polkit
	depends = curl
	source = packageinstaller::git+https://github.com/cachyos/packageinstaller.git#tag=v1.5.0?signed
	validpgpkeys = B1B70BB1CD56047DEF31DE2EB62C3D10C54D5DA9
	sha256sums = 5ec1eb29e343d6783a19e29852d6db9573697ef11d215f7ec00fd0cd4ca49288

pkgname = cachyos-packageinstaller
