pkgbase = cachyos-packageinstaller
	pkgdesc = Simple Software Application Package Installer for CachyOS which helps setting up & installing applications
	pkgver = 1.5.1
	pkgrel = 1
	url = https://github.com/cachyos/packageinstaller
	arch = aarch64
	arch = x86_64
	groups = cachyos
	license = GPL-3.0-or-later
	makedepends = cmake
	makedepends = ninja
	makedepends = git
	makedepends = polkit-qt6
	makedepends = qt6-tools
	makedepends = cargo
	makedepends = lld
	makedepends = clang
	makedepends = llvm
	depends = qt6-base
	depends = polkit
	depends = curl
	source = packageinstaller::git+https://github.com/cachyos/packageinstaller.git#tag=v1.5.1?signed
	validpgpkeys = B1B70BB1CD56047DEF31DE2EB62C3D10C54D5DA9
	sha256sums = e48486f633bf474597f47124e1917d3e57d409466a14b5a822ca8cfda2dd2e06

pkgname = cachyos-packageinstaller
