pkgbase = cachyos-packageinstaller
	pkgdesc = Simple Software Application Package Installer for CachyOS which helps setting up & installing applications
	pkgver = 1.3.4
	pkgrel = 1
	url = https://github.com/cachyos/packageinstaller
	arch = aarch64
	arch = x86_64
	groups = cachyos
	license = GPL-3.0-or-later
	makedepends = cmake
	makedepends = ninja
	makedepends = git
	makedepends = polkit-qt6
	makedepends = qt6-tools
	makedepends = clang
	makedepends = llvm
	depends = qt6-base
	depends = polkit
	depends = curl
	provides = cachyos-packageinstaller
	conflicts = cachyos-packageinstaller
	options = strip
	source = packageinstaller-1.3.4.tar.gz::https://github.com/cachyos/packageinstaller/archive/v1.3.4.tar.gz
	sha256sums = f28e77f2f2c593f1cf060623370c783f6452a4c10e283217c819871980ac54b0

pkgname = cachyos-packageinstaller
