pkgbase = sudo-rs
	pkgdesc = A memory-safe implementation of sudo and su
	pkgver = 0.2.13
	pkgrel = 1
	url = https://github.com/trifectatechfoundation/sudo-rs
	arch = x86_64
	license = Apache-2.0 AND MIT
	checkdepends = procps-ng
	makedepends = cargo
	makedepends = git
	depends = glibc
	depends = libgcc
	depends = pam
	optdepends = sudo: default configuration files
	optdepends = apparmor: apparmor support
	source = git+https://github.com/trifectatechfoundation/sudo-rs.git#tag=v0.2.13?signed
	validpgpkeys = C2E4CAC4B12225DE1C3BB1C9289D082003D01E95
	sha256sums = 17bdf6a122be2df0c6294d9735823fe7ecb77a53fc1dc100ccea6b887f8e95cf

pkgname = sudo-rs
