pkgbase = sudo-rs
	pkgdesc = A memory-safe implementation of sudo and su
	pkgver = 0.2.14
	pkgrel = 1
	url = https://github.com/trifectatechfoundation/sudo-rs
	install = sudo-rs.install
	arch = x86_64
	license = Apache-2.0 AND MIT
	checkdepends = procps-ng
	makedepends = cargo
	makedepends = git
	depends = glibc
	depends = libgcc
	depends = pam
	optdepends = apparmor: apparmor support
	provides = sudo
	conflicts = sudo
	backup = etc/pam.d/sudo
	backup = etc/sudoers
	source = git+https://github.com/trifectatechfoundation/sudo-rs.git#tag=v0.2.14?signed
	source = sudoers
	source = sudo.pam
	source = tmpfiles.d-sudo.conf
	validpgpkeys = C2E4CAC4B12225DE1C3BB1C9289D082003D01E95
	sha256sums = 65557a3c506717dee281a6037a228ad683dd22f764a7a765ee5a41a3e4730d32
	sha256sums = 31de61b0ed3d08682e4a8ac45c782fee55e18fb3398428072f4af1f861eb0a30
	sha256sums = d1738818070684a5d2c9b26224906aad69a4fea77aabd960fc2675aee2df1fa2
	sha256sums = 809bab889cd3c992d15ec3dfd56ab1668d7fd61951feb8c449211cb7638225a9

pkgname = sudo-rs
