pkgbase = go
	pkgdesc = Core compiler tools for the Go programming language
	pkgver = 1.25.0
	pkgrel = 2
	epoch = 2
	url = https://golang.org/
	arch = x86_64
	license = BSD-3-Clause
	makedepends = git
	makedepends = go
	provides = go-pie
	replaces = go-pie
	options = !strip
	options = staticlibs
	source = https://go.dev/dl/go1.25.0.src.tar.gz
	sha256sums = 4bd01e91297207bfa450ea40d4d5a93b1b531a5e438473b2a06e18e077227225

pkgname = go
