pkgbase = go
	pkgdesc = Core compiler tools for the Go programming language
	pkgver = 1.25.2
	pkgrel = 1
	epoch = 2
	url = https://golang.org/
	arch = x86_64
	license = BSD-3-Clause
	makedepends = git
	makedepends = go
	provides = go-pie
	replaces = go-pie
	options = !strip
	options = staticlibs
	source = https://go.dev/dl/go${pkgver}.src.tar.gz
	sha256sums = 3711140cfb87fce8f7a13f7cd860df041e6c12f7610f40cac6ec6fa2b65e96e4

pkgname = go
