pkgbase = scx-manager-git
	pkgdesc = Simple GUI for managing sched-ext schedulers via scx_loader
	pkgver = 1.14.0.r5.gf3eeaf6
	pkgrel = 1
	epoch = 1
	url = https://github.com/cachyos/scx-manager
	arch = aarch64
	arch = x86_64
	license = GPL-3.0-or-later
	makedepends = cmake
	makedepends = ninja
	makedepends = git
	makedepends = qt6-tools
	makedepends = cargo
	makedepends = lld
	makedepends = clang
	makedepends = llvm
	depends = qt6-base
	depends = polkit
	depends = scx-scheds
	provides = scx-manager
	conflicts = scx-manager
	source = scx-manager-git::git+https://github.com/cachyos/scx-manager.git
	sha256sums = SKIP

pkgname = scx-manager-git
