pkgbase = zstd
	pkgdesc = Zstandard - Fast real-time compression algorithm
	pkgver = 1.5.3
	pkgrel = 6
	url = https://facebook.github.io/zstd/
	arch = x86_64
	license = BSD
	license = GPL2
	makedepends = gtest
	depends = glibc
	depends = gcc-libs
	depends = zlib
	depends = xz
	depends = lz4
	provides = libzstd.so
	options = !debug
	options = lto
	source = git+https://github.com/facebook/zstd.git#commit=096dccbc2d89a560db0b9892c53ea0c77eff20a1
	sha256sums = SKIP

pkgname = zstd
