pkgbase = cachyos-firefox-settings
	pkgdesc = CachyOS settings for Firefox browser
	pkgver = 20251203
	pkgrel = 1
	url = https://github.com/CachyOS/CachyOS-PKGBUILDS/tree/master/cachyos-firefox-settings
	arch = any
	license = GPL-3.0-or-later
	depends = firefox
	depends = xdg-desktop-portal-impl
	provides = firefox-settings
	conflicts = firefox-settings
	replaces = firefox-settings
	backup = etc/firefox/policies/policies.json
	source = cachyos.js
	source = policies.json
	sha256sums = 37dd487752716531d5d00783ea6b6ad705aa67cf87e21a9b1291dfbfe33a5b02
	sha256sums = 1e4c43ef30b5952df184859dc97bcab5fc34dbcd977d4852851d45a236e2f45d

pkgname = cachyos-firefox-settings
