pkgbase = cachyos-firefox-settings
	pkgdesc = CachyOS settings for Firefox browser
	pkgver = 20250607
	pkgrel = 1
	url = https://github.com/CachyOS/CachyOS-PKGBUILDS/tree/master/cachyos-firefox-settings
	arch = any
	depends = firefox
	depends = xdg-desktop-portal-impl
	provides = firefox-settings
	conflicts = firefox-settings
	replaces = firefox-settings
	backup = etc/firefox/policies/policies.json
	source = cachyos.js
	source = policies.json
	sha256sums = 2e3483172ac071960f6912ade26fdd66f2a8fe28ba4d27c066d544a7a67d23af
	sha256sums = 1e4c43ef30b5952df184859dc97bcab5fc34dbcd977d4852851d45a236e2f45d

pkgname = cachyos-firefox-settings
