pkgbase = protopedal
	pkgdesc = Compatibility tool for sim racing pedals and force feedback steering wheels
	pkgver = 2.5
	pkgrel = 1
	url = https://gitlab.com/openirseny/protopedal/
	arch = x86_64
	license = EUPL
	conflicts= protopedal-git
	source = https://gitlab.com/openirseny/protopedal/-/archive/release-2.5/protopedal-release-v2.5.tar.gz
	sha256sums = 473f94cfab7f393b3a9df95a7bc5073b55f0d8f36a494d7b68c59e240900671f

pkgname = protopedal
