pkgbase = dkms
	pkgdesc = Dynamic Kernel Modules System
	pkgver = 3.0.8
	pkgrel = 1.1
	url = https://github.com/dell/dkms
	install = dkms.install
	arch = any
	license = GPL2
	makedepends = git
	depends = coreutils
	depends = bash
	depends = gawk
	depends = sed
	depends = kmod
	depends = gcc
	depends = make
	depends = patch
	depends = clang
	depends = llvm
	depends = lld
	optdepends = linux-headers: build modules against the Arch kernel
	optdepends = linux-lts-headers: build modules against the LTS kernel
	optdepends = linux-zen-headers: build modules against the ZEN kernel
	optdepends = linux-hardened-headers: build modules against the HARDENED kernel
	backup = etc/dkms/framework.conf
	source = git+https://github.com/dell/dkms.git#tag=v3.0.8
	source = hook.install
	source = hook.remove
	source = hook.upgrade
	source = hook.sh
	source = incomplete-del.patch
	sha256sums = SKIP
	sha256sums = acdc5b45cc018cea04ee1aec56fd8fc3a2de62cf7bc41acf53b3790872120998
	sha256sums = 326515cc7d00f93760beb844434ca7442caf7a9424614aa95a8f6d1ab79e15df
	sha256sums = 4f8dff7716e73a8bba885638f12e3cdc9e87daec1896f75e700b981527e43870
	sha256sums = c1b4a4e2e4e0e0e59ee0887403e79d60b209f3878dbbec6612573f13b90cce01
	sha256sums = f4853d5fc4a8a9786ffa4c05ea040733a71d0d061033231bfd420b2d72d17205

pkgname = dkms
