pkgbase = dkms
	pkgdesc = Dynamic Kernel Modules System
	pkgver = 3.2.2
	pkgrel = 2
	url = https://github.com/dell/dkms
	install = dkms.install
	arch = any
	license = GPL-2.0-or-later
	makedepends = git
	depends = bash
	depends = clang
	depends = coreutils
	depends = gawk
	depends = gcc
	depends = kmod
	depends = lld
	depends = llvm
	depends = make
	depends = patch
	depends = sed
	optdepends = linux-headers: build modules against the Arch kernel
	optdepends = linux-lts-headers: build modules against the LTS kernel
	optdepends = linux-zen-headers: build modules against the ZEN kernel
	optdepends = linux-hardened-headers: build modules against the HARDENED kernel
	backup = etc/dkms/framework.conf
	source = git+https://github.com/dell/dkms.git#tag=v3.2.2
	source = hook.install
	source = hook.remove
	source = hook.upgrade
	source = hook.sh
	sha256sums = e7846fb655ec08f1849f64ecd7e554c59ce1b29fd7d4ec894c4560acc05a1ea7
	sha256sums = acdc5b45cc018cea04ee1aec56fd8fc3a2de62cf7bc41acf53b3790872120998
	sha256sums = 326515cc7d00f93760beb844434ca7442caf7a9424614aa95a8f6d1ab79e15df
	sha256sums = 4f8dff7716e73a8bba885638f12e3cdc9e87daec1896f75e700b981527e43870
	sha256sums = c1b4a4e2e4e0e0e59ee0887403e79d60b209f3878dbbec6612573f13b90cce01

pkgname = dkms
