pkgbase = inputplumber
	pkgdesc = Open source input router and remapper daemon for Linux
	pkgver = 0.77.7
	pkgrel = 2
	url = https://github.com/ShadowBlip/InputPlumber
	arch = x86_64
	license = GPL-3.0-only
	makedepends = clang
	makedepends = cmake
	makedepends = git
	makedepends = make
	makedepends = rust
	depends = dbus
	depends = libgcc
	depends = glibc
	depends = libevdev
	depends = libiio
	depends = systemd-libs
	options = !lto
	source = git+https://github.com/ShadowBlip/InputPlumber.git#tag=v0.77.7
	source = 620.patch::https://github.com/ShadowBlip/InputPlumber/commit/cc6e02b57528b9de11af7986d1df22d87f478bf7.patch
	sha256sums = fcb5e0ffe4ee69ad11a3f4f26724eef482e237048be25939b7b93490701d1cd3
	sha256sums = 6320a41661c13d651bfbc0d39719786a576b008ef87489743fa7056473a3ac37

pkgname = inputplumber
