pkgbase = patchutils
	pkgdesc = A small collection of programs that operate on patch files
	pkgver = 0.4.4
	pkgrel = 1.2
	url = http://cyberelk.net/tim/patchutils/
	arch = x86_64
	license = GPL
	makedepends = xmlto
	depends = python3
	depends = pcre2
	source = https://github.com/twaugh/patchutils/releases/download/0.4.4/patchutils-0.4.4.tar.xz
	source = https://github.com/twaugh/patchutils/releases/download/0.4.4/patchutils-0.4.4.tar.xz.sig
	validpgpkeys = 4629AFE960EC20BEC12E3104B7C20D079491EA63
	sha256sums = 2008241ee5d4f87ada3f743c719cc010b0ba929126e255f23c3fb48f614c7e32
	sha256sums = SKIP

pkgname = patchutils
