pkgbase = lenovolegionlinux
	pkgdesc = LenovoLegionLinux (LLL) brings additional drivers and tools for Lenovo Legion series laptops to Linux. PLEASE READ THE REPO BEFORE INSTALL THIS PACKAGE!!!
	pkgver = 0.0.18
	pkgrel = 0
	url = https://github.com/johnfanv2/LenovoLegionLinux
	install = lenovolegionlinux.install
	arch = x86_64
	license = GPL-2.0-only
	makedepends = python-build
	makedepends = python-installer
	makedepends = python-setuptools
	makedepends = python-wheel
	makedepends = libinih
	depends = python-argcomplete
	depends = python-yaml
	depends = python-pyqt6
	depends = polkit
	depends = python-darkdetect
	optdepends = lenovolegionlinux-dkms: DKMS module
	source = https://github.com/johnfanv2/LenovoLegionLinux/archive/refs/tags/v0.0.18.tar.gz
	sha256sums = af4ad84bc5caabfba1afb607903b5d3a700d0e4e9c0ca7600c35085462d52dea

pkgname = lenovolegionlinux
