pkgbase = chwd
	pkgdesc = CachyOS Hardware Detection Tool
	pkgver = 1.16.0
	pkgrel = 1
	url = https://github.com/cachyos/chwd
	arch = x86_64
	groups = cachyos
	license = GPL-3.0-or-later
	makedepends = git
	makedepends = cargo
	makedepends = lld
	makedepends = clang
	makedepends = llvm
	depends = gcc-libs
	depends = pciutils
	depends = lua
	depends = pacman
	provides = chwd-db
	conflicts = chwd-db
	replaces = chwd-db
	source = chwd::git+https://github.com/cachyos/chwd.git#tag=1.16.0?signed
	validpgpkeys = B1B70BB1CD56047DEF31DE2EB62C3D10C54D5DA9
	sha256sums = 2dda908baa9825617093273ee74f2aa403350bffc54c4acf758ecf72af9bc721

pkgname = chwd
