pkgbase = ntfsprogs-plus
	pkgdesc = NTFS filesystem userspace utilities
	pkgver = 1.0.0
	pkgrel = 1
	url = https://github.com/ntfsprogs-plus/ntfsprogs-plus
	arch = x86_64
	license = GPL-2.0-or-later
	makedepends = autoconf
	makedepends = automake
	makedepends = git
	makedepends = libtool
	makedepends = libgcrypt
	makedepends = pkgconf
	depends = glibc
	depends = util-linux-libs
	provides = libntfs.so
	provides = ntfsprogs
	conflicts = ntfsprogs
	conflicts = ntfs-3g
	source = git+https://github.com/ntfsprogs-plus/ntfsprogs-plus.git#commit=63d65e8c0db971b040645dba3641a35cbbbf6bdc
	sha256sums = a99d0fdc0a8bda50dc488a48250e8f3ca1fd0b158b4c11862544a6e3466a122f

pkgname = ntfsprogs-plus
