pkgbase = python
	pkgdesc = Next generation of the python high-level scripting language
	pkgver = 3.11.4
	pkgrel = 1
	url = https://www.python.org/
	arch = x86_64
	license = custom
	makedepends = tk
	makedepends = sqlite
	makedepends = bluez-libs
	makedepends = mpdecimal
	makedepends = llvm
	makedepends = gdb
	makedepends = xorg-server-xvfb
	makedepends = ttf-font
	makedepends = llvm-git
	depends = bzip2
	depends = expat
	depends = gdbm
	depends = libffi
	depends = libnsl
	depends = libxcrypt
	depends = openssl
	depends = zlib
	options = !lto
	source = https://www.python.org/ftp/python/3.11.4/Python-3.11.4.tar.xz
	source = https://www.python.org/ftp/python/3.11.4/Python-3.11.4.tar.xz.asc
	source = 0003-AVX2-and-AVX512-support.patch
	source = 0004-Build-avx2-and-avx512-versions-of-the-math-library.patch
	source = bolt2.patch
	validpgpkeys = 0D96DF4D4110E5C43FBFB17F2D347EA6AA65421D
	validpgpkeys = E3FF2839C048B25C084DEBE9B26995E310250568
	validpgpkeys = A035C8C19219BA821ECEA86B64E628F8D684696D
	sha512sums = 7eb14fecbf60824d10c22a9057584c3a142c2866f4af6caa2525c10c8bcb24e6e7afb32a44a0e118df0a2b2543d578c3b422ffd4a5fa317dfe6ea371cc7ee1ee
	sha512sums = SKIP
	sha512sums = 2bfab3aaf5b72cd090aa396fb93575ba8db96abc9a6b9098ca661f3b62b01e6b8828b382495e8eb966f7b2f1a5ec02ef5ca08a2d296a57f656e7ea7cb534fb80
	sha512sums = 617cbf2672e4ebb82026207faba3cf92dbde0bd5109ef4458e9106755990e4023d242d8fdc0b754a191179e40a041194e9e8572e22afce276b96e526babcad07
	sha512sums = 034411efc61c4ce674e61c2d835f7537d1aa4c539636a780543deb392755063a70dd07da73fb30ec9a46c5284fefc469f88e09549ee7659567414f8e44666f47

pkgname = python
	optdepends = python-setuptools
	optdepends = python-pip
	optdepends = sqlite
	optdepends = mpdecimal: for decimal
	optdepends = xz: for lzma
	optdepends = tk: for tkinter
	provides = python3
	replaces = python3

pkgname = python-tests
	pkgdesc = Regression tests packages for Python
	depends = python
