pkgbase = nodejs
	pkgdesc = Evented I/O for V8 javascript
	pkgver = 23.6.0
	pkgrel = 2
	url = https://nodejs.org/
	arch = x86_64
	license = MIT
	makedepends = git
	makedepends = procps-ng
	makedepends = python
	depends = brotli
	depends = c-ares
	depends = icu
	depends = libnghttp2
	depends = libnghttp3
	depends = libngtcp2
	depends = libuv
	depends = openssl
	depends = zlib-ng
	optdepends = npm: nodejs package manager
	options = !lto
	source = git+https://github.com/nodejs/node.git#tag=v23.6.0?signed
	validpgpkeys = 8FCCA13FEF1D0C2E91008E09770F7A9A5AE15600
	validpgpkeys = 890C08DB8579162FEE0DF9DB8BEAB4DFCF555EF4
	validpgpkeys = C82FA3AE1CBEDC6BE46B9360C43CEC45C17AB93C
	validpgpkeys = C0D6248439F1D5604AAFFB4021D900FFDB233756
	sha512sums = 43bd41aac317b6bba5db4cf21b0433eec1331814c773660ce093500e7d3f3c0c8c627647365bbb88d42511349e1914a0da5e0a5dc4193611f59ff43bde096bd6

pkgname = nodejs
