pkgbase = cachyos-vapor
	pkgdesc = SteamOS Vapor theme for CachyOS Handheld
	pkgver = 1
	pkgrel = 1
	url = https://github.com/CachyOS/cachyos-vapor
	arch = any
	license = GPL2
	makedepends = git
	makedepends = openssh
	depends = kdialog
	source = git+https://github.com/CachyOS/cachyos-vapor.git
	sha512sums = SKIP

pkgname = cachyos-vapor
