pkgbase = gamescope-session-cachyos
	pkgdesc = Steam Big Picture session based on gamescope from SteamOS
	pkgver = 1.0.0
	pkgrel = 1
	url = https://github.com/CachyOS/gamescope-session
	arch = any
	license = MIT
	makedepends = git
	depends = bash
	depends = coreutils
	depends = dbus
	depends = gamescope
	depends = python
	depends = steam
	depends = systemd
	depends = util-linux
	optdepends = ibus: Multilingual input support
	optdepends = galileo-mura: Mura compensation for Steam Deck OLED
	optdepends = mangohud: Mangoapp
	provides = gamescope-session-git
	provides = gamescope-session-steam-git
	conflicts = gamescope-session-git
	conflicts = gamescope-session-steam-git
	source = gamescope-session-cachyos::git+https://github.com/CachyOS/gamescope-session.git#tag=1.0.0
	sha256sums = 7961203a1434526d1b76d19f859cef35ac05608cb3338b1c599f64e41486cc34

pkgname = gamescope-session-cachyos
