pkgbase = gamescope-session-cachyos
	pkgdesc = Steam Big Picture session based on gamescope from SteamOS
	pkgver = 1.1.0
	pkgrel = 2
	url = https://github.com/CachyOS/gamescope-session
	arch = any
	license = MIT
	makedepends = git
	depends = bash
	depends = coreutils
	depends = dbus
	depends = gamescope
	depends = plasma-workspace
	depends = python
	depends = qt6-tools
	depends = steam
	depends = systemd
	depends = util-linux
	optdepends = ibus: Multilingual input support
	optdepends = galileo-mura: Mura compensation for Steam Deck OLED
	optdepends = mangohud: Mangoapp
	conflicts = gamescope-session-git
	conflicts = gamescope-session-steam-git
	replaces = gamescope-session-git
	replaces = gamescope-session-steam-git
	source = gamescope-session-cachyos::git+https://github.com/CachyOS/gamescope-session.git#tag=1.1.0
	sha256sums = 36e7c824b7a46d9fcc7e803432b7862a355c2de7ffd9fa95e89c712d78c16acc

pkgname = gamescope-session-cachyos
