pkgbase = gamescope-session-cachyos
	pkgdesc = Steam Big Picture session based on gamescope from SteamOS
	pkgver = 1.1.2
	pkgrel = 1
	url = https://github.com/CachyOS/gamescope-session
	arch = any
	license = MIT
	makedepends = git
	depends = bash
	depends = coreutils
	depends = dbus
	depends = gamescope
	depends = jupiter-hw-support>=20260122.1
	depends = plasma-workspace
	depends = python
	depends = qt6-tools
	depends = steam
	depends = systemd
	depends = util-linux
	optdepends = ibus: Multilingual input support
	optdepends = galileo-mura: Mura compensation for Steam Deck OLED
	optdepends = mangohud: Mangoapp
	conflicts = gamescope-session-git
	conflicts = gamescope-session-steam-git
	replaces = gamescope-session-git
	replaces = gamescope-session-steam-git
	source = gamescope-session-cachyos::git+https://github.com/CachyOS/gamescope-session.git#tag=1.1.2
	sha256sums = db69df583efc5d4fd688a2873174288aaba224059fc64b44a8b5705909a060e4

pkgname = gamescope-session-cachyos
