pkgbase = mutter-cachyos
	pkgdesc = Window manager and compositor for GNOME (patched version from CachyOS)
	pkgver = 46.5
	pkgrel = 1
	url = https://gitlab.gnome.org/GNOME/mutter
	arch = x86_64
	license = GPL-2.0-or-later
	makedepends = egl-wayland
	makedepends = gi-docgen
	makedepends = git
	makedepends = glib2-devel
	makedepends = gobject-introspection
	makedepends = meson
	makedepends = sysprof
	makedepends = wayland-protocols
	depends = at-spi2-core
	depends = cairo
	depends = colord
	depends = dconf
	depends = fontconfig
	depends = fribidi
	depends = gcc-libs
	depends = gdk-pixbuf2
	depends = glib2
	depends = glibc
	depends = gnome-desktop-4
	depends = gnome-settings-daemon
	depends = graphene
	depends = gsettings-desktop-schemas
	depends = gtk4
	depends = harfbuzz
	depends = iio-sensor-proxy
	depends = lcms2
	depends = libcanberra
	depends = libcolord
	depends = libdisplay-info
	depends = libdrm
	depends = libei
	depends = libglvnd
	depends = libgudev
	depends = libice
	depends = libinput
	depends = libpipewire
	depends = libsm
	depends = libsysprof-capture
	depends = libwacom
	depends = libx11
	depends = libxau
	depends = libxcb
	depends = libxcomposite
	depends = libxcursor
	depends = libxdamage
	depends = libxext
	depends = libxfixes
	depends = libxi
	depends = libxinerama
	depends = libxkbcommon
	depends = libxkbcommon-x11
	depends = libxkbfile
	depends = libxrandr
	depends = libxtst
	depends = mesa
	depends = pango
	depends = pipewire
	depends = pixman
	depends = python
	depends = startup-notification
	depends = systemd-libs
	depends = wayland
	depends = xorg-xwayland
	source = git+https://gitlab.gnome.org/GNOME/mutter.git#tag=46.5
	source = 1441.patch
	b2sums = 3c7990afd584836dd092e30813194ac24608416051a9b06c51d2f9577206360cb0f8bafceccc42ce1809d47e7a1676326fe8b87fa231c6abe2d9dddba10b6581
	b2sums = 8f5f7c4caae32f46d35f2cd73a0d00ddfde38c0b53e13d60c8a977362b8bfd6fc41f3af1a88353b6f2778d7d6d01881f14198b40532bcda53caf43aba7287804

pkgname = mutter-cachyos
	groups = gnome
	provides = mutter
	provides = libmutter-14.so
	conflicts = mutter

pkgname = mutter-cachyos-docs
	pkgdesc = Window manager and compositor for GNOME (patched version from CachyOS) (documentation)
	depends = 
	provides = mutter-docs
	conflicts = mutter-docs
