pkgbase = mutter-cachyos
	pkgdesc = Window manager and compositor for GNOME (pacthed version from CachyOS)
	pkgver = 46.1
	pkgrel = 1
	url = https://gitlab.gnome.org/GNOME/mutter
	arch = x86_64
	license = GPL-2.0-or-later
	checkdepends = gnome-session
	checkdepends = python-dbusmock
	checkdepends = wireplumber
	checkdepends = zenity
	makedepends = egl-wayland
	makedepends = gi-docgen
	makedepends = git
	makedepends = gobject-introspection
	makedepends = gtk3
	makedepends = meson
	makedepends = sysprof
	makedepends = wayland-protocols
	makedepends = xorg-server
	makedepends = xorg-server-xvfb
	depends = at-spi2-core
	depends = cairo
	depends = colord
	depends = dconf
	depends = fontconfig
	depends = fribidi
	depends = gcc-libs
	depends = gdk-pixbuf2
	depends = glib2
	depends = glibc
	depends = gnome-desktop-4
	depends = gnome-settings-daemon
	depends = graphene
	depends = gsettings-desktop-schemas
	depends = gtk4
	depends = harfbuzz
	depends = iio-sensor-proxy
	depends = lcms2
	depends = libcanberra
	depends = libcolord
	depends = libdisplay-info
	depends = libdrm
	depends = libei
	depends = libglvnd
	depends = libgudev
	depends = libice
	depends = libinput
	depends = libpipewire
	depends = libsm
	depends = libsysprof-capture
	depends = libwacom
	depends = libx11
	depends = libxau
	depends = libxcb
	depends = libxcomposite
	depends = libxcursor
	depends = libxdamage
	depends = libxext
	depends = libxfixes
	depends = libxi
	depends = libxinerama
	depends = libxkbcommon
	depends = libxkbcommon-x11
	depends = libxkbfile
	depends = libxrandr
	depends = libxtst
	depends = mesa
	depends = pango
	depends = pipewire
	depends = pixman
	depends = python
	depends = startup-notification
	depends = systemd-libs
	depends = wayland
	depends = xorg-xwayland
	source = git+https://gitlab.gnome.org/GNOME/mutter.git#tag=46.1
	source = 1441.patch
	b2sums = 4acd4a192455890b12b2fc9b6553ed65bd2176307cd6c6683fc2ab476b7fa88f4b5e507a1209b3e900c68d94768f3cf749b4f5d87d25300b33a112182c8a62a7
	b2sums = 35eeeb037ca337acca80485f26e7df43b8588458298b5bf015d19d6cb62423f4f2d948cfd92cf9efd0fcb3b1130e50ea14a7428abe8032845467f9b12baba5f3

pkgname = mutter-cachyos
	groups = gnome
	provides = mutter
	provides = libmutter-14.so
	conflicts = mutter

pkgname = mutter-cachyos-docs
	pkgdesc = Window manager and compositor for GNOME (pacthed version from CachyOS) (documentation)
	depends = 
	provides = mutter-docs
	conflicts = mutter-docs
