pkgbase = cosmic-launcher
	pkgdesc = Layer Shell frontend for Pop Launcher
	pkgver = 1.0.0.alpha.1
	pkgrel = 1
	url = https://github.com/pop-os/cosmic-launcher
	arch = x86_64
	groups = cosmic
	license = GPL-3.0-only
	makedepends = cargo
	makedepends = git
	makedepends = just
	makedepends = lld
	depends = cosmic-icon-theme
	depends = gcc-libs
	depends = glibc
	depends = libxkbcommon
	depends = pop-launcher
	depends = wayland
	source = git+https://github.com/pop-os/cosmic-launcher.git#tag=d84fda0bcc494f6ba197a5bc4bae17c45dcbf458
	b2sums = cad8460c548aa23e587054abc1f65437f13699e314049ebf4ce5c58bb172f5cf723c95152ee3db0779727ce4c0ce0a3968bc1c007093ed2bad9f42ce6e8d9ac6

pkgname = cosmic-launcher
