pkgbase = cosmic-launcher
	pkgdesc = Layer Shell frontend for Pop Launcher
	pkgver = 1.0.0.alpha.2
	pkgrel = 2
	url = https://github.com/pop-os/cosmic-launcher
	arch = x86_64
	groups = cosmic
	license = GPL-3.0-only
	makedepends = cargo
	makedepends = clang
	makedepends = git
	makedepends = just
	makedepends = lld
	depends = cosmic-icon-theme
	depends = gcc-libs
	depends = glibc
	depends = libxkbcommon
	depends = pop-launcher
	depends = wayland
	source = git+https://github.com/pop-os/cosmic-launcher.git#tag=5c9757b80803d26d20897baf003bcd2e458e14f8
	b2sums = 831eccebfdaff8f6a1889eb6ce346d2905cef5d33a75bd9f43a36fb30d260044fc4d90b5fa53e2899fd6c26fb9ecc2fc2f742a6994b178a2d4f6a0a877cff049

pkgname = cosmic-launcher
