pkgbase = keyring-cachyos
	pkgdesc = CachyOS keyring
	pkgver = 2
	pkgrel = 2
	install = keyring-cachyos.install
	arch = any
	license = GPL3
	source = cachyos.gpg
	source = keyring-cachyos.install
	sha256sums = d5db8a61dde4686fca588089a60c829e07534d5e4e015d3414b7ee07f2cae834
	sha256sums = 84482bed0b394cb17fd9feb912c476eab26be917df094e5e81ce619c95c45764

pkgname = keyring-cachyos
