pkgbase = cachyos-keyring
	pkgdesc = CachyOS keyring
	pkgver = 1
	pkgrel = 1
	url = https://gitlab.com/cachyos/PKGBUILDS/-/raw/master/cachyos-keyring
	install = cachyos-keyring.install
	arch = any
	license = GPL3
	source = https://gitlab.com/cachyos/PKGBUILDS/-/raw/master/cachyos-keyring/cachyos.gpg
	source = https://gitlab.com/cachyos/PKGBUILDS/-/raw/master/cachyos-keyring/cachyos-keyring.install
	sha512sums = ff9a1c4e63c820277a4252cf2f4c63ee3bd6ab7519f4d6ddd3f1e69f7e1d892df448ccf2cf23308df7b0efcceaeaeac94b4629cbf1ab403007a825653a62c7d0
	sha512sums = 61f5aca4cf7938172bd82a165db396c4a672daedb81a849b3097bd8d8eb965f8f1bf3ef32ac58fb00d946cc768e424369ac1f9406b2bda31d0d7d98b232fde9d

pkgname = cachyos-keyring
