pkgbase = cosmic-comp
	pkgdesc = Compositor for the COSMIC desktop environment
	pkgver = 1.0.0.alpha.1
	pkgrel = 1
	url = https://github.com/pop-os/cosmic-comp
	arch = x86_64
	groups = cosmic
	license = GPL-3.0-only
	makedepends = cargo
	makedepends = git
	makedepends = lld
	depends = fontconfig
	depends = gcc-libs
	depends = glibc
	depends = libseat.so
	depends = libinput
	depends = libxcb
	depends = libxkbcommon
	depends = mesa
	depends = pixman
	depends = systemd-libs
	depends = wayland
	source = git+https://github.com/pop-os/cosmic-comp.git#tag=4748916ff91c50c16d84f4a777db1e1b4d90c90c
	b2sums = SKIP

pkgname = cosmic-comp
