pkgbase = cosmic-comp
	pkgdesc = Compositor for the COSMIC desktop environment
	pkgver = 1.0.0.alpha.1
	pkgrel = 1
	url = https://github.com/pop-os/cosmic-comp
	arch = x86_64
	groups = cosmic
	license = GPL-3.0-or-later
	makedepends = cargo
	makedepends = git
	makedepends = lld
	depends = fontconfig
	depends = libseat.so
	depends = libinput
	depends = libxcb
	depends = libxkbcommon
	depends = mesa
	depends = pixman
	depends = systemd
	depends = wayland
	source = git+https://github.com/pop-os/cosmic-comp.git#tag=epoch-1.0.0-alpha.1
	sha256sums = bafefcc583f7756d4cec1738ca8609d2f2dfae1192f28c701087ab6afe65dec2

pkgname = cosmic-comp-git
