pkgbase = cosmic-notifications
	pkgdesc = Layer Shell notifications daemon which integrates with COSMIC.
	pkgver = 1.0.0.alpha.1
	pkgrel = 1
	url = https://github.com/pop-os/cosmic-notifications
	arch = x86_64
	groups = cosmic
	license = GPL-3.0-or-later
	makedepends = cargo
	makedepends = git
	makedepends = intltool
	makedepends = just
	makedepends = lld
	depends = hicolor-icon-theme
	depends = libxkbcommon
	depends = wayland
	source = git+https://github.com/pop-os/cosmic-notifications.git
	sha256sums = SKIP

pkgname = cosmic-notifications
