pkgbase = cosmic-notifications
	pkgdesc = Layer Shell notifications daemon which integrates with COSMIC
	pkgver = 1.0.0.alpha.1
	pkgrel = 1
	url = https://github.com/pop-os/cosmic-notifications
	arch = x86_64
	groups = cosmic
	license = GPL-3.0-only
	makedepends = cargo
	makedepends = git
	makedepends = just
	makedepends = lld
	depends = cosmic-icon-theme
	depends = gcc-libs
	depends = glibc
	depends = libxkbcommon
	depends = wayland
	source = git+https://github.com/pop-os/cosmic-notifications.git#tag=e9abef567a928cfa88949dbbdb5c49bb87c2f6a0
	b2sums = bb8ab78fd417cbbd27ec57a362e34cc704143a4de0ce8bcc8508da521b9504980aa931de78c0a22f6cc80970d5c8967c321a355cfd086c191c8870f5d93379a4

pkgname = cosmic-notifications
