pkgbase = gamescope
	pkgdesc = SteamOS session compositing window manager
	pkgver = 3.16.24
	pkgrel = 1
	url = https://github.com/ValveSoftware/gamescope
	arch = x86_64
	license = BSD-2-Clause
	license = BSD-3-Clause
	license = LicenseRef-Reshade
	makedepends = benchmark
	makedepends = cmake
	makedepends = git
	makedepends = glslang
	makedepends = meson
	makedepends = ninja
	makedepends = vulkan-headers
	makedepends = wayland-protocols
	makedepends = catch2
	depends = glibc
	depends = libstdc++
	depends = libgcc
	depends = lcms2
	depends = libavif
	depends = libcap.so
	depends = libdecor
	depends = libdrm
	depends = libei
	depends = libinput
	depends = libpipewire-0.3.so
	depends = libx11
	depends = libxcb
	depends = libxcomposite
	depends = libxcursor
	depends = libxdamage
	depends = libxext
	depends = libxfixes
	depends = libxi
	depends = libxkbcommon.so
	depends = libxmu
	depends = libxrender
	depends = libxres
	depends = libxtst
	depends = libxxf86vm
	depends = luajit
	depends = pixman
	depends = sdl2
	depends = seatd
	depends = systemd-libs
	depends = vulkan-icd-loader
	depends = wayland
	depends = xcb-util-errors
	depends = xcb-util-wm
	depends = xorg-server-xwayland
	replaces = gamescope-plus
	source = git+https://github.com/ValveSoftware/gamescope.git#tag=3.16.24
	source = git+https://gitlab.freedesktop.org/emersion/libdisplay-info.git
	source = git+https://gitlab.freedesktop.org/emersion/libliftoff.git
	source = git+https://github.com/ValveSoftware/openvr.git
	source = git+https://github.com/Joshua-Ashton/reshade.git
	source = git+https://github.com/KhronosGroup/SPIRV-Headers.git
	source = git+https://github.com/Joshua-Ashton/vkroots.git
	source = git+https://github.com/Joshua-Ashton/wlroots.git
	b2sums = dff78cdeba08ed20b5a3ca625a57cac9fd455e7068d0bc35ad4e8e6632a847dcda976f077d717a5aadbdc5eccdb5488132033c55526cff1d368307244fdb581a
	b2sums = SKIP
	b2sums = SKIP
	b2sums = SKIP
	b2sums = SKIP
	b2sums = SKIP
	b2sums = SKIP
	b2sums = SKIP

pkgname = gamescope
