pkgbase = nvidia-module-extractor
	pkgdesc = Extracts nvidia kernel modules to separate directory
	pkgver = 3
	pkgrel = 1
	url = https://github.com/CachyOS/CachyOS-PKGBUILDS/nvidia-module-extractor
	arch = any
	license = GPL-3.0-or-later
	source = module-extractor
	source = nvidia-module-extractor.hook
	sha256sums = ed5a9996d36ffa57e60366e1ed851ca9cc831aaadf30180900fd2a30fd8b72db
	sha256sums = 1ef6a674258542f9fa65cdac308f8b9d28b7919b60d02af6cb86a83b431487e5

pkgname = nvidia-module-extractor
