pkgbase = cachyos-mirrorlist
	pkgdesc = cachyos mirrorlist
	pkgver = 19
	pkgrel = 1
	arch = any
	groups = cachyos
	license = GPL3
	options = !strip
	options = !emptydirs
	backup = etc/pacman.d/cachyos-mirrorlist
	source = cachyos-mirrorlist
	sha512sums = 5300c689267d9ac112d52e3cd7bfcb4e80a5b6471de96530aa09da7f1832fd557786ea5781ad6b1daec7b0cdba28dc2cda6d1cae2667f6618213917f567e2e4f

pkgname = cachyos-mirrorlist
