pkgbase = cachyos-mirrorlist
	pkgdesc = CachyOS repository mirrorlist
	pkgver = 22
	pkgrel = 1
	arch = any
	groups = cachyos
	license = GPL-3.0-or-later
	source = cachyos-mirrorlist
	sha512sums = a8947480c648971417ba90ad0c72c22746acb92eec5277250e9a943a42eb18d0da9633e12d554eaf3ccf913c9705719a997514432e034862c052a2cb21abffe2

pkgname = cachyos-mirrorlist
	backup = etc/pacman.d/cachyos-mirrorlist

pkgname = cachyos-v3-mirrorlist
	backup = etc/pacman.d/cachyos-v3-mirrorlist

pkgname = cachyos-v4-mirrorlist
	backup = etc/pacman.d/cachyos-v4-mirrorlist
