pkgbase = cachyos-mirrorlist
	pkgdesc = cachyos mirrorlist
	pkgver = 11
	pkgrel = 1
	arch = any
	groups = cachyos
	license = GPL3
	options = !strip
	options = !emptydirs
	backup = etc/pacman.d/cachyos-mirrorlist
	source = cachyos-mirrorlist
	sha512sums = ba5057a2733c7925237b778644cdf317c8970bfbec243068919bf1d54f522bc95f40feac854724de2329ab53c1f5731a566d415bebd6ea690609d1c1c1f27033

pkgname = cachyos-mirrorlist
