pkgbase = pop-sound-theme
	pkgdesc = System76 Pop sound theme
	pkgver = 5.5.1.r7.g25ea85d
	pkgrel = 2
	url = https://github.com/pop-os/gtk-theme
	arch = any
	license = GPL-3.0-or-later
	makedepends = git
	makedepends = setconf
	conflicts = pop-gtk-theme
	source = git+https://github.com/pop-os/gtk-theme.git#commit=25ea85d97126992024b03bfb4e4c3b0711c749ed
	sha256sums = 43e2044d5c51413e1038068f1a178c6412db1841d52aa304978790782b1b9bbc

pkgname = pop-sound-theme
