pkgbase = pahole
	pkgdesc = Pahole and other DWARF utils
	pkgver = 1.27
	pkgrel = 1
	epoch = 1
	url = https://git.kernel.org/pub/scm/devel/pahole/pahole.git
	arch = x86_64
	license = GPL-2.0-only
	makedepends = bash
	makedepends = cmake
	makedepends = glibc
	makedepends = libelf
	makedepends = ninja
	makedepends = python
	makedepends = python-matplotlib
	makedepends = zlib
	source = https://fedorapeople.org/~acme/dwarves/dwarves-1.27.tar.xz
	source = https://fedorapeople.org/~acme/dwarves/dwarves-1.27.tar.sign
	source = 0001-CMakeLists.txt-Install-ostra.py-into-Python3_SITELIB.patch
	source = fix-kernel-lto.patch
	validpgpkeys = 2DBF5BAA46FB4DED338A335BD65016F35352AA40
	b2sums = 0a0f8ec8bf26240e17dc3319e76e16299514d662a79b25c4c962f723127f55d185d557adba7230d23b2e2b38fc62044aaa3474a458dc3df2000260637f995121
	b2sums = SKIP
	b2sums = 02962095407cdbf191428884b83c3392e39d4acdad0c6a952655daec8b871bab8962c3716c9479192118eef81afe412203ac46600a2d702733254c6d7219f7d2
	b2sums = 73bed02bcf7dacb2c9e7bc129a537e298c9e96289a66dbea7b3cb75756a5fb6a2f8c7f4bdcf3240e5dd9a97058395516c7313a1b3fc0e92df3f6910ce9c71346

pkgname = pahole
	depends = bash
	depends = glibc
	depends = libelf
	depends = zlib
	optdepends = ostra-cg: Generate call graphs from encoded traces
	provides = libdwarves.so
	provides = libdwarves_emit.so
	provides = libdwarves_reorganize.so

pkgname = ostra-cg
	pkgdesc = Generate call graphs from encoded traces
	depends = pahole
	depends = python
	depends = python-matplotlib
