pkgbase = ddcutil
	pkgdesc = Query and change Linux monitor settings using DDC/CI and USB.
	pkgver = 2.1.4
	pkgrel = 2
	url = http://ddcutil.com/
	arch = x86_64
	license = GPL2
	makedepends = systemd
	depends = glib2
	depends = i2c-tools
	depends = libusb
	depends = libdrm
	depends = jansson
	source = https://github.com/rockowitz/ddcutil/archive/v2.1.4/ddcutil-2.1.4.tar.gz
	sha512sums = 8c352bfacc2a5cdd22b8d84f2facd58de6d425d0d3f98de543cf36a3e6b15aa10fc86e87780c82f872f0bf0db984e1cc800aaff914bafe4dbf17602e2a7caeb0

pkgname = ddcutil
