pkgbase = cachyos-rate-mirrors-service
	pkgdesc = CachyOS - Rate mirrors service
	pkgver = 1
	pkgrel = 1
	install = cachyos-rate-mirrors-service.install
	arch = x86_64
	arch = x86_64_v3
	license = GPL
	depends = rate-mirrors
	source = git+https://github.com/CachyOS/cachyos-rate-mirrors-service.git
	sha256sums = SKIP

pkgname = cachyos-rate-mirrors-service
