pkgbase = crash
	pkgdesc = Linux kernel crashdump analysis tool
	pkgver = 8.0.5
	pkgrel = 2
	url = https://crash-utility.github.io/
	arch = x86_64
	license = GPL
	makedepends = wget
	depends = xz
	depends = ncurses
	depends = zlib
	depends = libelf
	depends = guile
	depends = mpfr
	optdepends = binutils: offline vmcore loading functionality
	source = crash-8.0.5.tar.gz::https://github.com/crash-utility/crash/archive/refs/tags/8.0.5.tar.gz
	source = fix-crash.patch::https://github.com/crash-utility/crash/commit/6752571d8d782d07537a258a1ec8919ebd1308ad.patch
	sha256sums = b3ec57a844706ef044b607ba67bc5ef62d9deef8aec3fb2d7ea4f77dff24f1ef
	sha256sums = 4bcda88239ff67af5e1e7027ea11c39a4ead43d189773e932ffa7299950f601f

pkgname = crash
