pkgbase = qq
	pkgdesc = Messaging app
	pkgver = 3.2.19
	pkgrel = 1
	url = https://im.qq.com/index/
	arch = x86_64
	arch = aarch64
	license = custom
	makedepends = dpkg
	makedepends = patchelf
	depends = alsa-lib
	depends = at-spi2-core
	depends = cairo
	depends = cups
	depends = dbus
	depends = expat
	depends = fontconfig
	depends = freetype2
	depends = gdk-pixbuf2
	depends = glib2
	depends = gtk3
	depends = hicolor-icon-theme
	depends = libdrm
	depends = libx11
	depends = libxcomposite
	depends = libxdamage
	depends = libxext
	depends = libxfixes
	depends = libxrandr
	depends = mesa
	depends = nspr
	depends = nss
	depends = pango
	depends = systemd-libs
	provides = qq
	options = !strip
	source_x86_64 = QQ_3.2.19_2025-09-04_amd64_01.deb::https://dldir1v6.qq.com/qqfile/qq/QQNT/Linux/QQ_3.2.19_250904_amd64_01.deb
	sha256sums_x86_64 = e4cde4ca4242985659d154c6fcafa7611b7b488533bdcdceeb23d6f1e6f1e390
	source_aarch64 = QQ_3.2.19_2025-09-04_arm64_01.deb::https://dldir1v6.qq.com/qqfile/qq/QQNT/Linux/QQ_3.2.19_250904_arm64_01.deb
	sha256sums_aarch64 = 3aa051c437d3cfdc3870578348a7b2b0f96ac5a26dae9f7a3d989e5e7b231a10

pkgname = qq
