pkgbase = galileo-mura
	pkgdesc = Utilities for setting and reading mura correction on Galileo
	pkgver = 0.9
	pkgrel = 1
	url = https://gitlab.steamos.cloud/jupiter/galileo-mura-extractor
	arch = x86_64
	license = MIT
	makedepends = meson
	makedepends = ninja
	depends = tar
	depends = sed
	source = git+https://gitlab.com/evlaV/galileo-mura-extractor.git#tag=v0.9
	sha256sums = SKIP

pkgname = galileo-mura
