pkgbase = galileo-mura
	pkgdesc = Utilities for setting and reading mura correction on Galileo
	pkgver = 0.9
	pkgrel = 2
	url = https://gitlab.com/evlaV/galileo-mura-extractor
	arch = x86_64
	license = MIT
	makedepends = meson
	makedepends = ninja
	depends = bash
	depends = glibc
	depends = tar
	depends = sed
	source = git+https://gitlab.com/evlaV/galileo-mura-extractor.git#tag=v0.9
	source = galileo-mura.service
	sha256sums = d9704ec6605e0cd13e6f3e04c1fe00a377a19d8873dce94b59ba52beb24789e0
	sha256sums = 13350ed52e47a6413c86619060b2978435a7429184af4f41626669c30a6a1df3

pkgname = galileo-mura
