pkgbase = rogue-enemy
	pkgdesc = Convert ROG Ally [RC71L] input to DualShock4 or DualSense and allows mode switching and easy thermal profile change
	pkgver = 2.2.4
	pkgrel = 1
	url = https://github.com/NeroReflex/ROGueENEMY/
	arch = x86_64
	license = GPLv2
	makedepends = cmake
	makedepends = git
	depends = libconfig
	depends = libevdev
	options = lto
	source = git+https://github.com/NeroReflex/ROGueENEMY#tag=v2.2.4
	source = rogue-enemy.service
	source = stray-ally.service
	sha256sums = 5b02790fd0ac1b4c197d5cfc3c94e60c5c72f26fca1d080b19108abad984ae8f
	sha256sums = 54f6179613899d85f7fe1962bb9166529fbbb562ebe60b1ad031f6da74ed215c
	sha256sums = ab7329876393bc4f28f578e377e4c0443a7af82db7a0d20cb2ec51e403276e6e

pkgname = rogue-enemy
