pkgbase = rogue-enemy
	pkgdesc = Convert ROG Ally [RC71L] input to DualShock4 or DualSense and allows mode switching and easy thermal profile change
	pkgver = 2.2.4
	pkgrel = 1
	url = https://github.com/NeroReflex/ROGueENEMY/
	arch = x86_64
	license = GPLv2
	makedepends = cmake
	depends = libconfig
	depends = libevdev
	provides = rogue-enemy
	options = lto
	source = https://github.com/NeroReflex/ROGueENEMY/archive/refs/tags/v2.2.4.tar.gz
	source = rogue-enemy.service
	source = stray-ally.service
	sha256sums = fccf8dd2d3c2af9a27d781bc98885cd3820b0e662de6d50ff06399f1d71ed0cb
	sha256sums = 54f6179613899d85f7fe1962bb9166529fbbb562ebe60b1ad031f6da74ed215c
	sha256sums = ab7329876393bc4f28f578e377e4c0443a7af82db7a0d20cb2ec51e403276e6e

pkgname = rogue-enemy
