pkgbase = cachyos-calamares-deckify
	pkgdesc = Distribution-independent installer framework
	pkgver = 3.4.1
	pkgrel = 1
	url = https://github.com/CachyOS/cachyos-calamares
	arch = x86_64
	license = GPL-3.0-or-later
	makedepends = boost
	makedepends = cmake
	makedepends = doxygen
	makedepends = extra-cmake-modules
	makedepends = git
	makedepends = ninja
	makedepends = python-jsonschema
	makedepends = python-pyaml
	makedepends = python-unidecode
	makedepends = qt6-tools
	depends = boost-libs
	depends = ckbcomp
	depends = cryptsetup
	depends = dmidecode
	depends = gptfdisk
	depends = hwinfo
	depends = kconfig
	depends = kcoreaddons
	depends = kcrash
	depends = ki18n
	depends = kparts
	depends = kpmcore
	depends = kservice
	depends = kwidgetsaddons
	depends = libpwquality
	depends = mkinitcpio-openswap
	depends = networkmanager
	depends = polkit-qt6
	depends = python
	depends = qt6-declarative
	depends = qt6-svg
	depends = rsync
	depends = solid
	depends = squashfs-tools
	depends = upower
	depends = yaml-cpp
	provides = calamares
	conflicts = calamares
	options = !emptydirs
	source = calamares::git+https://github.com/CachyOS/cachyos-calamares.git#branch=cachyos-dev-deckify
	sha256sums = SKIP

pkgname = cachyos-calamares-deckify
