pkgbase = cachyos-kde-settings
	pkgdesc = CachyOS KDE settings
	pkgver = 4.1
	pkgrel = 1
	url = https://github.com/cachyos/cachyos-kde-settings
	install = cachyos-kde-settings.install
	arch = any
	license = GPL
	makedepends = coreutils
	depends = ttf-fantasque-nerd
	depends = noto-fonts
	depends = ttf-fira-sans
	depends = capitaine-cursors
	provides = cachyos-desktop-settings
	conflicts = cachyos-desktop-settings
	source = cachyos-kde-settings-4.1.tar.gz::https://github.com/cachyos/cachyos-kde-settings/archive/4.1.tar.gz
	sha512sums = 1fc9c687b3126fc8a902bf540004e9f43a58405bcd69c053bfa8d03a34d97324167972412dc888bb80018d5f351fdeaad8e839c45c065bc2e7d81ebf4835f1dd

pkgname = cachyos-kde-settings
