pkgbase = cachyos-kde-settings
	pkgdesc = CachyOS KDE settings
	pkgver = 4.6
	pkgrel = 1
	url = https://github.com/cachyos/cachyos-kde-settings
	install = cachyos-kde-settings.install
	arch = any
	license = GPL-1.0-only
	makedepends = coreutils
	depends = ttf-fantasque-nerd
	depends = noto-fonts
	depends = ttf-fira-sans
	depends = capitaine-cursors
	depends = cachyos-alacritty-config
	provides = cachyos-desktop-settings
	conflicts = cachyos-desktop-settings
	source = cachyos-kde-settings-4.6.tar.gz::https://github.com/cachyos/cachyos-kde-settings/archive/4.6.tar.gz
	sha512sums = a79a441bf4386e9d017cf741fb215425f01b8c67a882543285bc56ff6fbb3e5f3a12679887de6bd4d41247486d8c5f4ab67212dd1d1bb01b7a0336b65d71a9d9

pkgname = cachyos-kde-settings
