pkgbase = cachyos-kde-settings
	pkgdesc = CachyOS KDE settings
	pkgver = 3.0
	pkgrel = 1
	url = https://github.com/cachyos/cachyos-kde-settings
	install = cachyos-kde-settings.install
	arch = any
	license = GPL
	makedepends = coreutils
	depends = ttf-fantasque-nerd
	depends = noto-fonts
	depends = ttf-fira-sans
	depends = capitaine-cursors
	provides = cachyos-desktop-settings
	conflicts = cachyos-desktop-settings
	source = git+https://github.com/CachyOS/cachyos-kde-settings.git#commit=6609370df094ae12c510d1924979fcbcbfadf179
	sha512sums = SKIP

pkgname = cachyos-kde-settings
