pkgbase = mutter
	pkgdesc = Window manager and compositor for GNOME
	pkgver = 51.0
	pkgrel = 1
	url = https://gitlab.gnome.org/GNOME/mutter
	arch = x86_64
	license = GPL-2.0-or-later
	makedepends = bash-completion
	makedepends = gi-docgen
	makedepends = git
	makedepends = glib2-devel
	makedepends = gobject-introspection
	makedepends = meson
	makedepends = python-docutils
	makedepends = sysprof
	makedepends = wayland-protocols
	depends = at-spi2-core
	depends = cairo
	depends = colord
	depends = dconf
	depends = egl-wayland
	depends = fontconfig
	depends = fribidi
	depends = gdk-pixbuf2
	depends = glib2
	depends = glibc
	depends = glycin
	depends = gnome-desktop-4
	depends = gnome-settings-daemon
	depends = graphene
	depends = gsettings-desktop-schemas
	depends = gtk4
	depends = harfbuzz
	depends = iio-sensor-proxy
	depends = lcms2
	depends = libcanberra
	depends = libcolord
	depends = libdisplay-info
	depends = libdrm
	depends = libei
	depends = libgcc
	depends = libgirepository
	depends = libglvnd
	depends = libgudev
	depends = libinput
	depends = libpipewire
	depends = libsysprof-capture
	depends = libwacom
	depends = libx11
	depends = libxau
	depends = libxcb
	depends = libxcomposite
	depends = libxcursor
	depends = libxdamage
	depends = libxext
	depends = libxfixes
	depends = libxi
	depends = libxinerama
	depends = libxkbcommon
	depends = libxkbfile
	depends = libxrandr
	depends = mesa
	depends = pango
	depends = pipewire
	depends = pixman
	depends = python
	depends = python-argcomplete
	depends = python-dbus
	depends = python-gobject
	depends = startup-notification
	depends = systemd-libs
	depends = wayland
	depends = xorg-xwayland
	optdepends = bash-completion: Bash completions for gdctl
	provides = libmutter-51.so
	provides = mutter
	source = git+https://gitlab.gnome.org/GNOME/mutter.git#tag=51.0
	source = git+https://gitlab.gnome.org/GNOME/gvdb.git#commit=b54bc5da25127ef416858a3ad92e57159ff565b3
	source = Add-support-for-tearing.patch
	source = cogl-Handle-errors-on-EGL-initialization.patch
	b2sums = 3c7e7159e70b09b91325335c4d13bb0ff51a161e430a0a63c65f380d5d31927cc8812cfb32b38b4964741c65c34ba12decc81274c7f556e7225d4255778689d8
	b2sums = f989bc2ceb52aad3c6a23c439df3bbc672bc11d561a247d19971d30cc85ed5d42295de40f8e55b13404ed32aa44f12307c9f5b470f2e288d1c9c8329255c43bf
	b2sums = e413125d0a55b416f0cfe352e162d8f9500323a4fa2eef4ddaf7adffcbd8f02bf8b45cbe0045081e072ba1fa5c3b7b04c8023a98adbe3a425289e99ec7c12001
	b2sums = d583f9d5ab03f9be75ece1735d388261cfa6120ab23235e63fd4f769af57a8978c61aaf79fe1f85319ca3427ef1e5ca2635394da794d8112bb5e688c8eaa9127

pkgname = mutter
