pkgbase = mutter
	pkgdesc = Window manager and compositor for GNOME
	pkgver = 50.5
	pkgrel = 2
	url = https://gitlab.gnome.org/GNOME/mutter
	arch = x86_64
	license = GPL-2.0-or-later
	makedepends = bash-completion
	makedepends = gi-docgen
	makedepends = git
	makedepends = glib2-devel
	makedepends = gobject-introspection
	makedepends = meson
	makedepends = python-docutils
	makedepends = sysprof
	makedepends = wayland-protocols
	depends = at-spi2-core
	depends = cairo
	depends = colord
	depends = dconf
	depends = egl-wayland
	depends = fontconfig
	depends = fribidi
	depends = gdk-pixbuf2
	depends = glib2
	depends = glibc
	depends = glycin
	depends = gnome-desktop-4
	depends = gnome-settings-daemon
	depends = graphene
	depends = gsettings-desktop-schemas
	depends = gtk4
	depends = harfbuzz
	depends = iio-sensor-proxy
	depends = lcms2
	depends = libcanberra
	depends = libcolord
	depends = libdisplay-info
	depends = libdrm
	depends = libei
	depends = libgcc
	depends = libgirepository
	depends = libglvnd
	depends = libgudev
	depends = libinput
	depends = libpipewire
	depends = libsysprof-capture
	depends = libwacom
	depends = libx11
	depends = libxau
	depends = libxcb
	depends = libxcomposite
	depends = libxcursor
	depends = libxdamage
	depends = libxext
	depends = libxfixes
	depends = libxi
	depends = libxinerama
	depends = libxkbcommon
	depends = libxkbfile
	depends = libxrandr
	depends = mesa
	depends = pango
	depends = pipewire
	depends = pixman
	depends = python
	depends = python-argcomplete
	depends = python-dbus
	depends = python-gobject
	depends = startup-notification
	depends = systemd-libs
	depends = wayland
	depends = xorg-xwayland
	optdepends = bash-completion: Bash completions for gdctl
	provides = libmutter-18.so
	provides = mutter
	source = git+https://gitlab.gnome.org/GNOME/mutter.git#tag=50.5
	source = git+https://gitlab.gnome.org/GNOME/gvdb.git#commit=b54bc5da25127ef416858a3ad92e57159ff565b3
	source = Add-support-for-tearing.patch
	source = 5116.patch
	source = 5131.patch
	b2sums = 1809a54d355194538db6128a91867799dc96c191e761c39e9952b54ace0868648dd62459f7eb047c21bc51e03377336563bdfc53876197ae53e0a74e94cd18c3
	b2sums = f989bc2ceb52aad3c6a23c439df3bbc672bc11d561a247d19971d30cc85ed5d42295de40f8e55b13404ed32aa44f12307c9f5b470f2e288d1c9c8329255c43bf
	b2sums = 1d5be8466fa8198268a955ae37343cc817d7e022538e6508dd920702d76072d0bd263f9657ac896f916c655cf9cc07a0a3e10a1e5d0e46b65f3285b37d1875b5
	b2sums = f9f2c36bb077ad859d54e667bd1f26d624ba170e7abd89678745d5626790697ab93db33fa07b76907494092316d67821d37dcc7cd1e2ac7b3a6decf7c21bf94c
	b2sums = af8198871ef28a7394989264166a1018146b37c7aa1b20c93ff0a0668a64bfc36d925157fdb82b835d6e82d51bdfe326e404de0157ef8ed301f4548979bedb00

pkgname = mutter
