pkgbase = cachyos-sysctl-manager-git
	pkgdesc = Manage linux kernel sysctl options
	pkgver = 1.0.0.r0.g3bd74be
	pkgrel = 1
	epoch = 1
	url = https://github.com/cachyos/sysctl-manager
	arch = aarch64
	arch = x86_64
	arch = x86_64_v3
	license = GPLv3
	makedepends = cmake
	makedepends = ninja
	makedepends = git
	depends = qt5-base
	depends = polkit-qt5
	provides = cachyos-sysctl-manager
	conflicts = cachyos-sysctl-manager
	options = strip
	source = cachyos-sysctl-manager-git::git+https://github.com/cachyos/sysctl-manager.git
	sha512sums = SKIP

pkgname = cachyos-sysctl-manager-git
