pkgbase = wechat
	pkgdesc = Messaging and calling app
	pkgver = 4.1.0.10
	pkgrel = 1
	url = https://www.wechat.com/en/
	arch = x86_64
	arch = aarch64
	license = custom
	makedepends = patchelf
	depends = dbus
	depends = expat
	depends = fontconfig
	depends = freetype2
	depends = glib2
	depends = hicolor-icon-theme
	depends = krb5
	depends = libpng
	depends = libtiff
	depends = libx11
	depends = libxcomposite
	depends = libxdamage
	depends = libxext
	depends = libxfixes
	depends = libxrandr
	depends = libxtst
	depends = nspr
	depends = nss
	depends = systemd-libs
	depends = xcb-util-image
	depends = xcb-util-keysyms
	depends = xcb-util-renderutil
	depends = xcb-util-wm
	provides = wechat
	options = !strip
	source_x86_64 = wechat-4.1.0.10-x86_64.AppImage::https://web.archive.org/web/20250930121506/https://dldir1v6.qq.com/weixin/Universal/Linux/WeChatLinux_x86_64.AppImage
	sha256sums_x86_64 = 77fcdd6faf6098872000509b58b2867e60fc6457ee0e561d3b2eef509ed28977
	source_aarch64 = wechat-4.1.0.10-aarch64.AppImage::https://web.archive.org/web/20250930121708/https://dldir1v6.qq.com/weixin/Universal/Linux/WeChatLinux_arm64.AppImage
	sha256sums_aarch64 = aa434b03c9c82ec222d9c888cebf696f73de8e16c4bd9e5f7b81a59a3ca3ac42

pkgname = wechat
