pkgbase = cachyos-nord-kde-theme-git
	pkgdesc = CachyOS Nord KDE Theme
	pkgver = r15.bf78f12
	pkgrel = 1
	url = https://github.com/CachyOS/CachyOS-Nord-KDE
	arch = any
	groups = cachyos
	license = GPL-3.0-or-later
	makedepends = git
	depends = char-white
	optdepends = plasma-desktop: for included plasma theme
	source = cachyos-nord-kde::git+https://github.com/CachyOS/CachyOS-Nord-KDE.git#commit=d1fb6a7e88d4caf389c6883242bae7af8a0b14f9
	sha256sums = 2b978620c20565517cccdf52c08a8554fc353854a239762210e39f89dc187619

pkgname = cachyos-nord-kde-theme-git
