pkgbase = cachyos-nord-kde-theme-git
	pkgdesc = CachyOS Nord KDE Theme
	pkgver = r2.38b6a4e
	pkgrel = 1
	url = https://github.com/CachyOS/CachyOS-Nord-KDE
	arch = any
	groups = cachyos
	license = GPL3
	makedepends = git
	depends = char-white
	optdepends = plasma-desktop: for included plasma theme
	source = git+https://github.com/CachyOS/CachyOS-Nord-KDE.git
	sha256sums = SKIP

pkgname = cachyos-nord-kde-theme-git
