pkgbase = pacutils
	pkgdesc = Helper tools for libalpm
	pkgver = 0.15.0
	pkgrel = 2
	url = https://github.com/andrewgregory/pacutils
	arch = x86_64
	license = MIT
	makedepends = git
	makedepends = perl
	depends = glibc
	depends = libarchive
	depends = pacman
	source = git+https://github.com/andrewgregory/pacutils.git?signed#tag=v0.15.0
	source = Add-PrettyProgressBar-config-option.patch
	validpgpkeys = 0016846EDD8432261C62CB63DF3891463C352040
	sha256sums = 789b1ce9dfa6e6d6e0495651019cba121defa75eec598a63745c910de3371ac5
	sha256sums = 8b1bc6f26b53f584d94cf323e654942a38a87dc99fc97a715df0e7eb1d92ace4

pkgname = pacutils
