pkgbase = pacutils
	pkgdesc = Helper tools for libalpm
	pkgver = 0.14.0
	pkgrel = 1
	url = https://github.com/andrewgregory/pacutils
	arch = x86_64
	license = MIT
	makedepends = git
	depends = glibc
	depends = libarchive
	depends = pacman
	source = git+https://github.com/andrewgregory/pacutils.git#tag=v0.14.0
	validpgpkeys = 0016846EDD8432261C62CB63DF3891463C352040
	sha256sums = d506e110803a120740b796254fcc599fff5026bff82263a43dac10d6eb3f0a77

pkgname = pacutils
