pkgbase = localsearch
	pkgdesc = Filesystem indexer and metadata extractor
	pkgver = 3.8.0
	pkgrel = 1
	url = https://gnome.pages.gitlab.gnome.org/localsearch/
	arch = x86_64
	license = GPL-2.0-or-later
	makedepends = asciidoc
	makedepends = bash
	makedepends = git
	makedepends = glib2-devel
	makedepends = gobject-introspection
	makedepends = meson
	makedepends = python
	makedepends = python-gobject
	depends = dconf
	depends = exempi
	depends = gcc-libs
	depends = giflib
	depends = glib2
	depends = glibc
	depends = gst-plugins-base-libs
	depends = gstreamer
	depends = icu
	depends = libcue
	depends = libexif
	depends = libgexiv2
	depends = libgsf
	depends = libgudev
	depends = libgxps
	depends = libiptcdata
	depends = libjpeg-turbo
	depends = libosinfo
	depends = libpng
	depends = libseccomp
	depends = libtiff
	depends = libxml2
	depends = poppler-glib
	depends = tinysparql
	depends = totem-plparser
	depends = upower
	source = git+https://gitlab.gnome.org/GNOME/localsearch.git#tag=3.8.0
	b2sums = 75005c92fc3b949b063985f1dfa780a328ce66b58e51a824b6b2ed1b494d24bf15b7b9c62811923887197229b4dc29deee9898ab331f8d4a99e3c08127a02644

pkgname = localsearch
	depends = dconf
	depends = exempi
	depends = gcc-libs
	depends = giflib
	depends = glib2
	depends = glibc
	depends = gst-plugins-base-libs
	depends = gstreamer
	depends = icu
	depends = libcue
	depends = libexif
	depends = libgexiv2
	depends = libgsf
	depends = libgudev
	depends = libgxps
	depends = libiptcdata
	depends = libjpeg-turbo
	depends = libosinfo
	depends = libpng
	depends = libseccomp
	depends = libtiff
	depends = libxml2
	depends = poppler-glib
	depends = tinysparql
	depends = totem-plparser
	depends = upower
	depends = libtinysparql-3.0.so
	provides = tracker3-miners=3.8.0
	conflicts = tracker3-miners<3.8.0
	replaces = tracker3-miners<3.8.0

pkgname = localsearch-testutils
	pkgdesc = Filesystem indexer and metadata extractor (test utilities)
	depends = bash
	depends = glib2
	depends = python
	depends = python-gobject
	depends = tinysparql
