pkgbase = nvidia-hardened
	pkgdesc = NVIDIA drivers for linux-hardened
	pkgver = 545.29.02
	pkgrel = 1
	epoch = 1
	url = https://www.nvidia.com/
	arch = x86_64
	license = custom
	makedepends = linux-hardened-headers
	makedepends = nvidia-dkms=545.29.02
	provides = NVIDIA-MODULE
	options = !strip

pkgname = nvidia-hardened
	depends = linux-hardened
	depends = nvidia-utils=545.29.02
	depends = libglvnd
