pkgbase = char-white
	pkgdesc = Char-White Icons
	pkgver = r29.5730a02
	pkgrel = 1
	url = https://github.com/CachyOS/char-white.git
	arch = any
	groups = cachyos
	license = GPL
	makedepends = git
	source = git+https://github.com/CachyOS/char-white.git.git
	sha256sums = SKIP

pkgname = char-white
