pkgbase = cachyos-v3-mirrorlist
	pkgdesc = cachyos-v3-mirrorlist
	pkgver = 17
	pkgrel = 1
	arch = any
	groups = cachyos
	license = GPL3
	options = !strip
	options = !emptydirs
	backup = etc/pacman.d/cachyos-v3-mirrorlist
	source = cachyos-v3-mirrorlist
	sha512sums = 05594242b712722a94943299882a87760065d7b49da407b184a6fa73d1bf4b0e78f70786dd0f0a657fd1b8b8fede5f9cdec8fdc42e7bbc7c3fc10fa71aafcad9

pkgname = cachyos-v3-mirrorlist
