pkgbase = cachyos-v3-mirrorlist
	pkgdesc = cachyos-v3-mirrorlist
	pkgver = 19
	pkgrel = 1
	arch = any
	groups = cachyos
	license = GPL3
	options = !strip
	options = !emptydirs
	backup = etc/pacman.d/cachyos-v3-mirrorlist
	source = cachyos-v3-mirrorlist
	sha512sums = 344dc67f86ea4284292633d546be3174fc10b5822224831287dd7335f8c2e9e647f72ec1045420bfa491e8d50a051903814afa923536336c4f334462096b0ce8

pkgname = cachyos-v3-mirrorlist
