pkgbase = cachyos-v3-mirrorlist
	pkgdesc = cachyos-v3-mirrorlist
	pkgver = 19
	pkgrel = 1
	arch = any
	groups = cachyos
	license = GPL3
	options = !strip
	options = !emptydirs
	backup = etc/pacman.d/cachyos-v3-mirrorlist
	source = cachyos-v3-mirrorlist
	sha512sums = eaa8c5c40689ceecfcec92ea388b39e99088b850777e3c550097d35dab80be8b42b927887d96e05482459eb5e295f707e85896eb04c3bade0a05f2b3304a3396

pkgname = cachyos-v3-mirrorlist
