pkgbase = sqlite
	pkgdesc = A C library that implements an SQL database engine
	pkgver = 3.44.2
	pkgrel = 2
	url = https://www.sqlite.org/
	arch = x86_64
	license = custom:Public Domain
	makedepends = tcl
	makedepends = readline
	makedepends = zlib
	options = !emptydirs
	source = https://www.sqlite.org/2023/sqlite-src-3440200.zip
	source = https://www.sqlite.org/2023/sqlite-doc-3440200.zip
	source = sqlite-lemon-system-template.patch
	source = license.txt
	sha256sums = 73187473feb74509357e8fa6cb9fd67153b2d010d00aeb2fddb6ceeb18abaf27
	sha256sums = 62e51962552fb204ef0a541d51f8f721499d1a3fffae6e86558d251c96084fcf
	sha256sums = 55746d93b0df4b349c4aa4f09535746dac3530f9fd6de241c9f38e2c92e8ee97
	sha256sums = 4e57d9ac979f1c9872e69799c2597eeef4c6ce7224f3ede0bf9dc8d217b1e65d

pkgname = sqlite
	pkgdesc = A C library that implements an SQL database engine
	depends = readline
	depends = zlib
	depends = glibc
	provides = sqlite3=3.44.2
	provides = libsqlite3.so
	replaces = sqlite3

pkgname = sqlite-tcl
	pkgdesc = sqlite Tcl Extension Architecture (TEA)
	depends = sqlite
	depends = glibc
	provides = sqlite3-tcl=3.44.2
	replaces = sqlite3-tcl

pkgname = sqlite-analyzer
	pkgdesc = An analysis program for sqlite3 database files
	depends = sqlite
	depends = tcl
	depends = glibc

pkgname = lemon
	pkgdesc = A parser generator
	depends = glibc

pkgname = sqlite-doc
	pkgdesc = most of the static HTML files that comprise this website, including all of the SQL Syntax and the C/C++ interface specs and other miscellaneous documentation
	provides = sqlite3-doc=3.44.2
	replaces = sqlite3-doc
