pkgbase = sqlite
	pkgdesc = A C library that implements an SQL database engine
	pkgver = 3.46.0
	pkgrel = 2
	url = https://www.sqlite.org/
	arch = x86_64
	license = LicenseRef-Sqlite
	makedepends = tcl
	makedepends = readline
	makedepends = zlib
	makedepends = clang
	makedepends = llvm
	makedepends = llvm-libs
	makedepends = lld
	options = !lto
	source = https://www.sqlite.org/2024/sqlite-src-3460000.zip
	source = https://www.sqlite.org/2024/sqlite-doc-3460000.zip
	source = sqlite-lemon-system-template.patch
	source = license.txt
	source = git+https://github.com/ClickHouse/ClickBench.git
	source = https://datasets.clickhouse.com/hits_compatible/hits.csv.gz
	sha256sums = 070362109beb6899f65797571b98b8824c8f437f5b2926f88ee068d98ef368ec
	sha256sums = 5ec9651bbfab7d3bf0a295f4d9be7d861e9968ea993438f05b579d8a75fe1e6f
	sha256sums = 55746d93b0df4b349c4aa4f09535746dac3530f9fd6de241c9f38e2c92e8ee97
	sha256sums = 4e57d9ac979f1c9872e69799c2597eeef4c6ce7224f3ede0bf9dc8d217b1e65d
	sha256sums = SKIP
	sha256sums = 189c37a5f2020d20ef9ebc0b9d4cf2204fe78658bbab235f0313d41447410ddd

pkgname = sqlite
	pkgdesc = A C library that implements an SQL database engine
	depends = readline
	depends = zlib
	depends = glibc
	provides = sqlite3=3.46.0
	provides = libsqlite3.so
	replaces = sqlite3

pkgname = sqlite-tcl
	pkgdesc = sqlite Tcl Extension Architecture (TEA)
	depends = sqlite
	depends = glibc
	provides = sqlite3-tcl=3.46.0
	replaces = sqlite3-tcl

pkgname = sqlite-analyzer
	pkgdesc = An analysis program for sqlite3 database files
	depends = sqlite
	depends = tcl
	depends = glibc

pkgname = lemon
	pkgdesc = A parser generator
	depends = glibc

pkgname = sqlite-doc
	pkgdesc = most of the static HTML files that comprise this website, including all of the SQL Syntax and the C/C++ interface specs and other miscellaneous documentation
	provides = sqlite3-doc=3.46.0
	replaces = sqlite3-doc
