pkgbase = cachyos-cli-installer-new-git
	pkgdesc = New CLI installer for CachyOS
	pkgver = 0.11.0.r103.g32bfd03
	pkgrel = 1
	url = https://github.com/cachyos/new-cli-installer
	arch = x86_64
	license = GPL-3.0-or-later
	makedepends = cmake
	makedepends = ninja
	makedepends = git
	makedepends = lld
	makedepends = clang
	makedepends = llvm
	makedepends = qt6-tools
	depends = fzf
	depends = gawk
	depends = chwd
	depends = cachyos-rate-mirrors
	depends = curl
	depends = coreutils
	depends = util-linux
	depends = gptfdisk
	depends = cryptsetup
	depends = qt6-imageformats
	depends = qt6-base
	depends = qt6-declarative
	depends = qt6-svg
	depends = qt6-wayland
	provides = cachyos-cli-installer-new
	conflicts = cachyos-cli-installer-new
	source = cachyos-cli-installer-new-git::git+https://github.com/cachyos/new-cli-installer.git#branch=feat/qml-gui
	sha256sums = SKIP

pkgname = cachyos-cli-installer-new-git
