pkgbase = cachyos-cli-installer-new-git
	pkgdesc = New CLI installer for CachyOS
	pkgver = 0.9.4.r49.g354b329
	pkgrel = 1
	url = https://github.com/cachyos/new-cli-installer
	arch = x86_64
	license = GPL-3.0-or-later
	makedepends = cmake
	makedepends = ninja
	makedepends = git
	makedepends = lld
	makedepends = clang
	makedepends = llvm
	depends = fzf
	depends = gawk
	depends = chwd
	depends = cachyos-rate-mirrors
	depends = curl
	depends = util-linux
	provides = cachyos-cli-installer-new
	conflicts = cachyos-cli-installer-new
	source = cachyos-cli-installer-new-git::git+https://github.com/cachyos/new-cli-installer.git
	sha256sums = SKIP

pkgname = cachyos-cli-installer-new-git
