pkgbase = dwl-git
	pkgdesc = Simple, hackable dynamic tiling Wayland compositor (dwm for Wayland)
	pkgver = 0.2.1.r34.2d9740c
	pkgrel = 1
	url = https://github.com/djpohly/dwl
	arch = x86_64
	license = GPL
	makedepends = git
	makedepends = wayland-protocols
	depends = wlroots>=0.13
	optdepends = xorg-xwayland: for XWayland support
	provides = dwl
	conflicts = dwl
	source = git+https://github.com/djpohly/dwl
	source = config.h
	sha256sums = SKIP
	sha256sums = 8ee78e8924ac436d5ccaf4f54415369ebc47c1fd31c9f26e865d6c30259bcb70

pkgname = dwl-git
