pkgbase = bpftune-git
	pkgdesc = BPF/tracing tools for auto-tuning Linux
	pkgver = r464.f2b5ba7
	pkgrel = 1
	url = https://github.com/oracle-samples/bpftune
	arch = x86_64
	license = GPLv2 WITH Linux-syscall-note
	makedepends = git
	makedepends = bpf
	makedepends = clang
	makedepends = llvm
	makedepends = llvm-libs
	makedepends = python-docutils
	depends = libbpf
	depends = libnl
	depends = libcap
	provides = bpftune
	conflicts = bpftune
	options = strip
	source = git+https://github.com/oracle-samples/bpftune
	source = fix-makefile.patch
	sha256sums = SKIP
	sha256sums = e565afc2bc7bda439b49a73c5bc9719662684ee06d3bababcc2a7496b4723882

pkgname = bpftune-git
