pkgbase = lib32-gamescope
	pkgdesc = WSI Layer for use with gamescope (32-bit)
	pkgver = 3.16.17
	pkgrel = 1
	url = https://github.com/ValveSoftware/gamescope
	arch = x86_64
	license = BSD-2-Clause
	makedepends = cmake
	makedepends = git
	makedepends = meson
	makedepends = ninja
	makedepends = vulkan-headers
	makedepends = wayland-protocols
	depends = gamescope=3.16.17
	depends = lib32-libx11
	depends = lib32-libxcb
	depends = lib32-vulkan-icd-loader
	depends = lib32-wayland
	replaces = lib32-gamescope-plus
	source = git+https://github.com/ValveSoftware/gamescope#tag=3.16.17
	sha256sums = 6ef8daa297d12323743eee73a52650a5afb80a2a9ea75a0c1ad0dcf65e3acd9f

pkgname = lib32-gamescope
