pkgbase = lib32-gamescope
	pkgdesc = WSI Layer for use with gamescope (32-bit)
	pkgver = 3.16.21
	pkgrel = 1
	url = https://github.com/ValveSoftware/gamescope
	arch = x86_64
	license = BSD-2-Clause
	makedepends = cmake
	makedepends = git
	makedepends = meson
	makedepends = ninja
	makedepends = vulkan-headers
	makedepends = wayland-protocols
	depends = gamescope=3.16.21
	depends = lib32-libx11
	depends = lib32-libxcb
	depends = lib32-vulkan-icd-loader
	depends = lib32-wayland
	replaces = lib32-gamescope-plus
	source = git+https://github.com/ValveSoftware/gamescope#tag=3.16.21
	sha256sums = 4c727c900593bd33abac2a51046e9bada0095af0db2934cd89630d4aa7de3a71

pkgname = lib32-gamescope
