pkgbase = lib32-gamescope
	pkgdesc = WSI Layer for use with gamescope (32-bit)
	pkgver = 3.16.22
	pkgrel = 1
	url = https://github.com/ValveSoftware/gamescope
	arch = x86_64
	license = BSD-2-Clause
	makedepends = cmake
	makedepends = git
	makedepends = meson
	makedepends = ninja
	makedepends = vulkan-headers
	makedepends = wayland-protocols
	depends = gamescope=3.16.22
	depends = lib32-libx11
	depends = lib32-libxcb
	depends = lib32-vulkan-icd-loader
	depends = lib32-wayland
	replaces = lib32-gamescope-plus
	source = git+https://github.com/ValveSoftware/gamescope#tag=3.16.22
	sha256sums = 6d7da9ec3a08964c8fb0c4719f425ca40cd3016620d5a877ca85cf1b97b47507

pkgname = lib32-gamescope
