pkgbase = adios-dkms
	pkgdesc = ADIOS is a multi-queue I/O scheduler with learning-based adaptive latency control.
	pkgver = 0.10.1
	pkgrel = 1
	url = https://github.com/1Naim/adios
	arch = x86_64
	license = GPL-2.0-only
	depends = dkms
	source = git+https://github.com/1Naim/adios#tag=0.10.1
	source = adios.conf
	sha256sums = c9145f1b476088ae651338c02dda6669d35e55d157528fcbe5f35bb6c00d13f7
	sha256sums = 3000dfe470d85e4b32dc78f083da866f24d6183c48d83b42b36da98e64701ade

pkgname = adios-dkms
