pkgbase = adios-dkms
	pkgdesc = ADIOS is a multi-queue I/O scheduler with learning-based adaptive latency control.
	pkgver = 0.7.1
	pkgrel = 1
	url = https://github.com/1Naim/adios
	arch = x86_64
	license = GPL-2.0-only
	depends = dkms
	source = git+https://github.com/1Naim/adios#tag=0.7.1
	source = adios.conf
	sha256sums = 7d7e714f994a315b0076153f34a2af17a740f8847213ad2c19b7c73dd6d8fa05
	sha256sums = 3000dfe470d85e4b32dc78f083da866f24d6183c48d83b42b36da98e64701ade

pkgname = adios-dkms
