pkgbase = adios-dkms
	pkgdesc = ADIOS is a multi-queue I/O scheduler with learning-based adaptive latency control.
	pkgver = 1.5.3
	pkgrel = 1
	url = https://github.com/1Naim/adios
	arch = x86_64
	license = GPL-2.0-only
	depends = dkms
	source = git+https://github.com/1Naim/adios#tag=1.5.3
	source = adios.conf
	sha256sums = a825790e8c15d92b22b5552ea3dfdc96c06c6736e0d01834d6a06169c7ef97b2
	sha256sums = 3000dfe470d85e4b32dc78f083da866f24d6183c48d83b42b36da98e64701ade

pkgname = adios-dkms
