pkgbase = autofdo-bin
	pkgdesc = Automatic Feedback-Directed Optimizer (Precompiled binary from Google)
	pkgver = 0.30.1
	pkgrel = 1
	url = https://github.com/google/autofdo
	arch = x86_64
	license = Apache-2.0
	depends = glibc
	source = https://github.com/google/autofdo/releases/download/v0.30.1/create_llvm_prof-x86_64-v0.30.1.zip
	sha256sums = 8e104e6b4881eac659636dae17a6668af5d023a1d8dfe02d7f5a4df828838fb0

pkgname = autofdo-bin
