pkgbase = lenovolegionlinux-dkms
	pkgdesc = LenovoLegionLinux (LLL) DKMS module
	pkgver = 0.0.19
	pkgrel = 1
	url = https://github.com/johnfanv2/LenovoLegionLinux
	install = lenovolegionlinux.install
	arch = x86_64
	license = GPL-2.0-only
	makedepends = lm_sensors
	makedepends = i2c-tools
	makedepends = dmidecode
	makedepends = git
	depends = dkms
	depends = lenovolegionlinux
	source = lenovolegionlinux::git+https://github.com/johnfanv2/LenovoLegionLinux.git#tag=v0.0.19
	sha256sums = 60d8cc141ced3c5845fc0897cebbc23c9519171b5ade2b4b306e979e4070750a

pkgname = lenovolegionlinux-dkms
