pkgbase = lenovolegionlinux-dkms
	pkgdesc = LenovoLegionLinux (LLL) DKMS module
	pkgver = 0.0.18
	pkgrel = 1
	url = https://github.com/johnfanv2/LenovoLegionLinux
	install = lenovolegionlinux.install
	arch = x86_64
	license = GPL-2.0-only
	makedepends = lm_sensors
	makedepends = i2c-tools
	makedepends = dmidecode
	makedepends = git
	depends = dkms
	depends = lenovolegionlinux
	source = lenovolegionlinux::git+https://github.com/johnfanv2/LenovoLegionLinux.git#tag=v0.0.18
	sha256sums = d70575888e8ca5cdc735f9647d9506dde8a1820f23c154b998e617c763699779

pkgname = lenovolegionlinux-dkms
