pkgbase = lenovolegionlinux-dkms
	pkgdesc = LenovoLegionLinux (LLL) DKMS module
	pkgver = 0.0.20
	pkgrel = 1
	url = https://github.com/johnfanv2/LenovoLegionLinux
	install = lenovolegionlinux.install
	arch = x86_64
	license = GPL-2.0-only
	makedepends = lm_sensors
	makedepends = i2c-tools
	makedepends = dmidecode
	makedepends = git
	depends = dkms
	depends = lenovolegionlinux
	source = lenovolegionlinux::git+https://github.com/johnfanv2/LenovoLegionLinux.git#tag=v0.0.20
	sha256sums = 08bae6daef717a9b289bd1fffbef2e1ba52bb8588a7c0db015ad87a6e58f8aa7

pkgname = lenovolegionlinux-dkms
