pkgbase = svt-av1-psy
	pkgdesc = Scalable Video Technology AV1 encoder and decoder, with added perceptual enhancements for psychovisually optimal AV1 encoding
	pkgver = v2.2.1.r0.g7077c9ff
	pkgrel = 1
	epoch = 1
	url = https://github.com/gianni-rosato/svt-av1-psy
	arch = x86_64
	license = BSD
	license = custom: Alliance for Open Media Patent License 1.0
	makedepends = cmake
	makedepends = git
	makedepends = nasm
	makedepends = ninja
	depends = glibc
	provides = svt-av1
	conflicts = svt-av1
	source = git+https://github.com/gianni-rosato/svt-av1-psy.git#tag=7077c9ff6f638328f6a5139fafcc2d8d537ebb77
	b2sums = 46991c2d50be23a35c498ac3e934da228e526d10e793f44314b7d22397d2b9a27a2d4d4ecb5d91fa1bfc0b3bc20d4037b0bc307c38b31a7fba3a5a26c41db6ea

pkgname = svt-av1-psy
