pkgbase = svt-av1-psy
	pkgdesc = Scalable Video Technology AV1 encoder and decoder, with added perceptual enhancements for psychovisually optimal AV1 encoding
	pkgver = v2.0.0.r0.gfe919d9f
	pkgrel = 2
	url = https://github.com/gianni-rosato/svt-av1-psy
	arch = x86_64
	license = BSD
	license = custom: Alliance for Open Media Patent License 1.0
	makedepends = cmake
	makedepends = git
	makedepends = nasm
	makedepends = ninja
	depends = glibc
	provides = svt-av1
	conflicts = svt-av1
	source = git+https://github.com/gianni-rosato/svt-av1-psy.git#tag=fe919d9fb35247fd47a50539da61a0d2f231212a
	b2sums = SKIP

pkgname = svt-av1-psy
