pkgbase = cachyos-niri-settings
	pkgdesc = CachyOS Niri settings
	pkgver = 1.0.0
	pkgrel = 3
	url = https://github.com/cachyos/cachyos-niri-settings
	arch = any
	license = GPL-3.0-only
	makedepends = coreutils
	depends = cachyos-alacritty-config
	depends = ttf-fantasque-nerd
	depends = ttf-font-awesome
	depends = otf-font-awesome
	depends = awesome-terminal-fonts
	depends = noto-fonts
	depends = noto-fonts-emoji
	depends = ttf-fira-sans
	depends = ttf-hack
	depends = kvantum
	depends = qt5ct
	depends = swaybg
	depends = swaylock-effects-git
	depends = swaylock-fancy-git
	depends = niri
	depends = waybar
	depends = xdg-desktop-portal-gnome
	depends = xwayland-satellite
	depends = mako
	depends = wob
	depends = pamixer
	depends = wofi
	depends = wlogout
	depends = wl-clipboard
	depends = polkit-kde-agent
	depends = bemenu
	depends = bemenu-wayland
	depends = xorg-xwayland
	depends = capitaine-cursors
	depends = cachyos-wallpapers
	depends = kvantum-theme-nordic-git
	depends = brightnessctl
	depends = cachyos-nord-gtk-theme-git
	depends = swww
	provides = cachyos-desktop-settings
	conflicts = cachyos-desktop-settings
	source = git+https://github.com/cachyos/cachyos-niri-settings#commit=984eaae9444d84254160b8fb0893407b5c8e5e6f
	sha512sums = 186e2f786716405d27da76c8b1ecb748c2f483add62f6c0cf662221874995c36669172884873b373b32fdf62d02487ceff98d7e33d34805f242ee34ac7b13d83

pkgname = cachyos-niri-settings
