pkgbase = cachyos-niri-settings
	pkgdesc = CachyOS Niri settings
	pkgver = 1.0.0
	pkgrel = 1
	url = https://github.com/cachyos/cachyos-niri-settings
	arch = any
	license = GPL-3.0-only
	makedepends = coreutils
	depends = cachyos-alacritty-config
	depends = ttf-fantasque-nerd
	depends = ttf-font-awesome
	depends = otf-font-awesome
	depends = awesome-terminal-fonts
	depends = noto-fonts
	depends = noto-fonts-emoji
	depends = ttf-fira-sans
	depends = ttf-hack
	depends = kvantum
	depends = qt5ct
	depends = swaybg
	depends = swaylock-effects-git
	depends = swaylock-fancy-git
	depends = niri
	depends = waybar
	depends = xdg-desktop-portal-gnome
	depends = xwayland-satellite
	depends = mako
	depends = wob
	depends = pamixer
	depends = wofi
	depends = wlogout
	depends = wl-clipboard
	depends = polkit-kde-agent
	depends = bemenu
	depends = bemenu-wayland
	depends = xorg-xwayland
	depends = capitaine-cursors
	depends = cachyos-wallpapers
	depends = kvantum-theme-nordic-git
	depends = brightnessctl
	depends = cachyos-nord-gtk-theme-git
	provides = cachyos-desktop-settings
	conflicts = cachyos-desktop-settings
	source = git+https://github.com/cachyos/cachyos-niri-settings#commit=b8e53486a0bbc5ba5bb6fbb672f2244dcc087317
	sha512sums = a3bb61561f7628e86c8bfa577a7b1bd02805a1785087b7b8c95c40eb6ed52b87eff6157fad0c61dda5c33c201d321f5db494f379aaa9dc041804573449ab7b2a

pkgname = cachyos-niri-settings
