name: The watcher is watching

on: issue_comment

jobs:

  issue_commented:
    # This job only runs for issue comments
    name: Issue comment
    if: ${{ !github.event.issue.pull_request }}
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          repository: lseman/gitAPy
      - name: Set up Python 3.11
        uses: actions/setup-python@v4
        with:
          python-version: 3.11
      - run: |
          ls
          export API_URL="https://api.github.com"
          export TOKEN=${{ secrets.GITHUB_TOKEN }}
          export API_VERSION="2022-11-28"
          pip install -r requirements.txt
          python -m spacy download en_core_web_sm
          python gitapy.py cachy
        env:
          NUMBER: ${{ github.event.issue.number }}
          COMENTARIO: ${{ github.event.comment.body }}
