pkgbase = cachyos-hooks
	pkgdesc = CachyOS libalpm hooks
	pkgver = 2026.02.05
	pkgrel = 1
	url = https://github.com/cachyos/cachyos-hooks/
	arch = any
	groups = cachyos
	license = GPL-3.0-or-later
	makedepends = git
	depends = systemd
	source = git+https://github.com/CachyOS/cachyos-hooks#tag=2026.02.05
	sha512sums = f118ebcea77afd1ac801561da23f945e2d9b446b12d8724912c9fda90cc89eb25f9426c38a2bd0a471ef9120198b2addc5982f97152b0bd1cbc50d242bcc0bc2

pkgname = cachyos-hooks
