pkgbase = cachyos-hooks
	pkgdesc = CachyOS libalpm hooks
	pkgver = 2025.04.21
	pkgrel = 1
	url = https://github.com/cachyos/cachyos-hooks/
	arch = any
	groups = cachyos
	license = GPL-3.0-or-later
	makedepends = git
	depends = systemd
	source = git+https://github.com/CachyOS/cachyos-hooks#tag=2025.04.21
	sha512sums = d696e9e6f42469f2be6a867f99e8aec6218660816a5926a96c676d02866369f5670b13481cd627a22fa2bf95f6d39810bed624e8a9c7bd68bf4f45d9fb84d5b5

pkgname = cachyos-hooks
