pkgbase = cosmic-applibrary
	pkgdesc = WIP Cosmic App Library
	pkgver = 1.0.0.alpha.1
	pkgrel = 1
	url = https://github.com/pop-os/cosmic-applibrary
	arch = x86_64
	groups = cosmic
	license = GPL-3.0-or-later
	makedepends = cargo
	makedepends = git
	makedepends = just
	makedepends = lld
	depends = hicolor-icon-theme
	depends = libxkbcommon
	options = !lto
	source = git+https://github.com/pop-os/cosmic-applibrary.git#tag=epoch-1.0.0-alpha.1
	sha256sums = fa4e68a67fa5f4b5cdcfc2d24ad1847aced6e1bd690823070471dc88d89ecfcb

pkgname = cosmic-applibrary
