pkgbase = wine
	pkgdesc = A compatibility layer for running Windows programs
	pkgver = 10.10
	pkgrel = 1
	url = https://www.winehq.org
	install = wine.install
	arch = x86_64
	license = LGPL-2.1-or-later
	makedepends = autoconf
	makedepends = bison
	makedepends = perl
	makedepends = flex
	makedepends = mingw-w64-gcc
	makedepends = git
	makedepends = alsa-lib
	makedepends = ffmpeg
	makedepends = gnutls
	makedepends = gst-plugins-base-libs
	makedepends = libcups
	makedepends = libgphoto2
	makedepends = libpulse
	makedepends = libxcomposite
	makedepends = libxinerama
	makedepends = libxxf86vm
	makedepends = mesa
	makedepends = mesa-libgl
	makedepends = opencl-headers
	makedepends = opencl-icd-loader
	makedepends = pcsclite
	makedepends = python
	makedepends = samba
	makedepends = sane
	makedepends = sdl2
	makedepends = unixodbc
	makedepends = v4l-utils
	makedepends = vulkan-headers
	makedepends = vulkan-icd-loader
	makedepends = desktop-file-utils
	makedepends = fontconfig
	makedepends = freetype2
	makedepends = gcc-libs
	makedepends = gettext
	makedepends = libpcap
	makedepends = libunwind
	makedepends = libxcursor
	makedepends = libxkbcommon
	makedepends = libxi
	makedepends = libxrandr
	makedepends = wayland
	depends = desktop-file-utils
	depends = fontconfig
	depends = freetype2
	depends = gcc-libs
	depends = gettext
	depends = libpcap
	depends = libunwind
	depends = libxcursor
	depends = libxkbcommon
	depends = libxi
	depends = libxrandr
	depends = wayland
	optdepends = alsa-lib
	optdepends = alsa-plugins
	optdepends = cups
	optdepends = dosbox
	optdepends = ffmpeg
	optdepends = gnutls
	optdepends = gst-plugins-bad
	optdepends = gst-plugins-base
	optdepends = gst-plugins-base-libs
	optdepends = gst-plugins-good
	optdepends = gst-plugins-ugly
	optdepends = libgphoto2
	optdepends = libpulse
	optdepends = libxcomposite
	optdepends = libxinerama
	optdepends = opencl-icd-loader
	optdepends = pcsclite
	optdepends = samba
	optdepends = sane
	optdepends = sdl2
	optdepends = unixodbc
	optdepends = v4l-utils
	optdepends = wine-gecko
	optdepends = wine-mono
	optdepends = NTSYNC-MODULE
	options = staticlibs
	options = !lto
	source = git+https://gitlab.winehq.org/wine/wine.git?signed#tag=wine-10.10
	source = 30-win32-aliases.conf
	source = wine-binfmt.conf
	source = 8323.patch
	source = 7064.patch
	source = wine-ntsync.patch
	validpgpkeys = 5AC1A08B03BD7A313E0A955AF5E6E9EEB9461DD7
	validpgpkeys = DA23579A74D4AD9AF9D3F945CEFAC8EAAF17519D
	sha512sums = baee24792d16348fac429764643d6819e0ed2eb333999c1e3d7bbe4850fd617910f3b525e55d0ba13b62c8612ffd30dbc0ac69f78e8907b64dc42a1add96ba9b
	sha512sums = 6e54ece7ec7022b3c9d94ad64bdf1017338da16c618966e8baf398e6f18f80f7b0576edf1d1da47ed77b96d577e4cbb2bb0156b0b11c183a0accf22654b0a2bb
	sha512sums = bdde7ae015d8a98ba55e84b86dc05aca1d4f8de85be7e4bd6187054bfe4ac83b5a20538945b63fb073caab78022141e9545685e4e3698c97ff173cf30859e285
	sha512sums = dbba8f7e47147c14cc38afd287252ced0b25458349a8d361bb1b1a173d0024dff641416f2be859ca92eb4cc5c3274f08aa93d1ee80c10af451ceb339857c9934
	sha512sums = 21ba0ec8e0a479cd520096417b7f152112e3fa8e8cc8ecf3b43cb748025723047fc8629821f1b94e3092e763b4a65c033423eb4efb05322e358121cf85803bda
	sha512sums = c73395b6b21e65c2a03aa25700a85c6daed7ec411e4694371d2941cc9e39ca7e0d5ab0626d4fb15cb0f0a67270b5e33fffde7ddcb51a2f1cca23471879d52ac5

pkgname = wine
