pkgbase = cachyos-alacritty-config
	pkgdesc = CachyOS alacritty config
	pkgver = 1.1
	pkgrel = 1
	url = https://github.com/cachyos/cachyos-alacritty-config
	arch = any
	license = GPL-1.0-only
	makedepends = coreutils
	source = cachyos-alacritty-config-1.1.tar.gz::https://github.com/cachyos/cachyos-alacritty-config/archive/1.1.tar.gz
	sha512sums = 743b9d54b704307e3acf1848931ec72310263054386f4bd764b8d0c71c1a8ee03dc163a5899dd83b8a55c69dda5c7f28dee1aab2eef38d67f466632b45248034

pkgname = cachyos-alacritty-config
