pkgbase = cosmic-icons-git
	pkgdesc = System76 Cosmic icon theme
	pkgver = 1.0.0.alpha.1
	pkgrel = 1
	url = https://github.com/pop-os/cosmic-icons
	arch = any
	license = CC-BY-SA-4.0 AND GPL-3.0-or-later
	makedepends = git
	makedepends = just
	depends = pop-icon-theme
	options = !strip
	source = git+https://github.com/pop-os/cosmic-icons.git#tag=epoch-1.0.0-alpha.1
	sha256sums = ba54efa3dfc5f00183bb9d0fe76cf0b11a2d9338567e35d43004331ceba4d46e

pkgname = cosmic-icons-git
