pkgbase = cachyos-emerald-kde-theme-git
	pkgdesc = CachyOS Emerald KDE Theme
	pkgver = r23.be4d61d
	pkgrel = 1
	url = https://gitlab.com/cachyos/themes-and-settings/theme/cachyos-emerald-kde
	arch = any
	license = GPL3
	makedepends = git
	depends = tela-circle-icon-theme-git
	depends = fluent-icon-theme-git
	optdepends = plasma-desktop: for included plasma theme
	source = git+https://gitlab.com/cachyos/themes-and-settings/theme/cachyos-emerald-kde.git
	sha256sums = SKIP

pkgname = cachyos-emerald-kde-theme-git
