pkgbase = cachyos-emerald-kde-theme-git
	pkgdesc = CachyOS Emerald KDE Theme
	pkgver = r25.d61d1dd
	pkgrel = 1
	url = https://github.com/CachyOS/CachyOS-Emerald-KDE
	arch = any
	groups = cachyos
	license = GPL3
	makedepends = git
	optdepends = plasma-desktop: for included plasma theme
	source = git+https://github.com/CachyOS/CachyOS-Emerald-KDE.git
	sha256sums = SKIP

pkgname = cachyos-emerald-kde-theme-git
